﻿
@model IEnumerable<ToOrdr.Core.Entities.HotelReview>
@Styles.Render("~/bundles/fooTable/css")
@Scripts.Render("~/bundles/fooTable/js")

<div class="row">
    <div class="col-md-offset-1 col-lg-10">
        <div class="hpanel">
            <div class="text-center">
                <b>All Hotels Reviews</b>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control input-sm m-b-md" id="filter_hotelreviews" placeholder="Search in table">
                <table id="hotel_review" class="footable table table-stripped toggle-arrow-tiny" data-page-size="10" data-filter=#filter_hotelreviews>
                    <thead>
                        <tr>
                            <th class="col-md-1">Sr.No</th>
                            <th class="col-md-2">
                                @Html.DisplayName("Hotel")
                            </th>
                            <th class="col-md-1">
                                @Html.DisplayName("Date-Time")
                            </th>
                            <th class="col-md-3">
                                @Html.DisplayName("Comment")
                            </th>
                            <th class="col-md-1">
                                @Html.DisplayName("Score")
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var counter = 1;
                            foreach (var review in Model)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => review.Hotel.Name)
                                    </td>
                                    <td>
                                        @review.CreationDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class="text-justify">
                                        @Html.DisplayFor(modelItem => review.Comment)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => review.Score)
                                        @*@{
                                var eachRestReview = review.Score * 20;
                                        }
                                        <div class="star-rating rating-xs rating-active small-star-rating">
                                            <div class="rating-container rating-gly-star" data-content="">
                                                <div class="rating-stars" data-content="" style="width: @eachRestReview%"></div>
                                            </div>
                                        </div>*@
                                    </td>

                                </tr>
                                counter = counter + 1;
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>
</div>

<script>
    $('#hotel_review').footable();
</script>