﻿@model IEnumerable<ToOrdr.Core.Entities.Restaurant>
@using System.Configuration;

@if (Model.Any())
{
    <div class="hpanel">
        <h3>Recent Restaurants</h3>

        <div class="row">
            @foreach (var restaurant in Model)
            {
                <div class="col-md-3 col-lg-3">
                    <div class="hpanel">
                        <div class="panel-body">
                            <a style="text-decoration: none;" href="@Url.Action("Index", "RestaurantMenus", new { Id = restaurant.Id })">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 project-info">
                                        <div class="project-people">
                                            @{
                var api_path = ConfigurationManager.AppSettings["APIURL"];
                var img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.RestaurantBackground, restaurant.BackgroundImage, restaurant.Id, api_path);
                                            }
                                            <img src="@Url.Content(img)" alt="Image" width="200" height="180" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                        </div>
                                    </div>
                                </div>
                                <span><strong> @restaurant.Name</strong></span>
                            </a>
                        </div>
                    </div>
                </div>              
            }
        </div>
    </div>
}
