﻿@model ToOrdr.Web.ViewModels.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    if (Session["AllowBackend"] != null && Session["AllowBackend"].ToString() == "1")
    {
        if (Session["IsAdmin"] != null && Session["IsAdmin"].ToString() == "true")
        {
            Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
        }
        else if (Session["IsChainAdmin"] != null && Session["IsChainAdmin"].ToString() == "true")
        {
            Layout = "~/Areas/Admin/Views/Shared/_LayoutChainAdmin.cshtml";
        }
        else
        {
            Layout = "~/Areas/Admin/Views/Shared/_layoutrestaurant.cshtml";
        }
    }
    else if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else if (Session["IsHotelReceptionist"] != null && Session["IsHotelReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelReceptionist.cshtml";
    }
    else if (Session["HotelAdmin"] != null && Session["HotelAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
    else if (Session["RestaurantAdmin"] != null && Session["RestaurantAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_layoutRestaurant.cshtml";
    }
    else if (Session["IsHotelSpaEmployee"] != null && Session["IsHotelSpaEmployee"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaEmployee.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_Customer.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Change Password
    </h2>
}

<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>