﻿@model IEnumerable<ToOrdr.Core.Entities.Restaurant>
@using System.Configuration
@{
    ViewBag.Title = "FavoriteRestaurants";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

@Styles.Render("~/bundles/sweetAlert/css")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/jquery/js")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        @Resources.FavoriteRestaurantPage
    </h2>
}
@if (Model.Any())
{
    <div class="row">
        @foreach (var restaurant in Model)
        {
                <div class="col-lg-4 favorite_restaurant hpanel hblue">
                    <div class="panel-heading hbuilt">
                        @restaurant.Name
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4><a href="#">@restaurant.Name</a></h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="project-label">LOCATION</div>
                                        <div class="allow-scroll-two-lines location-area-height">
                                            <small>@restaurant.Street, @restaurant.City, @restaurant.Region, @restaurant.Pincode</small>
                                        </div>
                                        </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="project-label">REVIEWS</div>

                                        @{
                                            var total = restaurant.RestaurantReviews.Count();
                                            var count = restaurant.RestaurantReviews.Sum(r => r.Score);
                                            var review = 0;
                                            if (total != 0)
                                            {
                                                review = (count / total);
                                            }
                                        }
                                        @*<div class="star-rating rating-xs rating-active">
                                            <div class="rating-container rating-gly-star" data-content="">
                                                <div class="rating-stars" data-content="" style="width: @review%"></div>
                                            </div>
                                        </div>*@
                                        @review.ToString("F2")
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a data-restaurant-id="@restaurant.Id" class="js-delete btn btn-danger">Remove</a>

                                    </div>

                                </div>

                            </div>
                            <div class="col-sm-6">
                                @{
            var api_path = ConfigurationManager.AppSettings["APIURL"];
            var img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.RestaurantBackground, restaurant.BackgroundImage, restaurant.Id, api_path);
                                }
                                <img src="@Url.Content(img)" class="img-responsive img-size" alt="Image" onerror="this.onerror = null;this.className = 'img-size img-responsive'; this.src = '/Images/no_logo.png';" />
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>
}
else
{
    <h4>You haven't set any favorites yet..</h4>
}

<script>
    $(document).ready(function () {
        $(".js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Customers/DeleteFavoriteRestaurant/" + btn.attr("data-restaurant-id"),
                            method: "POST",
                            success: function () {
                                btn.parents("Div.favorite_restaurant").remove();
                                swal("Deleted!", "Record has been deleted.", "success");
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>