﻿@model IEnumerable<ToOrdr.Core.Entities.Hotel>
@using System.Configuration
@{
    ViewBag.Title = "FavoriteHotels";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}


@Styles.Render("~/bundles/sweetAlert/css")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/jquery/js")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        My Favorite Hotels
    </h2>
}
@if (Model.Any())
{
    <div class="row">
        @foreach (var hotel in Model)
        {
            <div class="col-lg-4 favorite_hotel hpanel hblue">
                <div class="panel-heading hbuilt">
                    @hotel.Name
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4><a href="#">@hotel.Name</a></h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="project-label">LOCATION</div>
                                    <div class="allow-scroll-two-lines location-area-height">
                                        <small>@hotel.Street @hotel.City, @hotel.Region, @if (hotel.Country != null)
                                        {@hotel.Country.Name}, @hotel.Pincode</small>
                                    </div>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="project-label">REVIEWS</div>

                                    @{
                                        var total = hotel.HotelReviews.Count();
                                        var count = hotel.HotelReviews.Sum(r => r.Score);
                                        var review = 0;
                                        if (total != 0)
                                        {
                                            review = (count / total) ;
                                        }
                                    }
                                    @review.ToString("F2")
                                    @*<div class="star-rating rating-xs rating-active">
                                        <div class="rating-container rating-gly-star" data-content="">
                                            <div class="rating-stars" data-content="" style="width: @review%"></div>
                                        </div>
                                    </div>*@

                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <a data-hotel-id="@hotel.Id" class="js-delete btn btn-danger">Remove</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @{
                                var api_path = ConfigurationManager.AppSettings["APIURL"];
                                var img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.HotelBackground, hotel.BackgroundImage, hotel.Id, api_path);
                            }
                            <img src="@Url.Content(img)" class="img-responsive img-size" alt="Image" onerror="this.onerror = null;this.className = 'img-size img-responsive'; this.src = '/Images/no_logo.png';" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h4>You haven't set any favorites yet..</h4>
}

<script>
    $(document).ready(function () {
        $(".js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel please!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Customers/DeleteFavoriteHotel/" + btn.attr("data-hotel-id"),
                            method: "POST",
                            success: function () {
                                btn.parents("Div.favorite_hotel").remove();
                                swal("Deleted!", "Record has been deleted.", "success");
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>

