﻿@{
    ViewBag.Title = "PasswordChanged";
    if (Session["AllowBackend"] != null && Session["AllowBackend"].ToString() == "1")
    {
        if (Session["IsAdmin"] != null && Session["IsAdmin"].ToString() == "true")
        {
            Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
        }
        else if (Session["IsChainAdmin"] != null && Session["IsChainAdmin"].ToString() == "true")
        {
            Layout = "~/Areas/Admin/Views/Shared/_LayoutChainAdmin.cshtml";
        }
        else
        {
            Layout = "~/Areas/Admin/Views/Shared/_layoutrestaurant.cshtml";
        }
    }
    else if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else if (Session["IsHotelReceptionist"] != null && Session["IsHotelReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelReceptionist.cshtml";
    }
    else if (Session["HotelAdmin"] != null && Session["HotelAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
    else if (Session["RestaurantAdmin"] != null && Session["RestaurantAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_layoutRestaurant.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_Customer.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Change Password
    </h2>
}

<div class="hpanel">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="center-block text-center">
                <h4 class="text-success">@Resources.PasswordChangeSuccess</h4>
            </div>

        }
    </div>
</div>
