﻿@model IEnumerable<ToOrdr.Core.Entities.CustomerPaymentCards>
@{
    ViewBag.Title = "PaymentCards";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Payment Cards
    </h2>
    <small>List of available payment cards</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        Payment Cards
    </div>

    <div class="panel-body">
        @*@Html.ActionLink("Create New", "CreatePaymentCard", "Customers", null, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />*@
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="PaymentCards" class="footable table table-bordered table-striped" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>@Html.DisplayNameFor(model => model.CardHolderName)</th>
                    <th>@Html.DisplayNameFor(model => model.CardNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.CardExpiryDate)</th>
                    <th>@Html.DisplayNameFor(model => model.IsPrimary)</th>
                    <th>@Html.DisplayNameFor(model => model.CardLabel)</th>
                    <th>@Html.DisplayNameFor(model => model.SpendingLimitEnabled)</th>
                    <th>@Html.DisplayNameFor(model => model.SpendingLimitAmount)</th>
                    <th>@Html.DisplayNameFor(model => model.Currency)</th>
                    <th>@Html.DisplayNameFor(model => model.Duration)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => item.CardHolderName)</td>
                            <td>@Html.DisplayFor(modelItem => item.CardNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.CardExpiryDate)</td>
                            <td>@Html.CheckBoxFor(modelItem => item.IsPrimary)</td>
                            <td>@Html.DisplayFor(modelItem => item.CardLabel)</td>
                            @if (item.SpendingLimitEnabled == null)
                            { item.SpendingLimitEnabled = false; }
                            <td>@Html.CheckBoxFor(modelItem => item.SpendingLimitEnabled.Value)</td>
                            <td>@Html.DisplayFor(modelItem => item.SpendingLimitAmount)</td>
                            <td>@Html.DisplayFor(modelItem => item.Currency)</td>
                            <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                            <td>
                                @*@Html.ActionLink(" ", "EditPaymentCard", "Customers", new { card_id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })*@
                                <a data-card-id="@item.Id" class="js-delete"><span class="fa fa-trash fa-2x"></span></a>
                            </td>
                        </tr>
                            cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="11">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#PaymentCards").footable();
    $(document).ready(function () {
        $("#PaymentCards .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Customers/DeletePaymentCard/" + btn.attr("data-card-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.IsPrimary == true)
                                {
                                    swal("Deleted!", "Record has been deleted.", "success");
                                    window.location.href = '/Customers/PaymentCards';
                                }
                                else
                                {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Record has been deleted.", "success");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>