﻿@model IEnumerable<ToOrdr.Core.Entities.Hotel>
@using System.Configuration
@{
    ViewBag.Title = "RecentHotels";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        My Recent Hotels
    </h2>
    <small>List of hotels</small>
}

<div class="row">

    @foreach (var hotel in Model)
    {
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#"><h4>@hotel.Name</h4></a>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="project-label">LOCATION</div>
                                    <div class="allow-scroll-two-lines location-area-height">
                                        <small>@hotel.Street, @hotel.City, @hotel.Region, @hotel.Pincode</small>
                                    </div>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="project-label">REVIEWS</div>

                                    @{
                                        var total = hotel.HotelReviews.Count();
                                        var count = hotel.HotelReviews.Sum(r => r.Score);
                                        var review = 0;
                                        if (total != 0)
                                        {
                                            review = (count / total);//*20
                                        }
                                    }
                                    @*<div class="star-rating rating-xs rating-active">
                                        <div class="rating-container rating-gly-star" data-content="">
                                            <div class="rating-stars" data-content="" style="width: @review%"></div>
                                        </div>
                                    </div>*@
                                    @review.ToString("F2")
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @{
                                var api_path = ConfigurationManager.AppSettings["APIURL"];
                                var img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.HotelBackground, hotel.BackgroundImage, hotel.Id, api_path);
                             }
                            <img src="@Url.Content(img)" class="img-size img-responsive" alt="Image" onerror="this.onerror = null; this.className = 'img-size img-responsive'; this.src = '/Images/no_logo.png';" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
