﻿@model ToOrdr.Web.ViewModels.RestaurantPreferenceViewModel

@{
    ViewBag.Title = "RestaurantPreferences";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/sweetAlert/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        My Allergen preferences
    </h2>
    <small>List of allergen preferences</small>
}

<div class="hpanel">
    @foreach (var group in Model.Groups)
    {
        <div class="panel-heading hbuilt">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            <h4><strong>@group.GroupName</strong> </h4>
            <h4><small>@group.Description</small> </h4>
        </div>
        <div class="panel-body">
            <table id="preference" class="footable table table-stripped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Selected</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subgroup in group.SubGroups)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => subgroup.SubGroupId)</td>
                            <td>@Html.DisplayFor(modelItem => subgroup.SubGroupName)</td>
                            <td>@Html.DisplayFor(modelItem => subgroup.Description)</td>
                            @if (subgroup.ItemValue == null)
                            { subgroup.ItemValue = false; }
                            <td>@Html.CheckBoxFor(modelItem => subgroup.ItemValue.Value, new { @class = "checkSelected", Name = subgroup.SubGroupId })</td>
                        </tr>
                    }
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
</div>
 
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#preference').footable();
</script>
<script>
    $(document).ready(function () {
        $("#preference .checkSelected").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Customers/UpdateRestaurantPreference/" + btn.attr("name"),
                            method: "POST",
                            success: function () {
                                swal("Update!", "Record has been updated.", "success");
                            },
                        });

                    } else {
                        if (btn.is(":checked")) {
                            btn.prop('checked', false);
                        }
                        else if (btn.is(":not(:checked)")) {
                            btn.prop('checked', true);
                        }
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>





















