﻿@model ToOrdr.Web.Models.SelectPremises

@{
    if (Session["AllowBackend"] != null && Session["AllowBackend"].ToString() == "1")
    {
        if (Session["IsAdmin"] != null && Session["IsAdmin"].ToString() == "true")
        {
            Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Areas/Admin/Views/Shared/_layoutrestaurant.cshtml";
        }
    }
    ViewBag.Title = "SelectPremises";
}


@section PageTitle{
    <h2>SelectPremises</h2>
}
@if (Model.Restaurants.Count() > 0)
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            Manage Restaurants
        </div>
        <div class="panel-body">
            <input class="form-control" type="text" placeholder="Search Restaurants.." id="searchRest">
        </div>
        <div class="panel-body">
            <div class="row" id="RestList">

                @foreach (var restaurant in Model.Restaurants)
                {
                    <div class="col-lg-12">
                        <div class="hpanel filter-item">
                            <div class="panel-body">
                                <h4>
                                    <a href="@Url.Action("SetPremises", "Customers", new { id = restaurant.Id, type = 1 })">@restaurant.Name</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@if (Model.Hotels.Count() > 0)
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            Manage Hotels
        </div>
        <div class="panel-body">
            <input class="form-control" type="text" placeholder="Search Hotels.." id="searchHotel">
        </div>
        <div class="panel-body">
            <div class="row" id="HotelList">
                @foreach (var hotel in Model.Hotels)
                {
                    <div class="col-lg-12">
                        <div class="hpanel filter-item">
                            <div class="panel-body">
                                <h4>
                                    <a href="@Url.Action("SetPremises", "Customers", new { id = hotel.Id, type = 2 })">@hotel.Name</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<script>

    $(function () {

        $.extend($.expr[":"], {
            "containsIN": function (elem, i, match, array) {
                return (elem.textContent || elem.innerText || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
            }
        });

        $('#searchRest').keyup(function () {

            // Search text
            var text = $(this).val();
            // Hide all content class element
            $('#RestList .filter-item').hide();
            // Search
            $('#RestList .filter-item:containsIN("' + text + '")').show();
        });

        $('#searchHotel').keyup(function () {

            // Search text
            var text = $(this).val();
            // Hide all content class element
            $('#HotelList .filter-item').hide();
            // Search
            $('#HotelList .filter-item:containsIN("' + text + '")').show();
        });
    });

</script>
