﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - youORDR</title>


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Primary vendor style -->
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/datatables/css")
    @Styles.Render("~/bundles/datatablesBootstrap/css")
    @Styles.Render("~/bundles/jqueryui/css")

    

    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/jqueryui/js")
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOMER style -->
    @Styles.Render("~/bundles/homer/css")

</head>
<body class="@Html.PageClass()">
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header">
        <div class="color-line">
        </div>
        <div id="logo" class="light-version" style="padding-top:5px">
            <a href="@Url.Content("~")">
                <img src="~/Content/Images/youordrLogo.png" height="55" />
            </a>

        </div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            <div class="small-logo">
                <span class="text-primary">HOMER APP</span>
            </div>
            <form role="search" class="navbar-form-custom" method="post" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search something special" class="form-control" name="search">
                </div>
            </form>
            <div class="mobile-menu">
                <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="collapse mobile-navbar" id="mobile-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="" href="@Url.Action("Login", "CommonViews")">Login</a>
                        </li>
                        <li>
                            <a class="" href="@Url.Action("Register", "CommonViews")">Logout</a>
                        </li>
                        <li>
                            <a class="" href="@Url.Action("ProfilePage", "AppViews")">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="pe-7s-speaker"></i>
                        </a>
                        <ul class="dropdown-menu hdropdown notification animated flipInX">
                            <li>
                                <a>
                                    <span class="label label-success">NEW</span> It is a long established.
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="label label-warning">WAR</span> There are many variations.
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="label label-danger">ERR</span> Contrary to popular belief.
                                </a>
                            </li>
                            <li class="summary"><a href="#">See all notifications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="pe-7s-keypad"></i>
                        </a>
                        <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Projects", "AppViews")">
                                                <i class="pe pe-7s-portfolio text-info"></i>
                                                <h5>Projects</h5>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Mailbox", "AppViews")">
                                                <i class="pe pe-7s-mail text-warning"></i>
                                                <h5>Email</h5>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Contacts", "AppViews")">
                                                <i class="pe pe-7s-users text-success"></i>
                                                <h5>Contacts</h5>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Forum", "AppViews")">
                                                <i class="pe pe-7s-comment text-info"></i>
                                                <h5>Forum</h5>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Index", "Analytics")">
                                                <i class="pe pe-7s-graph1 text-danger"></i>
                                                <h5>Analytics</h5>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("FileManager", "AppViews")">
                                                <i class="pe pe-7s-box1 text-success"></i>
                                                <h5>Files</h5>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                            <i class="pe-7s-mail"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu hdropdown animated flipInX">
                            <div class="title">
                                You have 4 new messages
                            </div>
                            <li>
                                <a>
                                    It is a long established.
                                </a>
                            </li>
                            <li>
                                <a>
                                    There are many variations.
                                </a>
                            </li>
                            <li>
                                <a>
                                    Lorem Ipsum is simply dummy.
                                </a>
                            </li>
                            <li>
                                <a>
                                    Contrary to popular belief.
                                </a>
                            </li>
                            <li class="summary"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" id="sidebar" class="right-sidebar-toggle">
                            <i class="pe-7s-upload pe-7s-news-paper"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("signout","Account",new{area=""})">
                            <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

    <!-- Navigation -->
    <aside id="menu">
        @Html.Partial("_NavigationCustomer")
    </aside>

    <!-- Main view  -->
    <div id="wrapper">


        <div class="normalheader ">
            <div class="hpanel">
                <div class="panel-body">
                    <a class="small-header-action" href="">
                        <div class="clip-header">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                    </a>

                    @if (IsSectionDefined("PageTitle"))
                    {
                        @RenderSection("PageTitle", required: false)
                    }
                    else
                    {

                        <h2 class="font-light m-b-xs">
                            Title
                        </h2>
                        <small>short description here..</small>
                    }
                </div>
            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <!-- Right Sidebar -->
        @Html.Partial("_Right_Sidebar")

        <!-- Footer-->

        <footer class="footer">
            <span class="pull-right">
                youORDR
            </span>
            Company 2015-2020
        </footer>

    </div>

    <!-- Section for main scripts render -->
    @*@Scripts.Render("~/bundles/jquery/js")*@
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/homer/js")

    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")


    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>