﻿<div id="navigation">
    @*<div class="profile-picture">
            <a href="@Url.Action("Index", "Dashboard")">
                <img src="~/Images/profile.jpg" class="img-circle m-b" alt="logo">
            </a>

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">Robert Razer</span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Founder of App <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="analytics.html">Analytics</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div id="sparkline1" class="small-chart m-t-sm"></div>
                <div>
                    <h4 class="font-extra-bold m-b-xs">
                        $260 104,200
                    </h4>
                    <small class="text-muted">Your income from the last year in sales product X.</small>
                </div>
            </div>
        </div>*@

    <ul class="nav metismenu" id="side-menu">

        @if (Session["AllowBackend"] != null && Session["AllowBackend"].ToString() == "1")
        {
            if (Session["IsAdmin"] != null && Session["IsAdmin"].ToString() == "true")
            {
                @*<li class="@Html.IsSelected(controller: "Anything") bg-warning">
                    <a href="@Url.Action("Dashboard", "Admin", new { area = "admin" })"> <span class="nav-label">Backend Admin</span>  </a>
                </li>*@
            }
            else
            {
                @*<li class="@Html.IsSelected(controller: "Anything") bg-warning">
                    <a href="@Url.Action("SelectPremises", "Customers")"> <span class="nav-label">Backend Restaurant</span>  </a>
                </li>*@
            }
        }
        else
        {
            var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
            if (claimsIdentity != null)
            {
                var claim = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.GivenName);

                if (claim != null)
                {
                    <div class="profile-picture"><span>Hi</span> <strong>@claim.Value.ToString()</strong></div>
                }
            }
        }

        <li class="@Html.IsSelected(controller: "Customers")">
            <a href="#"><span class="nav-label">Activity</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "RecentOrders")"><a href="@Url.Action("RecentOrders", "Customers")">Recent Orders</a></li>
                <li class="@Html.IsSelected(action: "OrdersQueue")"><a href="@Url.Action("OrdersQueue", "Customers")">Orders Queue</a></li>
                <li class="@Html.IsSelected(action: "RecentRestaurants")"><a href="@Url.Action("RecentRestaurants", "Customers")">Recent Restaurants</a></li>
                 <li class="@Html.IsSelected(action: "RecentHotel")"><a href="@Url.Action("RecentHotels", "Customers")">Recent Hotels</a></li> 


                <li class="@Html.IsSelected(controller: "Customers")">
                    <a href="#"><span class="nav-label">All Reviews</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-third-level">
                        <li class="@Html.IsSelected(action: "RestaurantsReviews")"><a href="@Url.Action("RestaurantsReviews", "Customers")">Restaurants Reviews</a></li>
                        <li class="@Html.IsSelected(action: "HotelsReviews")"><a href="@Url.Action("HotelsReviews", "Customers")">Hotels Reviews</a></li>
                    </ul>
                </li>

                <li class="@Html.IsSelected(action: "RestaurantPreferences")"><a href="@Url.Action("RestaurantPreferences", "Customers")">Allergen Preferences</a></li>
                <li class="@Html.IsSelected(action: "IngredientPreferences") disabled"><a href="@Url.Action("IngredientPreferences", "Customers")">Ingredient Preferences</a></li>
                <li class="@Html.IsSelected(action: "FavoriteRestaurants")"><a href="@Url.Action("FavoriteRestaurants", "Customers")">Favorite Restaurants</a></li>
                <li class="@Html.IsSelected(action: "FavoriteHotels")"><a href="@Url.Action("FavoriteHotels", "Customers")">Favorite Hotels</a></li>

                <li class="@Html.IsSelected(action: "AccountDetails")"><a href="@Url.Action("Edit", "Customers")">Account Details</a></li>
                <li class="@Html.IsSelected(action: "ChangePassword")"><a href="@Url.Action("ChangePassword", "Customers")">Change Password</a></li>
                <li class="@Html.IsSelected(action: "PaymentCards")"><a href="@Url.Action("PaymentCards", "Customers")">Payment Cards</a></li>

                <li class="@Html.IsSelected(action: "CustomerFinancial") disabled"><a href="@Url.Action("CustomerFinancial", "Customers")">Financial</a></li>

            </ul>
        </li>

        @*<li class="@Html.IsSelected(controller: "Customers")">
            <a href="#"><span class="nav-label">Activity</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "RecentOrders")"><a href="@Url.Action("RecentOrders", "Customers")">Recent Orders</a></li>
                <li class="@Html.IsSelected(action: "RecentRestaurants")"><a href="@Url.Action("RecentRestaurants", "Customers")">Recent Restaurants</a></li>
                <li class="@Html.IsSelected(action: "RecentHotel")"><a href="@Url.Action("RecentHotels", "Customers")">Recent Hotels</a></li>
                <li class="@Html.IsSelected(action: "Reviews")"><a href="@Url.Action("Reviews", "Customers")">Reviews</a></li>

            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "Customers")">
            <a href="#"><span class="nav-label">My Account</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "AccountDetails")"><a href="@Url.Action("Edit", "Customers")">Account Details</a></li>
                <li class="@Html.IsSelected(action: "ChangePassword")"><a href="@Url.Action("ChangePassword", "Customers")">Change Password</a></li>
                <li class="@Html.IsSelected(action: "PaymentCards")"><a href="@Url.Action("PaymentCards", "Customers")">Payment Cards</a></li>
            </ul>
        </li>

        <li class="@Html.IsSelected(controller: "Customers")">
            <a href="#"><span class="nav-label">My Preferences</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "RestaurantPreferences")"><a href="@Url.Action("RestaurantPreferences", "Customers")">Restaurant Preferences</a></li>
                 <li class="@Html.IsSelected(action: "HotelPreferences")"><a href="@Url.Action("HotelPreferences", "Customers")">Hotel Preferences</a></li> 
                <li class="@Html.IsSelected(action: "FavoriteRestaurants")"><a href="@Url.Action("FavoriteRestaurants", "Customers")">Favorite Restaurants</a></li>
                <li class="@Html.IsSelected(action: "FavoriteHotels")"><a href="@Url.Action("FavoriteHotels", "Customers")">Favorite Hotels</a></li>
            </ul>
        </li>*@





    </ul>
</div>