﻿@model IEnumerable<ToOrdr.Core.Entities.HousekeepingOrderItem>
@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/toggleButton/css")
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Order Item Details
            </div>
            <div class="panel-body">
                <table id="orderItemDetails_@Model.FirstOrDefault().HousekeepingOrderId" class="table table-hover footable table-stripped toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>@Html.DisplayName("Housekeeping facility details")</th>
                            <th>@Html.DisplayName("Quantity")</th>
                            <th>@Html.DisplayName("Price")</th>
                            <th>@Html.DisplayName("ItemTotal")</th>
                            <th>Schedule Date</th>
                            <th>Delivery Status</th>
                            <th data-hide="all"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var cnt = 1;
                            foreach (var orderItem in Model)
                            {
                                <tr>
                                    <td>@cnt</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.HouseKeepingFacilityDetail.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.Quantity)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.HouseKeepingFacilityDetail.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.Total)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.ScheduleDate)  @ViewBag.OrdrHistory</td>
                                    <td>
                                        @if (ViewBag.OrdrHistory == 1)
                                        {
                                            <label class="switch">
                                                @Html.CheckBoxFor(modelItem => orderItem.HousekeepingOrderStatus, new { @class = "checkSelectedToggle", @Disabled = "Disabled", Name = orderItem.Id })
                                                <div class="slider round"></div>
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="switch">
                                                @Html.CheckBoxFor(modelItem => orderItem.HousekeepingOrderStatus, new { @class = "checkSelectedToggle", Name = orderItem.Id })
                                                <div class="slider round"></div>
                                            </label>
                                        }
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <table class="table table-hover table-bordered table-stripped ">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="6"><center>Item additional Details</center></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Sr.No</th>
                                                            <th>@Html.DisplayName("ItemName")</th>
                                                            <th>@Html.DisplayName("Qty")</th>
                                                            <th>@Html.DisplayName("Cost")</th>
                                                            <th>@Html.DisplayName("Total")</th>
                                                        </tr>
                                                    </thead>
                                                    @{
                                        var count1 = 1;

                                        foreach (var itemAdditional in orderItem.HousekeepingOrderItemAdditionals)
                                        {
                                            <tr>
                                                <td class="col-md-1">@count1</td>
                                                <td class="col-md-5">@Html.DisplayFor(modelItem => itemAdditional.HousekeepingAdditionalElement.Name)</td>
                                                <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.Qty)</td>
                                                <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.HousekeepingAdditionalElement.Price)</td>
                                                <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.Total)</td>
                                            </tr>
                                            count1 = count1 + 1;
                                        }
                                                    }
                                                </table>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                        cnt = cnt + 1;
                            }
                        }
                    </tbody>
                    <tfoot style="display:none;">
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/fooTable/js")

<script>
    $(function () {
        $('#orderItemDetails_@Model.FirstOrDefault().HousekeepingOrderId').footable();
        $("#orderItemDetails_@Model.FirstOrDefault().HousekeepingOrderId .checkSelectedToggle").change(function () {
            var btn = $(this);

            $.ajax({
                url: "/Admin/HotelHousekeeping/UpdateHousekeepingOrderItemDeliverStatus/" + btn.attr("name"),
                method: "POST",
                success: function () {
                },
            });
        });
    });
</script>
