﻿@model ToOrdr.Core.Entities.HouseKeepingfacilitiesAdditional
@using ToOrdr.Localization
@{
    ViewBag.Title = "AddEditHousekeepingfacilitiesAdditional";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Housekeeping facilities Additional
    </h2>
    <small>Add/Edit housekeeping facilities additional</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveHousekeepingFacAdditional", "HotelHousekeeping", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.HouseKeepingFacilityId)
                @Html.HiddenFor(model => model.CreationDate)
                
                <div class="form-group">
                    @Html.Label("Group Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.HouseKeepingAdditionalGroupId, new SelectList(ViewBag.HousekeepingAdditionalGroups, "Id", "Name"), "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HouseKeepingAdditionalGroupId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageHousekeepingfacilitiesAdditional", "HotelHousekeeping", new { area = "Admin", houseKeepingFacilityId = Model.HouseKeepingFacilityId }, new { @class = "btn btn-primary" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

