﻿@model ToOrdr.Core.Entities.HouseKeeping
@{
    ViewBag.Title = "AddRoomHousekeeping";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Add room house keeping facilities
    </h2>
    <small>Add room house keeping facilities</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveRoomHouseKeeping", "HotelHousekeeping", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.RoomDetailsId)
                <div class="form-group">
                    @Html.Label("Facilities", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("HouseKeepingFacilityId", (MultiSelectList)ViewBag.HouseKeepingFacilities, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("HouseKeepingFacilityId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageRoomHousekeeping", "HotelHousekeeping", new { area = "Admin", id = Model.RoomDetailsId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

