﻿@{
    ViewBag.Title = "HousekeepingQueue";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Housekeeping Orders Queue
    </h2>
    <small>List of Housekeeping orders queue </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Housekeeping Orders Queue
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="housekeepingOrdersQueue" class="table table-striped table-hover dataTable no-footer">
            <thead>
                <tr>
                    <th></th>
                    <th>Customer Name</th>
                    <th>Room Number</th>
                    <th>Booking Date</th>
                    <th>Amount</th>
                    <th>Payment Status</th>
                    <th>Change Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"] + "signalr/hubs")"></script>
    <script>
        function format(rowData) {
            var div = $('<div/>')
                .addClass('loading')
                .text('Loading...');

            $.ajax({
                url: '/Admin/HotelHousekeeping/LoadHousekeepingOrderItemDetails',
                data: {
                    housekeepingOrderId: rowData.HousekeepingOrderId
                },
                success: function (response) {
                    div
                        .html(response)
                        .removeClass('loading');
                },
                error: function () {
                    alert("Oops!....");
                }
            });

            return div;
        }

        $(function () {
            // Create a proxy to signalr hub on web server. It reference the hub.

            $.connection.hub.url = '@System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"]signalr/hubs"';
            var notificationFromHub = $.connection.orderHub;

            $.connection.hub.start().done(function () {
                FetchOrders();
            });

            // Notify to client with the recent updates
            notificationFromHub.client.updatedClients = function () {
                $('#housekeepingOrdersQueue').DataTable().ajax.reload();
            };
        });

        function FetchOrders() {
            var table = $("#housekeepingOrdersQueue").DataTable({
                "searching": false,
                "ordering": false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Admin/HotelHousekeeping/LoadHousekeepingOrders/",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                         {
                             className: 'details-control',
                             orderable: false,
                             data: null,
                             defaultContent: ''
                         },
                        { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                        { "data": "RoomNumber", "name": "RoomNumber", "autoWidth": true },
                        { "data": "BookingDate", "name": "BookingDate", "autoWidth": true },
                        { "data": "Amount", "name": "Amount", "autoWidth": true },
                        { "data": "PaymentStatus", "name": "PaymentStatus", "autoWidth": true },
                        {
                            "data": "HousekeepingOrderStatuses", "autoWidth": true, className: "status_ddl",
                            "render": function (data, type, row) {
                                var $select = $("<select></select>",
                                    {
                                        id: row.HousekeepingOrderId,
                                        name: row.HousekeepingOrderId
                                    });
                                $.each(data, function (k, v) {
                                    var $option = $("<option></option>",
                                    {
                                        text: v.Name,
                                        value: v.Id
                                    });
                                    if (row.OrderStatus == v.Name) {
                                        $option.attr("selected", "selected")
                                    }
                                    $select.append($option);
                                });
                                return $select.prop("outerHTML");
                            }
                        }
                ]

            });


            // Add event listener for opening and closing details
            $('#housekeepingOrdersQueue').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        };

        $("#housekeepingOrdersQueue").on("change", ".status_ddl", function () {
            var btn = $(this);
            var HousekeepingOrderId = $(this).children('select').attr('id');
            var orderStatus = $('#' + HousekeepingOrderId).val();
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelHousekeeping/UpdateHousekeepingOrderStatus",
                            method: "POST",
                            data: { HousekeepingOrderId: HousekeepingOrderId, orderStatus: orderStatus },
                            success: function (response) {
                                if (response.status) {
                                    if (response.rowRemoveStatus) {
                                        btn.parents("tr").remove();
                                    }
                                    swal("Updated!", response.message, "success");
                                    $('#housekeepingOrdersQueue').DataTable().ajax.reload();
                                }
                                else {
                                    swal("Cancelled!", response.message, "warning");
                                    $('#housekeepingOrdersQueue').DataTable().ajax.reload();
                                }
                            },
                        });

                    } else {

                        swal("Cancelled", "Order status is not updated :)", "error");
                        $('#housekeepingOrdersQueue').DataTable().ajax.reload();
                    }
                });
        });
    </script>
}