﻿@{
    ViewBag.Title = "ManageRoomHousekeeping";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Room House Keeping Facilities
    </h2>
    <small>List of room house keeping facilities</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageRoomDetails", "Hotel", new { area = "Admin", roomId = @ViewBag.RoomId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddRoomHousekeeping", "HotelHousekeeping", new { area = "Admin", roomDetailsId = @ViewBag.RoomDetailsId }, new { @class = "btn btn-success btn-sm new-btn-position enableOnInput ", })<br />
        <table data-limit-navigation="5" id="manageRoomHouseKeeping" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Room Details Name</th>
                    <th>Facility Name</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        if(@ViewBag.IsHousekeeping == 0)
            $(".enableOnInput").addClass('enabled');
        else
            $(".enableOnInput").addClass('disabled');

        $("#manageRoomHouseKeeping").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelHousekeeping/LoadRoomHousekeeping/"+@ViewBag.RoomDetailsId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "RoomDetailsName", "name": "RoomDetailsName", "autoWidth": true },
                    { "data": "HKFacilityName", "name": "HKFacilityName", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true,
                        "render": function(data,type,full)
                        {
                            return '<input type="checkbox" class = "checkSelected form-control"  name="'+full.HouseKeepingId+'" ' + ((data == true) ? 'checked' : '') + ' />';
                        }
                    },
                    { "data": "HouseKeepingId", "render": function (data, type, full) { return ' </a> <a data-HK-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });

        $("#manageRoomHouseKeeping").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelHousekeeping/DeleteRoomHouseKeeping/" + btn.attr("data-HK-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    $(".panel-body").find("a").removeClass("disabled");
                                    swal("Deleted!", "Room house keeping facility has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Room house keeping facility is safe :)", "error");
                    }
                });
        });

        $("#manageRoomHouseKeeping").on("click",".checkSelected", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelHousekeeping/UpdateRoomHouseKeeping/" + btn.attr("name"),
                            method: "POST",
                            success: function (response) {
                                if (response.failure) {
                                    btn.prop('checked', true);
                                    swal("Cancelled!", response.error, "warning");
                                }
                                else {
                                    if (btn.is(":checked")) {
                                        btn.prop('checked', true);
                                        $('input.checkSelected').not(btn).prop('checked', false);
                                    }
                                    swal("Update!", "Facility status has been updated.", "success");
                                }
                            },
                        });

                    } else {
                        if (btn.is(":checked")) {
                            btn.prop('checked', false);
                        }
                        else if (btn.is(":not(:checked)")) {
                            btn.prop('checked', true);
                        }
                        swal("Cancelled", "Facility status is not updated :)", "error");
                    }
                });
        });
    });
</script>
