﻿@{
    ViewBag.Title = "ManageHousekeepingFacility";
    if (Session["IsHotelReceptionist"] != null && Session["IsHotelReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}


@section PageTitle{
    <h2 class="font-light m-b-xs">
        Housekeeping Facilities
    </h2>
    <small>List of Housekeeping Facilities </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Housekeeping Facilities
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddHousekeepingFacility", "HotelHousekeeping", new { area = "Admin", hotelServiceId = ViewBag.HotelServiceId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageHousekeepingFacility" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsActive</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageHousekeepingFacility").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelHousekeeping/LoadHousekeepingFacility/"+@ViewBag.HotelServiceId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                     { "data": "CreationDate", "name": "CreationDate", "render": function (value) {
                         if (value === null) return "";
                         var pattern = /Date\(([^)]+)\)/;//date format from server side
                         var results = pattern.exec(value);
                         var dt = new Date(parseFloat(results[1]));
                         return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()+" "+ dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                     }, "autoWidth": true},
                    { "data": "HousekeepingFacilityId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelHousekeeping/EditHousekeepingFacility/' + data + '"> </a> <a data-housekeeping-fac-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a> <a class="fa fa-list-alt fa-2x" title="Details" href="/Admin/HotelHousekeeping/ManageHousekeepingFacilityDetails?houseKeepingFacilityId=' + data + '"> </a> <a class="fa fa-list-alt fa-2x" title="Additionals" href="/Admin/HotelHousekeeping/ManageHousekeepingfacilitiesAdditional?houseKeepingFacilityId=' + data + '"> </a>' } }
            ]
        });

        $("#manageHousekeepingFacility").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelHousekeeping/DeleteHousekeepingFacility/" + btn.attr("data-housekeeping-fac-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "House keeping facility has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "House keeping facility is safe :)", "error");
                    }
                });
        });
    });
</script>



