﻿@{
    ViewBag.Title = "ManageHousekeepingAdditionals";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Housekeeping facilities Additionals
    </h2>
    <small>List of housekeeping facilities additionals </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageHousekeepingFacility", "HotelHousekeeping", new { hotelServiceId = @ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left", })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddHousekeepingfacilitiesAdditional", "HotelHousekeeping", new { area = "Admin", housekeepingFacilityId = ViewBag.HousekeepingFacilityId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageHousekeepingfacAdditionals" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>MinSelected</th>
                    <th>MaxSelected</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    
    $(document).ready(function () {
        $("#manageHousekeepingfacAdditionals").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelHousekeeping/LoadHousekeepingFacAdditionals/"+@ViewBag.HousekeepingFacilityId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "MinSelected", "name": "Price", "autoWidth": true },
                    { "data": "MaxSelected", "name": "Price", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true ,
                     "render": function(data,type,full)
                     {
                         return '<input type="checkbox" class = "checkSelected form-control"  name="'+full.HousekeepingFacAdditionalId+'" ' + ((data == true) ? 'checked' : '') + ' />';
                     }
                     },
                    { "data": "HousekeepingFacAdditionalId", "render": function (data, type, full) { return '</a> <a data-housekeeping-fac-Add-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]
        });

        $("#manageHousekeepingfacAdditionals").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelHousekeeping/DeleteHousekeepingFacAdditional/" + btn.attr("data-housekeeping-fac-Add-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Housekeeping facilities additional has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Housekeeping facilities additional is safe :)", "error");
                    }
                });
        });

        $("#manageHousekeepingfacAdditionals").on("click",".checkSelected", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelHousekeeping/UpdateHousekeepingFacAdditional/" + btn.attr("name"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    if (btn.is(":checked")) {
                                        btn.prop('checked', true);
                                        $('input.checkSelected').not(btn).prop('checked', false);
                                    }
                                    swal("Update!", "Housekeeping facilities additional has been updated.", "success");
                                }
                                else {
                                    btn.prop('checked', true);
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        if (btn.is(":checked")) {
                            btn.prop('checked', false);
                        }
                        else if (btn.is(":not(:checked)")) {
                            btn.prop('checked', true);
                        }
                        swal("Cancelled", "Housekeeping facilities additional is not updated :)", "error");
                    }
                });
        });
    });
</script>
