﻿
@{
    ViewBag.Title = "ManageHousekeepingFacilityDetails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Housekeeping Facility Details
    </h2>
    <small>List of housekeeping facility details </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageHousekeepingFacility", "HotelHousekeeping", new { hotelServiceId = @ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left", })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddHousekeepingFacDetail", "HotelHousekeeping", new { area = "Admin", houseKeepingFacilityId = ViewBag.HouseKeepingFacilityId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageHousekeepingFacDetails" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Facility Name</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageHousekeepingFacDetails").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelHousekeeping/LoadHousekeepingFacDetails/"+@ViewBag.HouseKeepingFacilityId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "FacilityName", "name": "FacilityName", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "Price", "name": "Price", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "HouseKeepingFacDetailId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelHousekeeping/EditHousekeepingFacDetail/' + data + '"> </a> <a data-housekeeping-fac-det-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]
        });

        $("#manageHousekeepingFacDetails").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelHousekeeping/DeleteHousekeepingFacDetail/" + btn.attr("data-housekeeping-fac-det-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Housekeeping facility detail has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Housekeeping facility detail is safe :)", "error");
                    }
                });
        });
    });
</script>