﻿
@{
    ViewBag.Title = "ManageHousekeepingAdditionalGroup";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Housekeeping Additional Groups
    </h2>
    <small>List of Housekeeping additional groups </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Housekeeping Additional Groups
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddHousekeepingAdditionalGroup", "HotelHousekeeping", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageHousekeepingAddGrp" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Group Description</th>
                    <th>Minimun Selected</th>
                    <th>Maximum Selected</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageHousekeepingAddGrp").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelHousekeeping/LoadHousekeepingAdditionalGroups",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "GroupName", "name": "GroupName", "autoWidth": true },
                    { "data": "GroupDescription", "name": "GroupDescription", "autoWidth": true },
                    { "data": "MinSelected", "name": "MinSelected", "autoWidth": true },
                    { "data": "MaxSelected", "name": "MaxSelected", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "HousekeepingAddGroupId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelHousekeeping/EditHousekeepingAdditionalGroup/' + data + '"> </a> <a data-housekeeping-add-grp-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a> <a class="fa fa-2x fa-list-alt" title="HousekeepingAdditionalElement" href="/Admin/HotelHousekeeping/ManageHousekeepingAdditionalElements/' + data + '"> </a>' } }

            ]

        });

        $("#manageHousekeepingAddGrp").on("click", ".js-delete", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelHousekeeping/DeleteHousekeepingAdditionalGroup/" + btn.attr("data-housekeeping-add-grp-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Housekeeping additional group has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Housekeeping additional group is safe :)", "error");
                }
            });
    });
    });
</script>



