﻿@model ToOrdr.Web.ViewModels.RestaurantSearch
@using ToOrdr.Localization;

@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "Index";
}

<style>
    div.filterHeaderSection {
        padding: 10px 5px 10px 15px;
        border-bottom: 1px solid rgb(238, 238, 238);
        color: rgb(33, 33, 33);
    }

    div.filterSection {
        padding: 15px 5px 10px 15px;
        border-bottom: 1px solid rgb(238, 238, 238);
        color: rgb(33, 33, 33);
    }
</style>

@section Scripts{
    <script>
        $(function () {

            $("#searchBtn").click(function () {
                startSearch();
            });

            $('#searchBox').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#searchBtn').click();
            });

            $("#LocationSearchText").click(function () {
                startSearch();
            });

            $(".cuisineFilterItem").change(function () {
                startSearch();
            });

            $("#cuisineLessLink").click(function () { $(".professionList div:gt(9)").hide(); updateCuisineShowMore(); });
            $("#cuisineLessLink").trigger('click');
            $("#cuisineMoreLink").click(function () { $(".cuisineList div").show(); updateCuisineShowMore(); });

            $("#certigoaFilterClearAll").click(function () {

                $("#searchBox").val('');
                $("#searchLocationText").val('');

                $(".cuisineFilterItem").each(function () {

                    if ($(this).attr("autocheck")) {

                        $(this).prop('checked', true);
                    }
                    else {
                        $(this).prop('checked', false);
                    }
                });
                startSearch();
            });

            $("#searchCuisineText").on('input', clearCuisineFilterList);

            $("#clearSearchText").click(function () {
                $("#searchCuisineText").val("");
                clearCuisineFilterList();
            });

            $("#cuisineClearAll").click(function () {

                $(".cuisineFilterItem").each(function () {
                    $(this).prop('checked', false);
                });
                startSearch();
            });

            @if(!string.IsNullOrWhiteSpace(Model.Keywords))
            {
                <text>
            $('#searchBox').val('@Model.Keywords');

            </text>
            }

            @if(Model.SelectedCuisinesId!=null && Model.SelectedCuisinesId.Length>0)
            {
                <text>
            var selectedCuisines = [ @string.Join(",", Model.SelectedCuisinesId)];
            $.each(selectedCuisines, function (i, val) {
                $("input[cuisineid='" + val + "']").prop('checked', true);
            });

            </text>
            }

            startSearch();
        });

        function clearCuisineFilterList() {
            var searchVal = $("#searchCuisineText").val();
            if (searchVal == "") {
                $(".cuisineList div").show();
                $("#cuisineLessLink").trigger('click');
            }
            else {
                $(".cuisineList div").hide();
                $(".cuisineList div").each(function () {
                    if ($(this).text().toUpperCase().indexOf(searchVal.toUpperCase()) != -1) {
                        $(this).show();

                    }
                });
            }
            updateCuisineShowMore();
        };

        function updateCuisineShowMore() {
            var hiddenItems = $(".cuisineList>div:hidden").length;
            if (hiddenItems > 0) {
                $("#cuisineMoreLink").text(hiddenItems + " mere").css('display', 'inline-block');
                $("#cuisineLessLink").css('display', 'none');;
            }
            else {
                $("#cuisineMoreLink").css('display', 'none');;
                if ($(".cuisineList>div").length > 9) {
                    $("#cuisineLessLink").css('display', 'inline-block');;

                }
            }

        }

        function startSearch() {

            keywords = "";
            place = "";
            cuisineIds = "";

            keywords = $("#searchBox").val();
            place = $("#searchLocationText").val();

            $(".cuisineFilterItem").each(function () {

                if ($(this).is(":checked")) cuisineIds += $(this).attr("cuisineid") + ','
            });
            cuisineIds = cuisineIds.replace(/,\s*$/, '');

            getRestaurants();
        }


        function getRestaurants() {
            lastRequest = $.ajax({
                type: "GET",
                url: "/Restaurant/SearchRestaurant",
                data: { keywords: keywords, place: place, cuisineIds: cuisineIds },
                cache: false,
                success: function (response) {
                    OnSuccess(response)
                },
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('Oops! something went wrong, error: ' + response);
                }
            });
        }

        function OnSuccess(data) {
            $("#SearchRestaurant").html(data);
        }

        function handleSuccessRestaurantSearch(data) {
            OnSuccess(data);
        };

        function handleError(ajaxContext) {
            alert("error");
        };

    </script>
}

<div class="container">
    <div class="heading" style="padding-top:50px;">
        <div class="input-group" style="margin:0px 100px 30px 100px">
            <input type="text" id="searchBox" placeholder="Search Restaurants" class="form-control input-sm" />
            <span class="input-group-btn">
                <button type="button" id="searchBtn" value="Search" class="btn btn-default input-sm">Search Restaurants</button>
            </span>
        </div>
    </div>
</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
<div>
    <div class="col-sm-3 col-md-3 col-lg-2 padding-sm">
        <div class="filterPanel">

            <div class="filterHeaderSection">
                <div class="row">
                    <div class="col-sm-6">
                        <br />
                        <h4 style="margin:0px;"><span class="glyphicon glyphicon-filter"></span>Filter</h4>
                    </div>
                    <div class="col-sm-6">
                        <br />
                        <div class="text-right">
                            <button id="certigoaFilterClearAll" class="btn btn-xs btn-primary"> <span class="glyphicon glyphicon-refresh"></span> Reset</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filterSection ">
                <label><span class="glyphicon glyphicon-apple"></span> Cuisines</label>
                <div class="row">
                    <div class="col-sm-6" style="padding-right:0px;">
                        <div class="input-group">
                            <input type="text" class="form-control input-xs" id="searchCuisineText" placeholder="SearchCuisine" />
                            <span class="input-group-btn">
                                <button class="btn btn-xs btn-default" id="clearSearchText">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-6 ">
                        <div class="text-right">
                            <button id="cuisineClearAll" class="btn btn-xs btn-default"> <span class="glyphicon glyphicon-remove"></span>RemoveAll</button>
                        </div>
                    </div>
                </div>
                <div class="cuisineList">
                    @foreach (var cuisines in Model.Cuisines)
                    {
                    <div>
                        <input type="checkbox" class="cuisineFilterItem" cuisineid="@cuisines.Id" name="checkbox-nested-@cuisines.Id" id="checkbox-nested-@cuisines.Id"> @cuisines.Name
                    </div>
                    }
                    <p class="small">
                        <a id="cuisineMoreLink" class="text-primary btn" style="display:none"></a>
                        <a id="cuisineLessLink" class="text-primary btn padding-sm" style="display:none">Showless</a>
                    </p>
                </div>
            </div>

            <div class="filterSection">
                <label><span class="glyphicon glyphicon-map-marker"></span> Location</label>
                <div class="row">
                    <div class="col-sm-6" style="padding-right:0px;">
                        <div class="input-group">
                            <input type="text" class="form-control input-xs" id="searchLocationText" placeholder="SearchLocation" />
                            <span class="input-group-btn">
                                <button class="btn btn-xs btn-default" id="LocationSearchText">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-10 padding-sm">
        <div id="SearchRestaurant">

        </div>
    </div>
</div>



