﻿@model ToOrdr.Core.Entities.Restaurant

@{
    Layout = null;
}

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurant", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Street)
        @Html.HiddenFor(model => model.City)

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="row">
                        <h3>@Model.Name</h3><hr />
                    </div>
                    <div class="row">
                        <div class=" col-md-6">
                            <i class="glyphicon glyphicon-map-marker"></i><label>@Resources.Address</label><hr style="margin-top:0px" />
                            <label> @Resources.Street</label>:   <span>@Model.Street</span><br />
                            <label>@Resources.City</label>:   <span id="City">@Model.City</span><br />
                            <label> @Resources.Region</label>:   <span>@Model.Region</span><br />
                            <label> @Resources.Country</label>:   <span>@Model.Country</span>
                        </div>
                        <div class=" col-md-6">
                            <i class="glyphicon glyphicon-map-marker"></i><label>@Resources.Contact</label><hr style="margin-top:0px" />
                            <label> @Resources.Email</label>:   <span>@Model.Email</span><br />
                            <label> @Resources.Website</label>:   <span>@Model.Contact_Website</span><br />
                            <label> @Resources.FaxNumber</label>:   <span>@Model.Contact_Fax</span><br />
                            <label> @Resources.Telephone</label>:   <span>@Model.Telephone</span>
                        </div>
                    </div><hr />

                    <div class="row">
                        @{Html.RenderPartial("GoogleMapPartial", Model);}
                    </div>
                </div>
            </div>
        </div>
    }
</div>
