﻿@model IEnumerable<ToOrdr.Core.Entities.Restaurant>
@using System.Configuration


@if (Model == null || Model.Count() < 1)
{
    <div class="text-center ">
        <label class="text-danger">No Restaurants found</label> <br />
        <span>Check Populer Restaurant:</span>
    </div>
    <div class="container">
        @{Html.RenderAction("SponsoredRestaurants", "Restaurant");}
    </div>
}
else
{
    <div class="row">
        @foreach (var restaurant in Model)
        {
            <div class="col-md-5">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="@Url.Action("Index", "RestaurantMenus", new { Id = restaurant.Id })"><h4>@restaurant.Name</h4></a>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="project-label">LOCATION</div>
                                        <div class="allow-scroll-two-lines location-area-height">
                                            <small>@restaurant.Street, @restaurant.City, @restaurant.Region, @restaurant.Pincode</small>
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="project-label">REVIEWS</div>

                                        @{
                                            var total = restaurant.RestaurantReviews.Count();
                                            var count = restaurant.RestaurantReviews.Sum(r => r.Score);
                                            var review = 0;
                                            if (total != 0)
                                            {
                                                review = (count / total);
                                            }
                                        }
                                       @review.ToString("F2")

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                    @{
            var api_path = ConfigurationManager.AppSettings["APIURL"];
            var img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.RestaurantBackground, restaurant.BackgroundImage, restaurant.Id, api_path);
                                    }
                                <img src="@Url.Content(img)" class="img-responsive img-size" alt="Image" onerror="this.onerror = null; this.className = 'img-size img-responsive'; this.src = '/Images/no_logo.png';" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@Scripts.Render("~/bundles/homer/js")