﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin</title>


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Primary vendor style -->
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/datatables/css")
    @Styles.Render("~/bundles/datatablesBootstrap/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/datetimepicker/css")
    @Styles.Render("~/bundles/jqueryui/css")
    @Styles.Render("~/bundles/sweetAlert/css")

    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/jqueryui/js")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOMER style -->
    @Styles.Render("~/bundles/homer/css")

</head>

<body class="@Html.PageClass()">
    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Homer - Responsive Admin Theme</h1><p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header">
        @Html.Partial("_Header")
    </div>

    <!-- Navigation -->
    <aside id="menu">

        <div id="navigation">
            <div class="profile-picture">
                @{
                    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                    if (claimsIdentity != null)
                    {
                        var claim = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.GivenName);

                        if (claim != null)
                        {
                            <span>Hi</span> <strong>@claim.Value.ToString()</strong>
                        }
                    }
                }
                <a href="@Url.Action("Index", "Dashboard")">
                    <img src="~/Content/Images/youordrLogo.png" height="40" class="m-b" alt="logo">
                </a>

                <div class="stats-label text-color">
                    @*<span class="font-extra-bold font-uppercase">Restaurant Name</span>*@
                    @*<div class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <small class="text-muted">Manage <b class="caret"></b></small>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="analytics.html">Analytics</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("signout","Account")">Logout</a></li>
                            </ul>
                        </div>
                        <div id="sparkline1" class="small-chart m-t-sm"></div>
                        <div>
                            <h4 class="font-extra-bold m-b-xs">
                                $260 104,200
                            </h4>
                            <small class="text-muted">Your income from the last year in sales product X.</small>
                        </div>*@
                </div>
            </div>

            <ul class="nav metismenu" id="side-menu">
                <li class="@Html.IsSelected(action: "Dashboard")">
                    <a href="@Url.Action("Dashboard", "Admin", new { area = "admin" })"> <span class="nav-label">Dashboard</span> <span class="label label-success pull-right">v.1</span> </a>
                </li>


                <li class="@Html.IsSelected(controller: "Admin")">
                    <a href="#"><span class="nav-label">Activity</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "RestaurantsRecentOrders")"><a href="@Url.Action("RestaurantsRecentOrders", "Admin", new { area = "admin" })">All Recent Orders</a></li>
                        <li class="@Html.IsSelected(action: "GetAllRecentRestaurants")"><a href="@Url.Action("GetAllRecentRestaurants", "Admin", new { area = "admin" })">All Recent Restaurants</a></li>
                        <li class="@Html.IsSelected(action: "GetAllRecentHotels")"><a href="@Url.Action("GetAllRecentHotels", "Admin", new { area = "admin" })">All Recent Hotels</a></li>
                        @*<li class="@Html.IsSelected(action: "Reviews")"><a href="@Url.Action("Reviews", "Admin", new { area = "admin" })">All Reviews</a></li>*@
                    </ul>
                </li>

                <li class="@Html.IsSelected(controller: "Customers")">
                    <a href="#"><span class="nav-label">My Account</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "AccountDetails")"><a href="@Url.Action("Edit", "Customers",new { area = "" })">Account Details</a></li>
                        <li class="@Html.IsSelected(action: "ChangePassword")"><a href="@Url.Action("ChangePassword", "Customers", new { area = "" })">Change Password</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Admin")">
                    <a href="#"><span class="nav-label">Actions</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "PendingRegistrations")"><a href="@Url.Action("PendingRegistration", "Admin", new { area = "admin" })">Pending Registrations</a></li>
                        @*<li class="@Html.IsSelected(action: "Reviews")"><a href="@Url.Action("Reviews", "Admin", new { area = "admin" })">Reviews</a></li>*@
                        <li class="@Html.IsSelected(controller: "Admin")">
                            <a href="#"><span class="nav-label">All Reviews</span><span class="fa arrow"></span> </a>
                            <ul class="nav nav-third-level">
                                <li class="@Html.IsSelected(action: "RestaurantsReviews")"><a href="@Url.Action("RestaurantReviews", "Admin", new { area = "admin" })">Restaurant Reviews</a></li>
                                <li class="@Html.IsSelected(action: "HotelsReviews")"><a href="@Url.Action("HotelsReviews", "Admin", new { area = "admin" })">Hotel Reviews</a></li>

                            </ul>
                        </li>
                        <li class="@Html.IsSelected(action: "ManageAboutYouOrdrDescription")"><a href="@Url.Action("ManageAboutYouOrdrDescription", "Admin", new { area = "admin" })">About YouOrdr App</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Admin")">
                    <a href="#"><span class="nav-label">Administration</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">

                        <li class="@Html.IsSelected(controller: "Admin")">
                            <a href="#"><span class="nav-label">Chains</span><span class="fa arrow"></span> </a>
                            <ul class="nav nav-third-level">
                                <li class="@Html.IsSelected(action: "ChainDashBoard") disabled"><a href="@Url.Action("ChainDashBoard", "Admin", new { area = "admin" })">DASHBOARD</a></li>
                                <li class="@Html.IsSelected(action: "ManageChain") disabled"><a href="@Url.Action("ManageChain", "Admin", new { area = "admin" })">Chain management</a></li>
                                <li class="@Html.IsSelected(action: "ChainSetup")"><a href="@Url.Action("ChainSetup", "Admin", new { area = "admin" })">Chain Setup</a></li>
                            </ul>
                        </li>

                        <li class="@Html.IsSelected(action: "ManageHotels")"><a href="@Url.Action("ManageHotels", "Admin", new { area = "admin" })">Hotel</a></li>
                        <li class="@Html.IsSelected(action: "ManageRestaurants")"><a href="@Url.Action("ManageRestaurants", "Admin", new { area = "admin" })">Restaurants</a></li>
                        <li class="@Html.IsSelected(action: "ManageVirtualRestaurants")"><a href="@Url.Action("ManageVirtualRestaurants", "Admin", new { area = "admin" })">Virtual Restaurants</a></li>
                        <li class="@Html.IsSelected(action: "ManageCustomers")"><a href="@Url.Action("ManageCustomers", "Admin", new { area = "admin" })">Customers</a></li>
                        <li class="@Html.IsSelected(action: "ManageFoodProfiles")"><a href="@Url.Action("ManageFoodProfiles", "Admin", new { area = "admin" })">Food Profiles</a></li>
                        <li class="@Html.IsSelected(action: "ManageAllergenGroups")"><a href="@Url.Action("ManageAllergenGroups", "Admin", new { area = "admin" })">Allergen Groups</a></li>
                        <li class="@Html.IsSelected(action: "ManageIngredientCategories")"><a href="@Url.Action("ManageIngredientCategories", "Admin", new { area = "admin" })">Ingredient Groups</a></li>
                        <li class="@Html.IsSelected(action: "ManageHotelRestaurants") "><a href="@Url.Action("ManageHotelRestaurants", "Admin", new { area = "admin" })">Hotel-Restaurants</a></li>
                        <li class="@Html.IsSelected(action: "ManageServices") disabled"><a href="@Url.Action("ManageServices", "Admin", new { area = "admin" })">Services</a></li>
                        <li class="@Html.IsSelected(action: "ManageMeasurementUnit")"><a href="@Url.Action("ManageMeasurementUnit", "Admin", new { area = "admin" })">Measurement Units</a></li>
                        <li class="@Html.IsSelected(action: "ManageCuisines")"><a href="@Url.Action("ManageCuisines", "Admin", new { area = "admin" })">Manage Cuisines</a></li>
                        <li class="@Html.IsSelected(action: "ManageNutrition")"><a href="@Url.Action("ManageNutrition", "Admin", new { area = "admin" })">Manage Nutritions</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Admin")">
                    <a href="#"><span class="nav-label">Reports</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "OrdersHistory")"><a href="@Url.Action("OrdersHistory", "Admin", new { area = "admin" })">Orders History</a></li>
                        <li class="@Html.IsSelected(action: "Financial")"><a href="@Url.Action("Financial", "Admin", new { area = "admin" })">Financial</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Admin")">
                    <a href="#"><span class="nav-label">Authorized Access</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "AuthorizedUsers")"><a href="@Url.Action("AuthorizedUsers", "Admin", new { area = "admin" })"><span class="label label-success pull-right">Start</span>Authorized Users </a>  </li>
                        <li class="@Html.IsSelected(action: "ManageDeletedCustomer")"><a href="@Url.Action("ManageDeletedCustomer", "Admin", new { area = "admin" })"><span class="label label-success pull-right">Start</span>All Deleted Users </a>  </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>

    <!-- Main view  -->
    <div id="wrapper">
        <div class="normalheader ">
            <div class="hpanel">
                <div class="panel-body">
                    <a class="small-header-action" href="">
                        <div class="clip-header">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                    </a>

                    @if (IsSectionDefined("PageTitle"))
                    {
                        @RenderSection("PageTitle", required: false)
                    }
                    else
                    {
                        <h2 class="font-light m-b-xs">
                            Title
                        </h2>
                        <small>short description here..</small>
                    }
                </div>
            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <!-- Right Sidebar -->
        @Html.Partial("_Right_Sidebar")

        <!-- Footer-->
        @Html.Partial("_Footer")
    </div>

    <!-- Section for main scripts render -->
    @*@Scripts.Render("~/bundles/jquery/js")
        @Scripts.Render("~/bundles/jqueryui/js")*@
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/homer/js")
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datetimepicker/js")
    @*@Scripts.Render("~/bundles/jqueryValidation")*@
    @Scripts.Render("~/bundles/sweetAlert/js")

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>