﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel</title>


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Primary vendor style -->
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/datatables/css")
    @Styles.Render("~/bundles/datatablesBootstrap/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/datetimepicker/css")
    @Styles.Render("~/bundles/jqueryui/css")
    @Styles.Render("~/bundles/sweetAlert/css")
    @Styles.Render("~/bundles/fullCalendar/css")


    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/jqueryui/js")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOMER style -->
    @Styles.Render("~/bundles/homer/css")

</head>
<body class="@Html.PageClass()">
    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Homer - Responsive Admin Theme</h1><p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header">
        @Html.Partial("_Header")
    </div>

    <!-- Navigation -->
    <aside id="menu">

        <div id="navigation">
            <div class="profile-picture">
                @{
                    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                    if (claimsIdentity != null)
                    {
                        var claim = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.GivenName);

                        if (claim != null)
                        {
                            <span>Hi</span> <strong>@claim.Value.ToString()</strong>
                        }
                    }
                }
                <a href="@Url.Action("Index", "Dashboard")">
                    <img src="~/Content/Images/youordrLogo.png" height="40" class="m-b" alt="logo">
                </a>

                <div class="stats-label text-color">
                    @*<span class="font-extra-bold font-uppercase">Hotel Name</span>*@
                    @if (Session["HotelName"] != null)
                    {
                        <h5 class="font-uppercase" style="font-family:'Bookman Old Style'">@Session["HotelName"]</h5>
                    }

                    @*<div class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <small class="text-muted">Manage <b class="caret"></b></small>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="analytics.html">Analytics</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("signout","Account")">Logout</a></li>
                            </ul>
                        </div>
                        <div id="sparkline1" class="small-chart m-t-sm"></div>
                        <div>
                            <h4 class="font-extra-bold m-b-xs">
                                $260 104,200
                            </h4>
                            <small class="text-muted">Your income from the last year in sales product X.</small>
                        </div>*@
                </div>
            </div>

            <ul class="nav metismenu" id="side-menu">
                @if ((Session["IsAdmin"] != null && Session["IsAdmin"].ToString() == "true") || (Session["IsChainAdmin"] != null && Session["IsChainAdmin"].ToString() == "true"))
                {

                    <li class="@Html.IsSelected(controller: "Customers") bg-warning">
                        <a href="@Url.Action("ManageHotels", "Admin", new { area = "admin" })"> <span class="nav-label">Manage Hotels</span>  </a>
                    </li>

                }
                <li class="@Html.IsSelected(action: "Dashboard")">
                    <a href="@Url.Action("Dashboard", "Hotel", new { area = "admin" })"> <span class="nav-label">Dashboard</span> <span class="label label-success pull-right">v.1</span> </a>
                </li>

                <li class="@Html.IsSelected(controller: "Hotel")">
                    <a href="#"><span class="nav-label">Activity</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "GetAllRecentOrders") disabled"><a href="@Url.Action("GetAllRecentOrders", "Hotel", new { area = "admin" })">All Recent Orders</a></li>
                        <li class="@Html.IsSelected(action: "GetAllHotelRoomBookings")"><a href="@Url.Action("GetAllHotelRoomBookings", "Hotel", new { area = "admin" })">All Recent Room Bookings</a></li>
                        <li class="@Html.IsSelected(action: "GetHotelReviews")"><a href="@Url.Action("GetHotelReviews", "Hotel", new { area = "admin" })">All Reviews</a></li>
                        <li class="@Html.IsSelected(action: "GetHotelServicesReviews")"><a href="@Url.Action("GetHotelServicesReviews", "Hotel", new { area = "admin" })">Service Reviews</a></li>
                    </ul>
                </li>
                @{
                    Html.RenderAction("GetHotelActiveServices", "Hotel", new { area = "admin" });
                 }

                <li class="@Html.IsSelected(controller: "Reports")">
                    <a href="#"><span class="nav-label">Reports</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "RoomBookingHistory") disabled"><a href="@Url.Action("RoomBookingHistory", "Hotel", new { area = "admin" })">Room Booking History</a></li>
                        <li class="@Html.IsSelected(action: "LaundryOrderHistory")"><a href="@Url.Action("LaundryOrderHistory", "HotelLaundry", new { area = "admin" })">Laundry Orders History</a></li>
                        <li class="@Html.IsSelected(action: "HousekeepingOrderHistory")"><a href="@Url.Action("HousekeepingOrderHistory", "HotelHousekeeping", new { area = "admin" })">Housekeeping Orders History</a></li>
                        <li class="@Html.IsSelected(action: "SpaOrdersHistory")"><a href="@Url.Action("SpaOrdersHistory", "HotelSpaService", new { area = "admin" })">Spa Orders History</a></li>
                        <li class="@Html.IsSelected(action: "ExcursionOrdersHistory")"><a href="@Url.Action("ExcursionOrdersHistory", "HotelExcursion", new { area = "admin" })">Excursion Orders History</a></li>
                        <li class="@Html.IsSelected(action: "TripOrdersHistory") disabled"><a href="@Url.Action("TripOrdersHistory", "HotelTrip", new { area = "admin" })">Trip Orders History</a></li>
                        <li class="@Html.IsSelected(action: "Financial") disabled"><a href="@Url.Action("Financial", "Restaurant", new { area = "admin" })">Financial</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Hotel")">
                    <a href="#"><span class="nav-label">Authorized Access</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "AuthorizedUsers") "><a href="@Url.Action("AuthorizedUsers", "Hotel", new {area = "admin" })"><span class="label label-success pull-right">Start</span>Authorized Users </a>  </li>
                    </ul>
                </li>

            </ul>
        </div>


    </aside>

    <!-- Main view  -->
    <div id="wrapper">




        <div class="normalheader ">
            <div class="hpanel">
                <div class="panel-body">
                    <a class="small-header-action" href="">
                        <div class="clip-header">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                    </a>

                    @if (IsSectionDefined("PageTitle"))
                    {
                        @RenderSection("PageTitle", required: false)
                    }
                    else
                    {

                        <h2 class="font-light m-b-xs">
                            Title
                        </h2>
                        <small>short description here..</small>
                    }
                </div>
            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <!-- Right Sidebar -->
        @Html.Partial("_Right_Sidebar")

        <!-- Footer-->
        @Html.Partial("_Footer")
    </div>

    <!-- Section for main scripts render -->
    @*@Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/jqueryui/js")*@
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/homer/js")
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datetimepicker/js")
    @Scripts.Render("~/bundles/jqueryValidation")
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/fullCalendar/js")

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>