﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Restaurant Receptionist</title>


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Primary vendor style -->
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/fooTable/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/jqueryui/css")
    @Styles.Render("~/bundles/datatables/css")
    @Styles.Render("~/bundles/datatablesBootstrap/css")
    @Styles.Render("~/bundles/sweetAlert/css")
    
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/jqueryui/js")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOMER style -->
    @Styles.Render("~/bundles/homer/css")

</head>
<body class="@Html.PageClass()">
    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Homer - Responsive Admin Theme</h1><p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header">
        @Html.Partial("_Header")
    </div>

    <!-- Navigation -->
    <aside id="menu">

        <div id="navigation">
            <div class="profile-picture">
                @{
                    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                    if (claimsIdentity != null)
                    {
                        var claim = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.GivenName);

                        if (claim != null)
                        {
                            <span>Hi</span> <strong>@claim.Value.ToString()</strong>
                        }
                    }
                }
                <a href="@Url.Action("Index", "Dashboard")">
                    <img src="~/Content/Images/youordrLogo.png" height="40" class="m-b" alt="logo">
                </a>
                <div class="stats-label text-color">
                    @if (Session["RestaurantName"] != null)
                    {
                        <h5 class="font-uppercase" style="font-family:'Bookman Old Style'">@Session["RestaurantName"]</h5>
                    }
                    @* <div class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <small class="text-muted">Manage <b class="caret"></b></small>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="analytics.html">Analytics</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("signout","Account")">Logout</a></li>
                            </ul>
                        </div>
                        <div id="sparkline1" class="small-chart m-t-sm"></div>
                        <div>
                            <h4 class="font-extra-bold m-b-xs">
                                $260 104,200
                            </h4>
                            <small class="text-muted">Your income from the last year in sales product X.</small>
                        </div>
                    *@
                </div>
            </div>
            <ul class="nav metismenu" id="side-menu">
                <li class="@Html.IsSelected(action: "Dashboard")">
                    <a href="@Url.Action("ReceptionDashboard", "Restaurant", new { area = "admin" })"> <span class="nav-label">Dashboard</span> <span class="label label-success pull-right">v.1</span> </a>
                </li>


                <li class="@Html.IsSelected(controller: "Customers")">
                    <a href="#"><span class="nav-label">My Account</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "AccountDetails")"><a href="@Url.Action("Edit", "Customers",new { area = "" })">Account Details</a></li>
                        <li class="@Html.IsSelected(action: "ChangePassword")"><a href="@Url.Action("ChangePassword", "Customers", new { area = "" })">Change Password</a></li>
                    </ul>
                </li>

                <li class="@Html.IsSelected(controller: "Restaurant")">
                    <a href="#"><span class="nav-label">Activity</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "RestaurantRecentOrders")"><a href="@Url.Action("RestaurantRecentOrders", "Restaurant", new { area = "admin" })">All Recent Orders</a></li>
                        <li class="@Html.IsSelected(controller: "Restaurant")">
                            <a href="#"><span class="nav-label">All Reviews</span><span class="fa arrow"></span> </a>
                            <ul class="nav nav-third-level">
                                <li class="@Html.IsSelected(action: "RestaurantReviews")"><a href="@Url.Action("RestaurantReviews", "Restaurant", new { area = "admin" })">Restaurant Reviews</a></li>
                                <li class="@Html.IsSelected(action: "RestaurantOrderReviews")"><a href="@Url.Action("RestaurantOrderReviews", "Restaurant", new { area = "admin" })">Order Reviews</a></li>
                                <li class="@Html.IsSelected(action: "RestaurantMenuItemReviews")"><a href="@Url.Action("RestaurantMenuItemReviews", "Restaurant", new { area = "admin" })">Menu Item Reviews</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Restaurant")">
                    <a href="#"><span class="nav-label">Administration</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "RestaurantOrdersQueue")"><a href="@Url.Action("RestaurantOrdersQueue", "Restaurant", new { area = "admin" })">Orders Queue</a></li>
                        <li class="@Html.IsSelected(action: "RestaurantOrderHistory")"><a href="@Url.Action("RestaurantOrderHistory", "Restaurant", new { area = "admin" })">Orders History</a></li>
                        <li class="@Html.IsSelected(action: "Reviews") disabled"><a href="@Url.Action("Reviews", "Restaurant", new { area = "admin" })">Manage Reviews</a></li>
                        <li class="@Html.IsSelected(action: "ManageMenu")"><a href="@Url.Action("ManageMenu", "Restaurant", new { area = "admin" })">Manage Menu</a></li>        
                        <li class="@Html.IsSelected(action: "ManageRestaurantTableGroups")"><a href="@Url.Action("ManageRestaurantTableGroups", "Restaurant", new { area = "admin" })">Manage Table Groups</a></li>
                    </ul>
                </li>

            </ul>
        </div>


    </aside>

    <!-- Main view  -->
    <div id="wrapper">
        <div class="normalheader ">
            <div class="hpanel">
                <div class="panel-body">
                    <a class="small-header-action" href="">
                        <div class="clip-header">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                    </a>

                    @if (IsSectionDefined("PageTitle"))
                    {
                        @RenderSection("PageTitle", required: false)
                    }
                    else
                    {

                        <h2 class="font-light m-b-xs">
                            Title
                        </h2>
                        <small>short description here..</small>
                    }
                </div>
            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <!-- Right Sidebar -->
        @Html.Partial("_Right_Sidebar")

        <!-- Footer-->
        @Html.Partial("_Footer")
    </div>

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/homer/js")
    @Scripts.Render("~/bundles/fooTable/js")
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @*@Scripts.Render("~/bundles/jqueryValidation")*@
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/sweetAlert/js")

    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/datepicker/js")
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>