﻿@model ToOrdr.Web.ViewModels.ForgotPassword
@{
    ViewBag.Title = "ForgotPassword";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="signInContainer">
                <h2><strong>@Resources.ResetPassword</strong></h2>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Email)
                <div class=" form-group">
                    <div class="col-md-offset-1 ">@Resources.PasswordResetLink.</div>
                </div>
                <div class="form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="container">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-1" })

                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <input type="submit" value="@Resources.ResetPassword" class="btn btn-default btn-success" />
                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>
    </div>
</div>
