﻿@model ToOrdr.Web.ViewModels.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <hr />

            <div class="signInContainer">
                <h2><strong>Reset Your Password</strong></h2>
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-2" })
               </div>
                    @Html.HiddenFor(model => model.Email)
                    <div style="font-family:Calibri" class="container form-group ">
                        @Model.Email.<br />

                    </div>
                    <div class="form-horizontal">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <input type="submit" value="Reset" class="btn btn-default btn-success" />
                                </div>
                            </div>
                        }

                    </div>
                </div>

        </div>
    </div>
</div>

