﻿@model ToOrdr.Web.ViewModels.CustomerSignInVM

    @{
        Layout = "~/Views/Shared/_Layout_Blank.cshtml";
        ViewBag.Title = "SignIn";
    }

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">

                <div class="text-center m-b-md">
                    <img src="~/Content/Images/youordrLogo.png" />
                    <h3>Login to your account</h3>

                </div>

                <br />

                <div class="hpanel">
                    <div class="panel-body">


                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="help-block small">Your unique username to app</span>

                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="help-block small">Your strong password</span>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" class="i-checks" checked>
                                Remember login
                                <p class="help-block small">(if this is a private computer)</p>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                            <a class="btn btn-default btn-block" href="#">Register</a>
                        }


                        @using (Html.BeginForm("ExternalLogin", "Account", new { returnUrl = Url.Content("~/") }))
                        {
                            @Html.AntiForgeryToken()
                            <div id="socialLoginList">
                                <p>

                                    <button type="submit" class="btn btn-default" id="btn-facebook" name="provider" value="Facebook" title="Log in using your facebook account">facebook</button>

                                </p>
                            </div>
                        }

                        @using (Html.BeginForm("ExternalLogin", "Account", new { returnUrl = Url.Content("~/") }))
                        {
                            @Html.AntiForgeryToken()
                            <div id="socialLoginList2">
                                <p>

                                    <button type="submit" class="btn btn-default" id="btn-google" name="provider" value="Google" title="Log in using your google account">google</button>

                                </p>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
