﻿@{
    ViewBag.Title = "VerifiedPassword";
}

<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-offset-2">
            <div class="signInContainer">
                <div class="form-horizontal">
                    <h4 class="text-success">Password set successfully</h4>
                    <div class="form-group">
                        <div class="col-md-10 pull-right">
                            @Html.ActionLink("signin", "SignIn", null, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
