@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using ToOrdr.Api.Areas.HelpPage
@using ToOrdr.Api.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ? 
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) : 
        null;
}



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="@Model.Key.ControllerName">@Model.Key.ControllerName</h3>
    </div>
    <div class="panel-body">
        @if (!String.IsNullOrEmpty(controllerDocumentation))
        {

            <p>@controllerDocumentation</p>
        }
        <table class="help-page-table">
            <thead>
                <tr><th>API</th><th>Description</th></tr>
            </thead>
            <tbody>
                @foreach (var api in Model)
                {
                    <tr>
                        <td class="api-name"><a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@api.HttpMethod.Method @api.RelativePath</a></td>
                        <td class="api-documentation">
                            @if (api.Documentation != null)
                            {
                                <p>@api.Documentation</p>
                            }
                            else
                            {
                                <p>No documentation available.</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

