﻿
@model IEnumerable<ToOrdr.Core.Entities.LaundryBookingDetail>
@Styles.Render("~/bundles/fooTable/css")
<div class="container">
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Laundry Booking Details
        </div>
        <div class="panel-body">
            <input type="text" class="form-control input-sm m-b-md" id="bookingDetails" placeholder="Search in table">
            <table id="laundryBookingdetails" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#bookingDetails>
                <thead>
                    <tr>
                        <th class="col-md-1">Sr.No.</th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-5">Customer Description</th>
                        <th class="col-md-1">Qty</th>
                        <th class="col-md-1">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var cnt = 1;
                        foreach (var booking in Model)
                        {
                            <tr>
                                <td>@cnt</td>
                                <td>@Html.DisplayFor(item => booking.LaundryDetail.Name)</td>
                                <td>@Html.DisplayFor(item => booking.Description)</td>
                                <td>@Html.DisplayFor(item => booking.Quantity)</td>
                                <td>@Html.DisplayFor(item => booking.Amount)</td>
                            </tr>
                            cnt = cnt + 1;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#laundryBookingdetails').footable();
</script>