﻿@model IEnumerable<ToOrdr.Core.Entities.LaundryOrderItems>

@Styles.Render("~/bundles/toggleButton/css")
@Styles.Render("~/bundles/fooTable/css")
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Order Item Details
            </div>
            <div class="panel-body">
                <table id="orderItemDetails_@Model.FirstOrDefault().LaundryOrderId" class="table table-hover footable table-stripped toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>@Html.DisplayName("Item Name")</th>
                            <th>@Html.DisplayName("Quantity")</th>
                            <th>@Html.DisplayName("Price")</th>
                            <th>@Html.DisplayName("ItemTotal")</th>
                            <th>Schedule Date</th>
                            <th>Delivery Status</th>
                            <th data-hide="all"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var cnt = 1;
                            foreach (var orderItem in Model)
                            {
                                <tr>
                                    <td>@cnt</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.LaundryDetail.Garments.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.Quantity)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.LaundryDetail.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.Total)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.ScheduledDate)</td>
                                    <td>

                                        @if (ViewBag.OrdrHistory == 1)
                                        {
                                            <label class="switch disabled">
                                                @Html.CheckBoxFor(modelItem => orderItem.LaundryDetailOrderStatus, new { @class = "checkSelectedToggle", Name = orderItem.Id })
                                                <div class="slider round"></div>
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="switch">
                                                @Html.CheckBoxFor(modelItem => orderItem.LaundryDetailOrderStatus, new { @class = "checkSelectedToggle", Name = orderItem.Id })
                                                <div class="slider round"></div>
                                            </label>
                                        }
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <table class="table table-hover table-bordered table-stripped ">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="6"><center>Item additional Details</center></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Sr.No</th>
                                                            <th>@Html.DisplayName("ItemName")</th>
                                                            <th>@Html.DisplayName("Element")</th>
                                                            <th>@Html.DisplayName("Qty")</th>
                                                            <th>@Html.DisplayName("Cost")</th>
                                                            <th>@Html.DisplayName("Total")</th>
                                                        </tr>
                                                    </thead>
                                                    @{
                                                        var count1 = 1;

                                                        foreach (var itemAdditional in orderItem.LaundryOrderItemsAdditional)
                                                        {
                                                    <tr>
                                                        <td class="col-md-1">@count1</td>
                                                        <td class="col-md-5">@Html.DisplayFor(modelItem => itemAdditional.LaundryOrderItems.LaundryDetail.Garments.Name)</td>
                                                        <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.LaundryAdditionalElement.Name)</td>
                                                        <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.Qty)</td>
                                                        <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.LaundryAdditionalElement.Price)</td>
                                                        <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.Total)</td>
                                                    </tr>
                                                            count1 = count1 + 1;
                                                        }
                                                    }

                                                </table>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <table class="table table-hover table-bordered table-stripped ">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2"><center>Item Images</center></th>
                                                            </tr>
                                                            <tr>
                                                                <th>Sr.No</th>
                                                                <th>@Html.DisplayName("Images")</th>
                                                            </tr>
                                                        </thead>
                                                        @{
                                                            var count11 = 1;

                                                            foreach (var itemImages in orderItem.LaundryOrderItemImages)
                                                            {
                                                                <tr>
                                                                    <td class="col-md-1">@count11</td>
                                                                    <td class="col-md-5">
                                                                        @{
                                                                            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                                                                            var itemImage = ToOrdr.Core.Helpers.ImageHelper.GetOrderItemImagePath(ToOrdr.Core.Helpers.ImagePathFor.LaundryOrderItemImages, orderItem.LaundryOrder.CustomerId, orderItem.LaundryOrder.RoomId, orderItem.LaundryDetailId, itemImages.Image, api_path);
                                                                        }
                                                                        <img src="@Url.Content(itemImage)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                                                    </td>
                                                                </tr>
                                                                count11 = count11 + 1;
                                                            }
                                                        }
                                                    </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                                cnt = cnt + 1;
                            }
                        }
                    </tbody>
                    <tfoot style="display:none;">
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>



    </div>
</div>

@Scripts.Render("~/bundles/fooTable/js")

<script>
    $(function () {
        $('#orderItemDetails_@Model.FirstOrDefault().LaundryOrderId').footable();
        $("#orderItemDetails_@Model.FirstOrDefault().LaundryOrderId .checkSelectedToggle").change(function () {
            var btn = $(this);

            $.ajax({
                url: "/Admin/HotelLaundry/UpdateLaundryOrderItemDeliverStatus/" + btn.attr("name"),
                method: "POST",
                success: function () {
                },
            });

        });
    });
</script>