﻿@model ToOrdr.Core.Entities.LaundryAdditionalGroup
@using ToOrdr.Localization
@{
    ViewBag.Title = "AddEditLaundryAdditionalGroup";
    if (Session["IsHotelLaundryAdmin"] != null && Session["IsHotelLaundryAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelLaundryAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Additional Group
    </h2>
    <small>Add/Edit spa additional group</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveLaundryAdditionalGroup", "HotelLaundry"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model=>model.HotelId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (Model.Id == 0)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.MinSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.MinSelected, new { htmlAttributes = new { @class = "form-control", Value = "0",min="0", max="1"} })
                            @Html.ValidationMessageFor(model => model.MinSelected, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaxSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.MaxSelected, new { htmlAttributes = new { @class = "form-control",Value="0", min = "0" } })
                            @Html.ValidationMessageFor(model => model.MaxSelected, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.MinSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.MinSelected, new { htmlAttributes = new { @class = "form-control", min = "0", max = "1" } })
                            @Html.ValidationMessageFor(model => model.MinSelected, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaxSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.MaxSelected, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                            @Html.ValidationMessageFor(model => model.MaxSelected, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageLaundryAdditionalGroup", "HotelLaundry", new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script>
    $(document).on('input propertychange paste', '#MinSelected', function () {
        if($('#MinSelected').val()==1)
        {
            $('#MaxSelected').val(1);
        }
        else {
            $('#MaxSelected').val(0);
        }
    });
    $(document).on('input propertychange paste', '#MaxSelected', function () {

        if ($('#MaxSelected').val() == 1) {
            $('#MinSelected').val(1);
        }
        else
        {
            $('#MinSelected').val(0);
        }
    });
</script>
