﻿﻿@model ToOrdr.Core.Entities.Laundry
@{
    ViewBag.Title = "AddLaundryService";
    if (Session["IsHotelLaundryAdmin"] != null && Session["IsHotelLaundryAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelLaundryAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Laundry Service
    </h2>
    <small>Add/Edit laundry service</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Laundry Service
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Save", "HotelLaundry", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                @{
                    var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                    var laundryImg = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.LaundryService, Model.Image, Model.Id, api_path);
                }

                <div class="form-group">
                    <label class="control-label col-md-2">Preview</label>
                    <div class="col-md-1">
                        <img id="laundry_img" class="image-preview-size" src="@Url.Content(laundryImg)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.HiddenFor(model => model.Image)
                    <div class="col-sm-5">
                        <input type="file" name="uploadFile" id="uploadFile" class="form-control" onchange="show(this)" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.HotelServiceId)
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button type="button" id="hotel_laundry" class="btn btn-primary">Cancel</button>
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
<script>
    $(document).ready(function () {
        $("#hotel_laundry").on("click", function () {
            var hotelServiceId = $("#HotelServiceId").val();
            window.location.href = '/Admin/HotelLaundry/ManageLaundry/' + hotelServiceId;
        });
    });

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#laundry_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>


