﻿@model ToOrdr.Core.Entities.LaundryDetailAdditional
@{
    ViewBag.Title = "AddLaundryDetailAdditional";
    if (Session["IsHotelLaundryAdmin"] != null && Session["IsHotelLaundryAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelLaundryAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Add Laundry Additional Groups
    </h2>
    <small> Add Laundry Additional Groups</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveLaundryDetAdditional", "HotelLaundry", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.LaundryDetailId)
                <div class="form-group">
                    @Html.Label("Additional Group", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("LaundryAdditionalGroupId", (MultiSelectList)ViewBag.LaundryAdditionalGroups, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("LaundryAdditionalGroupId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageLaundryDetailAdditional", "HotelLaundry", new { area = "Admin", id = Model.LaundryDetailId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>