﻿﻿@model ToOrdr.Core.Entities.LaundryDetail
@{
    ViewBag.Title = "CreateModifyLaundryDetails";
    if (Session["IsHotelLaundryAdmin"] != null && Session["IsHotelLaundryAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelLaundryAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Laundry Details
    </h2>
    <small>Add/Edit laundry details</small>
}
<div class="hpanel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Laundry Details
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SaveLaundryDetails", "HotelLaundry", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.LaundryId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Garments.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-5">
                        @if (Model.Id == 0)
                        {
                            @Html.DropDownListFor(model => model.GarmentId, new SelectList(ViewBag.Garments, "Id", "Name"), "-Select Garment-", htmlAttributes: new { @class = "form-control" })
                        }
                        else
                        { 
                            @Html.HiddenFor(model => model.GarmentId)
                            @Html.EditorFor(model => model.Garments.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        }
                        @Html.ValidationMessageFor(model => model.GarmentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-5">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                @{
                var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                var laundryDetImg = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.LaundryDetails, Model.Image, Model.LaundryId, api_path,Model.Id);
                }

                <div class="form-group">
                    <label class="control-label col-md-2">Preview</label>
                    <div class="col-md-1">
                        <img id="laundryDetailsimg" class="image-preview-size" src="@Url.Content(laundryDetImg)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.HiddenFor(model => model.Image)
                    <div class="col-sm-5">
                        <input type="file" name="uploadFile" id="uploadFile" class="form-control" onchange="show(this)" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>              
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        @Html.ActionLink("Cancel", "ManageLaundryDetails", "HotelLaundry", new { Laundry_ID = @Model.LaundryId }, new { @class = "btn btn-primary" })
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </div>
                </div>
                }
            </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
<script>

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#laundryDetailsimg').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>





