﻿
@{
    ViewBag.Title = "LaundryReviews";
    if (Session["IsHotelLaundryAdmin"] != null && Session["IsHotelLaundryAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelLaundryAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Laundry Reviews
    </h2>
    <small>List of laundry reviews </small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Laundry Reviews
    </div>
    <div class="panel-body">
        <table id="laundry_Reviews" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Laundry Name</th>
                    <th>Customer Name</th>
                    <th>Reviews</th>
                    <th>Comment</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
       var t= $("#laundry_Reviews").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelLaundry/LoadLaundryReviews",
                "type": "POST",
                "datatype": "json"
            },
            
            "columns": [
                    { "data": "LaundryReviewId", "name": "LaundryReviewId" },
                    { "data": "LaundryName", "name": "LaundryName", "autoWidth": true },
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "Score", "name": "Score", "autoWidth": true},
                    {
                        "data": "Comment", "name": "Comment", render: function (comment) {
                            return '<div class="td-allow-scroll">' + comment + '</div>';
                        }
                    }
            ],

       });
       t.on('draw.dt', function () {
           var PageInfo = $('#laundry_Reviews').DataTable().page.info();
           t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
               cell.innerHTML = i + 1 + PageInfo.start;
           });
       });
    });
</script>
