﻿@model IEnumerable<ToOrdr.Core.Entities.Hotel_Laundry_Booking_Details>
@{
    ViewBag.Title = "LaundryOrdersHistory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")
<style>
    .status-success {
        color: #62cb31;
    }
    .status-rejected {
        color: #ffb606;
    }
    .status-canceled {
        color: #e74c3c;
    }
</style>
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Laundry Orders History
    </h2>
    <small>List of Laundry Orders</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        Manage Laundry Booking
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="Laundry" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Booking ID</th>
                    <th>Customer Name</th>
                    <th>Service Name</th>
                    <th>@Html.DisplayNameFor(model => model.Hotel_Laundry_Booking.Laundry_Booking_DateTime)</th>
                    <th>Booking Status</th>
                    <th>Action</th>
                    <th data-hide="all"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var group in Model.GroupBy(item => item.Hotel_Laundry_Booking_ID))
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => group.First().Hotel_Laundry_Booking.Hotel_Laundry_Booking_ID)</td>
                            <td>@Html.DisplayFor(modelItem => group.First().Hotel_Laundry_Booking.Customer.Customer_ForeName) @Html.DisplayFor(modelItem => group.First().Hotel_Laundry_Booking.Customer.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => group.First().Hotel_Laundry_Details.Hotel_Laundry.Laundry_Name)</td>
                            <td>@Html.DisplayFor(modelItem => group.First().Hotel_Laundry_Booking.Laundry_Booking_DateTime)</td>
                            <td> 
                                @{
                                    if(group.First().Hotel_Laundry_Booking.Laundry_Status)
                                    {
                                        string strTest = "<b class='status-success'>Approved</b>";
                                        @Html.Raw(strTest);
                                    }
                                    else
                                    {
                                        string strTest = "<b class='status-rejected'>Rejected</b>";
                                        @Html.Raw(strTest);
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (!group.First().Hotel_Laundry_Booking.IsActive)
                                    {
                                        string strTest = "<b class='status-canceled'>Deleted</b>";
                                        @Html.Raw(strTest);
                                    }
                                }
                            </td>

                            <td>
                                <span class="pie"></span>
                                <table class="table table-bordered">
                                    <th colspan="5"><center>Per Item Cost and Details</center></th>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Laundry Item</th>
                                        <th>Description</th>
                                        <th>Laundry Item Rate</th>
                                        <th>Quantity</th>
                                    </tr>
                                    @{
                                        var counter = 1;
                                        double total_cost = 0;
                                        foreach (var details in group)
                                        {
                                            <tr>
                                                <td>@counter</td>
                                                <td>@details.Hotel_Laundry_Details.Laundry_Item</td>
                                                <td>@details.Description</td>
                                                <td>@details.Hotel_Laundry_Details.Laundry_Item_Rate</td>
                                                <td>@details.Quantity</td>
                                            </tr>
                                            total_cost += @details.Hotel_Laundry_Details.Laundry_Item_Rate * @details.Quantity;
                                            counter = counter + 1;
                                        }
                                       
                                    }
                                </table>
                                <b>Net Laundry Service Amount: @total_cost</b>
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")


<script>
    $('#Laundry').footable();

    $(document).ready(function () {
        $("#Laundry .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/HotelLaundry/DeleteLaundryBooking/",
                            data: { Hotel_Laundry_Booking_ID: btn.attr("data-laundry-booking-id") },
                            method: "POST",
                            success: function () {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Record has been deleted.", "success");
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>
