﻿@{
    ViewBag.Title = "LaundryQueue";
    if (Session["IsHotelLaundryAdmin"] != null && Session["IsHotelLaundryAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelLaundryAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Laundry Orders Queue
    </h2>
    <small>List of laundry orders queue </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Laundry Orders Queue
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="laundryOrdersQueue" class="table table-striped table-hover dataTable no-footer">
            <thead>
                <tr>
                    <th></th>
                    <th>Customer Name</th>
                    <th>Room Number</th>
                    <th>Booking Date</th>
                    <th>Amount</th>
                    <th>Payment Status</th>
                    <th>Change Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"] + "signalr/hubs")"></script>
    <script>
        function format(rowData) {
            var div = $('<div/>')
                .addClass('loading')
                .text('Loading...');

            $.ajax({
                url: '/Admin/HotelLaundry/LoadLaundryOrderItemDetails',
                data: {
                    laundryOrderId: rowData.LaundryOrderId
                },
                success: function (response) {
                    div
                        .html(response)
                        .removeClass('loading');
                },
                error: function () {
                    alert("Oops!....");
                }
            });

            return div;
        }

        $(function () {
            // Create a proxy to signalr hub on web server. It reference the hub.

            $.connection.hub.url = '@System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"]signalr/hubs"';
            var notificationFromHub = $.connection.orderHub;

            $.connection.hub.start().done(function () {
                FetchOrders();
            });

            // Notify to client with the recent updates
            notificationFromHub.client.updatedClients = function () {
                $('#laundryOrdersQueue').DataTable().ajax.reload();
            };
        });

        function FetchOrders() {
            var table = $("#laundryOrdersQueue").DataTable({
                "searching": false,
                "ordering": false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Admin/HotelLaundry/LoadLaundryOrders/",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                         {
                             className: 'details-control',
                             orderable: false,
                             data: null,
                             defaultContent: ''
                         },
                        { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                        { "data": "RoomNumber", "name": "RoomNumber", "autoWidth": true },
                        { "data": "BookingDate", "name": "BookingDate", "autoWidth": true },
                        { "data": "Amount", "name": "Amount", "autoWidth": true },
                        { "data": "PaymentStatus", "name": "PaymentStatus", "autoWidth": true },
                        {
                            "data": "LaundryOrderStatuses", "autoWidth": true, className: "status_ddl",
                            "render": function (data, type, row) {
                                var $select = $("<select></select>",
                                    {
                                        id: row.LaundryOrderId,
                                        name: row.LaundryOrderId
                                    });
                                $.each(data, function (k, v) {
                                    var $option = $("<option></option>",
                                    {
                                        text: v.Name,
                                        value: v.Id
                                    });
                                    if (row.OrderStatus == v.Name) {
                                        $option.attr("selected", "selected")
                                    }
                                    $select.append($option);
                                });
                                return $select.prop("outerHTML");
                            }
                        }

                ]

            });


            // Add event listener for opening and closing details
            $('#laundryOrdersQueue').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });


            $("#laundryOrdersQueue").on("change", ".status_ddl", function () {
                var btn = $(this);
                var LaundryOrderId = $(this).children('select').attr('id');
                var orderStatus = $('#' + LaundryOrderId).val();
                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, update!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: "/Admin/HotelLaundry/UpdateLaundryOrderStatus",
                                method: "POST",
                                data: { LaundryOrderId: LaundryOrderId, orderStatus: orderStatus },
                                success: function (response) {
                                    if (response.status) {
                                        if (response.rowRemoveStatus) {
                                            btn.parents("tr").remove();
                                        }
                                        swal("Updated!", response.message, "success");
                                        $('#laundryOrdersQueue').DataTable().ajax.reload();
                                    }
                                    else {
                                        swal("Cancelled!", response.message, "warning");
                                        $('#laundryOrdersQueue').DataTable().ajax.reload();
                                    }
                                },
                            });

                        } else {

                            swal("Cancelled", "Order status is not updated :)", "error");
                            $('#laundryOrdersQueue').DataTable().ajax.reload();
                        }
                    });
            });
        }

    </script>
}
