﻿
@{
    ViewBag.Title = "ManageLaundryAdditionalElements";
    if (Session["IsHotelLaundryAdmin"] != null && Session["IsHotelLaundryAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelLaundryAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Laundry Additional Elements
    </h2>
    <small>List of laundry additional elements </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageLaundryAdditionalGroup", "HotelLaundry", new { @class = "fa fa-2x fa-arrow-circle-left", })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddLaundryAdditionalElement", "HotelLaundry", new { area = "Admin", laundryAdditionalGroupId = ViewBag.LaundryAdditionalGroupId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageLaundryAddElement" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Element Name</th>
                    <th>Element Description</th>
                    <th>Price</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageLaundryAddElement").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelLaundry/LoadLaundryAdditionalElements/"+@ViewBag.LaundryAdditionalGroupId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "GroupName", "name": "GroupName", "autoWidth": true },
                    { "data": "ElementName", "name": "ElementName", "autoWidth": true },
                    { "data": "ElementDescription", "name": "ElementDescription", "autoWidth": true },
                    { "data": "Price", "name": "Price", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "LaundryAddElementId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelLaundry/EditLaundryAdditionalElement/' + data + '"> </a> <a data-laundry-add-element-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }

            ]

        });

        $("#manageLaundryAddElement").on("click", ".js-delete", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelLaundry/DeleteLaundryAdditionalElement/" + btn.attr("data-laundry-add-element-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Laundry additional element has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Laundry additional element is safe :)", "error");
                }
            });
    });
    });
</script>