﻿@model IEnumerable<ToOrdr.Core.Entities.LaundryDetail>
@{
    ViewBag.Title = "ManageLaundryDetails";
    if (Session["IsHotelLaundryAdmin"] != null && Session["IsHotelLaundryAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelLaundryAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage Laundry Details
    </h2>
    <small>List of Laundry Items.</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        @Html.ActionLink(" ", "ManageLaundry", "HotelLaundry", new { id = ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>

    <div class="panel-body">

        @Html.ActionLink("Create New", "CreateModifyLaundryDetails", "HotelLaundry", new { Laundry_ID = ViewBag.Laundry_ID }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="LaundryDetails" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter>
            <thead>
                <tr>
                    <th>SR.No</th>
                    <th>@Html.DisplayNameFor(model => model.Garments.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Image)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => item.Garments.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>

                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>
                                @{
                        var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                        var image = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.LaundryDetails, item.Image, item.LaundryId, api_path, item.Id);
                                }
                                <img src="@Url.Content(image)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                            <td>
                                @Html.ActionLink(" ", "EditLaundryDetails", "HotelLaundry", new { id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                                <a data-laundry-details-id="@item.Id" class="fa fa-2x fa-trash js-delete"></a>
                                @Html.ActionLink(" ", "ManageLaundryDetailAdditional", "HotelLaundry", new { id = item.Id }, new { @class = "fa fa-2x fa-list-alt" })
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#LaundryDetails").footable();
    $(document).ready(function () {
        $("#LaundryDetails .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/HotelLaundry/DeleteLaundryDetails/",
                            data: { LaundryDetailsID: btn.attr("data-laundry-details-id") },
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Record has been deleted.", "success");
                                } else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>


