﻿﻿@model IEnumerable<ToOrdr.Core.Entities.Laundry>
@{
    ViewBag.Title = "ManageLaundry";
    if (Session["IsHotelLaundryAdmin"] != null && Session["IsHotelLaundryAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelLaundryAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}
@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Laundry Services
    </h2>
    <small>List of Laundry Services.</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        Laundry Services
    </div>

    <div class="panel-body">
        @Html.ActionLink("Create New", "AddLaundryService", "HotelLaundry", new {hotelServiceId=ViewBag.HotelServiceId, Area="Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="manageLaundry" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Image)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                  var cnt=1;  
               foreach (var item in Model)
                {
                    <tr>
                        <td>@cnt</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>
                            @{
                    var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                    var image = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.LaundryService, item.Image, item.Id, api_path);
                            }
                            <img src="@Url.Content(image)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                        <td>
                            @Html.ActionLink(" ", "Edit", "HotelLaundry", new { id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                            <a data-laundry-id="@item.Id" class="fa fa-2x fa-trash js-deletes"></a>
                            @Html.ActionLink(" ", "ManageLaundryDetails", "HotelLaundry", new { Laundry_ID = item.Id }, new { @class = "fa fa-2x fa-list-alt" })
                        </td>
                    </tr>
                    cnt = cnt + 1;
                }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#manageLaundry").footable();
    $(document).ready(function () {
        $("#manageLaundry .js-deletes").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/HotelLaundry/DeleteLaundry/" + btn.attr("data-laundry-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Record has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }

                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>