﻿@*@model ToOrdr.Web.ViewModels.CustomerRoleVM*@
@model IEnumerable<ToOrdr.Core.Entities.CustomerRole>

@Styles.Render("~/bundles/sweetAlert/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Authorized Users
    </h2>
    <small>List of Authorized Users</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Authorized Restaurant Users
    </div>

    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filterR" placeholder="Search in table">
        <table id="user_table_rest" class="footable table table-bordered table-striped toggle-arrow-tiny user_table" data-page-size="10" data-filter=#filterR>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Name</th>
                    <th>Restaurant Name</th>
                    <th>Role</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var role in Model.Where(r => r.Restaurant != null))
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => role.Customer.FirstName)  @Html.DisplayFor(modelItem => role.Customer.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => role.Restaurant.Name)</td>
                            <td>@Html.DisplayFor(modelItem => role.Role.Name)</td>
                            @if (role.Customer.ActiveStatus == null) { role.Customer.ActiveStatus = false; }
                            <td>@Html.CheckBoxFor(modelItem => role.Customer.ActiveStatus.Value)</td>

                            <td>
                                @Html.ActionLink(" ", "UpdateCustomerRole", "Admin", new { id = role.Id }, new { @class = "fa fa-pencil-square-o fa-2x", area = "Admin" })
                                <a data-user-id="@role.Id" class="js-delete"><span class="fa fa-trash fa-2x"></span></a>
                            </td>
                        </tr>
                            cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Authorized Hotel Users
    </div>

    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filterH" placeholder="Search in table">
        <table id="user_table_hotel" class="footable table table-bordered table-striped toggle-arrow-tiny user_table" data-page-size="10" data-filter=#filterH>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Name</th>
                    <th>Hotel Name</th>
                    <th>Role</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt1 = 1;
                    foreach (var role in Model.Where(r => r.Hotel != null))
                    {
                        <tr>
                            <td>@cnt1</td>
                            <td>@Html.DisplayFor(modelItem => role.Customer.FirstName)  @Html.DisplayFor(modelItem => role.Customer.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => role.Hotel.Name)</td>
                            <td>@Html.DisplayFor(modelItem => role.Role.Name)</td>
                            @if (role.Customer.ActiveStatus == null) { role.Customer.ActiveStatus = false; }
                            <td>@Html.CheckBoxFor(modelItem => role.Customer.ActiveStatus.Value)</td>

                            <td>
                                @Html.ActionLink(" ", "UpdateCustomerRole", "Admin", new { id = role.Id }, new { @class = "fa fa-pencil-square-o fa-2x", area = "Admin" })
                                <a data-user-id="@role.Id" class="js-delete"><span class="fa fa-trash fa-2x"></span></a>
                            </td>
                        </tr>
                            cnt1 = cnt1 + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Authorized Chain Users
    </div>

    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filterC" placeholder="Search in table">
        <table id="user_table_chain" class="footable table table-bordered table-striped toggle-arrow-tiny user_table" data-page-size="10" data-filter=#filterC>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Active</th>
                    <th>Action</th>
                    <th data-hide="all"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt2 = 1;
                    foreach (var role in Model.Where(r => r.ChainTable != null))
                    {
                        <tr>
                            <td>@cnt2</td>
                            <td>@Html.DisplayFor(modelItem => role.Customer.FirstName)  @Html.DisplayFor(modelItem => role.Customer.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => role.Role.Name)</td>
                            @if (role.Customer.ActiveStatus == null) { role.Customer.ActiveStatus = false; }
                            <td>@Html.CheckBoxFor(modelItem => role.Customer.ActiveStatus.Value)</td>

                            <td>
                                @Html.ActionLink(" ", "UpdateCustomerRole", "Admin", new { id = role.Id }, new { @class = "fa fa-pencil-square-o fa-2x", area = "Admin" })
                                <a data-user-id="@role.Id" class="js-delete"><span class="fa fa-trash fa-2x"></span></a>
                            </td>
                            <td>
                                <div style="margin-left:100px;">
                                    <table class="table table-bordered">
                                        <th colspan="6"><center>Chain Details</center></th>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Active</th>
                                            <th>CreationDate</th>
                                        </tr>
                                        @{
                        if (role.ChainTable != null)
                        {
                            var counter = 1;
                            <tr>
                                <td>@counter</td>
                                <td>@role.ChainTable.ChainName </td>
                                <td>@role.ChainTable.Description</td>
                                <td>@role.ChainTable.IsActive</td>
                                <td>@role.ChainTable.CreationDate</td>
                            </tr>
                        }
                                        }
                                    </table>
                                </div>
                            </td>
                        </tr>
                        cnt2 = cnt2 + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#user_table_rest').footable();
    $('#user_table_hotel').footable();
    $('#user_table_chain').footable();
</script>
<script>
    $(document).ready(function () {
        $(".user_table .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/DeleteCustomerRole/" + btn.attr("data-user-id"),
                            method: "POST",
                            success: function () {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Record has been deleted.", "success");
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>
