﻿@model IEnumerable<ToOrdr.Core.Entities.ChainTable>

@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Chains
    </h2>
    <small>List of Chain</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Chains
    </div>

    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="chain_table" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>CreationDate</th>
                    <th>Action</th>
                    <th data-hide="all"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var chain in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => chain.ChainName)</td>
                            <td>@Html.DisplayFor(modelItem => chain.Description)</td>
                            @if (chain.IsActive == null) { chain.IsActive = false; }
                            <td>@Html.CheckBoxFor(modelItem => chain.IsActive, new { @class = "disabled" })</td>
                            <td>@Html.DisplayFor(modelItem => chain.CreationDate)</td>
                            <td>
                                @Html.ActionLink(" ", "EditChain", "Admin", new { chainId = chain.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                                <a data-chain-id="@chain.Id" class="js-delete fa fa-trash fa-2x"></a>
                            </td>

                            <td>
                                <div style="margin-left:100px;width:100%">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Restaurant Name</th>
                                        </tr>
                                        @{
                            var counter = 1;
                            foreach (var restaurant in chain.ChainDetailsTables.Select(c => c.Restaurant))
                            {
                                if (restaurant != null)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@restaurant.Name</td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }
                                        }

                                    </table>

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Hotel Name</th>
                                        </tr>
                                        @{
                            var counter1 = 1;
                            foreach (var hotel in chain.ChainDetailsTables.Select(c => c.Hotel))
                            {
                                if (hotel != null)
                                {
                                    <tr>
                                        <td>@counter1</td>
                                        <td>@hotel.Name</td>

                                    </tr>
                                    counter1 = counter1 + 1;
                                }
                            }
                                        }

                                    </table>
                                </div>
                            </td>

                        </tr>
                            cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#chain_table').footable();

    $("#chain_table .js-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Admin/DeleteChain/" + btn.attr("data-chain-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.status) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Chain has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Chain is safe :)", "error");
                }
            });
    });
</script>

