﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrdr.Core.Entities.RestaurantOrder>
@Styles.Render("~/bundles/fooTable/css")
<input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
<table data-limit-navigation="5" id="orders" class="footable table table-bordered table-striped toggle-arrow-tiny" data-filter=#filter>
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Customer Name</th>
            <th>Restaurant Name</th>
            <th>Date</th>
            <th>Order Amount</th>
            <th>Table No.</th>
            <th>Status</th>
            <th data-hide="all"></th>
        </tr>
    </thead>
    <tbody>
        @{
            var cnt = 1;
            foreach (var order in Model)
            {
                <tr>
                    <td>@cnt</td>
                    <td>@Html.DisplayFor(modelItem => order.Customer.FirstName) @Html.DisplayFor(modelItem => order.Customer.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => order.Restaurant.Name)</td>
                    @{
                        var orderDate = DateTime.Now;
                        if (order.ScheduledDate != null)
                        { orderDate = Convert.ToDateTime(order.ScheduledDate); }
                        else
                        { orderDate = order.CreationDate; }
                    }
                    <td>@orderDate</td>
                    <td>@Html.DisplayFor(modelItem => order.OrderTotal)</td>
                    <td>@Html.DisplayFor(modelItem => order.CustomerTableNumber)</td>
                    @{
                ToOrdr.Core.Entities.Status_Type status = (ToOrdr.Core.Entities.Status_Type)order.OrderStatus;
                    }
                    <td>@status.ToString()</td>
                    <td>
                        <div style="margin-left:100px;width:100%">
                            <span class="pie"></span>
                            <table class="table table-bordered">
                                <th colspan="6"><center>Order Details</center></th>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>ItemTotal</th>
                                    <th>AdditionalTotal</th>
                                </tr>
                                @{
                var counter = 1;
                foreach (var item in order.RestaurantOrderItems)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@item.RestaurantMenuItem.ItemName</td>
                        <td>@item.Qty</td>
                        <td>@item.RestaurantMenuItem.Price</td>
                        <td>@item.OrderItemTotal</td>
                        @{
                    double? additional_total = 0;
                    if (item.RestaurantOrderItemAdditionals.Count() >= 1)
                    {
                        additional_total = item.RestaurantOrderItemAdditionals.Sum(a => a.Total);
                    }
                        }
                        <td>@additional_total</td>
                    </tr>
                    counter = counter + 1;

                }
                                }
                            </table>
                        </div>
                    </td>

                </tr>
                cnt = cnt + 1;
            }
        }
    </tbody>
    <tfoot class="disabled" style="display:none;">
        <tr>
            <td colspan="7">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-right ">
    @{
        var flag = ViewBag.Flag;
        if (flag == 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("ChainAdminOrderOueue", new { searchText = ViewBag.SearchText, restaurantId = ViewBag.RestaurantId, page }))
        }
        else if (flag == 2)
        {
            @Html.PagedListPager(Model, page => Url.Action("ChainAdminOrderHistory", new { searchText = ViewBag.SearchText, fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate, minAmount = ViewBag.MinAmount, maxAmount = ViewBag.MaxAmount, restaurantId = ViewBag.RestaurantId, page }))
        }
        else
        {
            @Html.PagedListPager(Model, page => Url.Action("ChainRecentOrder", new { searchText = ViewBag.SearchText, fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate, minAmount = ViewBag.MinAmount, maxAmount = ViewBag.MaxAmount, restaurantId = ViewBag.RestaurantId, page }))
        }

    }
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#orders').footable();
</script>