﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrdr.Core.Entities.Customer>

@Styles.Render("~/bundles/fooTable/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Customers Details
    </h2>
    <small>List of customers</small>
}

        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table data-limit-navigation="5" id="customers" class="footable table table-striped " data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Creation Date</th>
                    <th>Profile Image</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var customer in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => customer.FirstName) @Html.DisplayFor(modelItem => customer.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => customer.Gender)</td>
                            <td>@{ var dob =Convert.ToDateTime(customer.BirthDate).ToString("dd/MM/yyyy");} @dob</td>
                            <td>@Html.DisplayFor(modelItem => customer.City)</td>
                            <td>@Html.DisplayFor(modelItem=>customer.Region)</td>
                            <td>@Html.DisplayFor(modelItem => customer.Country.Name)</td>
                            <td>@Html.DisplayFor(modelItem=>customer.Telephone)</td>
                            <td>@Html.DisplayFor(modelItem => customer.Email)</td>
                            <td>@{ var createdDate = Convert.ToDateTime(customer.CreationDate).ToString("dd/MM/yyyy");} @createdDate</td>
                            <td>
                                @{
                                    var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                                    var profile_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.ProfileImage, customer.ProfileImage, customer.Id, api_path);
                                }
                                <img src="@Url.Content(profile_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />

                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot class="disabled" style="display:none;">
                <tr>
                    <td colspan="7">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right ">
            @{
                @Html.PagedListPager(Model, page => Url.Action("CustomersPagination", new { Name = ViewBag.Name, ViewBag.Email,page }))
            }
        </div>

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")

<script>
    $('#customers').footable();
</script>






