﻿@model IEnumerable<ToOrdr.Core.Entities.IngredientFoodProfile>
@if (Model.Any())
{

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    Ingredient Food Profiles
                </div>
                <div class="panel-body">
                    <table id="ingredient_food_profile_@Model.FirstOrDefault().IngredientId" class="table table-hover footable table-stripped toggle-arrow-tiny" data-page-size="5">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>@Html.DisplayName("Food Profile Name")</th>
                                <th>@Html.DisplayName("Food Profile Description")</th>
                                <th>@Html.DisplayName("Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var cnt = 1;
                                foreach (var eachFoodProfile in Model)
                                {
                                            <tr>
                                                <td>@cnt</td>
                                                <td>@Html.DisplayFor(modelItem => eachFoodProfile.FoodProfile.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => eachFoodProfile.FoodProfile.Description)</td>
                                                <td><a data-ingredient-fp-id="@eachFoodProfile.Id" class="js-delete-fp fa fa-2x fa-trash"></a></td>
                                            </tr>
                                    cnt = cnt + 1;
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/fooTable/js")

    <script>
        $(function () {
            $('#ingredient_food_profile_@Model.FirstOrDefault().IngredientId').footable();

            $("#ingredient_food_profile_@Model.FirstOrDefault().IngredientId .js-delete-fp").on("click", function () {
                var btn = $(this);
                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: "/Admin/Admin/DeleteIngredientFoodProfile/" + btn.attr("data-ingredient-fp-id"),
                                method: "POST",
                                success: function (response) {
                                    if (response.status) {
                                        btn.closest("tr").remove();
                                        swal("Deleted!", "Ingredient food profile has been deleted.", "success");
                                    }
                                    else {
                                        swal("Cancelled!", response.error, "warning");
                                    }
                                },
                            });

                        } else {
                            swal("Cancelled", "Ingredient food profile is safe :)", "error");
                        }
                    });
            });
        });

    </script>
}
else
{
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <h3> Ingredient food profiles not found</h3>
                </div>
            </div>
        </div>
    </div>
}
