﻿@model IEnumerable<ToOrdr.Core.Entities.Restaurant>
@Styles.Render("~/bundles/fooTable/css")
    <div class="hpanel hblue">
        <div class="panel-heading hbuilt">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            Restaurant registered in last 7 days
            @{
                var msg=ViewBag.Message;
                if (!string.IsNullOrWhiteSpace(msg))
                {
                    <small>(@msg)</small>
                }

            }
            
        </div>
        <div class="panel-body">
            <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
            <table id="lastWeekRestRegistration" class="footable table table-stripped toggle-arrow-tiny" data-page-size="5" data-filter=#filter>
                <thead>
                    <tr>
                        <th data-toggle="true">Sr. No</th>
                        <th>Date</th>
                        <th>No. of Registrations</th>
                        <th data-hide="all"></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        var cnt = 1;
                        var restLastWeek = Model.GroupBy(r => r.CreationDate.Date)
                    .Select(
                       g => new
                       {
                           Key = g.Key,
                           Date = g.First().CreationDate,
                           TotalRegistraton = g.Count()
                       }).OrderByDescending(i => i.Date);
                        foreach (var day in restLastWeek)
                        {
                            <tr>
                                <td class="col-lg-2">@cnt</td>
                                <td class="col-lg-4">@day.Date.ToString("dd/MM/yyyy")</td>
                                <td class="col-lg-3">@Html.DisplayFor(modelItem => day.TotalRegistraton)</td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-offset-1 col-lg-11">

                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th colspan="5"><center>Restaurants Registrations Details</center></th>
                                                    </tr>
                                                    <tr>
                                                        <th>Sr.No</th>
                                                        <th>
                                                            @Html.DisplayName("Name")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Description")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Location")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Contacts")
                                                        </th>

                                                    </tr>
                                                </thead>
                                                @{
                                                    var counter = 1;
                                                    var LastWeekRestDetails = Model.Where(r => r.CreationDate.Date == day.Date.Date);
                                                    var count = 1;
                                                    foreach (var restaurant in LastWeekRestDetails)
                                                    {
                                                        <tr>
                                                            <td class="col-md-1">@counter</td>
                                                            <td class="col-md-3">
                                                                @Html.DisplayFor(modelItem => restaurant.Name)
                                                            </td>
                                                            <td class="col-md-3">
                                                                @Html.DisplayFor(modelItem => restaurant.Description)
                                                            </td>
                                                            <td class="col-md-2">
                                                                @Html.DisplayFor(modelItem => restaurant.City) @Html.DisplayFor(modelItem => restaurant.Region) @Html.DisplayFor(modelItem => restaurant.Country)
                                                            </td>
                                                            <td class="col-md-2">
                                                                @Html.DisplayFor(modelItem=>restaurant.Telephone)
                                                            </td>

                                                        </tr>
                                                        counter = counter + 1;
                                                    }
                                                }

                                            </table>
                                        </div>

                                    </div>

                                </td>
                            </tr>
                            cnt = cnt + 1;
                        }

                    }
                   
                    </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
                </table>

        </div>
    </div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#lastWeekRestRegistration").footable();
</script>