﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantReview>
@Styles.Render("~/bundles/fooTable/css")
<div class="hpanel hblue">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Reviews
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter_reviews" placeholder="Search in table">
        <table id="RestaurantReviews" class="footable table table-stripped toggle-arrow-tiny" data-page-size="5" data-filter=#filter_reviews>
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>

                @{
                    var cnt = 1;
                    var RestaurantGroup = Model.GroupBy(r => r.RestaurantId);
                    foreach (var restaurant in RestaurantGroup)
                    {
                        <tr>
                            <td class="col-lg-2">@cnt</td>

                            <td class="col-lg-4"> @Html.DisplayFor(modelItem => restaurant.First().Restaurant.Name) </td>

                            <td class="col-lg-3">
                                @{
                        double avg = restaurant.Average(r => r.Score);

                        //var review = avg.ToString("F2");
                                }
                                @*<div class="star-rating rating-xs rating-active small-star-rating">
                                        <div class="rating-container rating-gly-star" data-content="">
                                            <div class="rating-stars" data-content="" style="width: @review%"></div>
                                        </div>
                                    </div>*@
                                @avg.ToString("F2")
                            </td>

                        </tr>
                        cnt = cnt + 1;
                    }

                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#RestaurantReviews").footable();
</script>

