﻿
@model IEnumerable<ToOrdr.Core.Entities.HotelReview>
@Styles.Render("~/bundles/fooTable/css")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="hpanel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel-body">
                <h4 class="m-t-none m-b-none">Reviews by Hotel</h4>
            </div>
            @{
                var cnt = 1;
                var HotelGroup = Model.GroupBy(h=>h.HotelId);
                foreach (var hotel in HotelGroup)
                {
                    <div class="panel-body">
                        <div class="row">

                            <a data-toggle="collapse" data-parent="#accordion" href="#q_@cnt" aria-expanded="true" class="showhide_@cnt">
                                <div class="col-md-5">
                                    @Html.DisplayFor(modelItem => hotel.First().Hotel.Name)
                                </div>
                                <div class="col-md-5 text-right">
                                    @{
                                        double  avg = hotel.Average(r => r.Score);
                                       // var review = avg * 20;
                                    }
                                    @*<div class="star-rating rating-xs rating-active small-star-rating">
                                        <div class="rating-container rating-gly-star" data-content="">
                                            <div class="rating-stars" data-content="" style="width: @review%"></div>
                                        </div>
                                    </div>*@
                                    @avg.ToString("F2")
                                </div>
                                <div class="col-md-2">
                                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                                </div>
                            </a>

                        </div>

                        <div id="q_@cnt" class="panel-collapse collapse" aria-expanded="true" style="">
                            <div class="row">
                                <div class="col-md-offset-1 col-lg-10">
                                    <div class="hpanel">
                                        <div class="text-center">
                                            <b>All Customers Reviews</b>
                                        </div>
                                        <div class="panel-body">
                                            <input type="text" class="form-control input-sm m-b-md" id="filter_reviews_@cnt" placeholder="Search in table">
                                            <table id="each_hotel_review_@cnt" class="footable table table-stripped toggle-arrow-tiny" data-page-size="5" data-filter=#filter_reviews_@cnt>
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-1">Sr.No</th>
                                                        <th class="col-md-2">
                                                            @Html.DisplayName("Customer")
                                                        </th>
                                                        <th class="col-md-1">
                                                            @Html.DisplayName("Date-Time")
                                                        </th>
                                                        <th class="col-md-4">
                                                            @Html.DisplayName("Comment")
                                                        </th>
                                                        <th class="col-md-2">
                                                            @Html.DisplayName("Score")
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                    var counter = 1;
                    var EachHotelReviews = Model.Where(r => r.HotelId == hotel.Key);
                    foreach (var eachHotelReviews in EachHotelReviews)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>
                                @Html.DisplayFor(modelItem => eachHotelReviews.Customer.FirstName) @Html.DisplayFor(modelItem => eachHotelReviews.Customer.LastName)
                            </td>
                            <td>
                                @eachHotelReviews.CreationDate.ToString("dd/MM/yyyy")
                            </td>
                            <td class="text-justify">
                                @Html.DisplayFor(modelItem => eachHotelReviews.Comment)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => eachHotelReviews.Score)
                            </td>

                        </tr>
                        counter = counter + 1;
                    }
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $("#each_hotel_review_@cnt").footable();
                    </script>
                    cnt = cnt + 1;


                }
            }


        </div>
    </div>
</div>