﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantOrder>
@Styles.Render("~/bundles/fooTable/css")
<div class="hpanel hblue">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Today's business from restaurants
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter_todays_business" placeholder="Search in table">
        <table id="TodaysBusinessFromRestaurant" class="footable table table-stripped toggle-arrow-tiny" data-page-size="5" data-filter=#filter_todays_business>
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Hour of the Day</th>
                    <th>No. of Orders</th>
                    <th>Amount</th>

                </tr>
            </thead>
            <tbody>

                @{
                    var cnt = 1;
                    var hourlyOrders = Model.GroupBy(r => r.CreationDate.Hour)
                .Select(
                   g => new
                   {
                       Key = g.Key,
                       TotalOrders = g.Count(),
                       Amount = g.Sum(o => o.RestaurantOrderItems.Sum(i => i.RestaurantMenuItem.Price * i.Qty))
                   }).OrderByDescending(or => or.TotalOrders);
                    foreach (var order in hourlyOrders)
                    {
                        <tr>
                            <td class="col-lg-2">@cnt</td>
                            @{ var preHour = order.Key + 1; 
                            <td class="col-lg-4"> @Html.DisplayFor(modelItem => order.Key) - @preHour</td>
                            }
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => order.TotalOrders)</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => order.Amount)</td>

                        </tr>
                        cnt = cnt + 1;
                    }

                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#TodaysBusinessFromRestaurant").footable();
</script>
