﻿
@model IEnumerable<ToOrdr.Core.Entities.RestaurantOrder>
@Styles.Render("~/bundles/fooTable/css")
<div class="hpanel hblue">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Todays top performing restaurants
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter_top_rest" placeholder="Search in table">
        <table id="TodaysTopPerformingRestaurant" class="footable table table-stripped toggle-arrow-tiny" data-page-size="5" data-filter=#filter_top_rest>
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Name</th>
                    <th>No. of Orders</th>
                    <th>Amount</th>

                </tr>
            </thead>
            <tbody>

                @{
                    var cnt = 1;
                    var RestaurantGroup = Model.GroupBy(r => r.RestaurantId)
                .Select(
                   g => new
                   {
                       Key = g.Key,
                       Name = g.First().Restaurant.Name,
                       TotalOrders = g.Count(),
                       Amount = g.Sum(o => o.RestaurantOrderItems.Sum(i => i.RestaurantMenuItem.Price * i.Qty))
                   }).OrderByDescending(or => or.TotalOrders).Take(10);
                    foreach (var restaurant in RestaurantGroup)
                    {
                        <tr>
                            <td class="col-lg-2">@cnt</td>
                            <td class="col-lg-4">@Html.DisplayFor(modelItem => restaurant.Name)</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => restaurant.TotalOrders)</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => restaurant.Amount)</td>

                        </tr>
                        cnt = cnt + 1;
                    }

                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#TodaysTopPerformingRestaurant").footable();
</script>