﻿@model ToOrdr.Core.Entities.HotelRestaurant
@{
    ViewBag.Title = "AddHotelRestaurants";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Hotel Restaurants
    </h2>
    <small>Add/Edit hotel restaurants</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveHotelRestaurants", "Admin", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                <div class="section-title">
                    <span class="glyphicon glyphicon-cutlery"></span><span class="glyphicon-text-space"><label>Hotel Restaurants</label></span>
                </div><hr class="hr-top-margin" />

                <div class="form-group">
                    @Html.Label("Hotel", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("HotelId", (SelectList)ViewBag.hotel, new { @class = "form-control" })
                        @Html.ValidationMessage("HotelId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Restaurant", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("RestaurantId", (MultiSelectList)ViewBag.restaurant, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("RestaurantId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageHotelRestaurants", "Admin", new { @class = "btn btn-primary", area = "Admin" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/jqueryValidation")




