﻿@model ToOrdr.Core.Entities.Ingredient
@using ToOrdr.Localization;
@using System.Configuration
@{
    ViewBag.Title = "AddEditIngredient";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Ingredient Details
    </h2>
    <small>Add/Edit Ingredient details</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveIngredientDetails", "Admin", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.IngredientCategoryId)
                <div class="section-title">
                    <span class="glyphicon glyphicon-cutlery"></span><span class="glyphicon-text-space"><label>Ingredient Details</label></span>
                </div><hr class="hr-top-margin" />

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                @if (ViewBag.ShowFoodProfiles == true)
                {
                    <div class="form-group">
                        @Html.Label("Food Profiles", htmlAttributes: new { @class = "control-label  col-md-2 " })
                        <div class="col-md-5">
                            @Html.DropDownList("foodProfileId", (MultiSelectList)ViewBag.UnassignedFoodProfilesOfIngredient, new { @class = "form-control", @multiple = "multiple" })
                            @Html.ValidationMessage("foodProfileId", "", new { @class = "text-danger" })
                        </div>
                    </div>
                }

                @{
                    var api_path = ConfigurationManager.AppSettings["APIURL"];
                    var ingredientImage = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.IngredientImage, Model.IngredientImage, Model.Id, api_path);
                }
                <div class="form-group row">
                    <label class="control-label control-label-left-align col-md-1 col-md-offset-1 text-left">Preview</label>
                    <div class="col-sm-1">
                        <img id="ingredient_img" class="image-preview-size" src="@Url.Content(ingredientImage)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IngredientImage, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    @Html.HiddenFor(model => model.IngredientImage)
                    @Html.ValidationMessageFor(model => model.IngredientImage, "", new { @class = "text-danger" })
                    <div class="col-sm-5">
                        <input type="file" name="uploadIngredientImage" id="uploadIngredientImage" class="form-control" onchange="showIngredientImage(this)" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageIngredient", "Admin", new { ingredientCatId = Model.IngredientCategoryId }, new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/jqueryValidation")
<script>

    function showIngredientImage(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#ingredient_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>


