﻿@model ToOrdr.Core.Entities.IngredientNutritionValues
@using ToOrdr.Localization;
@{
    ViewBag.Title = "AddEditIngredientNutritionValues";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Ingredient NutritionValues
    </h2>
    <small>Add/Edit NutritionValues</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveIngredientNutritionValues", "Admin", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.IngredientId)
                <div class="section-title">
                    <span class="glyphicon glyphicon-cutlery"></span><span class="glyphicon-text-space"><label> NutritionValues</label></span>
                </div><hr class="hr-top-margin" />

                <div class="form-group">
                    @Html.LabelFor(model => model.WeightInGrams, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-5">
                        @if (Model.WeightInGrams != null && Model.WeightInGrams != 0)
                        {
                            @Html.EditorFor(model => model.WeightInGrams, new { htmlAttributes = new { @class = "form-control disabled" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.WeightInGrams, new { htmlAttributes = new { @class = "form-control" } })
                        }
                        @Html.ValidationMessageFor(model => model.WeightInGrams, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NutritionId, htmlAttributes: new { @class = "control-label  col-md-2 " })
                    @if (Model.Id == 0)
                    {
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.NutritionId, new SelectList(ViewBag.Nutrition, "Id", "Name"), "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NutritionId, "", new { @class = "text-danger" })
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.CreationDate)
                        @Html.HiddenFor(model => model.NutritionId)
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Nutrition.Name, new { htmlAttributes = new { @class = "form-control disabled" } })
                            @Html.ValidationMessageFor(model => model.NutritionId, "", new { @class = "text-danger" })
                        </div>
                    }
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NutritionValue, htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.NutritionValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NutritionValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageIngredientNutritionValues", "Admin", new { id = Model.IngredientId }, new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/jqueryValidation")




