﻿@model ToOrdr.Core.Entities.IngredientCategory
@using ToOrdr.Localization
@{
    ViewBag.Title = "AddEditIngredientCategory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Ingredient Category
    </h2>
    <small>Add/Edit ingredient category</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveIngredientCategory", "Admin", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data", id="update_profile" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.RadioButtonFor(model => model.Type, false, new { htmlAttributes = new { @class = "form-control" } })&nbsp;<label>Food</label>&nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.Type, true, new { htmlAttributes = new { @class = "form-control" } })&nbsp;<label>Drink</label>
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="showHideDiv">
                    @Html.LabelFor(model => model.DrinkType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.DrinkType, new SelectList(ViewBag.DrinksEnumList,"ID","Name"),"None",  new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DrinkType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                @{
            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
            var ingredientCatImg = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.IngredientCategories, Model.Image, Model.Id, api_path);
                }
                <div class="form-group row">
                    <label class="control-label control-label-left-align col-md-1 col-md-offset-1 text-left">Preview</label>
                    <div class="col-sm-1">
                        <img id="ingredientCat_img" class="image-preview-size" src="@Url.Content(ingredientCatImg)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    @Html.HiddenFor(model => model.Image)
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    <div class="col-sm-5">
                        <input type="file" name="uploadImage" id="uploadImage" class="form-control" onchange="showImage(this)" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageIngredientCategories", "Admin", new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@Scripts.Render("~/bundles/jqueryValidation")
<script>
    function showImage(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#ingredientCat_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
    ShowHideDivOnChange($("input[name='Type']:checked").val());
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            ShowHideDivOnChange($(this).val());
        });
    });
    function ShowHideDivOnChange(changedValue)
    {
        if (changedValue == 'True') {
            $('#showHideDiv').show();
        }
        else if (changedValue == 'False') {
            $('#showHideDiv').hide();
        }
    }
</script>