﻿@model ToOrdr.Core.Entities.ChainTable

@{
    ViewBag.Title = "AddEditChain";     
}


@section PageTitle{
    <h2 class="font-light m-b-xs">
        Chain Details
    </h2>
    <small>Add/Edit Chain details</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("AddEditChain", "Admin", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                <div class="section-title">
                    <span class="glyphicon glyphicon-cutlery"></span><span class="glyphicon-text-space"><label>Chain Details</label></span>
                </div><hr class="hr-top-margin" />

                <div class="form-group">
                    @Html.LabelFor(model => model.ChainName, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ChainName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChainName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">

                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Restaurant", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("RestaurantId", (MultiSelectList)ViewBag.restaurant, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("RestaurantId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Hotel", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("HotelId", (MultiSelectList)ViewBag.hotel, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("HotelId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ChainSetup", "Admin", new { @class = "btn btn-primary", area = "Admin" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/jqueryValidation")




