﻿@model ToOrdr.Core.Entities.Services

@{
    ViewBag.Title = "AddService";
}


@section PageTitle{
    <h2 class="font-light m-b-xs">
        Service Details
    </h2>
    <small>Add/Edit Service details</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("AddEditService", "Admin", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                <div class="section-title">
                    <span class="glyphicon glyphicon-cutlery"></span><span class="glyphicon-text-space"><label>Service Details</label></span>
                </div><hr class="hr-top-margin" />

                <div class="form-group">
                    @Html.LabelFor(model => model.ServiceName, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ServiceName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ServiceDescription, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ServiceDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ServiceDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageServices", "Admin", new { @class = "btn btn-primary", area = "Admin" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryValidation")








