﻿@model IEnumerable<ToOrdr.Core.Entities.CustomerRole>
    @{
        ViewBag.Title = "AuthorizedUsers";
    }

    @Styles.Render("~/bundles/sweetAlert/css")

    @section PageTitle{
        <h2 class="font-light m-b-xs">
            Authorized Users
        </h2>
        <small>List of Authorized Users</small>
    }
    <div class="hpanel">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Restaurant</label>
                            <div class="col-md-9">
                                @Html.TextBox("restId", null, null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                @Html.ActionLink("Add User", "CreateCustomerRole", "Admin", null, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
            }
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Hotel</label>
                            <div class="col-md-9">
                                @Html.TextBox("hotelId", null, null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div id="dvAuthorizedUsersResult">
                @{
                    Html.RenderPartial("_AuthorizedUsersResult", Model);
                }
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/fooTable/js")
    <script>
        $('#user_table_rest').footable();
        $('#user_table_hotel').footable();
        $('#user_table_chain').footable();
    </script>
    <script>
        $("#restId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/Admin/RestaurantAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.Name,
                                Id: item.Id
                            };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                var id = ui.item.Id;
                $.ajax({
                    url: "@(Url.Action("AuthorizedRestaurantUsers", "Admin", new { area = "Admin" }))",
                    type: "POST",
                    data: { id: id },
                    success: function (result) {
                        $("#dvAuthorizedUsersResult").html(result);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve.');
                    }
                });
            }
        });

        $("#hotelId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/Admin/HotelAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.Name,
                                Id: item.Id
                            };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                var id = ui.item.Id;
                $.ajax({
                    url: "@(Url.Action("AuthorizedHotelUsers", "Admin", new { area = "Admin" }))",
                    type: "POST",
                    data: { id: id },
                    success: function (result) {
                        $("#dvAuthorizedUsersResult").html(result);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve.');
                    }
                });
            }
        });
    </script>
