﻿@{
    ViewBag.Title = "ChainAdminOrderHistory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutChainAdmin.cshtml";  
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Order History
    </h2>
    <small>List of restaurant orders </small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Order History
    </div>
    <div class="panel-body">
        <div class="hpanel">
            <div class="panel-body">
                @Html.Hidden("RestaurantId")
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="form-group row">
                            <label for="Price" class="col-sm-3 col-form-label">From</label>
                            <div class="col-md-9">
                                <div class="input-group date" id="datetimepicker1">
                                    @Html.Editor("FromDate", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label for="Price" class="col-sm-3 col-form-label">To</label>
                            <div class="col-md-9">
                                <div class="input-group date" id="datetimepicker2">
                                    @Html.Editor("ToDate", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Min Amount</label>
                            <div class="col-md-9">
                                @Html.Editor("MinAmount", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Max Amount</label>
                            <div class="col-md-9">
                                @Html.Editor("MaxAmount", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Restaurant</label>
                            <div class="col-md-9">
                                @Html.Editor("SearchText", new { htmlAttributes = new { @class = "form-control"} })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-6">
                        <div class="form-group row">
                            <div class="col-md-4 ">
                                <button type="button" id="btnSearch" class="btn btn-primary btn-md">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table data-limit-navigation="5" id="chainAdminOrdersHistory" class="table table-striped table-hover dataTable no-footer">
                <thead>
                    <tr>
                        <th></th>
                        <th>Customer Name</th>
                        <th>Restaurant Name</th>
                        <th>Booking Date</th>
                        <th>Amount</th>
                        <th>Table Number</th>
                        <th>Order Status</th>
                        <th>Payment Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/jqueryui/js")

<script>

    $("#SearchText").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Admin/Admin/ChainAdminRestAutoComplete",
                type: "POST",
                dataType: "json",
                data: { prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Name,
                            Id: item.Id
                        };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        },
        select: function (event, ui) {
            $('#RestaurantId').val(ui.item.Id);
        }
    });

    function format(rowData) {
        var div = $('<div/>')
            .addClass('loading')
            .text('Loading...');

        $.ajax({
            url: '/Admin/Restaurant/LoadRestOrderItemDetails',
            data: {
                OrderId: rowData.RestOrderId
            },
            success: function (response) {
                div
                    .html(response)
                    .removeClass('loading');
            },
            error: function () {
                alert("Oops!....");
            }
        });

        return div;
    }

    $(document).ready(function () {
        var table = $("#chainAdminOrdersHistory").DataTable({
            //"searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            //"filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": "/Admin/Admin/LoadChainAdminOrderHistory/",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                     {
                         className: 'details-control',
                         orderable: false,
                         data: null,
                         defaultContent: ''
                     },
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "RestaurantName", "name": "RestaurantName", "autoWidth": true },
                    { "data": "BookingDate", "name": "BookingDate", "autoWidth": true },
                    { "data": "Amount", "name": "Amount", "autoWidth": true },
                    { "data": "TableNumber", "name": "TableNumber", "autoWidth": true },
                    { "data": "OrderStatus", "name": "Status", "autoWidth": true },
                    { "data": "PaymentStatus", "name": "Status", "autoWidth": true }
            ]

        });

        //Apply Custom search on jQuery DataTables here
        oTable = $('#chainAdminOrdersHistory').DataTable();
        $('#btnSearch').click(function () {
            //Apply search for Employee Name // DataTable column index 0
            var fromDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();
            var minAmount = $("#MinAmount").val();
            var maxAmount = $("#MaxAmount").val();
            var restaurantId = $("#RestaurantId").val();

            oTable.columns(1).search(fromDate);
            oTable.columns(2).search(toDate);
            //Apply search for Country // DataTable column index 3
            oTable.columns(3).search(minAmount);
            oTable.columns(4).search(maxAmount);
            oTable.columns(5).search(restaurantId);
            //hit search on server
            oTable.draw();
        });


        // Add event listener for opening and closing details
        $('#chainAdminOrdersHistory').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });

        $('#datetimepicker1').datepicker();
        $('#datetimepicker2').datepicker();
    });
</script>
