﻿
@{
    ViewBag.Title = "ChainReviews";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutChainAdmin.cshtml";
}

@{
    ViewBag.Title = "Reviews";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Reviews
    </h2>
    <small>List of all reviews.</small>
}

<div class="hpanel">
    <div class="panel-body">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-offset-5 col-md-2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1">@Html.CheckBox("restaurantwise", new { htmlAttributes = new { @class = "form-control" } }) </div>
                                <div class="col-md-6"><label class="col-form-label">Restaurant Wise</label></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="ShowReviews">

        </div>
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-offset-5 col-md-2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1">@Html.CheckBox("hotelwise", new { htmlAttributes = new { @class = "form-control" } }) </div>
                                <div class="col-md-6"><label class="col-form-label">Hotel Wise</label></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="ShowHotelReviews">

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        ShowReviewsList();
        //ShowHotelReviewsList();
        $('#restaurantwise').change(function () {
            if (this.checked) {
                ShowReviewsByRestaurants();
            }
            else {
                ShowReviewsList();
            }
        });

        ShowHotelReviewsList();
        $('#hotelwise').change(function () {
            if (this.checked) {
                ShowReviewsByHotels();
            }
            else {
                ShowHotelReviewsList();
            }
        });
    });
    function ShowReviewsByRestaurants() {
        lastRequest = $.ajax({
            type: "GET",
            url: "/Admin/Admin/ChainReviewsByRestaurants",
            cache: false,
            success: function (response) {
                OnSuccess(response)
            },
            failure: function (response) {
                alert('Oops! something went wrong, failure: ' + response.d);
            },
            error: function (response) {
                if (response.statusText == 'abort') {
                    return;
                }
                alert('Oops! something went wrong, error: ' + response);
            }
        });
    }
    function ShowReviewsList() {
        lastRequest = $.ajax({
            type: "GET",
            url: "/Admin/Admin/RestChainReviewsList",
            cache: false,
            success: function (response) {
                OnSuccess(response)
            },
            failure: function (response) {
                alert('Oops! something went wrong, failure: ' + response.d);
            },
            error: function (response) {
                if (response.statusText == 'abort') {
                    return;
                }
                alert('Oops! something went wrong, error: ' + response);
            }
        });
    }
    function OnSuccess(data) {
        $("#ShowReviews").html(data);
    }

    function ShowReviewsByHotels() {
        lastRequest = $.ajax({
            type: "GET",
            url: "/Admin/Admin/ChainReviewsByHotels",
            cache: false,
            success: function (response) {
                OnData(response)
            },
            failure: function (response) {
                alert('Oops! something went wrong, failure: ' + response.d);
            },
            error: function (response) {
                if (response.statusText == 'abort') {
                    return;
                }
                alert('Oops! something went wrong, error: ' + response);
            }
        });
    }
    function ShowHotelReviewsList() {
        lastRequest = $.ajax({
            type: "GET",
            url: "/Admin/Admin/HotelChainReviewsList",
            cache: false,
            success: function (response) {
                OnData(response)
            },
            failure: function (response) {
                alert('Oops! something went wrong, failure: ' + response.d);
            },
            error: function (response) {
                if (response.statusText == 'abort') {
                    return;
                }
                alert('Oops! something went wrong, error: ' + response);
            }
        });
    }
    function OnData(data) {
        $("#ShowHotelReviews").html(data);
    }

    function handleError(ajaxContext) {
        alert("error");
    };

</script>
