﻿@model IEnumerable<ToOrdr.Core.Entities.ChainTable>
@{
    ViewBag.Title = "ChainSetup";
}

@Styles.Render("~/bundles/sweetAlert/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Chains
    </h2>
    <small>List of Chain</small>
}
<div class="hpanel">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Chain</label>
                        <div class="col-md-9">
                            @Html.TextBox("ChainId", null, null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            if (Session["IsAdmin"] != null && Session["IsAdmin"].ToString() == "true")
            {
                @Html.ActionLink("Add Chain", "CreateChain", "Admin", null, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
            }
        }
        <div id="dvAuthorizedChain">
            @{
                Html.RenderPartial("_ChainsList", Model);
            }
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#chain_table').footable();
 
    $("#ChainId").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Admin/Admin/GetAllChainAutoComplete",
                type: "POST",
                dataType: "json",
                data: { prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Name,
                            Id: item.Id
                        };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        },
        select: function (event, ui) {
            var id = ui.item.Id;
            $.ajax({
                url: "@(Url.Action("ListChains", "Admin", new { area = "Admin" }))",
                type: "POST",
                data: { id: id },
                success: function (result) {
                    $("#dvAuthorizedChain").html(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve.');
                }
            });
        }
    });    
</script>

