﻿@{
    ViewBag.Title = "ChainHotelOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutChainAdmin.cshtml";
}

@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/datatables/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Hotel orders
    </h2>
    <small>List of hotel recent orders </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
       Hotel recent orders
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table data-limit-navigation="5" id="orders" class="footable table table-bordered table-striped toggle-arrow-tiny" data-filter=#filter>
            <thead>
                <tr>
                    @*<th>Sr.No.</th>*@
                    <th>Customer Name</th>
                    <th>Hotel Name</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Room No.</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
        </div>
    </div>
@Scripts.Render("~/bundles/jquery/js")
 @Scripts.Render("~/bundles/fooTable/js")
@Scripts.Render("~/bundles/datatables/js")
        <script>
            $('#orders').footable();

            $(document).ready(function () {
                $("#orders").DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": false, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "ajax": {
                        "url": "/Admin/Admin/LoadData",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                            { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                            { "data": "HotelName", "name": "HotelName", "autoWidth": true },
                            { "data": "FromDate", "FromDate": "Phone", "autoWidth": true },
                            { "data": "ToDate", "name": "ToDate", "autoWidth": true },
                            { "data": "RoomNumber", "name": "RoomNumber", "autoWidth": true },
                            { "data": "Price", "name": "Price", "autoWidth": true },
                            { "data": "Status", "name": "Status", "autoWidth": true }
                    ]
                });
            });
        </script>

