﻿@model ToOrdr.Web.ViewModels.CustomerRoleViewModel

@using ToOrdr.Localization;

@{
    ViewBag.Title = "CreateEditCustomer";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        New User
    </h2>
    <small>create new User</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CustomerId)
                        @Html.HiddenFor(model => model.RestaurantId)
                        @Html.HiddenFor(model => model.HotelId)
                        @Html.HiddenFor(model => model.ChainId)
                    </div>
                </div>
                @if (Model.Id != 0)
                {
                    <div class="form-group">
                        @Html.Label("User", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                }
                else
                {
                    <div class="section-title">
                        <span class="glyphicon glyphicon-user "></span><span class="glyphicon-text-space"><label>Personnel Detail</label></span>
                    </div><hr class="hr-top-margin" />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.BirthDate, new { htmlAttributes = new { @class = "form-control date birthDatepicker" } })
                            @Html.ValidationMessageFor(model => model.Customer.BirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.Customer.Gender, new SelectList(ViewBag.GenderType, "Id", "Name"), "--Select--", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Customer.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Preferred Currency", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.Customer.CurrencyId, new SelectList(ViewBag.Currencies, "Id", "Code"), htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="section-title">
                        <span class="glyphicon glyphicon-phone-alt"></span><span class="glyphicon-text-space"><label> Contact</label></span>
                    </div><hr class="hr-top-margin" />

                    <div class="form-group">
                        @Html.Label("Phone Code", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.PhoneCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.PhoneCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.Telephone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="section-title">
                        <span class="glyphicon glyphicon-map-marker"></span><span class="glyphicon-text-space"><label> Address</label></span>
                    </div><hr class="hr-top-margin" />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Street, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.Street, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Street2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.Street2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.Street2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.City, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Region, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.Region, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.Region, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Country", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.Customer.CountryId, new SelectList(ViewBag.Countries, "Id", "Name"), "-Select-", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Customer.CountryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Pincode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Customer.Pincode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.Pincode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                }
                <div class="form-group">
                    @Html.Label("Role", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.Roles, "Id", "Name"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />

                <div class="form-group restaurant">
                    @Html.Label("Restaurant", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.RestaurantName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group hotel">
                    @Html.Label("Hotel", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.HotelName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group chain">
                    @Html.Label("Chain", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ChainTableName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "AuthorizedUsers", "Admin", new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(function () {
        $('.birthDatepicker').datepicker();
    });


    $("#RestaurantName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Admin/Admin/RestaurantAutoComplete",
                type: "POST",
                dataType: "json",
                data: { prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Name,
                            Id: item.Id
                        };
                    }))
                }
            })
        },
        //messages: {
        //    noResults: "", results: ""
        //},
        select: function (event, ui) {
            $('#RestaurantId').val(ui.item.Id);
        }
    });



    $("#HotelName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Admin/Admin/HotelAutoComplete",
                type: "POST",
                dataType: "json",
                data: { prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Name,
                            Id: item.Id
                        };
                    }))
                }
            })
        },
        //messages: {
        //    noResults: "", results: ""
        //},
        select: function (event, ui) {
            $('#HotelId').val(ui.item.Id);
        }
    });


    $("#ChainTableName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Admin/Admin/ChainAutoComplete",
                type: "POST",
                dataType: "json",
                data: { prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Name,
                            Id: item.Id
                        };
                    }))
                }
            })
        },
        //messages: {
        //    noResults: "", results: ""
        //},
        select: function (event, ui) {
            $('#ChainId').val(ui.item.Id);
        }
    });

    $(document).ready(function () {
        var roleId = $("#RoleId").val();
        checkRole(roleId);
    });


    $('#RoleId').on('change', function () {
        var roleId = this.value;
        checkRole(roleId);
    })

    function checkRole(roleId) {
        var restarantRoleIds = [2, 3, 4]; // these are static values from DB
        var hotelRoleIds = [5, 6, 7, 9, 10, 11]; // these are static values from DB

        if (restarantRoleIds.includes(parseInt(roleId))) {
            $('.hotel').hide();
            $('.chain').hide();
            $('.restaurant').show();
        } else if (hotelRoleIds.includes(parseInt(roleId))) {
            $('.restaurant').hide();
            $('.hotel').show();
            $('.chain').hide();
        } else if (roleId == 8) {
            $('.restaurant').hide();
            $('.hotel').hide();
            $('.chain').show();
        } else {
            $('.restaurant').hide();
            $('.hotel').hide();
            $('.chain').hide();
        }
    }
</script>