﻿@{
    ViewBag.Title = "Dashboard";
}
@Styles.Render("~/bundles/jqueryui/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        youORDR Dashboard
    </h2>
}
<div class="row">
    <div class="col-md-6">
        <div class="hpanel hblue">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                Hotels registered in last 7 days
            </div>
            <div class="panel-body">


            </div>
        </div>
    </div>
    <div class="col-md-6">
        @{
            Html.RenderAction("RestaurantsRegisterLastWeek", "Admin");
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="hpanel hblue">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                Today's business from Hotels
            </div>
            <div class="panel-body">


            </div>
        </div>
    </div>
    <div class="col-md-6">
        @{
            Html.RenderAction("TodaysBusinessFromRestaurants", "Admin");
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="hpanel hblue">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                Today's top performing Hotels
            </div>
            <div class="panel-body">


            </div>
        </div>
    </div>
    <div class="col-md-6">
        @{
            Html.RenderAction("TodaysTopPerformingRestaurant", "Admin");
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="hpanel hblue">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                Today's restaurant table reservations
            </div>
            <div class="panel-body">


            </div>
        </div>
    </div>
    <div class="col-md-6">
        @{
            Html.RenderAction("RestaurantsReviews", "Admin");
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryui/js")






