﻿@{
    ViewBag.Title = "Financial";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Financial
    </h2>
    <small></small>
}
<div class="hpanel">
    <div class="panel-body">
        <div class="hpanel">
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Restaurant</label>
                                <div class="col-md-9">
                                    @Html.TextBox("restId", null, null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt">
                                <span id="showMessage"> Top 20 most earnings restaurants in last 30 days</span>
                            </div>
                            <div class="panel-body">
                                <div id="chart">
                                    <canvas id="FinancialReport" class="animated fadeIn" height="130"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/chartjs/js")
<script>

    $(function () {
        //Hourly earning from restaurant orders
            var barOptions = {
                responsive: true,
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Restaurants'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Earnings'
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            };

            $.ajax({
                url: "@(Url.Action("RestaurantWiseMonthlyEarnings", "Admin", new { area = "Admin" }))",
                method: 'GET',
            dataType: 'json',
            success: function (data) {
                var orderAmount = [];
                for (i = 0; i < data[1].data.length; i++) {
                    for (x = 0; x < data[1].data[i].length; x++) {
                        orderAmount[i] = data[1].data[i][x];
                    }
                }
                var barData = {
                    labels: data[0].data,
                    datasets: [
                        {
                            label: "Revenue",
                            backgroundColor: 'rgba(98,203,49, 0.5)',
                            borderColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            borderWidth: 1,
                            data: orderAmount
                        }
                    ]
                };
                var ctx = document.getElementById("FinancialReport").getContext("2d");
                new Chart(ctx, { type: 'bar', data: barData, options: barOptions });
            }
        });
    });

    $("#restId").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Admin/Admin/RestaurantAutoComplete",
                type: "POST",
                dataType: "json",
                data: { prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Name,
                            Id: item.Id
                        };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        },
        select: function (event, ui) {

            var id = ui.item.Id;
            //monthly earning from restaurant orders
            var lineOptions = {
                responsive: true,
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Months'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Earnings'
                        }
                    }]
                },
            };

            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
            $.ajax({
                url: "@(Url.Action("MonthlyOrderDetails", "Admin", new { area = "Admin" }))",
                method: 'GET',
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    var orderAmount = [];
                    for (i = 0; i < data[1].data.length; i++) {
                        for (x = 0; x < data[1].data[i].length; x++) {
                            orderAmount[i] = data[1].data[i][x];
                        }
                    }
                    var OrderMonths = [];
                    for (i = 0; i < data[0].data.length; i++) {
                        for (x = 0; x < data[0].data[i].length; x++) {
                            OrderMonths[i] = data[0].data[i][x];
                        }
                    }
                    var MonthResult = [];
                    for (j = 0; j < OrderMonths.length; j++) {
                        MonthResult[j] = months[OrderMonths[j] - 1];
                    }

                    var lineData = {
                        labels: MonthResult,
                        datasets: [
                            {
                                label: "Revenue",
                                backgroundColor: 'rgba(98,203,49, 0.5)',
                                borderColor: "rgba(220,220,220,0.8)",
                                highlightFill: "rgba(220,220,220,0.75)",
                                highlightStroke: "rgba(220,220,220,1)",
                                borderWidth: 1,
                                data: orderAmount
                            }
                        ]
                    };

                    $("canvas#FinancialReport").remove();
                    $("div#chart").append('<canvas id="FinancialReport" class="animated fadeIn" height="130"></canvas>');
                    $("span#showMessage").text("Monthly earnings of " + $("#restId").val()+" in last 11 months");
                    var ctx = document.getElementById("FinancialReport").getContext("2d");
                    new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });
                }
            });
        }
    });
</script>
