﻿@model IEnumerable<ToOrdr.Core.Entities.Restaurant>
@using System.Configuration
@{
    ViewBag.Title = "GetAllRecentRestaurants";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Recent Restaurants
    </h2>
    <small>List of Restaurants</small>
}
@if (Model.Any())
{
    <div class="row">

        @foreach (var restaurant in Model)
        {
            <div class="col-md-4">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="#"><h4>@restaurant.Name</h4></a>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="project-label">LOCATION</div>
                                        <div class="allow-scroll-two-lines location-area-height">
                                            <small>@restaurant.Street, @restaurant.City, @restaurant.Region, @restaurant.Pincode</small>
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="project-label">REVIEWS</div>


                                        @{
                                            var total = restaurant.RestaurantReviews.Count();
                                            var count = restaurant.RestaurantReviews.Sum(r => r.Score);
                                            var review = 0;
                                            if (total != 0)
                                            {
                                                review = (count / total);
                                            }
                                            @review.ToString("F2")
                                        }


                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                @{
            var api_path = ConfigurationManager.AppSettings["APIURL"];
            var img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.RestaurantBackground, restaurant.BackgroundImage, restaurant.Id, api_path);
                                }
                                <img src="@Url.Content(img)" class="img-size img-responsive" alt="Image" onerror="this.onerror = null; this.className = 'img-size img-responsive'; this.src = '/Images/no_logo.png';" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h3 class="font-light m-b-xs">
        Recent restaurants not found
    </h3>
}
@Scripts.Render("star-rating.min.js")





