﻿@{
    ViewBag.Title = "HotelReviews";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Hotels Reviews
    </h2>
    <small>List of all hotels reviews</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Hotels Reviews
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <div class="form-group row">
                    <label for="Price" class="col-sm-3 col-form-label">From</label>
                    <div class="col-md-9">
                        <div class="input-group date" id="datetimepicker1">
                            @Html.Editor("FromDate", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="Price" class="col-sm-3 col-form-label">To</label>
                    <div class="col-md-9">
                        <div class="input-group date" id="datetimepicker2">
                            @Html.Editor("ToDate", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <div class="form-group row">
                    <label for="Price" class="col-sm-3 col-form-label">Hotel</label>
                    <div class="col-md-9">
                        @Html.Editor("hotelId", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.Hidden("selectedHotelId")
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-6">
                <div class="form-group row">
                    <div class="col-md-4 ">
                        <button type="button" id="btnSearch" class="btn btn-primary btn-md">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="hotelReviews" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Hotel Name</th>
                    <th>Score</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
        var table = $("#hotelReviews").DataTable({
            "ordering": false,
            "processing": false, // for show progress bar
            "serverSide": true, // for process server side
            "orderMulti": false, // for disable multiple column at once
            "lengthChange": true,
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": "/Admin/Admin/LoadHotelReviews",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "HotelName", "name": "HotelName", "autoWidth": true },
                    { "data": "Score", "name": "Score", "autoWidth": true },
                    {
                        "data": "Comment", "name": "Comment", render: function (Comment) {
                            return '<div class="td-allow-scroll">' + Comment + '</div>';
                        }
                    },
                    { "data": "ReviewDate", "name": "ReviewDate", "autoWidth": true }
            ],


        });

        //Apply Custom search on jQuery DataTables here
        oTable = $('#hotelReviews').DataTable();
        $('#btnSearch').click(function () {
            var fromDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();
            var hotelId = $("#selectedHotelId").val();
            oTable.columns(1).search(fromDate);
            oTable.columns(2).search(toDate);
            oTable.columns(3).search(hotelId);

            oTable.draw();
        });
        $('#datetimepicker1').datepicker();
        $('#datetimepicker2').datepicker();
    });

    $("#hotelId").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Admin/Admin/HotelAutoComplete",
                type: "POST",
                dataType: "json",
                data: { prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Name,
                            Id: item.Id
                        };
                    }))
                }
            })
        },
        select: function (event, ui) {
            var id = ui.item.Id;
            $("#selectedHotelId").val(id);
    }
    });
    $("#hotelId").keyup(function () {
        if ($(this).val() == "") {
            $("#selectedHotelId").val("");
        }
    });
</script>