﻿@model IEnumerable<ToOrdr.Core.Entities.Restaurant>
@{
    ViewBag.Title = "ManageRestaurants";
    if (Session["IsChainAdmin"] != null && Session["IsChainAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutChainAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }
}
@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/jqueryui/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Restaurants
    </h2>
    <small>Restaurant List</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        Restaurants
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            @Html.ActionLink("Add New", "AddRestaurant", "Admin", null, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
            <input type="text" class="form-control input-sm m-b-md" id="filter_restaurant" placeholder="Search in table">
            <table id="restaurants" class="footable table table-stripped toggle-arrow-tiny" data-page-size="6" data-filter=#filter_restaurant>
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.City)</th>
                        <th>@Html.DisplayNameFor(model => model.Region)</th>
                        <th>@Html.DisplayNameFor(model => model.Country)</th>
                        <th>@Html.DisplayNameFor(model => model.Currency)</th>
                        <th>@Html.DisplayNameFor(model => model.Telephone)</th>
                        <th>@Html.DisplayNameFor(model => model.CostForTwo)</th>
                        <th>@Html.DisplayNameFor(model => model.BackgroundImage)</th>
                        <th>@Html.DisplayNameFor(model => model.LogoImage)</th>
                        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var cnt = 1;
                        foreach (var restaurant in Model)
                        {
                            <tr class="rows">
                                <td>@cnt @Html.HiddenFor(modelItem => restaurant.Id)</td>
                                <td>@Html.DisplayFor(modelItem => restaurant.Name)</td>
                                <td>@Html.DisplayFor(modelItem => restaurant.Description)</td>
                                <td>@Html.DisplayFor(modelItem => restaurant.City)</td>
                                <td>@Html.DisplayFor(modelItem => restaurant.Region)</td>
                                <td>@Html.DisplayFor(modelItem => restaurant.Country.Name)</td>
                                <td>@Html.DisplayFor(modelItem => restaurant.Currency.Code)</td>
                                <td>@Html.DisplayFor(modelItem => restaurant.Telephone)</td>
                                <td>@Html.DisplayFor(modelItem => restaurant.CostForTwo)</td>
                                
                                <td>
                                    @{
                            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                            var background_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.RestaurantBackground, restaurant.BackgroundImage, restaurant.Id, api_path);
                            var logo_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.RestaurantLogo, restaurant.LogoImage, restaurant.Id, api_path);
                                    }
                                    <img src="@Url.Content(background_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                </td>
                                <td>
                                    <img src="@Url.Content(logo_img)" alt="Image" width="80" height="50" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                </td>
                                <td>@Html.CheckBoxFor(modelItem => restaurant.IsActive, new { @class = "restaurantSelected", id = restaurant.Id })</td>
                                <td>
                                    @Html.ActionLink(" ", "EditRestaurant", "Admin", new { restaurant_id = restaurant.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                                    <a data-restaurant-id="@restaurant.Id" class="js-delete"><span class="fa fa-trash fa-2x"></span></a>
                                </td>
                            </tr>
                            cnt = cnt + 1;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="13">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")
@Scripts.Render("~/bundles/sweetAlert/js")

<script>
    $("#restaurants").footable();

    $('#restaurants tr td:not(:last-child,:nth-last-child(2))').click(function () {

        var restaurant_Id = $(this).parents('tr').find('td input[type="hidden"]').val();
        window.location.href = "/Customers/SetPremises?id=" + restaurant_Id + "&type=" + 1;
    });


    $("#restaurants .js-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Admin/DeleteRestaurant/" + btn.attr("data-restaurant-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.status) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Restaurant has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Restaurant is safe :)", "error");
                }
            });
    });

    $(document).ready(function () {
        $("#restaurants .restaurantSelected").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/UpdateRestaurantIsActiveStatus/" + btn.attr("id"),
                            method: "POST",
                            success: function () {
                                swal("Update!", "Record has been updated.", "success");
                            },
                        });

                    } else {
                        if (btn.is(":checked")) {
                            btn.prop('checked', false);
                        }
                        else if (btn.is(":not(:checked)")) {
                            btn.prop('checked', true);
                        }
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>