﻿
@{
    ViewBag.Title = "ManageFoodProfiles";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage Food Profiles
    </h2>
    <small>List of food profiles</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Manage Food Profiles
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddFoodProfile", "Admin", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="food_profile" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsActive</th>
                    <th>Creation Date</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#food_profile").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Admin/LoadFoodProfiles",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "CreationDate", "name": "CreationDate", "autoWidth": true },
                    {
                        "data": "Image",
                        render: function (data) {
                            return '<img src="' + data + '"  width="100" height="55" />';
                        }
                    },
                    { "data": "FoodProfileId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Admin/EditFoodProfile/' + data + '"> </a> <a data-food-profile-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });

        $("#food_profile").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/DeleteFoodProfile/" + btn.attr("data-food-profile-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Food profile has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Food profile is safe :)", "error");
                    }
                });
        });
    });
</script>


