﻿@{
    ViewBag.Title = "ManageMeasurmentUnit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage Measurement Units
    </h2>
    <small>List of measurement units</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Manage Measurement Units
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddMeasurementUnit", "Admin", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table id="measurementUnit" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Unit Name</th>
                    <th>Description</th>
                    <th>Symbol</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#measurementUnit").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Admin/LoadMeasurementUnits/",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                    { "data": "UnitName", "name": "UnitName", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "Symbol", "name": "Symbol", "autoWidth": true },
                    { "data": "CreationDate", "name": "CreationDate", "autoWidth": true },
                    { "data": "MeasurementUnitId", "render": function (data, type, full) { return '<a data-measurement-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ],


        });

        $("#measurementUnit").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/DeleteMeasurementUnit/" + btn.attr("data-measurement-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Measurement unit has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Measurement unit is safe :)", "error");
                    }
                });
        });
    });

</script>