﻿@model IEnumerable<ToOrdr.Core.Entities.Services>
@using ToOrdr.Localization

@{
    ViewBag.Title = "HotelServices";
}

@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/sweetAlert/css")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Services
    </h2>
    <small>List of Services.</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Hotel Services
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add New", "AddService", "Admin", null, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="services" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var service in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => service.ServiceName)</td>
                            <td class="col-lg-5">@Html.DisplayFor(modelItem => service.ServiceDescription)</td>
                            <td>
                                @Html.ActionLink(" ", "EditService", "Admin", new { Id = service.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                                <a data-service-id="@service.Id" class="js-delete fa fa-trash fa-2x"></a>
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")

<script>
    $('#services').footable();

    $("#services .js-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Admin/DeleteService/" + btn.attr("data-service-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.failure) {
                                swal("Cancelled!", response.error, "warning");
                            }
                            else {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Service has been deleted.", "success");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Record is safe :)", "error");
                }
            });
    });

</script>
