﻿@model IEnumerable<ToOrdr.Core.Entities.Hotel>
@{
    ViewBag.Title = "ManageHotels";
    if (Session["IsChainAdmin"] != null && Session["IsChainAdmin"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutChainAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }}

@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Hotels
    </h2>
    <small>Hotel List</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        Hotels
    </div>

    <div class="panel-body">
        @Html.ActionLink("Add New", "AddHotel", "Admin", null, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter_hotel" placeholder="Search in table">
        <table id="hotels" class="footable table table-stripped toggle-arrow-tiny" data-page-size="6" data-filter=#filter_hotel>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <th>@Html.DisplayNameFor(model => model.Region)</th>
                    <th>@Html.DisplayNameFor(model => model.Country)</th>
                    <th>@Html.DisplayNameFor(model => model.Currency)</th>
                    <th>@Html.DisplayNameFor(model => model.Telephone)</th>
                    <th>@Html.DisplayNameFor(model => model.CostForTwo)</th>
                    
                    <th>@Html.DisplayNameFor(model => model.BackgroundImage)</th>
                    <th>@Html.DisplayNameFor(model => model.LogoImage)</th>
                    <th>@Html.DisplayNameFor(model => model.QRCodeImage)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var item in Model)
                    {
                        <tr class="rows">
                            <td>@cnt @Html.HiddenFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.City)</td>
                            <td>@Html.DisplayFor(modelItem => item.Region)</td>
                            <td>@Html.DisplayFor(modelItem => item.Country.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Currency.Code)</td>
                            <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
                            <td>@Html.DisplayFor(modelItem => item.CostForTwo)</td>
                            

                            <td>
                                @{
                        var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                        var background_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.HotelBackground, item.BackgroundImage, item.Id, api_path);
                        var logo_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.HotelLogo, item.LogoImage, item.Id, api_path);
                                }
                                <img src="@Url.Content(background_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                            </td>
                            <td>
                                <img src="@Url.Content(logo_img)" alt="Image" width="80" height="50" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                            </td>
                            <td>
                                <img src="@Url.Content(item.QRCodeImage)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                            </td>
                            <td>@Html.CheckBoxFor(modelItem => item.IsActive, new { @class = "hotelSelected",id = item.Id })</td>
                            <td>
                                @Html.ActionLink(" ", "EditHotel", "Admin", new { hotel_id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="14">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#hotels").footable();

    $('#hotels tr td:not(:last-child,:nth-last-child(2))').click(function () {
        var hotel_Id = $(this).parents('tr').find('td input[type="hidden"]').val();
        window.location.href = "/Customers/SetPremises?id=" + hotel_Id + "&type=" + 2;
    });

    $(document).ready(function () {
        $("#hotels .hotelSelected").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/UpdateHotelIsActiveStatus/" + btn.attr("id"),
                            method: "POST",
                            success: function () {
                                swal("Update!", "Record has been updated.", "success");
                            },
                        });

                    } else {
                        if (btn.is(":checked")) {
                            btn.prop('checked', false);
                        }
                        else if (btn.is(":not(:checked)")) {
                            btn.prop('checked', true);
                        }
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>

