﻿@{
    ViewBag.Title = "ManageIngredient";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Ingredients
    </h2>
    <small>List of Ingredients</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageIngredientCategories", "Admin", new { @class = "fa fa-2x fa-arrow-circle-left", area = "Admin" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddIngredient", "Admin", new { area = "Admin", ingredientCatId = @ViewBag.IngredientCategoryId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="ingredient" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th></th>
                    <th>Ingredient Group</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    function format(rowData) {
        var div = $('<div/>')
            .addClass('loading')
            .text('Loading...');

        $.ajax({
            url: '/Admin/Admin/LoadIngredientFoodProfiles',
            data: {
                IngredientId: rowData.IngredientId
            },
            success: function (response) {
                div
                    .html(response)
                    .removeClass('loading');
            },
            error: function () {
                alert("Oops!....");
            }
        });

        return div;
    }
    $(document).ready(function () {
        var table = $("#ingredient").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": "/Admin/Admin/LoadIngredients?ingredientCatId=@ViewBag.IngredientCategoryId",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                     {
                         className: 'details-control',
                         orderable: false,
                         data: null,
                         defaultContent: ''
                     },
                    { "data": "IngredientCategory", "name": "IngredientCategory", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                     {
                         "data": "Image",
                         render: function (data) {
                             return '<img src="' + data + '"  width="100" height="55" />';
                         }
                     },
                    { "data": "IngredientId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Admin/EditIngredient/' + data + '"> </a> <a data-ingredient-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a> <a class="fa fa-2x fa-list-alt" title="Nutrition values" href="/Admin/Admin/ManageIngredientNutritionValues/' + data + '"></a>' } }
            ]

        });

        // Add event listener for opening and closing details
        $('#ingredient').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });




        $("#ingredient").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/DeleteIngredient/" + btn.attr("data-ingredient-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Ingredient has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Ingredient is safe :)", "error");
                    }
                });
        });
    });
</script>

