﻿@{
    ViewBag.Title = "ManageVirtualRestaurants";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Virtual Restaurants
    </h2>
    <small>List of all virtual restaurants</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Virtual Restaurants
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="virtualRestaurants" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Hotel Name</th>
                    <th>Restaurant Name</th>
                    <th>Description</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th>Currency</th>
                    <th>Telephone</th>
                    <th>Cost For Two</th>
                    <th>Background Image</th>
                    <th>Logo</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $("#virtualRestaurants").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Admin/LoadVirtualRestaurants",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "HotelName", "name": "HotelName", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "City", "name": "City", "autoWidth": true },
                    { "data": "Region", "name": "Region", "autoWidth": true },
                    { "data": "Country", "name": "Country", "autoWidth": true },
                    { "data": "Currency", "name": "Currency", "autoWidth": true },
                    { "data": "Telephone", "name": "Telephone", "autoWidth": true },
                    { "data": "CostForTwo", "name": "CostForTwo", "autoWidth": true },
                    {
                        "data": "BackGroundImage",
                        render: function (data) {
                            return '<img src="' + data + '"  width="100" height="55" onerror="this.onerror = null; this.src =\'/Images/no_logo.png\';" />';
                        }
                    },
                    {
                        "data": "LogoImage",
                        render: function (data) {
                            return '<img src="' + data + '"  width="100" height="55" onerror="this.onerror = null; this.src =\'/Images/no_logo.png\';" />';
                        }
                    },
                     { "data": "VirtualRestId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Admin/EditRestaurant?restaurant_id=' + data + '"> </a> <a data-virtual_rest-id="' + data + '" class="js-delete fa fa-2x fa-trash">' } }

            ]

        });


        $('#virtualRestaurants tbody').on('click', 'tr', function (e) {
            if ($(e.target).is("a")) { return;}
            var data = table.row(this).data();
            window.location.href = "/Customers/SetPremises?id=" + data.VirtualRestId + "&type=" + 1;
        });

        $("#virtualRestaurants").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/DeleteHotelRestaurantByRestId/" + btn.attr("data-virtual_rest-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Restaurant has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Restaurant is safe :)", "error");
                    }
                });
        });
    });
</script>