﻿@{
    ViewBag.Title = "ManageIngredientCategories";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage Ingredient Categories
    </h2>
    <small>List of ingredient categories</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Manage Ingredient Categories
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddIngredientCategory", "Admin", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="ingredient_category" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Drink Type</th>
                    <th>IsActive</th>
                    <th>Creation Date</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ingredient_category").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Admin/LoadIngredientCategories",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "Type", "name": "Type", "autoWidth": true },
                    { "data": "DrinkType", "name": "DrinkType", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "CreationDate", "name": "CreationDate", "autoWidth": true },
                    {
                        "data": "Image",
                        render: function (data) {
                            return '<img src="' + data + '"  width="100" height="55" onerror="this.onerror = null; this.src =\'/Images/no_logo.png\';" />';
                        }
                    },
                    { "data": "IngredientCatId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Admin/EditIngredientCategory/' + data + '"> </a> <a data-ingredient-cat-id="' + data + '" class="js-delete fa fa-2x fa-trash"> </a> <a class="fa fa-2x fa-list-alt" title="Ingredient" href="/Admin/Admin/ManageIngredient?ingredientCatId=' + data + '"> </a>' } }

    ]

    });

    $("#ingredient_category").on("click", ".js-delete", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Admin/DeleteIngredientCategory/" + btn.attr("data-ingredient-cat-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Ingredient category has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Ingredient category is safe :)", "error");
                }
            });
    });
    });
</script>