﻿@{
    ViewBag.Title = "ManageIngredientNutritionValues";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Ingredient NutritionValues
    </h2>
    <small>List of NutritionValues</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageIngredientNutritionValues", "Admin", new { ingredientId = @ViewBag.IngredientId, area = "Admin", @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddIngredientNutritionValues", "Admin", new { area = "Admin", ingredientId = @ViewBag.IngredientId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="ingredientNutritionValues" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Ingredient Name</th>
                    <th>Weight (g)</th>
                    <th>Nutrition Name</th>
                    <th>Nutrition Value</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $("#ingredientNutritionValues").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": "/Admin/Admin/LoadIngredientNutritionValues?ingredientId=@ViewBag.IngredientId",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "IngredientName", "name": "IngredientName", "autoWidth": true },
                    { "data": "Weight", "name": "Weight", "autoWidth": true },
                    { "data": "NutritionName", "name": "NutritionName", "autoWidth": true },
                    { "data": "NutritionValue", "name": "NutritionValue", "autoWidth": true },
                    { "data": "IngredientNutritionValueId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Admin/EditIngredientNutritionValue/' + data + '"> </a> <a data-ingredient-nutritionValues-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });


        $("#ingredientNutritionValues").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/DeleteIngredientNutritionValues/" + btn.attr("data-ingredient-nutritionValues-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Ingredient NutritionValues has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Ingredient NutritionValues is safe :)", "error");
                    }
                });
        });
    });
</script>

