﻿
@{
    ViewBag.Title = "ManageDeletedCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Deleted Customers
    </h2>
    <small>List of all deleted customers</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Deleted Customers
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="manageDeletedCustomers" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birth Date</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Pin Code</th>
                    <th>Telephone</th>
                    <th>Email</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageDeletedCustomers").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Admin/LoadAllDeletedCustomers/",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "BirthDate", "name": "BirthDate", "autoWidth": true },
                    { "data": "Gender", "name": "Gender", "autoWidth": true },
                    { "data": "City", "name": "City", "autoWidth": true },
                    { "data": "Region", "name": "Region", "autoWidth": true },
                    {"data": "Pinncode", "Pinncode": "Gender", "autoWidth": true},
                    { "data": "Telephone", "name": "Telephone", "autoWidth": true },
                    { "data": "Email", "Pinncode": "Email", "autoWidth": true }
            ]

        });
    });
</script>

