﻿@{
    ViewBag.Title = "Customers";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Customers
    </h2>
    <small>List of all customers</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Customers
    </div>
    <div class="panel-body">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="form-group row">
                            <label for="Price" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-md-9">
                                    @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label for="Price" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-md-9">
                                    @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-6">
                        <div class="form-group row">
                            <div class="col-md-4 ">
                                <button type="button" id="btnSearch" class="btn btn-primary btn-md">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="customerList" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Creation Date</th>
                    <th>Profile Image</th>
                </tr>
            </thead>
        </table>
    </div>
    </div>
<script>

    $(document).ready(function () {
        $("#customerList").DataTable({
            "ordering": false,
            "processing": false, // for show progress bar
            "serverSide": true, // for process server side
            "orderMulti": false, // for disable multiple column at once
            "lengthChange": true,
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": "/Admin/Admin/LoadAllCustomers",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "Gender", "name": "Gender", "autoWidth": true },
                    { "data": "DateOfBirth", "name": "DateOfBirth", "autoWidth": true },
                    { "data": "City", "name": "City", "autoWidth": true },
                    { "data": "Region", "name": "Region", "autoWidth": true },
                    { "data": "CountryName", "name": "CountryName", "autoWidth": true },
                    { "data": "Telephone", "name": "Telephone", "autoWidth": true },
                    { "data": "Email", "name": "Email", "autoWidth": true },
                    { "data": "CreationDate", "name": "CreationDate", "autoWidth": true },
                    {
                        "data": "ProfileImage",
                        render: function (data) {
                            return '<img src="' + data + '"  width="100" height="55" />';
                        }
                    }
            ],
        });
        oTable = $('#customerList').DataTable();
        $('#btnSearch').click(function () {
            var name = $("#Name").val();
            var email = $("#Email").val();

            oTable.columns(1).search(name);
            oTable.columns(2).search(email);

            oTable.draw();
        });
    });
</script>

