﻿@{
    ViewBag.Title = "ManageHotelRestaurants";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        All Hotels Restaurants
    </h2>
    <small>List of hotels restaurants </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        All Hotels Restaurants
    </div>
    <div class="panel-body">
        @Html.ActionLink("Create New", "AddHotelRestaurants", "Admin", new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="hotel_restaurants" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Hotel Name</th>
                    <th>Restaurant Name</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        var t = $("#hotel_restaurants").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Admin/LoadAllHotelRestaurants",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "HotelName", "name": "HotelName", "autoWidth": true },
                    { "data": "RestaurantName", "name": "RestaurantName", "autoWidth": true },
                    { "data": "HotelRestaurantId", "render": function (data, type, full) { return '<a class="fa fa-2x fa-trash js-delete" data-hotel-rest-Id="' + data + '"> </a> ' } }

            ]

        });
        //t.on('draw.dt', function () {
        //    var PageInfo = $('#hotel_restaurants').DataTable().page.info();
        //    t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
        //        cell.innerHTML = i + 1 + PageInfo.start;
        //    });
        //});

        $("#hotel_restaurants").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/DeleteHotelRestaurant/" + btn.attr("data-hotel-rest-Id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Record has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }

                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });

    });
</script>
