﻿@model IEnumerable<ToOrdr.Core.Entities.Allergen>
@{
    ViewBag.Title = "ManageAllergen";
}

@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Allergens
    </h2>
    <small>Allergens List</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageAllergenGroups", "Admin", new { @class = "fa fa-2x fa-arrow-circle-left", area = "Admin" })
    </div>

    <div class="panel-body">
        @Html.ActionLink("Add New", "AddAllergen", "Admin", new { allergenGroupId = @ViewBag.AllergenGroupId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter_allergen" placeholder="Search in table">
        <table id="allergens" class="footable table table-stripped toggle-arrow-tiny" data-page-size="6" data-filter=#filter_allergen>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Group Name</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.AllergenImage)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var allergen in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => allergen.AllergenCategory.Name)</td>
                            <td>@Html.DisplayFor(modelItem => allergen.Name)</td>
                            <td>@Html.DisplayFor(modelItem => allergen.Description)</td>
                            <td>
                                @{
                        var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                        var allergen_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.AllergenImage, allergen.AllergenImage, allergen.Id, api_path);
                                }
                                <img src="@Url.Content(allergen_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                            </td>
                            <td>
                                @Html.ActionLink(" ", "EditAllergen", "Admin", new { allergen_Id = allergen.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                                <a data-allergen-id="@allergen.Id" class="fa fa-2x fa-trash js-delete"></a>
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#allergens").footable();

    $(document).ready(function () {
        $("#allergens .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/DeleteAllergen/" + btn.attr("data-allergen-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Record has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }

                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>