﻿
@{
    ViewBag.Title = "ManageAboutYouOrdrDescription";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage About YouOrdr Description
    </h2>
    <small>List of about YouOrdr description in different languages</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Manage About YouOrdr Description
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddAboutYouOrdrDescription", "Admin", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="abtYouOrdr" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Language Name</th>
                    <th>YouOrdr Description</th>
                    <th>IsActive</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#abtYouOrdr").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Admin/LoadAboutYouOrdrDescription",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "LanguageName", "name": "LanguageName", "autoWidth": true },
                    { "data": "Description", "name": "Description", render: function (youOrdrDesc) {
                        return '<div class="td-allow-scroll">' + youOrdrDesc + '</div>';
                    }},
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "CreationDate", "name": "CreationDate", "autoWidth": true },
                    { "data": "AboutYouOrdrId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Admin/EditAddAboutYouOrdrDescription/' + data + '"> </a> <a data-spa-abt-you-ordr-id="' + data + '" class="js-delete fa fa-2x fa-trash"> </a> ' } }

    ]

    });

        $("#abtYouOrdr").on("click", ".js-delete", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Admin/DeleteAboutYouOrdrDescription/" + btn.attr("data-spa-abt-you-ordr-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "About youOrdr description has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "About youOrdr description is safe :)", "error");
                }
            });
    });
    });
</script>
