﻿@model ToOrdr.Web.ViewModels.PendingRegistrationsVM
@{
    ViewBag.Title = "PendingRegistration";
}
@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/sweetAlert/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Pending Registrations
    </h2>
    <small>Restaurants/Hotels List</small>
}
@if (Model.Restaurant.Any())
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            Restaurants
        </div>

        <div class="panel-body">
            <input type="text" class="form-control input-sm m-b-md" id="filter_restaurant" placeholder="Search in table">
            <table id="restaurants" class="footable table table-stripped toggle-arrow-tiny" data-page-size="5" data-filter=#filter_restaurant>
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Country</th>
                        <th>Telephone</th>
                        <th>Cost For Two</th>
                        <th>Background Image</th>
                        <th>Logo Image</th>
                        <th>ActiveStatus</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        var cnt = 1;
                        foreach (var item in Model.Restaurant)
                        {
                            <tr>
                                <td>@cnt</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.City)</td>
                                <td>@Html.DisplayFor(modelItem => item.Region)</td>
                                <td>@Html.DisplayFor(modelItem => item.Country.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
                                <td>@Html.DisplayFor(modelItem => item.CostForTwo)</td>
                                <td>
                                    @{
                            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                            var background_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.RestaurantBackground, item.BackgroundImage, item.Id, api_path);
                            var logo_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.RestaurantLogo, item.LogoImage, item.Id, api_path);
                                    }
                                    <img src="@Url.Content(background_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                </td>
                                <td>
                                    <img src="@Url.Content(logo_img)" alt="Image" width="80" height="50" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                </td>
                                @*<td>
                                    <div class="changeStatus">
                                        @if (item.ActiveStatus == true)
                                        {
                                            <i class="fa fa-2x fa-check btn-success status-change" id="Active_Status" aria-hidden="true"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-2x fa-times btn-danger status-change" id="inActiveStatus" aria-hidden="true"></i>
                                        }
                                    </div>

                                </td>*@

                                <td>@Html.CheckBoxFor(modelItem => item.ActiveStatus, new { @class = "checkSelected form-control", Restaurant = item.Id })</td>

                            </tr>
                                        cnt = cnt + 1;

                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="13">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}
@if (Model.Hotel.Any())
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            Hotels
        </div>

        <div class="panel-body">
            <input type="text" class="form-control input-sm m-b-md" id="filter_hotel" placeholder="Search in table">
            <table id="hotels" class="footable table table-stripped toggle-arrow-tiny" data-page-size="5" data-filter=#filter_hotel>
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Country</th>
                        <th>Telephone</th>
                        <th>Cost For Two</th>
                        <th>Background Image</th>
                        <th>Logo Image</th>
                        <th>ActiveStatus</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        var cnt = 1;
                        foreach (var item in Model.Hotel)
                        {
                            <tr>
                                <td>@cnt</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.City)</td>
                                <td>@Html.DisplayFor(modelItem => item.Region)</td>
                                <td>@Html.DisplayFor(modelItem => item.Country.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
                                <td>@Html.DisplayFor(modelItem => item.CostForTwo)</td>
                                <td>
                                    @{
                            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                            var background_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.HotelBackground, item.BackgroundImage, item.Id, api_path);
                            var logo_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.HotelLogo, item.LogoImage, item.Id, api_path);
                                    }
                                    <img src="@Url.Content(background_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                </td>
                                <td>
                                    <img src="@Url.Content(logo_img)" alt="Image" width="80" height="50" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                </td>

                                <td>@Html.CheckBoxFor(modelItem => item.Status, new { @class = "hotelCheckSelected form-control", HotelId = item.Id })</td>

                            </tr>
                                        cnt = cnt + 1;

                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="13">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")
@Scripts.Render("~/bundles/sweetAlert/js")
<script>
    $("#restaurants").footable();
    $("#hotels").footable();
    $(document).ready(function () {
        $(".checkSelected").on("click", function () {
            var btn = $(this);
            var status = false;
            if (this.checked) {
                status = true;
            }

            swal({
                title: "Are you sure?",
                text: "You want to update this restaurant status!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#62cb31",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/UpdateStatus?Id=" + btn.attr("Restaurant") + "&status=" + status,
                            method: "POST",
                            success: function () {
                                //if (status == true) {
                                //    btn.parents("tr").find(".status-change").removeClass("fa-times btn-danger").addClass("fa-check btn-success");
                                //}
                                //else {
                                //    btn.parents("tr").find(".status-change").removeClass("fa-check btn-success").addClass("fa-times btn-danger");
                                //}
                                btn.parents("tr").remove();
                                swal("Status", "Status Updated", "success");
                               
                            },
                        });

                    } else {
                        if (btn.is(":checked")) {
                            btn.prop('checked', false);
                        }
                        else if (btn.is(":not(:checked)")) {
                            btn.prop('checked', true);
                        }
                        swal("Cancelled", "Cancelled", "cancel");
                    }
                });
        });


        $(".hotelCheckSelected").on("click", function () {
            var btn = $(this);
            var status = false;
            if (this.checked) {
                status = true;
            }

            swal({
                title: "Are you sure?",
                text: "You want to update this hotel status!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#62cb31",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Admin/UpdateHotelStatus?Id=" + btn.attr("HotelId") + "&status=" + status,
                            method: "POST",
                            success: function () {
                                btn.parents("tr").remove();
                                swal("Status", "Status Updated", "success");
                            },
                        });

                    } else {
                        if (btn.is(":checked")) {
                            btn.prop('checked', false);
                        }
                        else if (btn.is(":not(:checked)")) {
                            btn.prop('checked', true);
                        }
                        swal("Cancelled", "Cancelled", "cancel");
                    }
                });
        });
    });

</script>