﻿@{
    ViewBag.Title = "RestaurantsRecentOrders";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Recent served orders
    </h2>
    <small>List of restaurants recently served orders </small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Restaurants Recent Order
    </div>
    <div class="panel-body">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group row">
                            <label for="Price" class="col-sm-3 col-form-label">Restaurant</label>
                            <div class="col-md-9">
                                @Html.Editor("restaurantId", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.Hidden("selectedRestaurantId")
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-md-4 col-md-offset-6">
                            <div class="form-group row">
                                <div class="col-md-4 ">
                                    <button type="button" id="btnSearch" class="btn btn-primary btn-md">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>

        <div class="panel-body">
            <table data-limit-navigation="5" id="restRecentOrder" class="table table-striped table-hover dataTable no-footer">
                <thead>
                    <tr>
                        <th></th>
                        <th>Customer Name</th>
                        <th>Restaurant Name</th>
                        <th>Booking Date</th>
                        <th>Amount</th>
                        <th>Table Number</th>
                        <th>Order Status</th>
                        <th>Payment Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    function format(rowData) {
        var div = $('<div/>')
            .addClass('loading')
            .text('Loading...');

        $.ajax({
            url: '/Admin/Restaurant/LoadRestOrderItemDetails',
            data: {
                OrderId: rowData.RestOrderId
            },
            success: function (response) {
                div
                    .html(response)
                    .removeClass('loading');
            },
            error: function () {
                alert("Oops!....");
            }
        });

        return div;
    }

    $(document).ready(function () {
        var table = $("#restRecentOrder").DataTable({
            //"searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            //"filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": "/Admin/Admin/LoadRestaurantsRecentOrders/",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                     {
                         className: 'details-control',
                         orderable: false,
                         data: null,
                         defaultContent: ''
                     },
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "RestaurantName", "name": "RestaurantName", "autoWidth": true },
                    { "data": "BookingDate", "name": "BookingDate", "autoWidth": true },
                    { "data": "Amount", "name": "Amount", "autoWidth": true },
                    { "data": "TableNumber", "name": "TableNumber", "autoWidth": true },
                    { "data": "OrderStatus", "name": "Status", "autoWidth": true },
                    { "data": "PaymentStatus", "name": "Status", "autoWidth": true }
            ]

        });

        // Add event listener for opening and closing details
        $('#restRecentOrder').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });

        oTable = $('#restRecentOrder').DataTable();
        $("#restaurantId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/Admin/RestaurantAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.Name,
                                Id: item.Id
                            };
                        }))
                    }
                })
            },

            select: function (event, ui) {
                var id = ui.item.Id;
                $("#selectedRestaurantId").val(id);
                var restId = $("#selectedRestaurantId").val();

                //alert(fromDate+" "+ minAmount);
                //oTable.columns(1).search(fromDate);
                //oTable.columns(2).search(toDate);
                oTable.columns(1).search(restId);
                //hit search on server
                oTable.draw();
            }
        });
    });
    $("#restaurantId").keyup(function () {
        if ($(this).val() == "") {
            $("#selectedRestaurantId").val("");
            window.location.href = "/Admin/Admin/RestaurantsRecentOrders";
        }
    });

</script>