﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrdr.Core.Entities.RestaurantOrder>
@Styles.Render("~/bundles/fooTable/css")
<input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
<table data-limit-navigation="5" id="orders" class="footable table table-bordered table-striped toggle-arrow-tiny" data-filter=#filter>
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Customer Name</th>
            <th>Restaurant Name</th>
            <th>Date</th>
            <th>Order Amount</th>
            <th>Table No.</th>
            <th>Status</th>
            <th data-hide="all"></th>
        </tr>
    </thead>
    <tbody>
        @{
            var cnt = 1;
            foreach (var order in Model)
            {
                var orderDate = (order.ScheduledDate != null) ? order.ScheduledDate : order.CreationDate;
                double? order_amount = 0;
                foreach (var item in order.RestaurantOrderItems)
                {
                    order_amount += @item.RestaurantMenuItem.Price * @item.Qty + item.RestaurantOrderItemAdditionals.Sum(a => a.Total);
                }
                <tr>
                    <td>@cnt</td>
                    <td>@Html.DisplayFor(modelItem => order.Customer.FirstName) @Html.DisplayFor(modelItem => order.Customer.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => order.Restaurant.Name)</td>
                    <td>@orderDate</td>
                    <td>@order_amount</td>
                    <td>@Html.DisplayFor(modelItem => order.CustomerTableNumber)</td>
                    <td>@Html.DisplayFor(modelItem => order.OrderStatus)</td>
                    <td>
                        <div style="margin-left:100px;width:100%">
                            <span class="pie"></span>
                            <table class="table table-bordered">
                                <th colspan="4"><center>Item Details</center></th>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                                @{
                                    var counter = 1;
                                    double? total_cost = 0;
                                    foreach (var item in order.RestaurantOrderItems)
                                    {
                                        <tr>
                                            <td>@counter</td>
                                            <td>@item.RestaurantMenuItem.ItemName</td>
                                            <td>@item.Qty</td>
                                            <td>@item.RestaurantMenuItem.Price</td>
                                        </tr>
                                        total_cost += @item.RestaurantMenuItem.Price * @item.Qty;
                                        counter = counter + 1;

                                    }
                                }
                                <tr>
                                    <td colspan="3" class="text-right"><b>Net Item Total</b></td>
                                    <td><b>@total_cost</b></td>
                                </tr>
                            </table>
                        </div>

                        <div style="margin-left:100px;width:100%">
                            <span class="pie"></span>
                            <table class="table table-bordered">
                                <th colspan="5"><center>Item Additional Details</center></th>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Item</th>
                                    <th>Additional Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                                @{
                                    var counter2 = 1;
                                    double? total_cost2 = 0;
                                    foreach (var itemAdditionalList in order.RestaurantOrderItems.Select(i => i.RestaurantOrderItemAdditionals).ToList())
                                    {
                                        foreach (var eachAdd in itemAdditionalList.OrderBy(o => o.RestaurantOrderItem))
                                        {


                                            <tr>
                                                <td>@counter2</td>
                                                <td>@eachAdd.RestaurantOrderItem.RestaurantMenuItem.ItemName</td>
                                                <td>@eachAdd.MenuAdditionalElement.AdditionalElementName </td>
                                                <td>@eachAdd.Qty</td>
                                                <td>@eachAdd.MenuAdditionalElement.AdditionalCost</td>
                                            </tr>
                                            total_cost2 += @eachAdd.Total;
                                            counter2 = counter2 + 1;

                                        }
                                    }
                                }
                                <tr>
                                    <td colspan="4" class="text-right"><b>Net Additional Total</b></td>
                                    <td><b>@total_cost2</b></td>
                                </tr>
                            </table>
                        </div>

                    </td>

                </tr>
                cnt = cnt + 1;
            }
        }
    </tbody>
    <tfoot class="disabled" style="display:none;">
        <tr>
            <td colspan="7">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-right ">
    @{
        if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
        {
            @Html.PagedListPager(Model, page => Url.Action("GetRestRecentOrders", new { page }))
        }
        else if (Session["IsAdmin"] != null && Session["IsAdmin"].ToString() == "true")
        {
            @Html.PagedListPager(Model, page => Url.Action("GetRestRecentOrders", new { page }))
        }
        else
        {
            @Html.PagedListPager(Model, page => Url.Action("GetAllRecentOrders", new { searchText = ViewBag.SearchText, restaurantId = ViewBag.RestaurantId, page }))
        }

    }
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#orders').footable();
</script>