﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrdr.Core.Entities.RestaurantReview>
@Styles.Render("~/bundles/fooTable/css")

<input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
<table data-limit-navigation="5" id="orders" class="footable table table-bordered table-striped toggle-arrow-tiny" data-filter=#filter>
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Customer Name</th>
            <th>Score</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            var cnt = 1;
            foreach (var review in Model)
            {
                <tr>
                    <td>@cnt</td>
                    <td class="col-lg-3">@Html.DisplayFor(modelItem => review.Customer.FirstName) @Html.DisplayFor(modelItem => review.Customer.LastName)</td>
                    <td class="col-lg-2">

                        @Html.DisplayFor(modelItem => review.Score)
                        @*@{
                var score = review.Score * 20;
                <div class="star-rating btn-lg rating-active">
                    <div class="rating-container rating-gly-star" data-content="">
                        <div class="rating-stars" data-content="" style="width: @score%"></div>
                    </div>
                </div>
                        }*@
                    </td>

                    <td class="col-lg-5"><div class="td-allow-scroll">@Html.DisplayFor(modelItem => review.Comment)</div></td>
                    <td class="col-lg-2">@review.CreationDate.ToString("dd/MM/yyyy")</td>
                </tr>
                cnt = cnt + 1;
            }
        }
    </tbody>
    <tfoot class="disabled" style="display:none;">
        <tr>
            <td colspan="5">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-right ">
    @{
        @Html.PagedListPager(Model, page => Url.Action("GetAllReviews", new { searchText = ViewBag.SearchText, restaurantId = ViewBag.RestaurantId, page }))
    }
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#orders').footable();
</script>