﻿@{
    var tableStatusChangedCount = @ViewBag.TableStatusChangedCount;
    var nextServingStatusChangedCount = @ViewBag.OrderNextServingStatusChangedCount;
    var totalNotificationCount = Convert.ToInt32(tableStatusChangedCount) + Convert.ToInt32(nextServingStatusChangedCount);
}
<a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
    <i class="pe-7s-mail"></i>
    <span class="label label-success">@totalNotificationCount</span>
</a>
<ul class="dropdown-menu hdropdown animated flipInX">
    <div class="title">
        You have @totalNotificationCount new notifications
    </div>
    <li>
        <a href="@Url.Action("ManageTablesStatusQueue", "Restaurant", new { Area = "Admin"})">
            @tableStatusChangedCount table Status change notifications.<br/> Please click here to check
        </a>
    </li>
    <li>
        <a href="@Url.Action("RestaurantOrdersQueue", "Restaurant", new { Area = "Admin" })">
            @nextServingStatusChangedCount order next serving notifications.<br/> Please click here to check
        </a>
    </li>

</ul>