﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantOrderItem>
@Styles.Render("~/bundles/fooTable/css")
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        Low Selling Item
    </div>
    <div class="panel-body">
        <table id="top_selling_item" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Item Name</th>
                    <th>Qty</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;

                    var topSellingItems = Model.GroupBy(d => d.RestaurantMenuItemId)
               .Select(
                   g => new
                   {
                       Key = g.Key,
                       ItemName = g.First().RestaurantMenuItem.ItemName,
                       TotalQty = g.Sum(s => s.Qty),
                       Amount = g.Sum(s => s.Qty) * g.First().RestaurantMenuItem.Price
                   }).OrderBy(i => i.TotalQty).Take(10);
                    foreach (var item in topSellingItems)
                    {
                        <tr>
                            <td class="col-lg-2">@cnt</td>
                            <td class="col-lg-4">@Html.DisplayFor(modelItem => item.ItemName)</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => item.TotalQty)</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => item.Amount)</td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
        </table>

    </div>

</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")



