﻿
@model IEnumerable<ToOrdr.Core.Entities.RestaurantOrderItem>
@Styles.Render("~/bundles/fooTable/css")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Low Selling Item Category Wise
    </div>
    <div class="panel-body">
        @{
            var id_cnt = 1;
            var menuItemGroups = Model.GroupBy(d => d.RestaurantMenuItem.RestaurantMenuGroup.GroupName);
            foreach (var menuGroup in menuItemGroups)
            {
                var topSellingItems = menuGroup.GroupBy(d => d.RestaurantMenuItemId)
                      .Select(
                          g => new
                          {
                              Key = g.Key,
                              ItemName = g.First().RestaurantMenuItem.ItemName,
                              TotalQty = g.Sum(s => s.Qty),
                              Amount = g.Sum(s => s.Qty) * g.First().RestaurantMenuItem.Price
                          }).OrderBy(i => i.TotalQty).Take(3);
                <div class="hpanel">

                    <div class="panel-heading text-center">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <h4><strong>@menuGroup.Key</strong> </h4>
                    </div>
                    <div class="panel-body">
                        <table id="restaurant_@id_cnt" class=" footable table table-stripped toggle-arrow-tiny" data-page-size="4" data-filter=#filter_@id_cnt>
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Item Name</th>
                                    <th>Qty</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                var cnt = 1;
                foreach (var item in topSellingItems)
                {
                    <tr>
                        <td class="col-lg-2">@cnt</td>
                        <td class="col-lg-4">@Html.DisplayFor(modelItem => item.ItemName)</td>
                        <td class="col-lg-3">@Html.DisplayFor(modelItem => item.TotalQty)</td>
                        <td class="col-lg-3">@Html.DisplayFor(modelItem => item.Amount)</td>
                    </tr>
                    cnt = cnt + 1;
                }
                                }
                            </tbody>
                        </table>



                    </div>


                </div>
                id_cnt = id_cnt + 1;
            }
        }
    </div>
</div>

