﻿@model  IEnumerable<ToOrdr.Core.Entities.MenuItemIngredientNutrition>

@Styles.Render("~/bundles/fooTable/css")
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Ingredient Nutrients Details
            </div>
            <div class="panel-body">
                <table id="nutrientsDetails" class="table table-hover footable table-stripped ">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>@Html.DisplayName("Name")</th>
                            <th>@Html.DisplayName("Nutrition Value")</th>
                            <th>@Html.DisplayName("Unit")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var cnt = 1;
                            foreach (var nutrients in Model)
                            {
                                <tr>
                                    <td>@cnt</td>
                                    <td>@Html.DisplayFor(modelItem => nutrients.Nutrition.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => nutrients.NutritionValue)</td>
                                    <td>@Html.DisplayFor(modelItem => nutrients.Nutrition.MeasurementUnit.UnitName) (@Html.DisplayFor(modelItem => nutrients.Nutrition.MeasurementUnit.Symbols))</td>
                                </tr>
                                cnt = cnt + 1;
                            }
                        }
                    </tbody>
                    <tfoot style="display:none;">
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#nutrientsDetails').footable();
    });
</script>