﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantMenuItemImage>

@{
    Layout = null;
}

<div class="container">
    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessItemImages", OnFailure = "handleError" }))
    {
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                @{var itemName = Model.Select(m => m.RestaurantMenuItem.ItemName).FirstOrDefault();}
                @itemName Images
            </div>
            <div class="panel-body">
                <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
                <table id="itemImagesTable" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="3" data-filter=#filter>
                    <thead>
                        <tr>
                            <th class="col-md-1">Sr.No.</th>
                            <th class="col-md-5">Name</th>
                            <th class="col-md-2">Image</th>
                            <th class="col-md-2">IsPrimary</th>
                            <th class="col-md-2">IsActive</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                var cnt = 1;
                foreach (var ItemImages in Model)
                {
                    <tr>
                        <td>@cnt</td>
                        <td>@Html.DisplayFor(item => ItemImages.Image)</td>

                        <td>
                            @{
                    var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                    var image = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.MenuItemBackground, ItemImages.Image, ItemImages.RestaurantMenuItemId, api_path);
                            }
                            <img src="@Url.Content(image)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                        </td>

                        @if (ItemImages.IsPrimary == null) { ItemImages.IsPrimary = false; }
                        <td>@Html.CheckBoxFor(item => ItemImages.IsPrimary.Value)</td>

                        @if (ItemImages.IsActive == null) { ItemImages.IsActive = false; }
                        <td>@Html.CheckBoxFor(item => ItemImages.IsActive.Value)</td>
                    </tr>
                        cnt = cnt + 1;
                }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                @Html.ActionLink("Manage", "ManageItemImages", "Restaurant", new { area = "Admin", id = ViewBag.itemId }, new { @class = "btn btn-info btn-sm pull-left col-md-offset-6" })<br /><br />
            </div>
        </div>
        <script>
            $('#itemImagesTable').footable();
        </script>
    }
</div>