﻿@model IEnumerable<ToOrdr.Core.Entities.MenuItemSize>

@{
    Layout = null;
}

<div class="container">
    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessItemSize", OnFailure = "handleError" }))
    {
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                 @{var itemName = Model.Select(m => m.RestaurantMenuItem.ItemName).FirstOrDefault();}
                 @itemName Sizes
            </div>
            <div class="panel-body">
                <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
                <table id="itemTable" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter>
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Size Name</th>
                            <th>Price</th>
                            <th>Calories</th>
                            <th>IsDefault</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var cnt = 1;
                            foreach (var menuSize in Model)
                            {
                                <tr>
                                    <td>@cnt</td>
                                    <td>@Html.DisplayFor(item => menuSize.SizeName)</td>
                                    <td>@Html.DisplayFor(item => menuSize.SizePrice)</td>
                                    <td>@Html.DisplayFor(item => menuSize.SizeCalories)</td>
                                    @if (menuSize.IsDefault == null) { menuSize.IsDefault = false; }
                                    <td>@Html.CheckBoxFor(item => menuSize.IsDefault.Value)</td>
                                    @if (menuSize.IsActive == null) { menuSize.IsActive = false; }
                                    <td>@Html.CheckBoxFor(item => menuSize.IsActive.Value)</td>
                                </tr>
                                    cnt = cnt + 1;
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                @Html.ActionLink("Manage", "ManageItemSizes", "Restaurant", new { area = "Admin", id = ViewBag.itemId }, new { @class = "btn btn-info btn-sm pull-left col-md-offset-6" })<br /><br />
            </div>
        </div>
        <script>
            $('#itemTable').footable();
        </script>
    }
</div>