﻿@model IEnumerable<ToOrdr.Core.Entities.MenuItemAdditional>

@{
    Layout = null;
}

<script>
    $(function () {
        $("#tabs").tabs({
            activate: function (event, ui) {
                var active = $('#tabs').tabs('option', 'active');
            }
        });
    });
</script>

<div class="container">
    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessItemAdditional", OnFailure = "handleError" }))
    {
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                @{var itemName = Model.Select(m => m.RestaurantMenuItem.ItemName).FirstOrDefault();}
                @itemName Additionals
            </div>
            @{var groups = Model.GroupBy(m => m.MenuAdditionalGroup).Distinct();}
            <div id="tabs">
                <ul class="nav nav-tabs">
                    @foreach (var menuAdditionalGroup in groups)
                    {
                        <li><a data-toggle="tab" href="#@menuAdditionalGroup.Key.Id">@menuAdditionalGroup.Key.GroupName</a></li>
                    }
                </ul>

                <div class="tab-content">
                    @foreach (var group in groups)
                    {
                        <div id="@group.Key.Id" class="tab-pane">
                            <div class="panel-body">
                                <span><strong>Description</strong>: @group.Key.GroupDescription</span><br />
                                <span><strong>MaximumSelected</strong>: @group.Key.MaximumSelected</span><br />
                                <span><strong>MinimumSelected</strong>: @group.Key.MinimumSelected</span><br />
                                <span><strong>IsActive</strong>: @group.Key.IsActive</span><br /><br />

                                <input type="text" class="form-control input-sm m-b-md" id="filter_@group.Key.Id" placeholder="Search in table">
                                <table id="itemTable_@group.Key.Id" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter_@group.Key.Id>
                                    <thead>
                                        <tr>
                                            <th>Sr.No.</th>
                                            <th>Name</th>
                                            <th>Image</th>
                                            <th>Description</th>
                                            <th>Cost</th>
                                            <th>Active</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                        var cnt = 1;
                        foreach (var menuAdditional in group.Key.MenuAdditionalElements)
                        {
                            <tr>
                                <td>@cnt</td>
                                <td>@Html.DisplayFor(item => menuAdditional.AdditionalElementName)</td>

                                <td>
                                    @{
                            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                            var image = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.MenuAdditionalElementImage, menuAdditional.Image, group.First().RestaurantMenuItem.Id, api_path, menuAdditional.Id);
                                    }
                                    <img src="@Url.Content(image)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                </td>

                                <td>@Html.DisplayFor(item => menuAdditional.AdditionalElementDescription)</td>
                                <td>@Html.DisplayFor(item => menuAdditional.AdditionalCost)</td>
                                @if (menuAdditional.IsActive == null) { menuAdditional.IsActive = false; }
                                <td>@Html.CheckBoxFor(item => menuAdditional.IsActive)</td>
                            </tr>
                                cnt = cnt + 1;
                        }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <script>
                            $('#itemTable_@group.Key.Id').footable();
                        </script>
                    }
                </div>
            </div>
            @Html.ActionLink("Manage", "ManageItemAdditional", "Restaurant", new { area = "Admin", id = ViewBag.itemId }, new { @class = "btn btn-info btn-sm pull-left col-md-offset-6" })<br /><br />
        </div>
    }
</div>