﻿@model IEnumerable<ToOrdr.Core.Entities.MenuItemIngredient>

@{
    Layout = null;
}

<div class="container">
    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessItemIngredient", OnFailure = "handleError" }))
    {
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                @{var itemName = Model.Select(m => m.RestaurantMenuItem.ItemName).FirstOrDefault();}
                @itemName Ingredient
            </div>
            <div class="panel-body">
                <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
                <table id="itemTable" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter>
                    <thead>
                        <tr>
                            <th class="col-md-1">Sr.No.</th>
                            <th class="col-md-2">Name</th>
                            <th class="col-md-5">Description</th>
                            <th class="col-md-1">Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                var cnt = 1;
                foreach (var menuItem in Model)
                {
                    <tr>
                        <td>@cnt</td>
                        <td>@Html.DisplayFor(item => menuItem.Ingredient.Name)</td>
                        <td>@Html.DisplayFor(item => menuItem.Ingredient.Description)</td>
                        <td>@Html.DisplayFor(item => menuItem.Qty)</td>
                    </tr>
                    cnt = cnt + 1;
                }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                @Html.ActionLink("Manage", "ManageItemIngredients", "Restaurant", new { area = "Admin", id = ViewBag.itemId }, new { @class = "btn btn-info btn-sm pull-left col-md-offset-6" })<br /><br />
            </div>
        </div>
        <script>
            $('#itemTable').footable();
        </script>
    }
</div>