﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantOrder>

@{
    Layout = null;
}

@Styles.Render("~/bundles/fooTable/css")

<div class="panel-body">
    <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search">
    <table id="orderQueueTable" class="table table-hover footable table-stripped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>@Html.DisplayName("Order ID")</th>
                <th>@Html.DisplayName("Creation Date")</th>
                <th>@Html.DisplayName("Schedule Date")</th>
                <th>@Html.DisplayName("Customer Name")</th>
                <th>@Html.DisplayName("Table Number")</th>
                <th>@Html.DisplayName("Total Amount")</th>
                <th>@Html.DisplayName("Payment Status")</th>
                <th>@Html.DisplayName("Status")</th>
                <th data-hide="all"></th>
            </tr>
        </thead>
        <tbody>
            @{
                var cnt = 1;
                foreach (var order in Model)
                {
                    <tr>
                        <td>@cnt</td>
                        <td>#@Html.DisplayFor(modelItem => order.Id)</td>
                        <td>@Html.DisplayFor(modelItem => order.CreationDate)</td>
                        <td>@Html.DisplayFor(modelItem => order.ScheduledDate)</td>
                        <td>@Html.DisplayFor(modelItem => order.Customer.FirstName) @Html.DisplayFor(modelItem => order.Customer.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => order.CustomerTableNumber)</td>
                        <td>@Html.DisplayFor(modelItem => order.OrderTotal)</td>
                        @{
                    var payStatus = "Unpaid";
                    if (order.PaymentStatus)
                    {
                        payStatus = "Paid";
                    }

                        }
                        <td>@payStatus</td>
                        @{
                    ToOrdr.Core.Entities.Status_Type status = (ToOrdr.Core.Entities.Status_Type)order.OrderStatus;
                        }
                        <td>@status.ToString()</td>
                        <td>
                            <div class="row">
                                <div class="col-md-5">

                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="6"><center>Order Item details</center></th>
                                                @Html.HiddenFor(model => order.Id)
                                            </tr>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>@Html.DisplayName("Items")</th>
                                                <th>@Html.DisplayName("Quantity")</th>
                                                <th>@Html.DisplayName("Rate")</th>
                                                <th>@Html.DisplayName("ItemTotal")</th>
                                            </tr>
                                        </thead>
                                        @{
                                            var count = 1;
                                            foreach (var item in order.RestaurantOrderItems)
                                            {
                                                  <tr>
                                                        <td class="col-md-1">@count</td>
                                                        <td class="col-md-5">@Html.DisplayFor(modelItem => item.RestaurantMenuItem.ItemName)</td>
                                                        <td class="col-md-1">@Html.DisplayFor(modelItem => item.Qty)</td>
                                                        <td class="col-md-1">@Html.DisplayFor(modelItem => item.RestaurantMenuItem.Price)</td>
                                                        <td class="col-md-1">@Html.DisplayFor(modelItem => item.OrderItemTotal)</td>
                                                 </tr>
                                                count = count + 1;
                                            }
                                        }

                                    </table>
                                </div>
                                <div class="col-md-5">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="6"><center>Item additional Details</center></th>
                                                @Html.HiddenFor(model => order.Id)
                                            </tr>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>@Html.DisplayName("ItemName")</th>
                                                <th>@Html.DisplayName("Element")</th>
                                                <th>@Html.DisplayName("Qty")</th>
                                                <th>@Html.DisplayName("Cost")</th>
                                                <th>@Html.DisplayName("Total")</th>
                                            </tr>
                                        </thead>
                                        @{
                                            var count1 = 1;
                                            foreach (var item in order.RestaurantOrderItems)
                                            {
                                                foreach (var itemAdditional in item.RestaurantOrderItemAdditionals)
                                                {
                                                  <tr>
                                                      <td class="col-md-1">@count1</td>
                                                      <td class="col-md-5">@Html.DisplayFor(modelItem => itemAdditional.RestaurantOrderItem.RestaurantMenuItem.ItemName)</td>
                                                      <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.MenuAdditionalElement.AdditionalElementName)</td>
                                                      <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.MenuAdditionalElement.AdditionalCost)</td>
                                                      <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.Qty)</td>
                                                      <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.Total)</td>
                                                  </tr>     
                                                    count1 = count1 + 1;                                               
                                                }
                                                
                                            }
                                        }

                                    </table>
                                </div>

                                <div class="col-md-2 order_info">
                                    @Html.HiddenFor(model => order.Id)
                                    @Html.DropDownListFor(model => order.OrderStatus, new SelectList(ViewBag.OrderStatus, "Id", "Name", selectedValue: order.OrderStatus), htmlAttributes: new { @class = "form-control", @onchange = "OrderServed(this)", id = "Status_Type_List" + @order.Id })
                                    @Html.ValidationMessageFor(model => order.OrderStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    cnt = cnt + 1;
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@Scripts.Render("~/bundles/fooTable/js")

<script>
    $(function () {
        $('#orderQueueTable').footable();
    });
</script>
