﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrdr.Core.Entities.RestaurantOrder>

@Styles.Render("~/bundles/fooTable/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Orders History
    </h2>
    <small>List of Orders</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Orders History
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table data-limit-navigation="5" id="orders" class="footable table table-bordered table-striped toggle-arrow-tiny" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Customer Name</th>
                    <th>Date</th>
                    <th>Order Amount</th>
                    <th>Table No.</th>
                    <th>Status</th>
                    <th data-hide="all"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var order in Model)
                    {

                        double? order_amount = 0;
                        foreach (var item in order.RestaurantOrderItems)
                        {
                            order_amount += @item.RestaurantMenuItem.Price * @item.Qty;
                        }
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => order.Customer.FirstName) @Html.DisplayFor(modelItem => order.Customer.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => order.CreationDate)</td>
                            <td>@order_amount</td>
                            <td>@Html.DisplayFor(modelItem => order.CustomerTableNumber)</td>
                            <td>@Html.DisplayFor(modelItem => order.OrderStatus)</td>
                            <td>
                                <div style="margin-left:100px;width:100%">
                                    <span class="pie"></span>
                                    <table class="table table-bordered">
                                        <th colspan="4"><center>Order Details</center></th>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                        @{
                        var counter = 1;
                        double? total_cost = 0;
                        foreach (var item in order.RestaurantOrderItems)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@item.RestaurantMenuItem.ItemName</td>
                                <td>@item.Qty</td>
                                <td>@item.RestaurantMenuItem.Price</td>
                            </tr>
                            total_cost += @item.RestaurantMenuItem.Price * @item.Qty;
                            counter = counter + 1;

                        }
                                        }
                                        <tr>
                                            <td colspan="3" class="text-right"><b>Net Order Total</b></td>
                                            <td><b>@total_cost</b></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>

                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot class="disabled" style="display:none;">
                <tr>
                    <td colspan="7">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right ">
            @{
                @Html.PagedListPager(Model, page => Url.Action("OrdersHistoryPagination", new { FromDate = ViewBag.FormDate, ViewBag.ToDate, ViewBag.MinAmount, ViewBag.MaxAmount, page }))
            }
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")

<script>
    $('#orders').footable();
</script>






