﻿@model ToOrdr.Web.ViewModels.RestOrderComment
@{
    Layout = null;
}

@using (Ajax.BeginForm("UpdateRejectedOrderStatus", "Restaurant", new AjaxOptions { OnSuccess = "handleSuccessOrderRejection", OnFailure = "handleError" }))
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Reason for Order Rejection
        </div>
        <div class="panel-body">
            @Html.HiddenFor(model => model.OrderId)
            @Html.HiddenFor(model => model.StatusId)
            <div class="form-group row">
                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8 col-md-offset-1">
                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>

        </div>
    </div>
}