﻿@model IEnumerable<ToOrdr.Core.Entities.MenuItemReview>
@Styles.Render("~/bundles/fooTable/css")
@if (Model.Any())
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            Item Reviews
        </div>
        <div class="panel-body">
            <input type="text" class="form-control input-sm m-b-md" id="filter-item-review" placeholder="Search in table">
            <table id="menu_item_reviews" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter-item-review>
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Customer Name</th>
                        <th>Item Name</th>
                        <th>Score</th>
                        <th>Comment</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var cnt = 1;
                        foreach (var itemReview in Model)
                        {
                            <tr>
                                <td>@cnt</td>
                                <td class="col-lg-2">
                                    @Html.DisplayFor(modelItem => itemReview.Customer.FirstName)
                                    @Html.DisplayFor(modelItem => itemReview.Customer.LastName)
                                </td>
                                <td class="col-lg-2">@Html.DisplayFor(modelItem=>itemReview.RestaurantMenuItem.ItemName)</td>
                                <td class="col-lg-2">
                                    @Html.DisplayFor(modelItem => itemReview.Score)
                                    @*@{
                                        var score = itemReview.Score * 20;
                                        <div class="star-rating btn-lg rating-active">
                                            <div class="rating-container rating-gly-star" data-content="">
                                                <div class="rating-stars" data-content="" style="width: @score%"></div>
                                            </div>
                                        </div>
                                    }*@
                                </td>

                                <td class="col-lg-4 "><div class="td-allow-scroll">@Html.DisplayFor(modelItem => itemReview.Comment)</div></td>
                                <td class="col-lg-2"><div class="td-allow-scroll">@itemReview.CreationDate.ToString("dd/MM/yyyy")</div></td>
                            </tr>
                            cnt = cnt + 1;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")
@Scripts.Render("star-rating.min.js")

<script>
    $('#menu_item_reviews').footable();
</script>

