﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantOrderReview>
@Styles.Render("~/bundles/fooTable/css")
@if (Model.Any())
{
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            Order Reviews
        </div>
        <div class="panel-body">
            <input type="text" class="form-control input-sm m-b-md" id="filter-order-review" placeholder="Search in table">
            <table id="order_reviews" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter-order-review>
                <thead>
                    <tr>
                        <th>Sr.No.</th>
                        <th>Customer Name</th>
                        <th>Score</th>
                        <th>Comment</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var cnt = 1;
                        foreach (var orderReview in Model)
                        {
                            <tr>
                                <td>@cnt</td>
                                <td class="col-lg-3">
                                    @Html.DisplayFor(modelItem => orderReview.RestaurantOrder.Customer.FirstName)
                                    @Html.DisplayFor(modelItem => orderReview.RestaurantOrder.Customer.LastName)
                                </td>
                                <td class="col-lg-2">
                                    @Html.DisplayFor(modelItem => orderReview.Score)
                                </td>

                                <td class="col-lg-5"><div class="td-allow-scroll">@Html.DisplayFor(modelItem => orderReview.Comment)</div></td>
                                <td class="col-lg-2">@orderReview.CreationDate.ToString("dd/MM/yyyy")</td>


                            </tr>
                            cnt = cnt + 1;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#order_reviews').footable();
</script>

