﻿@model  IEnumerable<ToOrdr.Core.Entities.RestaurantOrderItem>
<style>
    a.itemDetails {
        color: blue;
        text-decoration: underline;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 8px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider,
    input[type="checkbox"]:checked + .slider {
        background-color: #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:focus + input[type="hidden"] + .slider,
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
    input[type="checkbox"]:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 25px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
@Styles.Render("~/bundles/fooTable/css")
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Order Item Details
            </div>
            <div class="panel-body">
                <table id="orderItemDetails_@Model.FirstOrDefault().RestaurantOrderId" class="table table-hover footable table-stripped toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>@Html.DisplayName("Item Name")</th>
                            <th>@Html.DisplayName("Quantity")</th>
                            <th>@Html.DisplayName("Price")</th>
                            <th>@Html.DisplayName("Item Total")</th>
                            <th>@Html.DisplayName("Customer Comment")</th>
                            <th>@Html.DisplayName("Serve Level")</th>
                            @if (ViewBag.OrdersQueue == true)
                            {
                                <th>Served Status</th>
                            }
                            <th data-hide="all"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var cnt = 1;
                            foreach (var orderItem in Model)
                            {
                                <tr>
                                    <td>@cnt</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.RestaurantMenuItem.ItemName)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.Qty)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.RestaurantMenuItem.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.OrderItemTotal)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.Comment)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.ServeLevel)</td>
                                    @if (ViewBag.OrdersQueue == true)
                                    {
                                        <td>
                                            <label class="switch">
                                                @Html.CheckBoxFor(modelItem => orderItem.ServedStatus, new { @class = "checkSelectedToggle", Name = orderItem.Id })
                                                <div class="slider round"></div>
                                            </label>
                                        </td>
                                    }
                                    <td>
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <table class="table table-hover table-bordered table-stripped ">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="6"><center>Item additional Details</center></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Sr.No</th>
                                                            <th>@Html.DisplayName("ItemName")</th>
                                                            <th>@Html.DisplayName("Element")</th>
                                                            <th>@Html.DisplayName("Qty")</th>
                                                            <th>@Html.DisplayName("Cost")</th>
                                                            <th>@Html.DisplayName("Total")</th>
                                                        </tr>
                                                    </thead>
                                                    @{
                                    var count1 = 1;

                                    foreach (var itemAdditional in orderItem.RestaurantOrderItemAdditionals)
                                    {
                                        <tr>
                                            <td class="col-md-1">@count1</td>
                                            <td class="col-md-5">@Html.DisplayFor(modelItem => itemAdditional.RestaurantOrderItem.RestaurantMenuItem.ItemName)</td>
                                            <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.MenuAdditionalElement.AdditionalElementName)</td>
                                            <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.Qty)</td>
                                            <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.MenuAdditionalElement.AdditionalCost)</td>
                                            <td class="col-md-1">@Html.DisplayFor(modelItem => itemAdditional.Total)</td>
                                        </tr>
                                        count1 = count1 + 1;
                                    }
                                                    }

                                                </table>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                    cnt = cnt + 1;
                            }
                        }
                    </tbody>
                    <tfoot style="display:none;">
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>



    </div>
</div>

@Scripts.Render("~/bundles/fooTable/js")

<script>
    $(function () {
        $('#orderItemDetails_@Model.FirstOrDefault().RestaurantOrderId').footable();

        $("#orderItemDetails_@Model.FirstOrDefault().RestaurantOrderId .checkSelectedToggle").change(function () {
            var btn = $(this);

            $.ajax({
                url: "/Admin/Restaurant/UpdateOrderItemServedStatus/" + btn.attr("name"),
                method: "POST",
                success: function () {
                },
            });

        });
    });
</script>