﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantOrderItem>
@Styles.Render("~/bundles/fooTable/css")
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Today's top 10 Selling Items
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter_top_item" placeholder="Search in table">
        <table id="top_selling_item" class="footable table table-striped" data-page-size="5" data-filter=#filter_top_item>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Item Name</th>
                    <th>Qty</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;

                    var topSellingItems = Model.GroupBy(d => d.RestaurantMenuItemId)
               .Select(
                   g => new
                   {
                       Key = g.Key,
                       ItemName = g.First().RestaurantMenuItem.ItemName,
                       TotalQty = g.Sum(s => s.Qty),
                       Amount = g.Sum(s => s.Qty) * g.First().RestaurantMenuItem.Price
                   }).OrderByDescending(i => i.TotalQty).Take(10);
                    foreach (var item in topSellingItems)
                    {
                        <tr>
                            <td class="col-lg-2">@cnt</td>
                            <td class="col-lg-4">@Html.DisplayFor(modelItem => item.ItemName)</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => item.TotalQty)</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => item.Amount)</td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#top_selling_item").footable();
</script>


