﻿@model ToOrdr.Core.Entities.MenuAdditionalGroup
@using ToOrdr.Localization
@{
    ViewBag.Title = "CreateMenuAdditionalGroup";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Menu Additional Group
    </h2>
    <small>Add/Edit menu additional group</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveMenuAdditionalGroup", "Restaurant"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.RestaurantId)

                <div class="form-group">
                    @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GroupDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.GroupDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                if()
                <div class="form-group">
                    @Html.LabelFor(model => model.MinimumSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.MinimumSelected, new { htmlAttributes = new { @class = "form-control", @Value = @Model.MinimumSelected == null ? 0 : Model.MinimumSelected } })
                        @Html.ValidationMessageFor(model => model.MinimumSelected, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaximumSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.MaximumSelected, new { htmlAttributes = new { @class = "form-control", @Value = @Model.MaximumSelected == null ? 0 : Model.MaximumSelected } })
                        @Html.ValidationMessageFor(model => model.MaximumSelected, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.HasQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.HasQuantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HasQuantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageMenuAdditionalGroups", "Restaurant", new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
