﻿@model ToOrdr.Core.Entities.MenuItemOffer
@using ToOrdr.Localization
@{
    ViewBag.Title = "AddEditMenuItemOffer";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Menu Item Offer
    </h2>
    <small>Add/Edit menu item offer</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveMenuItemOffer", "Restaurant"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.RestaurantMenuItem, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @if (Model.Id == null || Model.Id == 0)
                        {
                            @Html.DropDownListFor(model => model.MenuItemId, new SelectList(ViewBag.UnassignedOfferMenuItems, "Id", "Name"), "", new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.HiddenFor(model=>model.MenuItemId)
                            @Html.EditorFor(model => model.RestaurantMenuItem.ItemName, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                        }
                       
                        @Html.ValidationMessageFor(model => model.MenuItemId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Percentage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageMenuItemOffers", "Restaurant", new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>