﻿@model ToOrdr.Core.Entities.RestaurantTableMenu
@{
    ViewBag.Title = "AddEditRestaurantTableMenu";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Restaurant TableMenu
    </h2>
    <small>Add/Edit restaurant table menu</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("AddEditRestaurantTableMenu", "Restaurant", new { area = "Admin" }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.RestaurantTableId)

                <div class="form-group">
                    @Html.Label("Table Number", htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        <label class="control-label">@ViewBag.TableNumber</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RestaurantMenu, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @if (Model.Id == 0)
                        {
                            @Html.DropDownListFor(model => model.RestaurantMenuId, new SelectList(ViewBag.RestaurantMenu, "RestaurantMenuId", "MenuName"), "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RestaurantMenuId, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.RestaurantMenuId)
                            @Html.EditorFor(model => model.RestaurantMenu.MenuName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="post_form_data" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel ", "ManageRestaurantTableMenu", "Restaurant", new { tableId = Model.RestaurantTableId, tableNumber = ViewBag.TableNumber }, new { area = "Admin", @class = "btn btn-primary btn-sm" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>
