﻿@model ToOrdr.Core.Entities.MenuItemIngredient
@using ToOrdr.Localization;

@{
    ViewBag.Title = "AddItemIngredient";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Ingredient
    </h2>
    <small>add/edit ingredient</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("AddEditItemIngredient", "Restaurant", FormMethod.Post, new { id = "frmItemIngredient", area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <disv class="col-md-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.RestaurantMenuItemId)
                    </disv>
                </div>

                <div class="form-group">
                    @Html.Label("Ingredient", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @if (Model.Id == 0)
                        {
                            @Html.DropDownListFor(model => model.IngredientId, new SelectList(ViewBag.ingredient, "Id", "Name"), "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IngredientId, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.IngredientId)
                            @Html.EditorFor(model => model.Ingredient.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                
                <div class="row">
                    <div class="col-md-5 text-center col-lg-offset-2">
                        @Html.ActionLink("Cancel", "ManageItemIngredients", "Restaurant", new { area = "Admin", id = Model.RestaurantMenuItemId }, new { @class = "btn btn-primary" })
                        <input type="submit" class="btn btn-success" id="btnSubmit" name="btnSubmit" value="@Resources.Save" />                       
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/jqueryValidation")