﻿@model ToOrdr.Core.Entities.MenuItemAdditional
    @using ToOrdr.Localization;

    @{
        ViewBag.Title = "AddItemAdditionals";
        if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
        {
            Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
        }
        else
        {
            Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
        }
    }

    @section PageTitle{
        <h2 class="font-light m-b-xs">
            Additional
        </h2>
        <small>add/edit Additional</small>
    }
    <div class="hpanel">
        <div class="panel-body">
            @using (Html.BeginForm("AddEditItemAdditional", "Restaurant", new { area = "Admin" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="form-group">
                        <disv class="col-md-offset-2 col-md-5">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.RestaurantMenuItemId)
                        </disv>
                    </div>

                    <div class="form-group">
                        @Html.Label("Group Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.MenuAdditionalGroupId, new SelectList(ViewBag.MenuAdditionalGroup, "Id", "GroupName"), "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MenuAdditionalGroupId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-1">
                            @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Cancel", "ManageItemAdditional", "Restaurant", new { area = "Admin", id = Model.RestaurantMenuItemId }, new { @class = "btn btn-primary" })
                            <input type="submit" value="@Resources.Save" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
