﻿@model ToOrdr.Core.Entities.MenuItemSize
@using ToOrdr.Localization;

@{
    ViewBag.Title = "AddItemSize";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Sizes
    </h2>
    <small>add/edit Item size</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("AddEditItemSize", "Restaurant", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.RestaurantMenuItemId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @if (Model.Id == 0)
                        {
                            @Html.EditorFor(model => model.SizeName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SizeName, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.EditorFor(model => model.SizeName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.SizeName, "", new { @class = "text-danger" })
                        }
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Price", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.SizePrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SizePrice, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Calories", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.SizeCalories, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SizeCalories, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    @Html.Label("Default", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.IsDefault, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsDefault, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Active", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageItemSizes", "Restaurant", new { area = "Admin", id = Model.RestaurantMenuItemId }, new { @class = "btn btn-primary" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
