﻿@model ToOrdr.Core.Entities.RestaurantMenuItemImage
@using ToOrdr.Localization;
@{
    ViewBag.Title = "AddItemImage";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Image
    </h2>
    <small>add Item image</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("AddItemImage", "Restaurant", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.RestaurantMenuItemId)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label control-label-left-align col-md-1 col-md-offset-1 text-left">Preview</label>
                    <div class="col-sm-1">
                        <img id="item_image" class="image-preview-size" src="#" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    @Html.HiddenFor(model => model.Image)
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    <div class="col-sm-5">
                        <input type="file" name="uploadItemImage" id="uploadItemImage" class="form-control" onchange="showItemImage(this)" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("IsPrimary", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.IsPrimary)
                        @Html.ValidationMessageFor(model => model.IsPrimary, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Active", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageItemImages", "Restaurant", new { area = "Admin", id = Model.RestaurantMenuItemId }, new { @class = "btn btn-primary" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jquery/js")
<script>

    function showItemImage(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#item_image').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>