﻿@model ToOrdr.Core.Entities.MenuItemSuggestion
@{
    ViewBag.Title = "AddMenuItemSuggestion";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Add MenuItem Suggestion
    </h2>
    <small> Add Suggestion</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveMenuItemSuggestion", "Restaurant", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.RestaurantMenuItemId)
                <div class="form-group">
                    @Html.Label("suggestion", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.menuItemSuggestionId, (MultiSelectList)ViewBag.MenuItemSuggestions, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.menuItemSuggestionId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageMenuItemSuggestion", "Restaurant", new { area = "Admin", id = Model.RestaurantMenuItemId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>