﻿@model ToOrdr.Core.Entities.RestaurantCuisine
@using ToOrdr.Localization
@{
    ViewBag.Title = "AddRestaurantCuisine";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Add Restaurant Cuisine
    </h2>
    <small>Add cuisine</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveRestaurantCuisine", "Restaurant", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data", id = "update_profile" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model=>model.RestaurantId)

                <div class="form-group">
                    @Html.Label("Cuisine", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.CuisineId, new SelectList(@ViewBag.UnassignedRestCuisines, "Id", "Name"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CuisineId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                @{
            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
            var restCuisineImg = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.RestaurantCuisines, Model.Image, Model.RestaurantId, api_path,Model.Id);
                }
                <div class="form-group row">
                    <label class="control-label control-label-left-align col-md-1 col-md-offset-1 text-left">Preview</label>
                    <div class="col-sm-1">
                        <img id="restCuisine_img" class="image-preview-size" src="@Url.Content(restCuisineImg)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Cuisine Image", htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    @Html.HiddenFor(model => model.Image)
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    <div class="col-sm-5">
                        <input type="file" name="uploadImage" id="uploadImage" class="form-control" onchange="showImage(this)" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageRestaurantCuisines", "Restaurant", new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@Scripts.Render("~/bundles/jqueryValidation")
<script>
    function showImage(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#restCuisine_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>