﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrdr.Core.Entities.RestaurantOrder>
@{
    ViewBag.Title = "AllRecentOrdersOfAuthRestaurants";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }

    var searchText = ViewBag.SearchText;
    var restaurantId = ViewBag.RestaurantId;
}
@Styles.Render("~/bundles/jqueryui/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        All Recent orders 
    </h2>
    <small>List of recent orders </small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        All Recent orders
    </div>
    <div class="panel-body">
        @*@if (Session["IsReceptionist"] == null )
        {
            <div class="hpanel">
            <div class="panel-body">
                @Html.Hidden("RestaurantId", new { htmlAttributes = new { value = restaurantId } })
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Restaurant</label>
                            <div class="col-md-9">
                                @Html.Editor("SearchText", new { htmlAttributes = new { @class = "form-control", value = searchText } })
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        }*@
        <div id="dvRecentOrdersResult">
            @{
                Html.RenderPartial("_AllRecentOrdersResult", Model);
            }
        </div>


            </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/jqueryui/js")
<script>

    $("#SearchText").autocomplete({

        source: function (request, response) {

            $.ajax({
                url: "/Admin/Restaurant/RestaurantAutoComplete",
                type: "POST",
                dataType: "json",
                data: { prefix: request.term },
                success: function (data) {
                    //alert(Option)

                    response($.map(data, function (item) {
                        //alert(item);
                        return {
                            label: item.Name,
                            value: item.Name,
                            Id: item.Id
                        };
                    }))


                }
            })
        },
        messages: {
            noResults: "", results: ""
        },
        select: function (event, ui) {
            $('#RestaurantId').val(ui.item.Id);
            var id = ui.item.Id;
            var searchText=$("#SearchText").val();
            $.ajax({
                url: "@(Url.Action("GetAllRecentOrders", "Restaurant", new { area = "Admin" }))",
                type: "POST",
                data: { searchText: searchText, restaurantId: id },
                success: function (result) {
                    $("#SearchText").val(searchText);
                    $('#RestaurantId').val(ui.item.Id);
                    $("#dvRecentOrdersResult").html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve.');
            }
        });
        }
    });

</script>

