﻿@model IEnumerable<ToOrdr.Core.Entities.CustomerRole>
@{
    ViewBag.Title = "AuthorizedUsers";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}

@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Authorized Users
    </h2>
    <small>List of Authorized Users of restaurant</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        Authorized Users
    </div>

    <div class="panel-body">
        @Html.ActionLink("Create New", "CreateCustomerRole", "Restaurant", null, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="user_table" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var role in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => role.Customer.FirstName)  @Html.DisplayFor(modelItem => role.Customer.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => role.Role.Name)</td>
                            @if (role.Customer.ActiveStatus == null) { role.Customer.ActiveStatus = false; }
                            <td>@Html.CheckBoxFor(modelItem => role.Customer.ActiveStatus.Value)</td>

                            <td>
                                @Html.ActionLink(" ", "UpdateCustomerRole", "Restaurant", new { id = role.Id }, new { @class = "fa fa-pencil-square-o fa-2x", area = "Admin" })
                                <a data-user-role-id="@role.Id" class="js-delete"><span class="fa fa-trash fa-2x"></span></a>
                            </td>
                        </tr>
                            cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#user_table').footable();
</script>
<script>
    $(document).ready(function () {
        $("#user_table .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Restaurant/DeleteCustomerRole/" + btn.attr("data-user-role-id"),
                            method: "POST",
                            success: function () {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Record has been deleted.", "success");
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>


