﻿@using ToOrdr.Localization
@model ToOrdr.Core.Entities.RestaurantTable
@{
    ViewBag.Title = "CreateEditRestaurantTable";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Restaurant Table
    </h2>
    <small>Add/Edit restaurant table details</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveRestaurantTable", "Restaurant"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model=>model.RestaurantTableGroupId)
                @Html.HiddenFor(model=>model.QRCodeImage)
                <div class="form-group">
                    @Html.LabelFor(model => model.TableNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @if (Model.Id == 0)
                        {
                            @Html.EditorFor(model => model.TableNumber, new { htmlAttributes = new { @class = "form-control" } })
                        }
                        else
                        {

                            @Html.EditorFor(model => model.TableNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        }

                        @Html.ValidationMessageFor(model => model.TableNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TotalSeats, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.TotalSeats, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TotalSeats, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageTables", "Restaurant",new {id=Model.RestaurantTableGroupId}, new { Area = "Admin", @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>