﻿@model ToOrdr.Core.Entities.RestaurantMenuItem
@using ToOrdr.Localization;
@{
    ViewBag.Title = "CreateRestaurantMenuItem";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}
@Styles.Render("~/bundles/jqueryui/css")
@Styles.Render("~/bundles/sweetAlert/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        @Resources.HeadingMenuItem
    </h2>
    <small>@Resources.SubTextMenuItem</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveRestaurantMenuItem", "Restaurant", FormMethod.Post, new { id = "frmMenuItem", area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <span id="showErrormsg" class="text-danger"></span>
                    </div>
                </div>
                @Html.HiddenFor(model => model.RestaurantMenuGroupId)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model=>model.TaxId)
                <div class="form-group">
                    @Html.Label("Language", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.LanguageId, new SelectList(ViewBag.Languages, "Id", "Name"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ItemDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PreparationTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        <div class="input-group date" id="datetimepicker">
                            @Html.EditorFor(model => model.PreparationTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PreparationTime, "", new { @class = "text-danger" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SoldOut, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.SoldOut, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoldOut, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div id="DivAddFeeDetails" class="col-md-5 col-md-offset-2" style="display:block;margin-top:50px;">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt text-center">
                                @Resources.AddTranslation
                            </div>
                            <div class="panel-body">
                                <table id="tblMenuItem" class="center" cellpadding="50" cellspacing="50">
                                    <thead>
                                        <tr>
                                            <th><span>@Resources.language</span></th>
                                            <th><span>@Resources.ItemName</span></th>
                                            <th><span>@Resources.ItemDescription</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            var count = 0;
                                            if (Model.RestaurantMenuItemTranslations.Count() == 0)
                                            {
                                                count = 1;
                                                <tr>
                                                    <td>
                                                        @Html.DropDownList("ddlLanguages_0", new SelectList(ViewBag.Languages, "Id", "Name"), new { @class = "form-control" })
                                                    </td>
                                                    <td><input class="form-control" id="txtItemName_0" name="txtItemName_0" type="text" /></td>
                                                    <td><input class="form-control" id="txtItemDesc_0" name="txtItemDesc_0" type="text" /></td>
                                                    <td><input class="btn btn-primary btn-sm" type="button" id="btnAddNew" value="Add New" /></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var eachTrans in Model.RestaurantMenuItemTranslations)
                                                {
                                                    <tr id="row_@count">
                                                        <td>
                                                            <input type="hidden" id="hdnTranslationId_@count" name="hdnTranslationId_@count" value="@eachTrans.Id" />
                                                            <input type="hidden" id="hdnMenuItemId_@count" name="hdnMenuItemId_@count" value="@eachTrans.RestaurantMenuItemId" />
                                                            @Html.DropDownList("ddlLanguages_" + count, new SelectList(ViewBag.Languages, "Id", "Name", eachTrans.LanguageId), new { @class = "form-control" })
                                                        </td>
                                                        <td><input class="form-control" id="txtItemName_@count" name="txtItemName_@count" type="text" value="@eachTrans.TranslatedItemName" /></td>
                                                        <td><input class="form-control" id="txtItemDesc_@count" name="txtItemDesc_@count" type="text" value="@eachTrans.TranslatedItemDescription" /></td>
                                                        @if (count == 0)
                                                        {
                                                            <td><input class="btn btn-primary btn-sm" type="button" id="btnAddNew" value="Add New" /></td>
                                                        }
                                                        else
                                                        {
                                                            <td><input class="btn-remove btn btn-danger btn-sm" data-translation-id="@eachTrans.Id" type="button" id="@count" name="@count" value="Remove" /></td>
                                                        }

                                                    </tr>
                                                        count = count + 1;
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-center">
                        <input type="button" class="btn btn-success" id="btnSubmit" name="btnSubmit" value="@Resources.Save" />
                        <input type="hidden" id="hdnExistingCountOfRows" name="hdnExistingCountOfRows" value="@count" />
                        <input type="hidden" id="hdnCountOfRows" name="hdnCountOfRows" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@Scripts.Render("~/bundles/jqueryui/js")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/jqueryValidation")
<script type="text/javascript">

    $(document).ready(function () {
        var count = parseInt($("#hdnExistingCountOfRows").val());
        //creating dynamic new form when click on 'Add New' button
        //and appending to table
        $("#btnAddNew").on("click", function () {
            //count=1;
            $("#tblMenuItem").append('<tr id="row_' + count + '">'
            + '<td><input type="hidden" id="hdnTranslationId_' + count + '" name="hdnTranslationId_' + count + '" value="0" />'
            + '<input type="hidden" id="hdnMenuItemId_' + count + '" name="hdnMenuItemId_' + count + '" value="0" />'
            + '<select class="form-control"  id="ddlLanguages_' + count + '" name="ddlLanguages_' + count + '"/></select></td>'
            + '<td><input class="form-control"  type="text" id="txtItemName_' + count + '" name="txtItemName_' + count + '"/></td>'
            + '<td><input class="form-control"  type="text" id="txtItemDesc_' + count + '" name="txtItemDesc_' + count + '"/></td>'
            + '<td><input class="btn-remove btn btn-danger btn-sm" type="button" id="' + count + '" name="' + count + '" value="Remove" /></td>'
            + '</tr>');

            //copying dropdown list data to a variable
            var ddldata = $("#ddlLanguages_0").html();
            //appending dropdownlist data to dynamically created Dropdownlist
            $("#ddlLanguages_" + count + "").append(ddldata);
            count++;
            $("#hdnCountOfRows").val(count);
        });
        $("#hdnCountOfRows").val(count);

        //Removing dynamic form when click on remove button.
        $(document).on("click", ".btn-remove", function () {
            var btn = $(this);
            count = count - 1;
            $("#hdnCountOfRows").val(count);
            var button_id = $(this).attr("id");
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
function (isConfirm) {
    if (isConfirm) {
        var transId = btn.attr("data-translation-id");
        if (transId > 0) {
            $.ajax({
                url: "/Admin/Restaurant/DeleteRestaurantMenuItemTranslation/" + transId,
                method: "POST",
                success: function () {
                    $("#row_" + button_id + "").remove();
                    swal("Deleted!", "Record has been deleted.", "success");
                },
            });
        }
        else {
            $("#row_" + button_id + "").remove();
            swal("Deleted!", "Record has been deleted.", "success");
        }


    } else {
        swal("Cancelled", "Record is safe :)", "error");
    }
});
        });
    });

    //Saving data ww entered to a javascript list
    $("#btnSubmit").unbind().click(function () {
        var form = $('#frmMenuItem')[0];
        // Create an FormData object
        var data = new FormData(form);

        $.ajax({
            type: 'POST',
            url: '/Admin/Restaurant/SaveRestaurantMenuItem/',
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                formSuccess(data)
                //BTW, data is one of the worst names you can make for a variable
                //handleSuccessFunctionHERE(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                alert("fail");
            }
        });
    });

    function formSuccess(result) {
        if (result.success) {
            window.location.href = "/Admin/Restaurant/ManageMenu/";
        } else {
            $.each(result.errors, function (key, val) {
                if (key == "") {
                    $("#showErrormsg").html(val[val.length - 1].ErrorMessage);
                }
                var container = $('span[data-valmsg-for="' + key + '"]');
                container.removeClass("field-validation-valid").addClass("field-validation-error");
                container.html(val[val.length - 1].ErrorMessage);
            });
        }
    }

    $(function () {
        //allow validation framework to parse DOM
        $.validator.unobtrusive.parse('form');
    });


    $(function () {
        $('#datetimepicker').datetimepicker({
            format: 'HH:mm'
        });
    });
</script>

