﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
         Dashboard
    </h2>
}


<div class="row">
    <div class="col-md-6">
        @{
            Html.RenderAction("TodaysOrders", "Restaurant");
        }
    </div>
    <div class="col-md-6">
        @{
            Html.RenderAction("TodaysTopSellingItem", "Restaurant");
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                Today's table reservations
            </div>
            <div class="panel-body">


            </div>
        </div>
    </div>
    <div class="col-md-6">
        @{
            Html.RenderPartial("_RestaurantReviews");
        }
    </div>
</div>






