﻿@model ToOrdr.Core.Entities.RestaurantMenuGroup
@using ToOrdr.Localization;
@{
    ViewBag.Title = "EditRestaurantMenuGroup";
}
@Styles.Render("~/bundles/jqueryui/css")
@Styles.Render("~/bundles/sweetAlert/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        @Resources.HeadingMenuGroup
    </h2>
    <small>@Resources.SubTextForAddMenu</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmMenuGroup", area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">

                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <span id="showErrormsg" class="text-danger"></span>
                    </div>
                </div>
                @Html.HiddenFor(model => model.RestaurantMenuId)
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.Label("Language", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.LanguageId, new SelectList(ViewBag.Languages, "Id", "Name"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GroupDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.GroupDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ServeLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ServeLevel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ServeLevel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">

                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div id="DivAddFeeDetails" class="col-md-5 col-md-offset-2" style="display:block;margin-top:50px;">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt text-center">
                                @Resources.AddTranslation
                            </div>
                            <div class="panel-body">
                                <table id="tblMenuGroup" class="center" cellpadding="50" cellspacing="50">
                                    <thead>
                                        <tr>
                                            <th><span>@Resources.language</span></th>
                                            <th><span>@Resources.GroupName</span></th>
                                            <th><span>@Resources.GroupDescription</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var count = 0;
                                            if (Model.RestaurantMenuGroupTranslations.Count() == 0)
                                            {
                                                count = 1;
                                                <tr>
                                                    <td>
                                                        @Html.DropDownList("ddlLanguages_0", new SelectList(ViewBag.Languages, "Id", "Name"), new { @class = "form-control" })
                                                    </td>
                                                    <td><input class="form-control" id="txtGroupName_0" name="txtGroupName_0" type="text" /></td>
                                                    <td><input class="form-control" id="txtGroupDesc_0" name="txtGroupDesc_0" type="text" /></td>
                                                    <td><input class="btn btn-primary btn-sm" type="button" id="btnAddNew" value="Add New" /></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var eachTrans in Model.RestaurantMenuGroupTranslations)
                                                {
                                                    <tr id="row_@count">
                                                        <td>
                                                            <input type="hidden" id="hdnTranslationId_@count" name="hdnTranslationId_@count" value="@eachTrans.Id" />
                                                            <input type="hidden" id="hdnMenuGroupId_@count" name="hdnMenuGroupId_@count" value="@eachTrans.RestaurantMenuGroupId" />
                                                            @Html.DropDownList("ddlLanguages_" + count, new SelectList(ViewBag.Languages, "Id", "Name", eachTrans.LanguageId), new { @class = "form-control" })
                                                        </td>
                                                        <td><input class="form-control" id="txtGroupName_@count" name="txtGroupName_@count" type="text" value="@eachTrans.TranslatedGroupName" /></td>
                                                        <td><input class="form-control" id="txtGroupDesc_@count" name="txtGroupDesc_@count" type="text" value="@eachTrans.TranslatedGroupDescription" /></td>
                                                        @if (count == 0)
                                                        {
                                                            <td><input class="btn btn-primary btn-sm" type="button" id="btnAddNew" value="Add New" /></td>
                                                        }
                                                        else
                                                        {
                                                            <td><input class="btn-remove btn btn-danger btn-sm" data-translation-id="@eachTrans.Id" type="button" id="@count" name="@count" value="Remove" /></td>
                                                        }

                                                    </tr>
                                                        count = count + 1;

                                                }

                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-center">
                        <input type="button" class="btn btn-success btn-lg" id="btnSubmit" name="btnSubmit" value="@Resources.Save" />
                        <input type="hidden" id="hdnExistingCountOfRows" name="hdnExistingCountOfRows" value="@count" />
                        <input type="hidden" id="hdnCountOfRows" name="hdnCountOfRows" />
                    </div>
                </div>

            </div>

        }

    </div>
</div>
@Scripts.Render("~/bundles/jqueryui/js")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/jqueryValidation")
<script type="text/javascript">

    $(document).ready(function () {
        var count = parseInt($("#hdnExistingCountOfRows").val());
        //creating dynamic new form when click on 'Add New' button
        //and appending to table
        $("#btnAddNew").on("click", function () {
            //count=1;
            $("#tblMenuGroup").append('<tr id="row_' + count + '">'
            + '<td><input type="hidden" id="hdnTranslationId_' + count + '" name="hdnTranslationId_' + count + '" value="0" />'
            + '<input type="hidden" id="hdnMenuGroupId_' + count + '" name="hdnMenuGroupId_' + count + '" value="0" />'
            + '<select class="form-control"  id="ddlLanguages_' + count + '" name="ddlLanguages_' + count + '"/></select></td>'
            + '<td><input class="form-control"  type="text" id="txtGroupName_' + count + '" name="txtGroupName_' + count + '"/></td>'
            + '<td><input class="form-control"  type="text" id="txtGroupDesc_' + count + '" name="txtGroupDesc_' + count + '"/></td>'
            + '<td><input class="btn-remove btn btn-danger btn-sm" type="button" id="' + count + '" name="' + count + '" value="Remove" /></td>'
            + '</tr>');

            //copying dropdown list data to a variable
            var ddldata = $("#ddlLanguages_0").html();
            //appending dropdownlist data to dynamically created Dropdownlist
            $("#ddlLanguages_" + count + "").append(ddldata);
            count++;
            $("#hdnCountOfRows").val(count);
        });
        $("#hdnCountOfRows").val(count);

        //Removing dynamic form when click on remove button.
        $(document).on("click", ".btn-remove", function () {
            var btn = $(this);
            count = count - 1;
            $("#hdnCountOfRows").val(count);
            var button_id = $(this).attr("id");
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    var transId = btn.attr("data-translation-id");
                    if (transId > 0) {
                        $.ajax({
                            url: "/Admin/Restaurant/DeleteRestaurantMenuGroupTranslation/" + transId,
                            method: "POST",
                            success: function () {
                                $("#row_" + button_id + "").remove();
                                swal("Deleted!", "Record has been deleted.", "success");
                            },
                        });
                    }
                    else {
                        $("#row_" + button_id + "").remove();
                        swal("Deleted!", "Record has been deleted.", "success");
                    }


                } else {
                    swal("Cancelled", "Record is safe :)", "error");
                }
            });
        });
    });

    //Saving data ww entered to a javascript list
    $("#btnSubmit").unbind().click(function () {
        var form = $('#frmMenuGroup')[0];
        // Create an FormData object
        var data = new FormData(form);

        $.ajax({
            type: 'POST',
            url: '/Admin/Restaurant/EditRestaurantMenuGroup/',
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                formSuccess(data)
                //BTW, data is one of the worst names you can make for a variable
                //handleSuccessFunctionHERE(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                alert("fail");
            }
        });
    });

    function formSuccess(result) {
        if (result.success) {
            window.location.href = "/Admin/Restaurant/ManageMenu/";
        } else {
            $.each(result.errors, function (key, val) {
                if (key == "") {
                    $("#showErrormsg").html(val[val.length - 1].ErrorMessage);
                }
                var container = $('span[data-valmsg-for="' + key + '"]');
                container.removeClass("field-validation-valid").addClass("field-validation-error");
                container.html(val[val.length - 1].ErrorMessage);
            });
        }
    }

    $(function () {
        //allow validation framework to parse DOM
        $.validator.unobtrusive.parse('form');
    });
</script>