﻿@{
    ViewBag.Title = "Financial";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}
<style>
    #MonthlyOrderDetails {
        width: 100%;
        height: 140px;
    }
</style>

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Financials
    </h2>
    <small></small>
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                Hourly earnings from restaurant Orders
            </div>
            <div class="panel-body">
                <div>
                    <canvas id="DailyEarningsBarChart" height="140"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                Monthly earnings from restaurant
            </div>
            <div class="panel-body">
                <div>
                    <canvas id="MonthlyEarningsLineChart" height="140"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/chartjs/js")

<script>
    $(document).ready(function () {
        //Hourly earning from restaurant orders
        var barOptions = {
            responsive: true,
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Hours'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Earnings'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        };

        $.ajax({
            url: '/Admin/Restaurant/TodaysOrderDetails/',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                var orderAmount = [];
                for (i = 0; i < data[1].data.length; i++) {
                    for (x = 0; x < data[1].data[i].length; x++) {
                        orderAmount[i] = data[1].data[i][x];
                    }
                }
                var totalOrders = [];
                for (j = 0; j < data[2].data.length; j++) {
                    for (y = 0; y < data[2].data[j].length; y++) {
                        totalOrders[j] = data[2].data[j][y];
                    }
                }
                var barData = {
                    labels: data[0].data,
                    datasets: [
                        {
                            label: "Revenue",
                            backgroundColor: 'rgba(98,203,49, 0.5)',
                            borderColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            borderWidth: 1,
                            data: orderAmount
                        },
                        {
                            label: "Orders",
                            borderWidth: 1,
                            data: totalOrders
                        }
                    ]
                };
                var ctx = document.getElementById("DailyEarningsBarChart").getContext("2d");
                new Chart(ctx, { type: 'bar', data: barData, options: barOptions });
            }
        });

        //monthly earning from restaurant orders

        var lineOptions = {
            responsive: true,
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Months'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Earnings'
                    }
                }]
            },
        };

        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
        $.ajax({
            url: '/Admin/Restaurant/MonthlyOrderDetails/',
            method: 'GET',
            //data: { year: date.now.year },
            dataType: 'json',
            success: function (data) {
                var orderAmount = [];
                for (i = 0; i < data[1].data.length; i++) {
                    for (x = 0; x < data[1].data[i].length; x++) {
                        orderAmount[i] = data[1].data[i][x];
                    }
                }
                var OrderMonths = [];
                for (i = 0; i < data[0].data.length; i++) {
                    for (x = 0; x < data[0].data[i].length; x++) {
                        OrderMonths[i] = data[0].data[i][x];
                    }
                }
                var MonthResult = [];
                for (j = 0; j < OrderMonths.length; j++) {
                    MonthResult[j] = months[OrderMonths[j] - 1];
                }

                var lineData = {
                    labels: MonthResult,
                    datasets: [
                        {
                            label: "Revenue",
                            backgroundColor: 'rgba(98,203,49, 0.5)',
                            borderColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            borderWidth: 1,
                            data: orderAmount
                        }
                    ]
                };
                var ctx = document.getElementById("MonthlyEarningsLineChart").getContext("2d");
                new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });
            }
        });
    });

</script>
