﻿@model ToOrdr.Web.ViewModels.TopSellingItemVM
@{
    ViewBag.Title = "LowSelling";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Low Selling Items
    </h2>
    <small>List of low selling menu items</small>
}
<div class="hpanel">
    <div class="panel-body">
        @using (Html.BeginForm("LowSelling", "Restaurant"))
        {
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <div class="form-group row">
                        <label for="Price" class="col-sm-2 col-form-label">From</label>
                        <div class="col-md-10">
                            <div class="input-group date" id="datetimepicker1">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="Price" class="col-sm-2 col-form-label">To</label>
                        <div class="col-md-10">
                            <div class="input-group date" id="datetimepicker2">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Category Wise</label>
                        <div class="col-md-4 ">
                            @Html.CheckBoxFor(model => model.category, new { htmlAttributes = new { @class = "form-control" } })
                            <button type="submit" class="col-sm-offset-2 btn btn-primary btn-md">Search</button>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        }

        @{
            if (Model.category)
            {
                Html.RenderAction("LowSellingCategoryWise", "Restaurant", new { filters = Model });
            }
            else
            {
                Html.RenderAction("LowSellingMenuItem", "Restaurant", new { filters = Model });
            }

        }
    </div>
</div>
<script>
    $(function () {

        $('#datetimepicker1').datepicker();
        $('#datetimepicker2').datepicker();
    });
</script>