﻿@model IEnumerable<ToOrdr.Core.Entities.MenuAdditionalElement>
@{
    ViewBag.Title = "ManageMenuAdditionalElements";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}
@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        @ViewBag.MenuAdditionalGroup
    </h2>
    <small>List of available menu additional elements</small>
}
<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">

        </div>
        @Html.ActionLink(" ", "ManageMenuAdditionalGroups", "Restaurant", new { @class = "fa fa-2x fa-arrow-circle-left", area = "Admin" })
        <span class="fa fa-2x">@ViewBag.MenuAdditionalGroup</span>
    </div>

    <div class="panel-body">
        @Html.ActionLink("Create New", "AddMenuAdditionalElement", "Restaurant", new { area = "Admin", grp_id = ViewBag.GroupId, grp_name = @ViewBag.MenuAdditionalGroup }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="menu_additional_elements" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>@Html.DisplayNameFor(model => model.AdditionalElementName)</th>
                    <th>@Html.DisplayNameFor(model => model.AdditionalElementDescription)</th>
                    <th>@Html.DisplayNameFor(model => model.AdditionalCost)</th>
                    <th>@Html.DisplayNameFor(model => model.Image)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => item.AdditionalElementName)</td>
                            <td>@Html.DisplayFor(modelItem => item.AdditionalElementDescription)</td>
                            <td>@Html.DisplayFor(modelItem => item.AdditionalCost)</td>
                            <td>
                                @{var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                                var element_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.MenuAdditionalElementImage, item.Image, item.MenuAdditionalGroupId, api_path, item.Id);
                                }
                                <img src="@Url.Content(element_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />

                            </td>
                            <td>@Html.CheckBoxFor(modelItem => item.IsActive)</td>
                            <td>
                                @Html.ActionLink(" ", "EditMenuAdditionalElement", "Restaurant", new { element_id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x", area = "Admin" })
                                <a data-element-id="@item.Id" data-group-id="@item.MenuAdditionalGroupId" class="js-delete"><span class="fa fa-trash fa-2x"></span></a>
                            </td>
                        </tr>
                                cnt = cnt + 1;

                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<script>
    $('#menu_additional_elements').footable();
</script>
<script>
    $(document).ready(function () {
        $("#menu_additional_elements .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Restaurant/DeleteMenuAdditionalElement/" + "?id=" + btn.attr("data-element-id") + "&grp_id=" + btn.attr("data-group-id"),
                            method: "POST",
                            success: function () {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Record has been deleted.", "success");
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>
