﻿@model IEnumerable<ToOrdr.Core.Entities.MenuItemAdditional>

@{
    ViewBag.Title = "ManageItemAdditional";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/sweetAlert/css")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")

@section PageTitle{
    <h4 class="font-light m-b-xs">
        @{var itemName = Model.Select(r => r.RestaurantMenuItem.ItemName).FirstOrDefault();}
        @itemName Additionals
    </h4>
    <small>List of Additionals</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageMenu", "Restaurant", new { area = "Admin" }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddItemAdditionals", "Restaurant", new { area = "Admin", menuItemId = ViewBag.itemId }, new { @class = "btn btn-info btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="additionalTable" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th class="col-md-1">Sr.No.</th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-5">Description</th>
                    <th class="col-md-1">Min Selected</th>
                    <th class="col-md-1">Max Selected</th>
                    <th class="col-md-1">Active</th>
                    <th class="col-md-1">Action</th>
                    <th data-hide="all"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var additional in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(item => additional.MenuAdditionalGroup.GroupName)</td>
                            <td>@Html.DisplayFor(item => additional.MenuAdditionalGroup.GroupDescription)</td>
                            <td>@Html.DisplayFor(item => additional.MenuAdditionalGroup.MinimumSelected)</td>
                            <td>@Html.DisplayFor(item => additional.MenuAdditionalGroup.MaximumSelected)</td>
                            @*<td>@Html.CheckBoxFor(item => additional.MenuAdditionalGroup.IsActive)</td>*@
                            <td>@Html.CheckBoxFor(modelItem => additional.IsActive, new { @class = "checkSelected", Name = additional.Id })</td>
                            <td>
                                @*@Html.ActionLink(" ", "EditItemAdditional", "Restaurant", new { area = "Admin", id = additional.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })*@
                                <a data-itemadditional-id="@additional.Id" class="menu-delete fa fa-trash fa-2x"></a>
                            </td>
                            <td>
                                @if (additional.MenuAdditionalGroup.MenuAdditionalElements.Any())
                                {
                                    <table id="menuAdditional_@cnt" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5">
                                        <thead>
                                            <tr>
                                                <th colspan="6"><center>Elements</center></th>
                                            </tr>
                                            <tr>
                                                <th class="col-md-1">Sr.No</th>
                                                <th class="col-md-3">Name</th>
                                                <th class="col-md-3">Image</th>
                                                <th class="col-md-3">Description</th>
                                                <th class="col-md-1">Additional Cost</th>
                                                <th class="col-md-1">IsActive</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                    var counter = 1;
                                    foreach (var additionalElement in additional.MenuAdditionalGroup.MenuAdditionalElements)
                                    {
                                        <tr class="item_@additional.Id">
                                            <td>@counter</td>
                                            <td>@additionalElement.AdditionalElementName</td>
                                            <td>
                                                @{
                                        var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                                        var image = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.MenuAdditionalElementImage, additionalElement.Image, additional.RestaurantMenuItemId, api_path, additionalElement.Id);
                                                }
                                                <img src="@Url.Content(image)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                                            </td>
                                            <td>@additionalElement.AdditionalElementDescription <br /></td>
                                            <td>@additionalElement.AdditionalCost</td>
                                            @if (additionalElement.IsActive == null) { additionalElement.IsActive = false; }
                                            <td>@Html.CheckBoxFor(modelItem => additional.IsActive)</td>
                                        </tr>
                                            counter = counter + 1;
                                    }
                                            }
                                        </tbody>
                                    </table>
                                }
                            </td>
                        </tr>
                                cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    $('#additionalTable').footable();

    $(".checkSelected").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, update!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Restaurant/UpdateMenuItemAdditional/" + btn.attr("name"),
                        method: "POST",
                        success: function () {
                            swal("Update!", "Record has been updated.", "success");
                        },
                    });

                } else {
                    if (btn.is(":checked")) {
                        btn.prop('checked', false);
                    }
                    else if (btn.is(":not(:checked)")) {
                        btn.prop('checked', true);
                    }
                    swal("Cancelled", "Record is safe :)", "error");
                }
            });
    });

    $("#additionalTable .menu-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Restaurant/DeleteItemAdditional/" + btn.attr("data-itemAdditional-id"),
                        method: "POST",
                        success: function () {
                            btn.parents("tr").remove();
                            swal("Deleted!", "Record has been deleted.", "success");
                        },
                    });

                } else {
                    swal("Cancelled", "Record is safe :)", "error");
                }
            });
    });
</script>



