﻿@model IEnumerable<ToOrdr.Core.Entities.MenuAdditionalGroup>
@{
    ViewBag.Title = "ManageMenuAdditionalGroups";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}

@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Menu Additional Groups
    </h2>
    <small>List of available menu additional groups</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">

        </div>
        Menu Additional Groups
    </div>

    <div class="panel-body">
        @Html.ActionLink("Create New", "CreateMenuAdditionalGroup", "Restaurant", null, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="menu_additional_groups" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>@Html.DisplayNameFor(model => model.GroupName)</th>
                    <th>@Html.DisplayNameFor(model => model.GroupDescription)</th>
                    <th>@Html.DisplayNameFor(model => model.MinimumSelected)</th>
                    <th>@Html.DisplayNameFor(model => model.MaximumSelected)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>@Html.DisplayNameFor(model => model.HasQuantity)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => item.GroupName)</td>
                            <td>@Html.DisplayFor(modelItem => item.GroupDescription)</td>
                            <td>@Html.DisplayFor(modelItem => item.MinimumSelected)</td>
                            <td>@Html.DisplayFor(modelItem => item.MaximumSelected)</td>
                            <td>@Html.CheckBoxFor(modelItem => item.IsActive)</td>
                            <td>@Html.CheckBoxFor(modelItem => item.HasQuantity)</td>
                            <td>
                                @Html.ActionLink(" ", "EditMenuAdditionalGroup", "Restaurant", new { group_id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x", area = "Admin" })
                                @Html.ActionLink(" ", "ManageMenuAdditionalElements", "Restaurant", new { group_id = item.Id, grp_name = item.GroupName }, new { @class = "fa fa-2x fa-list-alt", area = "Admin" })
                                <a data-manuAdditional-id="@item.Id" class="js-delete fa fa-trash fa-2x"></a>
                            </td>
                        </tr>
                        cnt = cnt + 1;

                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<script>
    $('#menu_additional_groups').footable();

    $("#menu_additional_groups .js-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Restaurant/DeleteMenuAdditionalGroup/" + btn.attr("data-manuAdditional-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.status) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Menu Additional Group has been deleted.", "success");

                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Menu Additional Group is safe :)", "error");
                }
            });
    });
</script>



