﻿
@{
    ViewBag.Title = "ManageMenuItemSuggestion";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        MenuItem Suggestion
    </h2>
    <small>List of MenuItem Suggestion</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageMenu", "Restaurant", new { area = "Admin" }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddMenuItemSuggestion", "Restaurant", new { area = "Admin", menuItemId = ViewBag.itemId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="menuItemSuggestion" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Menu Name</th>
                    <th>MenuGroup Name</th>
                    <th>MenuItem Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#menuItemSuggestion").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Restaurant/LoadMenuItemSuggestions/"+@ViewBag.itemId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "MenuName", "name": "Name", "autoWidth": true },
                    { "data": "MenuGroupName", "name": "Name", "autoWidth": true },
                    { "data": "MenuItemName", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "Price", "name": "Price", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "SuggestionId", "render": function (data, type, full) { return '</a> <a data-menuitem-suggestions-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a></a> ' } }
            ]

        });

        $("#menuItemSuggestion").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Restaurant/DeleteMenuItemSuggestion/" + btn.attr("data-menuitem-suggestions-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "MenuItem Suggestion has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "MenuItem Suggestion is safe :)", "error");
                    }
                });
        });
    });
</script>
