﻿
@{
    ViewBag.Title = "ManageRestaurantCuisines";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage Restaurant Cuisines
    </h2>
    <small>List of restaurant cuisines</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Manage Restaurant Cuisines
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddRestaurantCuisine", "Restaurant", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="restaurant_cuisine" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Cuisine Name</th>
                    <th>IsActive</th>
                    <th>Creation Date</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#restaurant_cuisine").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Restaurant/LoadRestaurantCuisines",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "CuisineName", "name": "CuisineName", "autoWidth": true },
                    {
                        "data": "IsActive", render: function (data, type, row) {
                            return '<input type="checkbox" ' + ((data == 1) ? 'checked' : '') + ' id="' + row.RestCuisineId + '" class="cuisineSelected" />';
                        }
                    },
                    { "data": "CreationDate", "name": "CreationDate", "autoWidth": true },
                    {
                        "data": "CuisineImage",
                        render: function (data) {
                            return '<img src="' + data + '"  width="100" height="55" />';
                        }
                    },
                    { "data": "RestCuisineId", "render": function (data, type, full) { return ' <a data-rest-cuisine-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });

        $("#restaurant_cuisine").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Restaurant/DeleteRestaurantCuisine/" + btn.attr("data-rest-cuisine-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Restaurant cuisine has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Restaurant cuisine is safe :)", "error");
                    }
                });
        });


        $("#restaurant_cuisine").on("click", ".cuisineSelected", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Restaurant/UpdateRestaurantCuisineStatus/" + btn.attr("id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status)
                                {
                                    swal("Update!", "Record has been updated.", "success");
                                }
                                else
                                {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        if (btn.is(":checked")) {
                            btn.prop('checked', false);
                        }
                        else if (btn.is(":not(:checked)")) {
                            btn.prop('checked', true);
                        }
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>
