﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantTableMenu>

@{
    ViewBag.Title = "ManageRestaurantTableMenu";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css") 

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Table Menu Details
    </h2>
    <small>List of available menus for tables</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageTables", "Restaurant", new { id = ViewBag.RestaurantTableGroupId }, new { @class = "fa fa-2x fa-arrow-circle-left", area = "Admin" })
        <span class="fa fa-2x">Table Number @ViewBag.TableNumber</span>
    </div>

    <div class="panel-body">
        @Html.ActionLink("Create New", "CreateRestaurantTableMenu", "Restaurant", new { area = "Admin", tableId = ViewBag.TableId, tableNumber = ViewBag.TableNumber }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="restaurantTableMenu" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>@Html.DisplayNameFor(model => model.RestaurantMenu)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var tableMenu in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => tableMenu.RestaurantMenu.MenuName)</td>
                            <td>@Html.CheckBoxFor(modelItem => tableMenu.IsActive, new { disabled = "disabled" })</td>
                            <td>@Html.DisplayFor(modelItem => tableMenu.CreationDate)</td>
                            <td>
                                @Html.ActionLink(" ", "EditRestaurantTableMenu", "Restaurant", new { Id = tableMenu.Id }, new { @class = "fa fa-pencil-square-o fa-2x", area = "Admin" })
                                <a data-table-Menu-id="@tableMenu.Id" class="js-delete"><span class="fa fa-trash fa-2x"></span></a>
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#restaurantTableMenu').footable();

    $(document).ready(function () {
        $("#restaurantTableMenu .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Restaurant/DeleteRestaurantTableMenu/" + btn.attr("data-table-Menu-id"),
                            method: "POST",
                            success: function () {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Record has been deleted.", "success");
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });    
</script>
