﻿@{
    ViewBag.Title = "ManageTablesStatusQueue";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage Restaurant Tables Queue
    </h2>
    <small>Restaurant tables status changed queue</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Manage Restaurant Tables Queue
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="rest_table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Table Group</th>
                    <th>Table Number</th>
                    <th>Seats</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@*<script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
<script src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"] + "signalr/hubs")"></script>*@
<script>
    $(document).ready(function () {
        $.connection.hub.url = '@System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"]signalr/hubs"';
        var notificationFromHub = $.connection.orderHub;

        $.connection.hub.start().done(function () {
            GetTableStatusChangeQueue();
        });

        // Notify to client with the recent updates
        notificationFromHub.client.updatedClients = function () {
            $('#rest_table').DataTable().ajax.reload();
        };
    });
    function GetTableStatusChangeQueue()
    {
        $("#rest_table").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Restaurant/LoadTablesStatusQueue",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "GroupName", "name": "GroupName", "autoWidth": true },
                    { "data": "TableNumber", "name": "TableNumber", "autoWidth": true },
                    { "data": "TotalSeats", "name": "TotalSeats", "autoWidth": true },
                    { "data": "TableStatus", "name": "TableStatus", "autoWidth": true },
                    { "data": "TableId", "render": function (data, type, full) { return ' <a data-rest-table-id="' + data + '" class="js-completed fa fa-2x fa-check" style="color:green;"></a>' } }
            ]

        });
    }
    $("#rest_table").on("click", ".js-completed ", function () {
        var btn = $(this);
        $.ajax({
            url: "/Admin/Restaurant/UpdateRestTableStatus/" + btn.attr("data-rest-table-id"),
            method: "POST",
            success: function (response) {
                if (response.success) {
                    btn.parents("tr").remove();
                    swal("Updated!", "Restaurant table status has been updated.", "success");
                }
                else {
                    swal("Cancelled!", response.error, "warning");
                }
            },
        });
    });

</script>