﻿@model IEnumerable<ToOrdr.Core.Entities.MenuItemSize>

@{
    ViewBag.Title = "ManageItemSizes";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/sweetAlert/css")

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")

@section PageTitle{
    <h4 class="font-light m-b-xs">
        @{var menuitem = Model.Select(r => r.RestaurantMenuItem.ItemName).FirstOrDefault();}
        @menuitem Sizes
    </h4>
    <small>List of sizes</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageMenu", "Restaurant", new { area = "Admin" }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddItemSize", "Restaurant", new { area = "Admin", id = ViewBag.itemId }, new { @class = "btn btn-info btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="sizeTable" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th class="col-md-1">Sr.No.</th>
                    <th class="col-md-2">Size Name</th>
                    <th class="col-md-5">Price</th>
                    <th class="col-md-1">Calories</th>
                    <th class="col-md-1">Default</th>
                    <th class="col-md-1">Active</th>
                    <th class="col-md-1">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var menuItemSize in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(item => menuItemSize.SizeName)</td>
                            <td>@Html.DisplayFor(item => menuItemSize.SizePrice)</td>
                            <td>@Html.DisplayFor(item => menuItemSize.SizeCalories)</td>
                            @if (menuItemSize.IsDefault == null) { menuItemSize.IsDefault = false; }
                            <td>@Html.CheckBoxFor(item => menuItemSize.IsDefault.Value)</td>
                            @if (menuItemSize.IsActive == null) { menuItemSize.IsActive = false; }
                            <td>@Html.CheckBoxFor(item => menuItemSize.IsActive.Value)</td>
                            <td>
                                @Html.ActionLink(" ", "EditItemSize", "Restaurant", new { area = "Admin", id = menuItemSize.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                                <a data-itemsize-id="@menuItemSize.Id" class="menu-delete fa fa-trash fa-2x"></a>
                            </td>
                        </tr>
                            cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    $('#sizeTable').footable();

    $("#sizeTable .menu-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Restaurant/DeleteItemSize/" + btn.attr("data-itemsize-id"),
                        method: "POST",
                        success: function () {
                            btn.parents("tr").remove();
                            swal("Deleted!", "Record has been deleted.", "success");
                        },
                    });

                } else {
                    swal("Cancelled", "Record is safe :)", "error");
                }
            });
    });
</script>



