﻿@{
    ViewBag.Title = "ManageItemIngredients";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Ingredients
    </h2>
    <small>List of Ingredients </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageMenu", "Restaurant", new { area = "Admin" }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddItemIngredient", "Restaurant", new { area = "Admin", restMenuItemId = ViewBag.itemId }, new { @class = "btn btn-info btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="ingredientTable" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Weight(g)</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $("#ingredientTable").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Restaurant/LoadMenuItemIngredients/" + @ViewBag.itemId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                     {
                         className: 'details-control',
                         orderable: false,
                         data: null,
                         defaultContent: ''
                     },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "Weight", "name": "Qty", "autoWidth": true },
                    { "data": "MenuItemIngredientId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Restaurant/EditItemIngredient/' + data + '"> </a> <a data-menuItem_ingredient-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a></a>' } }
            ]
        });  
        
        // Add event listener for opening and closing details
        $('#ingredientTable').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });

        function format(rowData) {
            var div = $('<div/>')
                .addClass('loading')
                .text('Loading...');

            $.ajax({
                url: '/Admin/Restaurant/LoadMenuItemIngredientNutrients',
                data: {
                    MenuItemIngredientId: rowData.MenuItemIngredientId
                },
                success: function (response) {
                    div
                        .html(response)
                        .removeClass('loading');
                },
                error: function () {
                    alert("Oops!....");
                }
            });
            return div;
        }

        $("#ingredientTable").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Restaurant/DeleteItemIngredient/" + btn.attr("data-menuItem_ingredient-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "MenuItem Ingredient has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "MenuItem Ingredient is safe :)", "error");
                    }
                });
        });
    });
</script>
