﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantMenu>
@using ToOrdr.Localization;

@{
    ViewBag.Title = "ManageMenu";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/sweetAlert/css")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
@Styles.Render("~/bundles/jqueryui/css")

<style>
    a.itemDetails {
        color: blue;
        text-decoration: underline;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 8px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider,
    input[type="checkbox"]:checked + .slider {
        background-color: #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:focus + input[type="hidden"] + .slider,
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
    input[type="checkbox"]:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 25px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

@section Scripts{
    <script>
        $(function () {

            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "", width: "auto" });
        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessItemIngredient(data) {
            $("#ajaxDialog").dialog("close");
        };
        function handleSuccessItemSize(data) {
            $("#ajaxDialog").dialog("close");
        };
        function handleSuccessItemAdditional(data) {
            $("#ajaxDialog").dialog("close");
        }
        function handleSuccessItemImages(data) {
            $("#ajaxDialog").dialog("close");
        }

        function handleError(ajaxContext) {
            $("#ajaxDialog").html(ajaxContext.responseText);
        };
    </script>
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Menu
    </h2>
    <small>@Resources.MenuSmallText</small>
}

@Html.ActionLink(Resources.Add_Menu, "CreateRestaurantMenu", "Restaurant", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>

@if (Model.Any())
{
    var grp = 1;
    foreach (var menus in Model)
    {
        var menuName = "";
        var menuDesc = "";
        var langId = ViewBag.LanguageId;
        if (langId == menus.LanguageId)
        {
            menuName = menus.MenuName;
            menuDesc = menus.MenuDescription;
        }
        else if (menus.RestaurantMenuTranslations.Count() == 0 || menus.RestaurantMenuTranslations.Count(l => l.LanguageId == langId) == 0)
        {
            menuName = menus.MenuName;
            menuDesc = menus.MenuDescription;
        }
        else
        {
            foreach (var menuTrans in menus.RestaurantMenuTranslations)
            {
                if (menuTrans.LanguageId == langId)
                {
                    menuName = menuTrans.TranslatedMenuName;
                    menuDesc = menuTrans.TranslatedMenuDescription;
                }
            }
        }
        <div class="hpanel" id="hpanel_@grp">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide_@grp"><i class="fa fa-chevron-up"></i></a>
                </div>
                <h4>
                    <strong>@menuName</strong>
                    <small style="margin-left:10px;">@Html.ActionLink(" ", "EditRestaurantMenu", "Restaurant", new { area = "Admin", id = menus.Id }, new { @class = "glyphicon glyphicon-edit" })</small>
                    <a data-menus-id="@menus.Id" class="js-deleteMenu fa fa-trash btn-xl"></a>
                </h4>
                <h4><small>@menuDesc</small> </h4>
            </div>
            <div class="panel-body">
                @Html.ActionLink(Resources.New_Group, "CreateRestaurantMenuGroup", "Restaurant", new { area = "Admin", id = menus.Id }, new { @class = "btn btn-info btn-sm new-btn-position" })<br /><br />
                <input type="text" class="form-control input-sm m-b-md" id="filter_@grp" placeholder="Search in table">
                <table id="menu_@grp" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter_@grp>
                    <thead>
                        <tr>
                            <th class="col-md-1">@Resources.SerialNumber</th>
                            <th class="col-md-2">@Resources.GroupName</th>
                            <th class="col-md-5">@Resources.GroupDescription</th>
                            <th class="col-md-1">@Resources.Active</th>
                            <th class="col-md-1">@Resources.Date</th>
                            <th class="col-md-1">@Resources.Action</th>
                            <th data-hide="all"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
        var cnt = 1;
        foreach (var MenuGroup in menus.RestaurantMenuGroups)
        {
            var menuGrpName = "";
            var menuGrpDesc = "";
            if (langId == MenuGroup.LanguageId)
            {
                menuGrpName = MenuGroup.GroupName;
                menuGrpDesc = MenuGroup.GroupDescription;
            }
            else if (MenuGroup.RestaurantMenuGroupTranslations.Count() == 0 || MenuGroup.RestaurantMenuGroupTranslations.Count(l => l.LanguageId == langId) == 0)
            {
                menuGrpName = MenuGroup.GroupName;
                menuGrpDesc = MenuGroup.GroupDescription;
            }
            else
            {
                foreach (var menuGrpTrans in MenuGroup.RestaurantMenuGroupTranslations)
                {
                    if (menuGrpTrans.LanguageId == langId)
                    {
                        menuGrpName = menuGrpTrans.TranslatedGroupName;
                        menuGrpDesc = menuGrpTrans.TranslatedGroupDescription;
                    }
                }
            }
            <tr>
                <td>@cnt</td>
                <td>@menuGrpName</td>
                <td>@menuGrpDesc</td>
                <td>@Html.CheckBoxFor(modelItem => MenuGroup.IsActive, new { @class = "menuSelected", id = MenuGroup.Id })</td>
                <td>@Html.DisplayFor(modelItem => MenuGroup.CreationDate)</td>
                <td>
                    @Html.ActionLink(" ", "EditRestaurantMenuGroup", "Restaurant", new { area = "Admin", id = MenuGroup.Id }, new { @class = "glyphicon glyphicon-edit" })
                    <a data-card-id="@MenuGroup.Id" class="js-delete btn btn-danger2 btn-xs">@Resources.Delete</a>
                    @Html.ActionLink(" " + Resources.Item, "CreateRestaurantMenuItem", "Restaurant", new { area = "Admin", group_id = MenuGroup.Id }, new { @class = "btn btn-info btn-xs fa fa-plus" })<br /><br />
                </td>
                <td>
                    @if (MenuGroup.RestaurantMenuItems.Any())
                    {
                        <table id="menuItem_@cnt" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5">
                            <thead>
                                <tr>
                                    <th colspan="7"><center>Details</center></th>
                                </tr>
                                <tr>
                                    <th class="col-sm-1">@Resources.SerialNumber</th>
                                    <th class="col-sm-2">@Resources.ItemName</th>
                                    <th class="col-sm-6">@Resources.ItemDescription</th>
                                    <th class="col-sm-1">@Resources.Price</th>
                                    <th class="col-sm-1">@Resources.Active</th>
                                    <th class="col-sm-1">SoldOut</th>
                                    <th class="col-sm-1">@Resources.Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                        var counter = 1;

                        foreach (var item in MenuGroup.RestaurantMenuItems)
                        {

                            var menuItemName = "";
                            var menuItemDesc = "";
                            if (langId == item.LanguageId)
                            {
                                menuItemName = item.ItemName;
                                menuItemDesc = item.ItemDescription;
                            }
                            else if (item.RestaurantMenuItemTranslations.Count() == 0 || item.RestaurantMenuItemTranslations.Count(l => l.LanguageId == langId) == 0)
                            {
                                menuItemName = item.ItemName;
                                menuItemDesc = item.ItemDescription;
                            }
                            else
                            {
                                foreach (var menuItemTrans in item.RestaurantMenuItemTranslations)
                                {
                                    if (menuItemTrans.LanguageId == langId)
                                    {
                                        menuItemName = menuItemTrans.TranslatedItemName;
                                        menuItemDesc = menuItemTrans.TranslatedItemDescription;
                                    }
                                }
                            }
                            <tr class="item_@item.Id">
                                <td>@counter</td>
                                <td>@menuItemName</td>
                                <td class="groupItem">
                                    @menuItemDesc<br />
                                    @Html.ActionLink("Ingredients", "ManageItemIngredients", "Restaurant", new { area = "Admin", id = item.Id }, new { @class = "itemDetails" })
                                    @*@Ajax.ActionLink("Ingredients", "ItemIngredients", "Restaurant", new { area = "Admin", id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "itemDetails" })*@
                                   @* @Html.ActionLink("Sizes", "ManageItemSizes", "Restaurant", new { area = "Admin", id = item.Id }, new { @class = "itemDetails" })*@
                                    @*@Ajax.ActionLink("Sizes", "ItemSizes", "Restaurant", new { area = "Admin", id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "itemDetails" })*@
                                    @Html.ActionLink("Additionals", "ManageItemAdditional", "Restaurant", new { area = "Admin", id = item.Id }, new { @class = "itemDetails" })
                                    @* @Ajax.ActionLink("Additionals", "ItemAdditionals", "Restaurant", new { area = "Admin", id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "itemDetails" })*@
                                    @Html.ActionLink("Images", "ManageItemImages", "Restaurant", new { area = "Admin", id = item.Id }, new { @class = "itemDetails" })
                                    @*@Ajax.ActionLink("Images", "ItemImages", "Restaurant", new { area = "Admin", id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "itemDetails" })*@
                                    @Html.ActionLink("Suggestions", "ManageMenuItemSuggestion", "Restaurant", new { area = "Admin", id = item.Id }, new { @class = "itemDetails" })
                                </td>
                                <td>@item.Price</td>
                                <td>@Html.CheckBoxFor(modelItem => item.IsActive, new { @class = "checkSelected form-control", Name = item.Id })</td>
                                <td>
                                    <label class="switch">
                                        @Html.CheckBoxFor(modelItem => item.SoldOut, new { @class = "checkSelectedToggle", Name = item.Id })
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                                <td>
                                    @Html.ActionLink(Resources.Edit, "EditRestaurantMenuItem", "Restaurant", new { area = "Admin", id = item.Id }, new { @class = "btn btn-info btn-xs" })<br /><br />
                                    <a data-card-id="@item.Id" class="menu-delete btn btn-danger2 btn-xs">@Resources.Delete</a>
                                </td>
                            </tr>
                            counter = counter + 1;
                        }
                                }
                            </tbody>
                        </table>
                        <script>
                            $(document).ready(function () {
                                $("#menuItem_@cnt .checkSelected").on("click", function () {
                                    var btn = $(this);
                                    $.ajax({
                                        url: "/Admin/Restaurant/UpdateRestaurantMenuItem/" + btn.attr("name"),
                                        method: "POST",
                                        success: function () {
                                        },
                                    });
                                });

                                $("#menuItem_@cnt .menu-delete").on("click", function () {
                                    var btn = $(this);
                                    swal({
                                        title: "Are you sure?",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Yes, delete!",
                                        cancelButtonText: "No, cancel!",
                                        closeOnConfirm: false,
                                        closeOnCancel: false
                                    },
                                        function (isConfirm) {
                                            if (isConfirm) {
                                                $.ajax({
                                                    url: "/Admin/Restaurant/DeleteRestaurantMenuItem/" + btn.attr("data-card-id"),
                                                    method: "POST",
                                                    success: function (response) {
                                                        if (response.failure) {
                                                            swal("Cancelled!", response.error, "warning");
                                                        }
                                                        else {
                                                            var row = (".item_" + btn.attr("data-card-id"));
                                                            $(row).remove();
                                                            swal("Deleted!", "Record has been deleted.", "success");
                                                        }
                                                    },
                                                });

                                            } else {
                                                if (btn.is(":checked")) {
                                                    btn.prop('checked', false);
                                                }
                                                else if (btn.is(":not(:checked)")) {
                                                    btn.prop('checked', true);
                                                }
                                                swal("Cancelled", "Record is safe :)", "error");
                                            }
                                        });
                                });


                                $("#menuItem_@cnt .checkSelectedToggle").change(function () {
                                    var btn = $(this);

                                    $.ajax({
                                        url: "/Admin/Restaurant/UpdateMenuItemforSoldOut/" + btn.attr("name"),
                                        method: "POST",
                                        success: function () {
                                        },
                                    });

                                });
                            });
                        </script>
                    }
                </td>
            </tr>
                    cnt = cnt + 1;
        }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <script>
            $('#menu_@grp').footable();

            $(document).ready(function () {
                $("#menu_@grp .menuSelected").on("click", function () {
                    var btn = $(this);
                    swal({
                        title: "Are you sure?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, update!",
                        cancelButtonText: "No, cancel!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    url: "/Admin/Restaurant/UpdateRestaurantMenuGroup/" + btn.attr("id"),
                                    method: "POST",
                                    success: function () {
                                        swal("Update!", "Record has been updated.", "success");
                                    },
                                });

                            } else {
                                if (btn.is(":checked")) {
                                    btn.prop('checked', false);
                                }
                                else if (btn.is(":not(:checked)")) {
                                    btn.prop('checked', true);
                                }
                                swal("Cancelled", "Record is safe :)", "error");
                            }
                        });
                });

                $("#menu_@grp .js-delete").on("click", function () {
                    var btn = $(this);
                    swal({
                        title: "Are you sure?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete!",
                        cancelButtonText: "No, cancel!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    url: "/Admin/Restaurant/DeleteRestaurantMenuGroup/" + btn.attr("data-card-id"),
                                    method: "POST",
                                    success: function (response) {
                                        if (response.status) {
                                            btn.parents("tr").remove();
                                            swal("Deleted!", "Record has been deleted.", "success");
                                        }
                                        else {
                                            swal("Cancelled!", response.error, "warning");
                                        }
                                    },
                                });

                            } else {
                                swal("Cancelled", "Record is safe :)", "error");
                            }
                        });
                });

                $('.showhide_@grp').on('click', function (event) {
                    event.preventDefault();
                    var hpanel = $(this).closest('div.hpanel');
                    var icon = $(this).find('i:first');
                    var body = hpanel.find('div.panel-body');
                    var footer = hpanel.find('div.panel-footer');
                    body.slideToggle(300);
                    footer.slideToggle(200);

                    icon.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
                    hpanel.toggleClass('').toggleClass('panel-collapse');
                    setTimeout(function () {
                        hpanel.resize();
                        hpanel.find('[id^=map-]').resize();
                    }, 50);
                });

                $("#hpanel_@grp .js-deleteMenu").on("click", function () {
                    var btn = $(this);
                    swal({
                        title: "Are you sure?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete!",
                        cancelButtonText: "No, cancel!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    url: "/Admin/Restaurant/DeleteRestaurantMenu/" + btn.attr("data-menus-id"),
                                    method: "POST",
                                    success: function (response) {
                                        if (response.status) {
                                            btn.parents("#hpanel_@grp").remove();
                                            swal("Deleted!", "Menu has been deleted.", "success");
                                        }
                                        else {
                                            swal("Cancelled!", response.error, "warning");
                                        }
                                    },
                                });

                            } else {
                                swal("Cancelled", "Menu is safe :)", "error");
                            }
                        });
                });
            });


        </script>
        grp = grp + 1;
    }
}
