﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantTable>
@{
    ViewBag.Title = "ManageTables";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}
@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Table Details
    </h2>
    <small>List of available tables in restaurant</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        @Html.ActionLink(" ", "ManageRestaurantTableGroups", "Restaurant", new { @class = "fa fa-2x fa-arrow-circle-left", area = "Admin" })
    </div>

    <div class="panel-body">
        @Html.ActionLink("Create New", "CreateRestaurantTable", "Restaurant", new { RestTableGroupId = ViewBag.RestaurantTableGroupId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="restaurant_table" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>@Html.DisplayNameFor(model => model.TableNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalSeats)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.QRCodeImage)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => item.TableNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalSeats)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>
                                <img src="@Url.Content(item.QRCodeImage)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                            </td>
                            <td>@Html.CheckBoxFor(modelItem => item.IsActive)</td>
                            <td>
                                @Html.ActionLink(" ", "EditRestaurantTable", "Restaurant", new { table_id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x", area = "Admin" })
                                @Html.ActionLink(" ", "ManageRestaurantTableMenu", "Restaurant", new { tableId = item.Id, tableNumber = item.TableNumber }, new { @class = "fa fa-2x fa-list-alt", title="Table Menu Details", area = "Admin" })
                                <a data-restaurant-table-id="@item.Id" class="js-delete"><span class="fa fa-trash fa-2x"></span></a>
                                @Html.ActionLink(" ", "DownloadTableQRCode", "Restaurant", new { imgPath = item.QRCodeImage, tableNo = item.TableNumber }, new { @class = "fa fa-download fa-2x", area = "Admin" })
                            </td>
                        </tr>
                            cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#restaurant_table').footable();
</script>
<script>
    $(document).ready(function () {
        $("#restaurant_table .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Restaurant/DeleteRestaurantTable/" + btn.attr("data-restaurant-table-id"),
                            method: "POST",
                            success: function () {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Record has been deleted.", "success");
                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>
