﻿@model ToOrdr.Core.Entities.RestaurantOrders

<div class="content">
    <div class="row">
        @if (Model.Customer_Id != null)
        {
            <div class="col-md-offset-1 col-lg-6">
                <div id="ordertable">

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th colspan="3"><center>Order Details <span id="orderid" style="margin-left:10px">@Model.Customer_Id</span></center></th>
                                @Html.HiddenFor(model => model.Id)
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayName("Items")
                                </th>
                                <th>
                                    @Html.DisplayName("Quantity")
                                </th>
                                <th>
                                    @Html.DisplayName("Rate")
                                </th>

                            </tr>
                        </thead>
                        @foreach (var itemes in Model.Customer_RestaurantOrder_Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => itemes.RestaurantMenuItems.RestaurantMenuItem_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemes.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemes.Rate)
                                </td>

                            </tr>
                        }
                    </table>

                </div>
            </div>

            <div class="col-md-2">

                @Html.EnumDropDownListFor(model => model.Status_Type_List, "--Select Option--", new { @class = "form-control", @onchange = "OrderServed()" })
                @Html.ValidationMessageFor(model => model.Status_Type_List, "", new { @class = "text-danger" })

            </div>
        }
    </div>
</div>