﻿@{
    ViewBag.Title = "OrdersQueue";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
    
}
@Styles.Render("~/bundles/fooTable/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Orders Queue
    </h2>
    <small>List of orders.</small>
}

<div class="row">
    <div class="col-md-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                orders
            </div>
            <div id="restaurantOrders">
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/fooTable/js")
@section scripts{
    <script>

        $(function () {
            getOrders();
        });

        function getOrders() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("OrdersList", "Restaurant", new { area = "Admin" })",
                success: function (response) {
                    OnSuccess(response)
                },
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('Oops! something went wrong, error: ' + response);
                }
            });
        }

        function OrderServed(status_response) {
            var statusId = $('#' + status_response.id).val();
            var orderId = $('#' + status_response.id).closest("div.order_info").find("input[id='order_Id']").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("ModifyOrders", "Restaurant", new { area = "Admin" })",
                data: { orderId: orderId, statusId: statusId },
                cache: false,
                success: function (data) {
                    OnSuccess(data);
                },
                failure: function (response) {
                    alert('2Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('4Oops! something went wrong, failure: ' + response);
                }
            });
        };

        function OnSuccess(data) {
            $("#restaurantOrders").html(data);
        }
        setInterval(getOrders, 30000);

    </script>
}