﻿@model ToOrdr.Web.ViewModels.RestaurantOrderHistoryFiltersVM
@{
    ViewBag.Title = "OrdersHistory";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
         Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Orders History
    </h2>
    <small>List of restaurant Orders</small>
}
<div class="hpanel">
    <div class="panel-body">
        @using (Html.BeginForm("OrdersHistory", "Restaurant"))
        {
            <div class="form-group">

                <div class="col-lg-offset-3 col-md-5">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <div class="form-group row">
                        <label for="Price" class="col-sm-3 col-form-label">From</label>
                        <div class="col-md-9">
                            <div class="input-group date" id="datetimepicker1">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="Price" class="col-sm-3 col-form-label">To</label>
                        <div class="col-md-9">
                            <div class="input-group date" id="datetimepicker2">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-md-offset-3">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Min Amount</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.MinAmount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MinAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Max Amount</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.MaxAmount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaxAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-6">
                    <div class="form-group row">
                        <div class="col-md-4 ">
                            <button type="submit" class="btn btn-primary btn-md">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        @{
            Html.RenderAction("OrdersHistoryResult", "Restaurant", new { filters = Model });
        }
    </div>
</div>
<script>
    $(function () {

        $('#datetimepicker1').datepicker();
        $('#datetimepicker2').datepicker();
    });

</script>




