﻿
@{
    ViewBag.Title = "RestaurantRecentOrders";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Recent Served Orders
    </h2>
    <small>List of recently served orders </small>
}
<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Recent Served Orders
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="restaurantRecentOrders" class="table table-striped table-hover dataTable no-footer">
            <thead>
                <tr>
                    <th></th>
                    <th>Customer Name</th>
                    <th>Booking Date</th>
                    <th>Amount</th>
                    <th>Table Number</th>
                    <th>Order Status</th>
                    <th>Payment Status</th>
                    
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    function format(rowData) {
        var div = $('<div/>')
            .addClass('loading')
            .text('Loading...');

        $.ajax({
            url: '/Admin/Restaurant/LoadRestOrderItemDetails',
            data: {
                OrderId: rowData.RestOrderId
            },
            success: function (response) {
                div
                    .html(response)
                    .removeClass('loading');
            },
            error:function()
            {
                alert("Oops!....");
            }
        });

        return div;
    }
    $(document).ready(function () {
        var table = $("#restaurantRecentOrders").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Restaurant/LoadRestaurantRecentOrders/",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                     {
                         className: 'details-control',
                         orderable: false,
                         data: null,
                         defaultContent: ''
                     },
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "BookingDate", "name": "BookingDate", "autoWidth": true },
                    { "data": "Amount", "name": "Amount", "autoWidth": true },
                    { "data": "TableNumber", "name": "TableNumber", "autoWidth": true },
                    { "data": "OrderStatus", "name": "Status", "autoWidth": true },
                    { "data": "PaymentStatus", "name": "Status", "autoWidth": true }

            ]

        });


        // Add event listener for opening and closing details
        $('#restaurantRecentOrders').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });


</script>