﻿
@{
    ViewBag.Title = "RestaurantOrdersQueue";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}
@Styles.Render("~/bundles/toggleButton/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Restaurant Orders Queue
    </h2>
    <small>List of restaurant orders queue </small>
}
<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Restaurant Orders Queue
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="restaurantOrders" class="table table-striped table-hover dataTable no-footer">
            <thead>
                <tr>
                    <th></th>
                    <th>Customer Name</th>
                    <th>Booking Date</th>
                    <th>Amount</th>
                    <th>Table Number</th>
                    <th>Hotel Name</th>
                    <th>Room Number</th>
                    <th>Payment Status</th>
                    <th>Change Status</th>
                    <th>Next Serving</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"] + "signalr/hubs")"></script>
    <script>
        $(function () {
            // Create a proxy to signalr hub on web server. It reference the hub.

            $.connection.hub.url = '@System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"]signalr/hubs"';
            var notificationFromHub = $.connection.orderHub;

            $.connection.hub.start().done(function () {
                FetchOrders();
            });

            // Notify to client with the recent updates
            notificationFromHub.client.updatedClients = function () {
                $('#restaurantOrders').DataTable().ajax.reload();
            };
        });

        function FetchOrders() {
            var table = $("#restaurantOrders").DataTable({
                "searching": false,
                "ordering": false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Admin/Restaurant/LoadRestaurantOrderQueue/",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                         {
                             className: 'details-control',
                             orderable: false,
                             data: null,
                             defaultContent: ''
                         },
                        { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                        { "data": "BookingDate", "name": "BookingDate", "autoWidth": true },
                        { "data": "Amount", "name": "Amount", "autoWidth": true },
                        { "data": "TableNumber", "name": "TableNumber", "autoWidth": true },
                        { "data": "HotelName", "name": "HotelName", "autoWidth": true },
                        { "data": "RoomNumber", "name": "RoomNumber", "autoWidth": true },
                        { "data": "PaymentStatus", "name": "Status", "autoWidth": true },
                        {
                            "data": "RestOrderStatuses", "autoWidth": true, className: "status_ddl",
                            "render": function (data, type, row) {
                                var $select = $("<select></select>",
                                    {
                                        id: row.RestOrderId,
                                        name: row.RestOrderId
                                    });
                                $.each(data, function (k, v) {
                                    var $option = $("<option></option>",
                                    {
                                        text: v.Name,
                                        value: v.Id
                                    });
                                    if (row.OrderStatus == v.Name) {
                                        $option.attr("selected", "selected")
                                    }
                                    $select.append($option);
                                });
                                return $select.prop("outerHTML");
                            }
                        },
                        {
                            "data": "NextServingStatus", "name": "NextServingStatus", "autoWidth": true,
                            render: function (data, type, row) {

                                return '<label class="switch' + ((data == 1) ? '' : ' disabled') + '">  <input type="checkbox" ' + ((data == 1) ? 'checked' : '') + ' name="' + row.RestOrderId + '" class="checkSelectedToggle" /> <div class="slider round"></div></label>';
                            }
                        }
                ]

            });

            // Add event listener for opening and closing details
            $('#restaurantOrders').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        }

        $("#restaurantOrders").on("change", ".status_ddl", function () {
            var btn = $(this);
            var RestOrderId = $(this).children('select').attr('id');
            var orderStatus = $('#' + RestOrderId).val();
            if (orderStatus != "5") {
                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, update!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: "/Admin/Restaurant/UpdateRestOrderStatus",
                                method: "POST",
                                data: { RestOrderId: RestOrderId, orderStatus: orderStatus },
                                success: function (response) {
                                    if (response.status) {
                                        swal("Updated!", response.message, "success");
                                        $('#restaurantOrders').DataTable().ajax.reload();
                                    }
                                    else {
                                        swal("Failed!", response.message, "warning");
                                        $('#restaurantOrders').DataTable().ajax.reload();
                                    }
                                },
                            });

                        } else {

                            swal("Cancelled", "Order status is not updated :)", "error");
                            $('#restaurantOrders').DataTable().ajax.reload();
                        }
                    });
            } else {
                $.ajax({
                    url: '/Admin/Restaurant/RejectedRestOrderStatus',
                    type: 'POST',
                    data: { RestOrderId: RestOrderId, orderStatus: orderStatus },
                    success: function (data) {
                        $("#ajaxDialog").html(data);
                        showDialog(data);
                    },
                    failure: function (response) {
                        alert('Hello');
                    },
                    error: function (response) {
                        alert('Bye');
                    }
                });

            }
        });

        function format(rowData) {
            var div = $('<div/>')
                .addClass('loading')
                .text('Loading...');

            $.ajax({
                url: '/Admin/Restaurant/LoadRestOrdersQueueItemDetails',
                data: {
                    OrderId: rowData.RestOrderId
                },
                success: function (response) {
                    div
                        .html(response)
                        .removeClass('loading');
                },
                error: function () {
                    alert("Oops!....");
                }
            });
            return div;
        }

        // Use this Ajax code to write Comment when status select as 'Rejected'
        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "youOrdr", width: "auto" });
        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");
        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessOrderRejection(data) {
            $("#ajaxDialog").dialog("close");
        };
        function handleError(ajaxContext) {
            $("#ajaxDialog").html(ajaxContext.responseText);
        };

        $("#restaurantOrders") .on("change",".checkSelectedToggle",function () {
            var btn = $(this);

            $.ajax({
                url: "/Admin/Restaurant/UpdateOrderNextServingStatus/" + btn.attr("name"),
                method: "POST",
                success: function (response) {
                    if(response.success == true)
                    {
                        btn.closest('label').addClass('disabled');
                    }
                },
            });

        });
    </script>
}