﻿
@{
    ViewBag.Title = "RestaurantMenuItemReviews";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Restaurant Menu Item Reviews
    </h2>
    <small>List of restaurant menu item reviews</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Restaurant Menu Item Reviews
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <div class="form-group row">
                    <label for="Price" class="col-sm-3 col-form-label">From</label>
                    <div class="col-md-9">
                        <div class="input-group date" id="datetimepicker1">
                            @Html.Editor("FromDate", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="Price" class="col-sm-3 col-form-label">To</label>
                    <div class="col-md-9">
                        <div class="input-group date" id="datetimepicker2">
                            @Html.Editor("ToDate", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-6">
                <div class="form-group row">
                    <div class="col-md-4 ">
                        <button type="button" id="btnSearch" class="btn btn-primary btn-md">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="restaurantMenuItemReviews" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Menu Item Name</th>
                    <th>Score</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#restaurantMenuItemReviews").DataTable({
            //"searching": false,
            "ordering": false,
            "processing": false, // for show progress bar
            "serverSide": true, // for process server side
            ///"filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "lengthChange": true,
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": "/Admin/Restaurant/LoadRestMenuItemReviews",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "MenuItemName", "name": "MenuItemName", "autoWidth": true },
                    { "data": "Score", "name": "Score", "autoWidth": true },

                    //    render: function (Score) {
                    //        return '<input value="' + Score + '" type="number" class="rating" min=0 max=10 data-size="xs" step=0.1 data-stars="10" readonly="true">';
                    //    },
                    //},
                    {
                        "data": "Comment", "name": "Comment", render: function (Comment) {
                            return '<div class="td-allow-scroll">' + Comment + '</div>';
                        }
                    },
                    { "data": "ReviewDate", "name": "ReviewDate", "autoWidth": true }
            ],
            //"createdRow": function (row, data, dataIndex) {
            //    var ratingInput = $(row).find('.rating');
            //    $(ratingInput).rating({ showClear: false, showCaption: false });
            //}

        });
        oTable = $('#restaurantMenuItemReviews').DataTable();
        $('#btnSearch').click(function () {
            var fromDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();

            oTable.columns(1).search(fromDate);
            oTable.columns(2).search(toDate);

            oTable.draw();
        });
        $('#datetimepicker1').datepicker();
        $('#datetimepicker2').datepicker();
    });
</script>

