﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantReview>
@{
    ViewBag.Title = "Reviews";
    if (Session["IsReceptionist"] != null && Session["IsReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurantReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutRestaurant.cshtml";
    }
}
@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Reviews
    </h2>
    <small>List of reviews.</small>
}
<div class="row">
    <div class="col-md-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                Restaurant Reviews
            </div>
            <div class="panel-body">
                <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
                <table id="reviews" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter>
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Customer Name</th>
                            <th>Score</th>
                            <th>Comment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var cnt = 1;
                            foreach (var review in Model)
                            {
                                <tr>
                                    <td>@cnt</td>
                                    <td class="col-lg-3">@Html.DisplayFor(modelItem => review.Customer.FirstName) @Html.DisplayFor(modelItem => review.Customer.LastName)</td>
                                    <td class="col-lg-2">
                                        @Html.DisplayFor(modelItem => review.Score)
                                    </td>

                                    <td class="col-lg-5"><div class="td-allow-scroll">@Html.DisplayFor(modelItem => review.Comment)</div></td>
                                    <td class="col-lg-2">@review.CreationDate.ToString("dd/MM/yyyy")</td>


                                </tr>
                                cnt = cnt + 1;
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        @{
            Html.RenderAction("RestaurantOrderReviews", "Restaurant");
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @{
            Html.RenderAction("RestaurantMenuItemReviews", "Restaurant");
        }
    </div>
</div>


@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")

<script>
    $('#reviews').footable();
</script>

