﻿@model IEnumerable<ToOrdr.Core.Entities.RestaurantOrder>
@Styles.Render("~/bundles/fooTable/css")
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Today's Orders
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter_todays_orders" placeholder="Search in table">
        <table id="TodaysOrders" class="footable table table-striped" data-page-size="5" data-filter=#filter_todays_orders>
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Hour of the Day</th>
                    <th>No. of Orders</th>
                    <th>Amount</th>

                </tr>
            </thead>
            <tbody>

                @{
                    var cnt = 1;
                    var hourlyOrders = Model.GroupBy(r => r.CreationDate.Hour)
                .Select(
                   g => new
                   {
                       Key = g.Key,
                       TotalOrders = g.Count(),
                       Amount = g.Sum(o => o.RestaurantOrderItems.Sum(i => i.RestaurantMenuItem.Price * i.Qty))
                   }).OrderByDescending(or => or.TotalOrders);
                    foreach (var order in hourlyOrders)
                    {
                        <tr>
                            <td class="col-lg-2">@cnt</td>
                            @{

                        int hourTime = order.Key;
                        int k = (hourTime + 1);

                        string c = null;
                        string j = null;
                        if (hourTime <= 12 && k <= 12)
                        {
                            c = "am";
                            j = "am";
                        }
                        else if (hourTime <= 12 && k > 12)
                        {
                            c = "am";
                            j = "pm";
                        }
                        else
                        {
                            c = "pm";
                            j = "pm";
                        }
                        <td class="col-lg-4">
                            @hourTime @c - @k @j
                        </td>
                            }
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => order.TotalOrders)</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => order.Amount)</td>

                        </tr>
                        cnt = cnt + 1;
                    }

                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#TodaysOrders").footable();
</script>
