@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using ToOrdr.Api.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "API Documentation";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="row">

            <div class="">
                <h1><img src="~/Content/Images/youordrLogo.jpg" style="vertical-align: middle;" height="100" /> @ViewBag.Title</h1>
            </div>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups
            .OrderBy(g=>ViewBag.DisplayOrder.ContainsKey(g.Key.ControllerType) ?
                    ViewBag.DisplayOrder[g.Key.ControllerType] : Int32.MaxValue)
        )
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
