﻿@model IEnumerable<ToOrdr.Core.Entities.ExcursionOrderItems>
@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/toggleButton/css")
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="hpanel">
            <div class="panel-heading text-center hbuilt">
                Order Item Details
            </div>
            <div class="panel-body">
                <table id="orderItemDetails_@Model.FirstOrDefault().ExcursionOrderId" class="table table-hover footable table-stripped toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>@Html.DisplayName("Excursion Name")</th>
                            <th>@Html.DisplayName("Price")</th>
                            <th>@Html.DisplayName("NoOfPersons")</th>
                            <th>@Html.DisplayName("Total")</th>
                            <th>Offer Price</th>
                            <th>Schedule Date</th>
                            <th>Comment</th>
                            <th>Delivery Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var cnt = 1;
                            foreach (var orderItem in Model)
                            {
                                <tr>
                                    <td>@cnt</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.ExcursionDetails.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.ExcursionDetails.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.NoOfPerson)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.Total)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.OfferPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.ScheduleDate)</td>
                                    <td>@Html.DisplayFor(modelItem => orderItem.Comment)</td>
                                    <td>
                                        @if (ViewBag.OrdrHistory == 1)
                                        {
                                            <label class="switch disabled">
                                                @Html.CheckBoxFor(modelItem => orderItem.DeliveryStatus, new { @class = "checkSelectedToggle", Name = orderItem.Id })
                                                <div class="slider round"></div>
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="switch">
                                                @Html.CheckBoxFor(modelItem => orderItem.DeliveryStatus, new { @class = "checkSelectedToggle", Name = orderItem.Id })
                                                <div class="slider round"></div>
                                            </label>
                                        }
                                    </td>
                                </tr>
                                        cnt = cnt + 1;
                            }
                        }
                    </tbody>
                    <tfoot style="display:none;">
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>



    </div>
</div>

@Scripts.Render("~/bundles/fooTable/js")

<script>
    $(function () {
        $('#orderItemDetails_@Model.FirstOrDefault().ExcursionOrderId').footable();
        $("#orderItemDetails_@Model.FirstOrDefault().ExcursionOrderId .checkSelectedToggle").change(function () {
            var btn = $(this);

            $.ajax({
                url: "/Admin/HotelExcursion/UpdateExcursionOrderItemDeliverStatus/" + btn.attr("name"),
                method: "POST",
                success: function () {
                },
            });

        });
    });
</script>