﻿@{
    var excursionOrderIsLateStatusChangedCount = Convert.ToInt32(@ViewBag.ExcursionOrderIsLateStatusChangedCount);
    var spaOrderIsLateStatusChangedCount = Convert.ToInt32(@ViewBag.SpaOrderIsLateStatusChangedCount);
    var totalNotification = excursionOrderIsLateStatusChangedCount + spaOrderIsLateStatusChangedCount;
}
<a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
    <i class="pe-7s-mail"></i>
    <span class="label label-success">@totalNotification</span>
</a>
<ul class="dropdown-menu hdropdown animated flipInX">
    <div class="title">
        You have @totalNotification new notifications
    </div>
    <li>
        <a href="@Url.Action("ExcursionOrdersQueue", "HotelExcursion", new { Area = "Admin" })">
            "@excursionOrderIsLateStatusChangedCount" I am late Status change notifications of Excursion.<br /> Please click here to check
        </a>
    </li>
    <li>
        <a href="@Url.Action("SPAQueue", "HotelSpaService", new { Area = "Admin" })">
            "@spaOrderIsLateStatusChangedCount" I am late Status change notifications of Spa.<br /> Please click here to check
        </a>
    </li>

</ul>