﻿@model ToOrdr.Core.Entities.ExcursionDetailGallery
@using ToOrdr.Localization
@{
    ViewBag.Title = "AddExcursionDetailGallery";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Add Excursion Details Gallery
    </h2>
    <small>Add excursion details image/video</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveExcursionDetailGallery", "HotelExcursion", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ExcursionDetailId)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label control-label-left-align col-md-1 col-md-offset-1 text-left">Preview</label>
                    <div class="gallery" id="previewImages">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    @Html.HiddenFor(model => model.Image)
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    <div class="col-sm-5">
                        <input type="file" name="uploadExcursionDetGalleryImages" id="uploadExcursionDetGalleryImages" multiple class="form-control" />@*onchange="showItemImage(this)"*@
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label control-label-left-align col-md-1 col-md-offset-1 text-left">Preview</label>
                    <div class="gallery" id="previewVideo"></div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Video, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    @Html.HiddenFor(model => model.Video)
                    @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                    <div class="col-sm-5">
                        <input type="file" name="uploadExcursionDetGalleryVideo" id="uploadExcursionDetGalleryVideo" multiple class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Active", htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageExcursionDetailGallery", "HotelExcursion", new { area = "Admin", excursionDetId = Model.ExcursionDetailId }, new { @class = "btn btn-primary" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jquery/js")
<script>
    function previewImages() {

        var preview = document.querySelector('#previewImages');

        if (this.files) {
            [].forEach.call(this.files, readAndPreview);
        }

        function readAndPreview(file) {

            // Make sure `file.name` matches our extensions criteria
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                return alert(file.name + " is not an image");
            } // else...

            var reader = new FileReader();

            reader.addEventListener("load", function () {
                var image = new Image();
                image.className = "image-preview-size";
                image.title = file.name;
                image.src = this.result;
                preview.appendChild(image);
            }, false);

            reader.readAsDataURL(file);
        }
    }

    function previewVideo() {

        var preview = document.querySelector('#previewVideo');
        if (this.files) {
            [].forEach.call(this.files, readAndPreviewVideo);
        }

        function readAndPreviewVideo(file) {

            // Make sure `file.name` matches our extensions criteria
            if (!/\.(avi|mpe?g|webm|mov|wmv|flv|mp4)$/i.test(file.name)) {
                return alert(file.name + " is not an Video");
            } // else...


            var reader = new FileReader();

            reader.addEventListener("load", function () {
                var image = new Image();
                image.className = "image-preview-size";
                image.title = file.name;
                image.src = this.result;
                preview.appendChild(image);
            }, false);

            reader.readAsDataURL(file);
        }
    }

    document.querySelector('#uploadExcursionDetGalleryImages').addEventListener("change", previewImages, false);
    document.querySelector('#uploadExcursionDetGalleryVideo').addEventListener("change", previewVideo, false);

    //clear the file list when image is clicked
    $('body').on('click', 'img', function () {
        $('#uploadExcursionDetGalleryImages').val("");
        $('#previewImages').html("");
    });

    //clear the file list when video is clicked
    $('body').on('click', 'img', function () {
        $('#uploadExcursionDetGalleryVideo').val("");
        $('#previewVideo').html("");
    });
</script>

