﻿@model ToOrdr.Core.Entities.ExcursionDetailIngredient
@{
    ViewBag.Title = "AddExcursionDetailIngredient";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Excursion Detail Ingredient
    </h2>
    <small>Add multiple excursion detail ingredient at once</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveExcursionDetailIngredient", "HotelExcursion", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ExcursionDetailsId)
                <div class="form-group">
                    @Html.Label("Excursion Ingredients", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("ExcIngredientId", (MultiSelectList)ViewBag.ExcursionIngredients, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("ExcIngredientId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageExcursionDetailIngredients", "HotelExcursion", new { area = "Admin", id = Model.ExcursionDetailsId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>