﻿@model ToOrdr.Core.Entities.HotelExcursion
@{
    ViewBag.Title = "AddHotelExcursion";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Hotel Excursion
    </h2>
    <small>Add hotel excursion</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveHotelExcursion", "HotelExcursion", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.HotelServiceId)
                <div class="form-group">
                    @Html.Label("Excursion", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("ExcursionId", (MultiSelectList)ViewBag.Excursions, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("ExcursionId", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageHotelExcursion", "HotelExcursion", new { area = "Admin", id = Model.HotelServiceId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>