﻿
@{
    ViewBag.Title = "ManageHotelExcursion";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@Styles.Render("~/bundles/toggleButton/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
       Hotel Excursion
    </h2>
    <small>List of available hotel excursion</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Hotel Excursion
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddHotelExcursion", "HotelExcursion", new { area = "Admin", HotelServiceId = @ViewBag.HotelServiceId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageHotelExcursion" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Service Name</th>
                    <th>Excursion Name</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageHotelExcursion").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelExcursion/LoadHotelExcursion/"+@ViewBag.HotelServiceId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "HotelServiceName", "name": "HotelServiceName", "autoWidth": true },
                    { "data": "ExcursionName", "name": "ExcursionName", "autoWidth": true },
                    {
                        "data": "IsActive", "name": "IsActive", "autoWidth": true,
                        "render": function (data, type, full) {
                            return '<label class="switch"><input type="checkbox" class = "checkSelectedToggle"  name="' + full.HotelExcursionId + '" ' + ((data == true) ? 'checked' : '') + ' /><div class="slider round"></div></label>';
                        }
                    },
                    { "data": "HotelExcursionId", "render": function (data, type, full) { return ' </a> <a data-hotel-excur-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a> <a class="fa fa-2x fa-list-alt" title="ExcursionDetail" href="/Admin/HotelExcursion/ManageHotelExcursionDetails/' + data + '"> </a>' } }
            ]

        });

        $("#manageHotelExcursion").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelExcursion/DeleteHotelExcursion/" + btn.attr("data-hotel-excur-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Hotel excursion has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Hotel excursion is safe :)", "error");
                    }
                });
        });
    });
    $("#manageHotelExcursion").on("click", ".checkSelectedToggle", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, update!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelExcursion/UpdateHotelExcursion/" + btn.attr("name"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                $('#manageHotelExcursion').DataTable().ajax.reload();
                                swal("Update!", "Hotel excursion status has been updated.", "success");
                            }
                            else {
                                btn.prop('checked', true);
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    if (btn.is(":checked")) {
                        btn.prop('checked', false);
                    }
                    else if (btn.is(":not(:checked)")) {
                        btn.prop('checked', true);
                    }
                    swal("Cancelled", "Hotel excursion status is not updated :)", "error");
                }
            });
    });
</script>


