﻿
@{
    ViewBag.Title = "ManageExcursionDetailIngredients";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Excursion Detail Ingredients
    </h2>
    <small>List of excursion detail ingredients</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageHotelExcursionDetails", "HotelExcursion", new { id = ViewBag.HotelExcursionId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddExcursionDetailIngredient", "HotelExcursion", new { area = "Admin", excursionDetailId = @ViewBag.ExcursionDetailId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="excursionDetIngredients" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Excursion Detail Name</th>
                    <th>Ingredient Name</th>
                    <th>Ingredient Description</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#excursionDetIngredients").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelExcursion/LoadExcursionDetailIngredients/"+@ViewBag.ExcursionDetailId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "ExcDetailName", "name": "ExcDetailName", "autoWidth": true },
                    { "data": "ExcIngredientName", "name": "ExcIngredientName", "autoWidth": true },
                    { "data": "ExcIngredientDesc", "name": "ExcIngredientDesc", "autoWidth": true },
                    { "data": "ExcursionDetIngredientId", "render": function (data, type, full) { return ' <a data-exc-det-ing-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });
        $("#excursionDetIngredients").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelExcursion/DeleteExcursionDetailIngredient/" + btn.attr("data-exc-det-ing-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Excursion detail ingredient has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Excursion detail ingredient is safe :)", "error");
                    }
                });
        });

    });
</script>