﻿@model IEnumerable<ToOrdr.Core.Entities.ExcursionDetailGallery>
@{
    ViewBag.Title = "ManageExcursionDetailGallery";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@Styles.Render("~/bundles/fooTable/css")

@section PageTitle{
    <h4 class="font-light m-b-xs">
        Excursion Detail Gallery
    </h4>
    <small>List of Images/Video</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageHotelExcursionDetails", "HotelExcursion", new { id = ViewBag.HotelExcursionId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddExcursionDetailGallery", "HotelExcursion", new { area = "Admin", excDetId = ViewBag.ExcursionDetailId }, new { @class = "btn btn-info btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="excDetailGallery" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th class="col-md-1">Sr.No.</th>
                    <th class="col-md-6">Excursion Detail Name</th>
                    <th class="col-md-2">Image</th>
                    <th class="col-md-1">Video</th>
                    <th class="col-md-1">IsActive</th>
                    <th class="col-md-1">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var excDetGallery in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(item => excDetGallery.ExcursionDetails.Name)</td>
                            <td>
                                @{
                        var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                        var image = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.ExcursionDetailGallery, excDetGallery.Image, excDetGallery.ExcursionDetailId, api_path, excDetGallery.Id);

                        var video = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.ExcursionDetailGallery, excDetGallery.Video, excDetGallery.ExcursionDetailId, api_path, excDetGallery.Id);
                                }
                                <img src="@Url.Content(image)" alt="Image" width="100" height="55"/>
                            </td>
                            <td>
                                <video width="100" height="55" controls>
                                    <source src="@Url.Content(video)" />
                                </video>
                            </td>
                            <td>@Html.CheckBoxFor(item => excDetGallery.IsActive, new { @class = "checkSelected form-control", Name = excDetGallery.Id })</td>
                            <td>
                                <a data-exc-det-gallery-id="@excDetGallery.Id" class="exc-det-gallery-delete fa fa-trash fa-2x"></a>
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#excDetailGallery').footable();

    $("#excDetailGallery .checkSelected").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, update!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelExcursion/UpdateExcursionDetailGallery/" + btn.attr("name"),
                        method: "POST",
                        success: function (response) {
                            if (response.status) {
                                swal("Update!", "Imag/Video has been updated.", "success");
                            }
                            else {
                                btn.prop('checked', true);
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    if (btn.is(":checked")) {
                        btn.prop('checked', false);
                    }
                    else if (btn.is(":not(:checked)")) {
                        btn.prop('checked', true);
                    }
                    swal("Cancelled", "Image/Video is safe :)", "error");
                }
            });
    });

    $("#excDetailGallery .exc-det-gallery-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelExcursion/DeleteExcursionDetailGallery/" + btn.attr("data-exc-det-gallery-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.status) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Image/Video has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }

                        },
                    });

                } else {
                    swal("Cancelled", "Image/Video is safe :)", "error");
                }
            });
    });
</script>

