﻿
@{
    ViewBag.Title = "ManageExcursionIngredients";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Excursion Ingredients
    </h2>
    <small>List of excursion ingredients</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageExcursionIngredientCategories", "HotelExcursion", new { @class = "fa fa-2x fa-arrow-circle-left", area = "Admin" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddExcursionIngredient", "HotelExcursion", new { area = "Admin", excIngredientCatId = @ViewBag.ExcursionIngredientCategoryId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="excursionIngredient" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Excursion Ingredient Category</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $("#excursionIngredient").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": "/Admin/HotelExcursion/LoadExcursionIngredients?excIngredientCatId=@ViewBag.ExcursionIngredientCategoryId",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "ExcIngredientCategory", "name": "ExcIngredientCategory", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                     {
                         "data": "IngredientImage",
                         render: function (data) {
                             return '<img src="' + data + '"  width="100" height="55" onerror="this.onerror = null; this.src =\'/Images/no_logo.png\';" />';
                         }
                     },
                    { "data": "ExcIngredientId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelExcursion/EditExcursionIngredient/' + data + '"> </a> <a data-exc-ingredient-id="' + data + '" class="js-delete fa fa-2x fa-trash">' } }
            ]

        });

        $("#excursionIngredient").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelExcursion/DeleteExcursionIngredient/" + btn.attr("data-exc-ingredient-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Excursion ingredient has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Excursion ingredient is safe :)", "error");
                    }
                });
        });
    });
</script>
