﻿
@{
    ViewBag.Title = "ManageHotelExcursionDetails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Excursion Details
    </h2>
    <small>List of hotel excursion details </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageHotelExcursion", "HotelExcursion",new{id = ViewBag.HotelServiceId}, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddHotelExcursionDetail", "HotelExcursion", new { area = "Admin", hotelExcursionId = ViewBag.HotelExcursionId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="excursionDetails" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Detail Name</th>
                    <th>Description</th>
                    <th>Duration In Days</th>
                    <th>Duration Hours</th>
                    <th>WeekDay</th>
                    <th>Start Time</th>
                    <th>Price</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#excursionDetails").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelExcursion/LoadHotelExcursionDetails/"+@ViewBag.HotelExcursionId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "ExcursionDetName", "name": "ExcursionDetName", "autoWidth": true },
                    { "data": "ExcursionDetDescription", "name": "ExcursionDetDescription", "autoWidth": true },
                    { "data": "DurationInDays", "name": "DurationInDays", "autoWidth": true },
                    { "data": "DurationHours", "name": "DurationHours", "autoWidth": true },
                    { "data": "WeekDay", "name": "WeekDay", "autoWidth": true },
                    { "data": "StartTime", "name": "StartTime", "autoWidth": true },
                    { "data": "Price", "name": "Price", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "HotelExcursionDetId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelExcursion/EditHotelExcursionDetail/' + data + '"> </a> <a data-excursion_det-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a> <a class="fa fa-2x fa-list-alt" title="ExcursionDetailImages" href="/Admin/HotelExcursion/ManageExcursionDetailImages?excursionDetId=' + data + '"> </a><a class="fa fa-2x fa-list-alt" title="ExcursionDetailGallery" href="/Admin/HotelExcursion/ManageExcursionDetailGallery?excursionDetId=' + data + '"> </a> <a class="fa fa-2x fa-list-ul" title="ExcursionDetailIngredients" href="/Admin/HotelExcursion/ManageExcursionDetailIngredients/' + data + '"> </a> <a class="fa fa-2x fa-list" title="ExcursionDetailSuggestion" href="/Admin/HotelExcursion/ManageExcursionSuggestions/' + data + '"> </a>' } }
            ]
        });

        $("#excursionDetails").on("click", ".js-delete", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelExcursion/DeleteHotelExcursionDetail/" + btn.attr("data-excursion_det-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Excursion detail has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Excursion detail is safe :)", "error");
                }
            });
    });
    });
</script>

