﻿
@{
    ViewBag.Title = "ManageExcursionSuggestions";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Excursion Detail Suggestion
    </h2>
    <small>List of excursion detail suggestion</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageHotelExcursionDetails", "HotelExcursion", new { id = ViewBag.HotelExcursionId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddExcursionSuggestion", "HotelExcursion", new { area = "Admin", excursionDetId = ViewBag.ExcursionDetailId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="excursionDetSuggestion" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Excursion Name</th>
                    <th>Excursion Detail Name</th>
                    <th>Suggestion Name</th>
                    <th>Suggestion Description</th>
                    <th>Suggestion Price</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#excursionDetSuggestion").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelExcursion/LoadExcursionSuggestions/"+@ViewBag.ExcursionDetailId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "ExcName", "name": "ExcName", "autoWidth": true },
                    { "data": "ExcDetName", "name": "ExcDetName", "autoWidth": true },
                    { "data": "ExcSuggestionName", "name": "ExcSuggestionName", "autoWidth": true },
                    { "data": "ExcSuggestionDescription", "name": "ExcSuggestionDescription", "autoWidth": true },
                    { "data": "ExcSuggestionPrice", "name": "ExcSuggestionPrice", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "ExcSuggestionId", "render": function (data, type, full) { return '</a> <a data-exc-det-sugg-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a></a> ' } }
            ]

        });

        $("#excursionDetSuggestion").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelExcursion/DeleteExcursionSuggestion/" + btn.attr("data-exc-det-sugg-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Excursion detail suggestion has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Excursion detail suggestion is safe :)", "error");
                    }
                });
        });
    });
</script>