﻿﻿@model ToOrdr.Core.Entities.Hotel_Trip
@{
    //ViewBag.Title = "CreateModify";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        @ViewBag.Title
    </h2>
    @*<small>@ViewBag.Title</small>*@
}

<div class="hpanel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            <a class="closebox"><i class="fa fa-times"></i></a>
        </div>
        @ViewBag.Title
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Save", "HotelTrips", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(model => model.Trip_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-5">
                    @Html.EditorFor(model => model.Trip_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Trip_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Trip_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-5">
                    @Html.EditorFor(model => model.Trip_Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Trip_Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Trip_Rate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-5">
                    @Html.EditorFor(model => model.Trip_Rate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Trip_Rate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Trip_Days, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-5">
                    @Html.EditorFor(model => model.Trip_Days, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Trip_Days, "", new { @class = "text-danger" })
                </div>
            </div>
       
            <div class="hr-line-dashed"></div>
            <div class="form-group row">
                <label class="control-label col-md-2">Preview</label>
                <div class="col-sm-1">
                    <img id="user_img" class="image-preview-size" src="~/Images/Trips/@Model.Trip_Photo" />
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Trip_Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.HiddenFor(model => model.Trip_Photo)
                <div class="col-sm-5">
                    <input type="file" name="uploadFile" id="uploadFile" class="form-control" onchange="show(this)" />
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group row">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-1">
                    @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.Hotel_Trip_ID)
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="button" id="hotel_trips" class="btn btn-default">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Save changes" />
                </div>
            </div>

        }
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hotel_trips").on("click", function () {
            window.location.href = "@Url.Action("ManageTrips", "HotelTrips")";
        });
    });

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>

