﻿﻿@model ToOrdr.Core.Entities.TripDetail
@{
    //ViewBag.Title = "CreateModifyTripDetails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Trip Details
    </h2>
<small>Add/Edit Trip Details.</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Trip Details
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SaveTripDetails", "HotelTrips", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-5">
                        @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.TripID)
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        @Html.ActionLink("Cancel", "ManageTripDetails", "HotelTrips", new { TripID = @Model.TripID }, new { @class = "btn btn-primary" })
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </div>
                </div>
                }
            </div>
</div>



