﻿@model IEnumerable<ToOrdr.Core.Entities.TripDetail>
@{
    ViewBag.Title = "ManageTripDetails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage Trips Details
    </h2>
    <small>List of places available in Trip.</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
       @Html.ActionLink(" ", "ManageTrips", "HotelTrips", new { id = ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>

    <div class="panel-body">

        @Html.ActionLink("Create New", "CreateModifyTripDetails", "HotelTrips", new { TripID = ViewBag.TripID }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="TripDetails" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter>
            <thead>
                <tr>
                    <th>SR.No</th>
                    <th>@Html.DisplayNameFor(model => model.Trip.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Place)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => item.Trip.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Place)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                            <td>
                                @Html.ActionLink(" ", "EditTripDetails", "HotelTrips", new { id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                                <a data-trip-details-id="@item.Id" data-trip-id="@item.TripID" class="fa fa-2x fa-trash js-delete"></a>
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")

<script>
        $(document).ready(function () {
            $("#TripDetails .js-delete").on("click", function () {
                var btn = $(this);
                swal({
                    title: "Are you sure?",
                    text: "Your will not be able to recover this record!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel plx!",
                    closeOnConfirm: false,
                    closeOnCancel: false },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: "/HotelTrips/DeleteTripDetails/",
                                data: { TripDetailsID: btn.attr("data-trip-details-id"), TripID: btn.attr("data-trip-id") },
                                method: "POST",
                                success: function () {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Record has been deleted.", "success");
                                },
                            });
                            
                        } else {
                            swal("Cancelled", "Record is safe :)", "error");
                        }
                    });
            });
        });
        $('#TripDetails').footable();
    </script>


