﻿
@{
    ViewBag.Title = "TripsQueue";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/datatables/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Trip orders
    </h2>
    <small>List of trip orders </small>
}
<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Trip Orders
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table data-limit-navigation="5" id="trip_orders" class="footable table table-bordered table-striped toggle-arrow-tiny" data-filter=#filter>
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Trip Name</th>
                    <th>Seats</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")
@Scripts.Render("~/bundles/datatables/js")
<script>
    $('#trip_orders').footable();

    $(document).ready(function () {
        $("#trip_orders").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelTrips/LoadTripOrders",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "TripName", "name": "TripName", "autoWidth": true },
                    { "data": "Seats", "name": "Seats", "autoWidth": true },
                    { "data": "Amount", "name": "Amount", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true }
            ]

        });
    });
</script>







