﻿@model IEnumerable<ToOrdr.Api.Models.EndPointDetails>

@{
    ViewBag.Title = "Documentation";
}

<h2>youORDR API Documentation</h2>

<div class="panel-group" id="accordion">

    @foreach (var item in Model)
    {
              <!-- #region Account -->


        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        User Account Related
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="label label-info">Post</span>
                                <a class="collapse-toggle" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    /Register
                                </a>
                            </h4>
                        </div>
                        <div id="collapseExample" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p class="description">
                                    Registers new user.
                                </p>
                                <h4>Parameters </h4>
                                <label>Body</label>
                                <ul>
                                    <li>Email </li>
                                    <li>Email </li>

                                </ul>





                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapse-toggle" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Panel heading with title</a>
                            </h4>
                        </div>
                        <div id="collapseExample" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

      <!-- #endregion -->



    }

</div>