﻿@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="heading" style="padding-top:50px">
        <div class="input-group" style="margin:0px 100px 30px 100px;">
            <input type="text" id="searchBox" placeholder="Search Restaurants" class="form-control input-sm" />
            <span class="input-group-btn">
                <button type="button" id="searchBtn" value="Search" class="btn btn-default input-sm">Search Restaurants</button>
            </span>
        </div>
    </div>
</div>

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            @{Html.RenderAction("CustomerRecentRestaurants", "Customers");}
        </div>
    }
    <div>
        @{Html.RenderAction("SponsoredRestaurants", "Restaurant");}
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $("#searchBtn").click(function () {
                startSearch();
            });


            $('#searchBox').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#searchBtn').click();
            });
        });

        function startSearch() {
            window.location = "/Restaurant?keywords=" + $('#searchBox').val();
        }

    </script>
}
