﻿
@{
    ViewBag.Title = "TaxiReviews";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@Scripts.Render("~/bundles/jquery/js")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Taxi Reviews
    </h2>
    <small>List of taxi reviews </small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Taxi Reviews
    </div>
    <div class="panel-body">
        <table id="taxi_Reviews" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Taxi Name</th>
                    <th>Customer Name</th>
                    <th>Reviews</th>
                    <th>Comment</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
        var t = $("#taxi_Reviews").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelTaxiService/LoadTaxiReviews",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                    { "data": "TaxiReviewId", "name": "TaxiReviewId" },
                    { "data": "TaxiName", "name": "TaxiName", "autoWidth": true },
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    {
                        "data": "Score", "name": "Score", "autoWidth": true, render: function (Score) {
                            return '<input value="' + Score + '" type="number" class="rating" min=0 max=10 data-size="xs" step=0.1 data-stars="10" readonly="true">';
                    }, },
                    { "data": "Comment", "name": "Comment", "autoWidth": true }
            ],
            "createdRow": function (row, data, dataIndex) {
                var ratingInput = $(row).find('.rating');
                $(ratingInput).rating({ showClear: false, showCaption: false });
            }

       });
       t.on('draw.dt', function () {
           var PageInfo = $('#taxi_Reviews').DataTable().page.info();
           t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
               cell.innerHTML = i + 1 + PageInfo.start;
           });
       });
    });
</script>


