﻿
@{
    ViewBag.Title = "TaxiQueue";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/datatables/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Taxi orders
    </h2>
    <small>List of taxi orders </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Taxi Orders
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table data-limit-navigation="5" id="taxi_orders" class="footable table table-bordered table-striped toggle-arrow-tiny" data-filter=#filter>
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Taxi Name</th>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")
@Scripts.Render("~/bundles/datatables/js")
<script>
    $('#taxi_orders').footable();

    $(document).ready(function () {
        $("#taxi_orders").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelTaxiService/LoadTaxiOrders",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "TaxiName", "name": "TaxiName", "autoWidth": true },
                    { "data": "OrderDate", "name": "OrderDate", "autoWidth": true },
                    { "data": "From", "name": "From", "autoWidth": true },
                    { "data": "To", "name": "To", "autoWidth": true },
                     { "data": "Comment", "name": "Comment", "autoWidth": true },
                    {
                        "data": "TaxiBookingStatuses",  "autoWidth": true, className: "status_ddl",
                        "render": function (data, type, row) {
                            var $select = $("<select></select>",
                                {
                                    id: row.TaxiBookingId,
                                    name: row.TaxiBookingId
                                });
                            $.each(data, function (k, v) {
                                    var $option = $("<option></option>",
                                    {
                                        text: v.Name,
                                        value: v.Id
                                    });
                                    if (row.Status == v.Name) {
                                        $option.attr("selected", "selected")
                                    }
                                    $select.append($option);
                            });
                            return $select.prop("outerHTML");
                        }
                    }
            ]

        });

        $("#taxi_orders").on("change", ".status_ddl", function () {
            var btn = $(this);
            var taxiBookingId = $(this).children('select').attr('id');
            var bookingStatus = $('#'+taxiBookingId).val();
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelTaxiService/UpdateTaxiBookingStatus",
                            method: "POST",
                            data: { taxiBookingId: taxiBookingId, bookingStatus: bookingStatus },
                            success: function (response) {
                                if (response.status) {
                                    //btn.parents("tr").remove();
                                    swal("Updated!", "Booking status has been updated.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        
                        swal("Cancelled", "Booking status is not updated :)", "error");
                        window.location.href = '/Admin/HotelTaxiService/TaxiQueue';
                    }
                });
        });
    });
</script>


