﻿
@{
    var spaOrderIsLateStatusChangedCount = @ViewBag.SpaOrderIsLateStatusChangedCount;
}
<a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
    <i class="pe-7s-mail"></i>
    <span class="label label-success">@spaOrderIsLateStatusChangedCount</span>
</a>
<ul class="dropdown-menu hdropdown animated flipInX">
    <div class="title">
        You have @spaOrderIsLateStatusChangedCount new notifications
    </div>
    <li>
        <a href="@Url.Action("SPAQueue", "HotelSpaService", new { Area = "Admin" })">
            @spaOrderIsLateStatusChangedCount I am late Status change notifications.<br /> Please click here to check
        </a>
    </li>


</ul>