﻿@model IEnumerable<ToOrdr.Core.Entities.SPAServiceDetail>

@Styles.Render("~/bundles/fooTable/css")
@Scripts.Render("~/bundles/fooTable/js")

<div class="panel-body">
    @Html.ActionLink("Add SpaDetail", "AddSPAServiceDetail", "HotelSpaService", new { spaServiceDetailGroupId = @ViewBag.spaServiceDetailGroupId, area = "Admin" }, new { @class = "btn btn-info btn-sm new-btn-position" })<br /><br />
    <input type="text" class="form-control input-sm m-b-md" id="SpaDetailfilter" placeholder="Search in table">
    <table id="hotelSPAServicesDetail" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#SpaDetailfilter>
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Rate)</th>
                <th>@Html.DisplayNameFor(model => model.Hours)</th>
                <th>@Html.DisplayNameFor(model => model.Image)</th>
                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                <th>@Html.DisplayNameFor(model => model.Creation_Date)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                var cnt = 1;
                foreach (var spaServiceDetail in Model)
                {
                    <tr class="rows">
                        <td>@cnt @Html.HiddenFor(modelItem => spaServiceDetail.Id)</td>
                        <td>@Html.DisplayFor(modelItem => spaServiceDetail.Name)</td>
                        <td>@Html.DisplayFor(modelItem => spaServiceDetail.Description)</td>
                        <td>@Html.DisplayFor(modelItem => spaServiceDetail.Rate)</td>
                        <td>@Html.DisplayFor(modelItem => spaServiceDetail.Hours)</td>
                        <td>
                            @{
                    var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                    var background_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.SPAServiceDetail, spaServiceDetail.Image, spaServiceDetail.Id, api_path);
                            }
                            <img src="@Url.Content(background_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                        </td>

                        <td> @Html.CheckBoxFor(modelItem => spaServiceDetail.IsActive, new { @class = "checkSelected", Name = spaServiceDetail.Id })</td>
                        <td>@spaServiceDetail.Creation_Date.ToString("dd/MM/yyyy")</td>
                        <td>
                            @Html.ActionLink(" ", "EditSPAServiceDetail", "HotelSpaService", new { area = "Admin", id = spaServiceDetail.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                            <a data-spa-service-detail-id="@spaServiceDetail.Id" class="js-delete fa fa-2x fa-trash"></a>
                        </td>
                    </tr>
                    cnt = cnt + 1;
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<script>
    $('#hotelSPAServicesDetailGroup').footable();    

    $("#hotelSPAServicesDetail .js-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelSpaService/DeleteSPAServiceDetail/" + btn.attr("data-spa-service-detail-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.failure) {
                                swal("Cancelled!", response.error, "warning");
                            }
                            else {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Hotel SPAService Details has been deleted.", "success");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Hotel SPAService Details is safe :)", "error");
                }
            });
    });
</script>
