﻿@model IEnumerable<ToOrdr.Core.Entities.SPAServiceGroup>

@Styles.Render("~/bundles/fooTable/css")
@Scripts.Render("~/bundles/fooTable/js")

<div class="panel-body">
    @Html.ActionLink("Add SPAGroup", "AddSPAServiceGroup", "HotelSpaService", new { spaServiceId = @ViewBag.spaServiceId, area = "Admin" }, new { @class = "btn btn-info btn-sm new-btn-position" })<br /><br />
    <input type="text" class="form-control input-sm m-b-md" id="SpaGroupfilter" placeholder="Search in table">
    <table id="hotelSPAServicesGroup" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#SpaGroupfilter>
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Image)</th>
                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                var cnt = 1;
                foreach (var spaServiceGroup in Model)
                {
                    <tr class="rows">
                        <td>@cnt @Html.HiddenFor(modelItem => spaServiceGroup.Id)</td>
                        <td>@Html.DisplayFor(modelItem => spaServiceGroup.Name)</td>
                        <td>@Html.DisplayFor(modelItem => spaServiceGroup.Description)</td>
                        <td>
                            @{
                    var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                    var background_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.SpaServiceGroup, spaServiceGroup.Image, spaServiceGroup.Id, api_path);
                            }
                            <img src="@Url.Content(background_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                        </td>

                        <td> @Html.CheckBoxFor(modelItem => spaServiceGroup.IsActive, new { @class = "checkSelected", Name = spaServiceGroup.Id })</td>
                        <td>@spaServiceGroup.CreationDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @Html.ActionLink(" ", "EditSPAServiceGroup", "HotelSpaService", new { area = "Admin", id = spaServiceGroup.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                            <a data-spa-servicegroup-id="@spaServiceGroup.Id" class="js-delete fa fa-2x fa-trash"></a>
                        </td>
                    </tr>
                    cnt = cnt + 1;
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<script>
    $('#hotelSPAServicesGroup').footable();

    $("#hotelSPAServicesGroup tr.rows td:not(:last-child)").click(function () {
        var spaServiceGroupId = $("td #spaServiceGroup_Id", $(this).parent()).val();
        var spaServiceGroupIdName = $("td:eq(1)", $(this).parent()).text();
        getSpaServiceDetailsGroup(spaServiceGroupId);

        $('#getSpaServiceDetailsGroup').show();

        $("#spaServGrpId").html(spaServiceGroupId);
        $("#spaSerGrpName").html(spaServiceGroupIdName);

        function getSpaServiceDetailsGroup(spaServiceGroupId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ManageSpaServiceDetailsGroup", "HotelSpaService", new { area = "Admin" })",
                data: { spaServiceGroupId: spaServiceGroupId },
                success: function (data) {
                    OnSuccess(data);

                },
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('Oops! something went wrong, error: ' + response);
                }
            });
        }
    });

    $("#hotelSPAServicesGroup .js-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelSpaService/DeleteSPAServiceGroup/" + btn.attr("data-spa-serviceGroup-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.failure) {
                                swal("Cancelled!", response.error, "warning");
                            }
                            else {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Hotel SPA ServiceGroup has been deleted.", "success");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Hotel Spa ServiceGroup is safe :)", "error");
                }
            });
    });
</script>