﻿@model IEnumerable<ToOrdr.Core.Entities.SPAServiceDetailsGroup>

@Styles.Render("~/bundles/fooTable/css")
@Scripts.Render("~/bundles/fooTable/js")

<div class="panel-body">
    @Html.ActionLink("Add DetailsGroup", "AddSPAServiceDetailGroup", "HotelSpaService", new { spaServiceGroupId = @ViewBag.spaServiceGroupId, area = "Admin" }, new { @class = "btn btn-info btn-sm new-btn-position" })<br /><br />
    <input type="text" class="form-control input-sm m-b-md" id="SpaDetailGroupfilter" placeholder="Search in table">
    <table id="hotelSPAServicesDetailGroup" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#SpaDetailGroupfilter>
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Image)</th>
                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                var cnt = 1;
                foreach (var spaServiceDetailGroup in Model)
                {
                    <tr class="rows">
                        <td>@cnt @Html.HiddenFor(modelItem => spaServiceDetailGroup.Id)</td>
                        <td>@Html.DisplayFor(modelItem => spaServiceDetailGroup.Name)</td>
                        <td>@Html.DisplayFor(modelItem => spaServiceDetailGroup.Description)</td>
                        <td>
                            @{
                    var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                    var background_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.SPAServiceDetailsGroup, spaServiceDetailGroup.Image, spaServiceDetailGroup.Id, api_path);
                            }
                            <img src="@Url.Content(background_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                        </td>

                        <td> @Html.CheckBoxFor(modelItem => spaServiceDetailGroup.IsActive, new { @class = "checkSelected", Name = spaServiceDetailGroup.Id })</td>
                        <td>@spaServiceDetailGroup.CreationDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @Html.ActionLink(" ", "EditSPAServiceDetailGroup", "HotelSpaService", new { area = "Admin", id = spaServiceDetailGroup.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                            <a data-spa-service-detailgroup-id="@spaServiceDetailGroup.Id" class="js-delete fa fa-2x fa-trash"></a>
                        </td>
                    </tr>
                    cnt = cnt + 1;
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<script>
    $('#hotelSPAServicesDetailGroup').footable();

    $("#hotelSPAServicesDetailGroup tr.rows td:not(:last-child)").click(function () {
        var spaServiceDetailGroupId = $("td #spaServiceDetailGroup_Id", $(this).parent()).val();
        var spaServiceDetailGroupIdName = $("td:eq(1)", $(this).parent()).text();
        getSpaServiceDetails(spaServiceDetailGroupId);

        $('#getSpaServiceDetails').show();

        $("#spaServDtlId").html(spaServiceDetailGroupId);
        $("#spaSerDtlName").html(spaServiceDetailGroupIdName);

        function getSpaServiceDetails(spaServiceDetailGroupId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ManageSpaServiceDetails", "HotelSpaService", new { area = "Admin" })",
                data: { spaServiceDetailGroupId: spaServiceDetailGroupId },
            success: function (data) {
                OnSuccess(data);

            },
            failure: function (response) {
                alert('Oops! something went wrong, failure: ' + response.d);
            },
            error: function (response) {
                if (response.statusText == 'abort') {
                    return;
                }
                alert('Oops! something went wrong, error: ' + response);
            }
        });
    }
    });

    $("#hotelSPAServicesDetailGroup .js-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelSpaService/DeleteSPAServiceDetailGroup/" + btn.attr("data-spa-service-detailgroup-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.failure) {
                                swal("Cancelled!", response.error, "warning");
                            }
                            else {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Hotel SPAService DetailsGroup has been deleted.", "success");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Hotel SPAService DetailsGroup is safe :)", "error");
                }
            });
    });
</script>