﻿@model IEnumerable<ToOrdr.Core.Entities.SpaOrderItem>

@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/toggleButton/css")

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Order Item Details
            </div>
            <div class="panel-body">
                <table id="spaOrderItemDetails_@Model.FirstOrDefault().SpaOrderId" class="table table-hover footable table-stripped toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Name</th>
                            <th>Customer Comment</th>
                            <th>Start DateTime</th>
                            <th>End DateTime</th>
                            <th>Qty</th>
                            <th>ServeLevel</th>
                            <th>Amount</th>
                            <th>Delivery Status</th>
                            <th data-hide="all"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var cnt = 1;
                            foreach (var spaOrderItem in Model)
                            {
                                <tr>
                                    <td>@cnt</td>
                                    <td>@Html.DisplayFor(item => spaOrderItem.SpaServiceDetail.Name)</td>
                                    <td>@Html.DisplayFor(item => spaOrderItem.Comment)</td>
                                    <td>@Html.DisplayFor(item => spaOrderItem.StartDateTime)</td>
                                    <td>@Html.DisplayFor(item => spaOrderItem.EndDateTime)</td>
                                    <td>@Html.DisplayFor(item => spaOrderItem.Qty)</td>
                                    <td>@Html.DisplayFor(item => spaOrderItem.ServeLevel)</td>
                                    <td>@Html.DisplayFor(item => spaOrderItem.Total)</td>
                                    <td>
                                        <label class="switch">
                                            @Html.CheckBoxFor(modelItem => spaOrderItem.DeliveryStatus, new { @class = "checkSelectedToggle", @Disabled = "disabled", Name = spaOrderItem.Id })
                                            <div class="slider round"></div>
                                        </label>
                                    </td>
                                    <td>
                                        <div class="row">
                                            @if (spaOrderItem.SpaOrderItemsAdditionals.Count() > 0)
                                            {
                                                <div class="col-md-10 col-md-offset-1">
                                                    <table class=" table table-hover table-bordered table-stripped">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="6"><center>Item additional </center></th>
                                                            </tr>
                                                            <tr>
                                                                <th>Sr.No</th>
                                                                <th>Name</th>
                                                                <th>Quantity</th>
                                                                <th>Price</th>
                                                            </tr>
                                                        </thead>
                                                        @{
                                                var counter = 1;
                                                double? total_cost = 0;
                                                foreach (var additional in spaOrderItem.SpaOrderItemsAdditionals)
                                                {
                                                    <tr>
                                                        <td>@counter</td>
                                                        <td>@additional.SpaAdditionalElement.Name</td>
                                                        <td>@additional.Qty</td>
                                                        <td>@additional.SpaAdditionalElement.Price</td>
                                                    </tr>
                                                    total_cost += @additional.Total;
                                                    counter = counter + 1;

                                                }
                                                        }
                                                        <tr>
                                                            <td colspan="3" class="text-right"><b>Net Order Total</b></td>
                                                            <td><b>@total_cost</b></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                            <div class="col-md-10 col-md-offset-1">
                                                <table class="table table-hover table-bordered table-stripped">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="6"><center>Masseur </center></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Age</th>
                                                            <th>Education</th>
                                                            <th>Experience</th>
                                                            <th>Skill</th>
                                                        </tr>
                                                    </thead>
                                                    @{
                                                    var employee = spaOrderItem.SpaEmployeeDetail.SpaEmployee;

                                                    <tr>
                                                        <td>@employee.Customer.FirstName  @employee.Customer.LastName</td>
                                                        <td>@employee.Age</td>
                                                        <td>@employee.Education</td>
                                                        <td>@employee.Experience</td>
                                                        <td>@employee.Skill</td>
                                                    </tr>
                                                    }
                                                </table>

                                            </div>
                                            @if (spaOrderItem.ExtraTimeId != null)
                                            {
                                                <div class="col-md-10 col-md-offset-1">
                                                    <table class="table table-hover table-bordered table-stripped">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="6"><center>Extra Time </center></th>
                                                            </tr>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Duration</th>
                                                                <th>Price</th>
                                                                <th>IsActive</th>
                                                            </tr>
                                                        </thead>
                                                        @{
                                                var extraTime = spaOrderItem.ExtraTime;
                                                        <tr>
                                                            <td>@extraTime.Name</td>
                                                            <td>@extraTime.Duration</td>
                                                            <td>@extraTime.Price</td>
                                                            <td>@extraTime.IsActive</td>
                                                        </tr>
                                                        }
                                                    </table>
                                                </div>
                                            }
                                            @if (spaOrderItem.SpaOrderExtraProcedures.Count() > 0)
                                            {
                                                <div class="col-md-10 col-md-offset-1">
                                                    <table class="table table-hover table-bordered table-stripped">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="6"><center>Extra Procedure </center></th>
                                                            </tr>
                                                            <tr>
                                                                <th>Sr.No</th>
                                                                <th>Name</th>
                                                                <th>Duration</th>
                                                                <th>Price</th>
                                                                <th>IsActive</th>
                                                            </tr>
                                                        </thead>
                                                        @{
                                                var counter1 = 1;
                                                double? total_cost1 = 0;
                                                foreach (var exProcedure in spaOrderItem.SpaOrderExtraProcedures)
                                                {
                                                        <tr>
                                                            <td>@counter1</td>
                                                            <td>@exProcedure.ExtraProcedure.Name</td>
                                                            <td>@exProcedure.ExtraProcedure.Duration</td>
                                                            <td>@exProcedure.ExtraProcedure.Price</td>
                                                            <td>@exProcedure.ExtraProcedure.IsActive</td>
                                                        </tr>
                                                    total_cost1 += exProcedure.ExtraProcedure.Price;
                                                    counter1 = counter1 + 1;

                                                }
                                                        }
                                                        <tr>
                                                            <td colspan="4" class="text-right"><b>ProcedureTotal</b></td>
                                                            <td><b>@total_cost1</b></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            }

                                        </div>
                                    </td>
                                </tr>
                                            cnt = cnt + 1;
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#spaOrderItemDetails_@Model.FirstOrDefault().SpaOrderId').footable();
</script>


