﻿@model IEnumerable<ToOrdr.Core.Entities.SpaOrderItems>
@Styles.Render("~/bundles/fooTable/css")
<div class="container">
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            Spa Order Details
        </div>
        <div class="panel-body">
            <input type="text" class="form-control input-sm m-b-md" id="spaOrderDetails" placeholder="Search in table">
            <table id="spaOrderItemDetails" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#spaOrderDetails>
                <thead>
                    <tr>
                        <th class="col-md-1">Sr.No.</th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-5">Customer Description</th>
                        <th class="col-md-1">Qty</th>
                        <th class="col-md-1">ServeLevel</th>
                        <th class="col-md-1">Amount</th>
                        <th data-hide="all"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var cnt = 1;
                        foreach (var spaOrderItem in Model)
                        {
                            <tr>
                                <td>@cnt</td>
                                <td>@Html.DisplayFor(item => spaOrderItem.SpaServiceDetail.Name)</td>
                                <td>@Html.DisplayFor(item => spaOrderItem.Comment)</td>
                                <td>@Html.DisplayFor(item => spaOrderItem.Qty)</td>
                                <td>@Html.DisplayFor(item => spaOrderItem.ServeLevel)</td>
                                <td>@Html.DisplayFor(item => spaOrderItem.Total)</td>

                                <td>
                                    <div>
                                        <table class=" table table-bordered">
                                            <th colspan="4"><center>Order Item Additional</center></th>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                            </tr>
                                            @{
                                                    var counter = 1;
                                                    double? total_cost = 0;
                                                    foreach (var additional in spaOrderItem.SpaOrderItemsAdditional)
                                                    {
                                                        <tr>
                                                            <td>@counter</td>
                                                            <td>@additional.SpaAdditionalElement.Name</td>
                                                            <td>@additional.Qty</td>
                                                            <td>@additional.SpaAdditionalElement.Price</td>
                                                        </tr>
                                                        total_cost += @additional.Total;
                                                        counter = counter + 1;

                                                    }
                                            }
                                            <tr>
                                                <td colspan="3" class="text-right"><b>Net Order Total</b></td>
                                                <td><b>@total_cost</b></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div>
                                        <table class="table table-bordered">
                                            <th colspan="6"><center>Order Item Masseur </center></th>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Name</th>
                                                <th>Age</th>
                                                <th>Education</th>
                                                <th>Experience</th>
                                                <th>Skill</th>
                                            </tr>
                                            @{
                                                    var counters = 1;
                                                    foreach (var employee in spaOrderItem.SpaOrderItemsEmployee)
                                                    {
                                                        <tr>
                                                            <td>@counter</td>
                                                            <td>@employee.SpaEmployeeDetails.SpaEmployee.Customer.FirstName  @employee.SpaEmployeeDetails.SpaEmployee.Customer.LastName</td>
                                                            <td>@employee.SpaEmployeeDetails.SpaEmployee.Age</td>
                                                            <td>@employee.SpaEmployeeDetails.SpaEmployee.Education</td>
                                                            <td>@employee.SpaEmployeeDetails.SpaEmployee.Experience</td>
                                                            <td>@employee.SpaEmployeeDetails.SpaEmployee.Skill</td>
                                                        </tr>
                                                        counters = counters + 1;

                                                    }
                                            }
                                        </table>
                                    </div>
                                </td>

                            </tr>
                                                    cnt = cnt + 1;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#spaOrderItemDetails').footable();    
</script>