﻿@model ToOrdr.Core.Entities.SpaIngredient
@using ToOrdr.Localization;
@{
    ViewBag.Title = "AddEditSpaIngredient";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Ingredient Details
    </h2>
    <small>Add/Edit Spa Ingredient details</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveSpaIngredient", "HotelSpaService", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SpaIngredientCategoryId)
                <div class="section-title">
                    <span class="glyphicon glyphicon-cutlery"></span><span class="glyphicon-text-space"><label>Ingredient Details</label></span>
                </div><hr class="hr-top-margin" />

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>


                @{
            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
            var spaIngredientImage = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.SpaIngredientImage, Model.IngredientImage, Model.Id, api_path);
                }
                <div class="form-group row">
                    <label class="control-label control-label-left-align col-md-1 col-md-offset-1 text-left">Preview</label>
                    <div class="col-sm-1">
                        <img id="spaIngredient_img" class="image-preview-size" src="@Url.Content(spaIngredientImage)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IngredientImage, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    @Html.HiddenFor(model => model.IngredientImage)
                    @Html.ValidationMessageFor(model => model.IngredientImage, "", new { @class = "text-danger" })
                    <div class="col-sm-5">
                        <input type="file" name="uploadSpaIngredientImage" id="uploadSpaIngredientImage" class="form-control" onchange="showSpaIngredientImage(this)" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageSpaIngredients", "HotelSpaService", new { spaIngredientCatId = Model.SpaIngredientCategoryId }, new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/jqueryValidation")
<script>

    function showSpaIngredientImage(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#spaIngredient_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>