﻿@model ToOrdr.Core.Entities.SpaEmployeeTimeSlot
@{
    ViewBag.Title = "AddEditEmployeeTimeSlot";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Employee TimeSlot
    </h2>
    <small>Add/Edit Employee TimeSlot</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveSpaEmployeeTimeSlot", "HotelSpaService", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SpaEmployeeId)
                @Html.HiddenFor(model => model.CreationDate)

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDateTime, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5 input-group date" id="datetimepicker1">
                        @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDateTime, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5 input-group date" id="datetimepicker2">
                        @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="post_form_data" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel ", "ManageSpaEmployeeTimeSlot", "HotelSpaService", new { id = Model.SpaEmployeeId }, new { area = "Admin", @class = "btn btn-primary btn-sm" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script>
    $(function () {
        var startDatetime = $("#StartDateTime").val();
        $('#datetimepicker1').datetimepicker({ minDate: startDatetime });
        $('#datetimepicker2').datetimepicker({});

        $("#datetimepicker1").on("dp.change", function (e) {

            $("#EndDateTime").val($("#datetimepicker1").find("input").val());
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);

            var selectedDate = $("#datetimepicker1").find(".active").data("day");
            var formatted = selectedDate + " " + 24 + ":" + 00 + ":" + 00;
            $('#datetimepicker2').data("DateTimePicker").maxDate(formatted);
        });
    });
</script>