﻿@model ToOrdr.Core.Entities.ExtraProcedure
@{
    ViewBag.Title = "AddEditSpaDetailExtraprocedure";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        SpaDetail Extraprocedure
    </h2>
    <small>Add/Edit SpaDetail Extraprocedure</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveSpaDetailsExtraprocedure", "HotelSpaService", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SpaServiceDetailId)
                @Html.HiddenFor(model => model.CreationDate)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        <div class="input-group date" id="datetimepicker">
                            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                @{
            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
            var extraProcImg = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.SpaExtraProcedureImage, Model.Image, Model.SpaServiceDetailId, api_path, Model.Id);
                }
                <div class="form-group row">
                    <label class="control-label control-label-left-align col-md-1 col-md-offset-1 text-left">Preview</label>
                    <div class="col-sm-1">
                        <img id="extra_proc_img" class="image-preview-size" src="@Url.Content(extraProcImg)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    @Html.HiddenFor(model => model.Image)
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    <div class="col-sm-5">
                        <input type="file" name="uploadImage" id="uploadImage" class="form-control" onchange="showImage(this)" />
                        <span id="lblError" style="color: red;"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="post_form_data" value="Save" class="btn btn-success" onclick="return ValidateExtensionAndSize()" />
                        @Html.ActionLink("Cancel ", "ManageSpaDetailsExtraProcedure", "HotelSpaService", new { id = Model.SpaServiceDetailId }, new { area = "Admin", @class = "btn btn-primary btn-sm" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script>
    $(function () {
        $('#datetimepicker').datetimepicker({
            format: 'HH:mm'
        });
    });
    function showImage(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#extra_proc_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
    function ValidateExtensionAndSize() {
        var allowedFiles = [".jpg", ".jpeg", ".png"];
        var fileUpload = document.getElementById("uploadImage");
        var lblError = document.getElementById("lblError");
        if (fileUpload.files.length != 0)
        {
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
            if (!regex.test(fileUpload.value.toLowerCase())) {
                lblError.innerHTML = "Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.";
                return false;
            }
            if(fileUpload.files[0].size > 2000000)
            {
                lblError.innerHTML = "Please upload file less than 2MB.";
                return false;
            }
        }
        lblError.innerHTML = "";
        return true;
    }
</script>
