﻿@model ToOrdr.Core.Entities.SpaServiceOffer
@using ToOrdr.Localization
@{
    ViewBag.Title = "AddEditSpaServiceOffer";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Service Offer
    </h2>
    <small>Add/Edit spa service offer</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveSpaServiceOffer", "HotelSpaService", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.Label("Spa Service Detail", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @if (Model.Id == null || Model.Id == 0)
                        {
                            @Html.DropDownListFor(model => model.SpaServiceDetailId, new SelectList(ViewBag.UnassignedOfferSpaServices, "Id", "Name"), "", new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.SpaServiceDetailId)
                            @Html.EditorFor(model => model.SpaServiceDetail.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        }

                        @Html.ValidationMessageFor(model => model.SpaServiceDetailId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Percentage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
                    </div>
                </div>
                @{
                        var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                        var spaOfferImg = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.SpaServiceDetailOfferImage, Model.OfferImage, Model.SpaServiceDetailId, api_path, Model.Id);
                }
                <div class="form-group row">
                    <label class="control-label col-md-2">Preview</label>
                    <div class="col-sm-1">
                        <img id="SpaOffer_img" class="image-preview-size" src="@Url.Content(spaOfferImg)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OfferImage, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.HiddenFor(model => model.OfferImage)
                    <div class="col-sm-5">
                        <input type="file" name="uploadImage" id="uploadImage" class="form-control" onchange="showImage(this)" />
                        @Html.ValidationMessageFor(model => model.OfferImage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageSpaServiceOffers", "HotelSpaService", new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@Scripts.Render("~/bundles/jqueryValidation")
<script>
    function showImage(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#SpaOffer_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>