﻿﻿@model ToOrdr.Core.Entities.SPAServiceGroup
@{
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        SPA Service Group
    </h2>
    <small>Add SPA Services Group.</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Add SPA Services Group
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("AddSPAServiceGroup", "HotelSpaService", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <disv class="col-md-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </disv>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SPAServiceId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                @{
            var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
            var background_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.SpaServiceGroup, Model.Image, Model.Id, api_path);
                }

                <div class="form-group">
                    <label class="control-label col-md-2">Preview</label>
                    <div class="col-md-1">
                        <img id="spa_img" class="image-preview-size" src="@Url.Content(background_img)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.HiddenFor(model => model.Image)
                    <div class="col-md-5">
                        <input type="file" name="uploadSpaImage" id="uploadSpaImage" class="form-control" onchange="show(this)" />
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" id="hotel_spa" class="btn btn-primary">Cancel</button>
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
   // $(document).ready(function () {
        $("#hotel_spa").on("click", function () {
            var spaServiceId = $("#SPAServiceId").val();
            window.location.href = "/Admin/HotelSpaService/ManageSpa?Type=" + 2 + "&SId=" + spaServiceId;
        });
    //});

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#spa_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>
