﻿@model ToOrdr.Core.Entities.SpaDetailAdditional
@{
    ViewBag.Title = "AddSpaDetailAdditional";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}


@section PageTitle{
    <h2 class="font-light m-b-xs">
        Add Spa Additional Groups
    </h2>
    <small> Add Spa Additional Groups</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveSpaDetAdditional", "HotelSpaService", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SpaDetailId)
                <div class="form-group">
                    @Html.Label("Additional Group", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("SpaAdditionalGroupId", (MultiSelectList)ViewBag.SpaAdditionalGroups, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("SpaAdditionalGroupId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageSpaDetailsAdditional", "HotelSpaService", new { area = "Admin", spaServiceDetId = Model.SpaDetailId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

