﻿@model ToOrdr.Core.Entities.SpaEmployeeDetails 

@{
    ViewBag.Title = "AddSpaEmployeeDetail";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Employee Details
    </h2>
    <small>Add multiple spa employee details at once</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveSpaEmployeeDetail", "HotelSpaService", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SpaEmployeeId)
                <div class="form-group">
                    @Html.Label("Spa Service Detail", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("SpaServiceDetailId", (MultiSelectList)ViewBag.SpaServiceDetails, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("SpaServiceDetailId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageSpaEmployeeDetails", "HotelSpaService", new { area = "Admin", id = Model.SpaEmployeeId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

