﻿@model ToOrdr.Core.Entities.SpaRoomDetails
@{
    ViewBag.Title = "AddSpaRoomDetail";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Room Details
    </h2>
    <small>Add spa room details</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveSpaRoomDetail", "HotelSpaService", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model=>model.SpaRoomId)
                <div class="form-group">
                    @Html.Label("Spa Service Detail", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("SpaServiceDetailId", (MultiSelectList)ViewBag.SpaServiceDetails, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("SpaServiceDetailId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageSpaRoomDetails", "HotelSpaService", new { area = "Admin",id=Model.SpaRoomId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/jqueryValidation")




