﻿@model ToOrdr.Core.Entities.SpaSuggestion
@{
    ViewBag.Title = "AddSpaSuggestion";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Add Spa Service Detail Suggestion
    </h2>
    <small> Add Suggestion</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveSpaServiceDetSuggestion", "HotelSpaService", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SpaServiceDetailId)
                <div class="form-group">
                    @Html.Label("Suggestion", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("SpaServiceDetSuggestionId", (MultiSelectList)ViewBag.SpaServiceDetSuggestions, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("SpaServiceDetSuggestionId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageSpaSuggestions", "HotelSpaService", new { area = "Admin", id = Model.SpaServiceDetailId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>