﻿﻿@model ToOrdr.Core.Entities.SpaServiceDetailIngredient
@{
    ViewBag.Title = "AddSpaServiceDetailIngredient";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Service Detail Ingredient
    </h2>
    <small>Add multiple spa service detail ingredient at once</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveSpaServiceDetailIngredient", "HotelSpaService", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SpaServiceDetailId)
                <div class="form-group">
                    @Html.Label("Spa Ingredients", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("SpaIngredientId", (MultiSelectList)ViewBag.SpaIngredients, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("SpaIngredientId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageSpaServiceDetailIngredients", "HotelSpaService", new { area = "Admin", id = Model.SpaServiceDetailId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>