﻿@{
    ViewBag.Title = "AllSpaReviews";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else if (Session["IsHotelSpaEmployee"] != null && Session["IsHotelSpaEmployee"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaEmployee.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Reviews
    </h2>
    <small>List of spa Reviews </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Spa Reviews
    </div>
    <div class="panel-body">
        <table id="spa_Reviews" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Service Name</th>
                    <th>Customer Name</th>
                    <th>Score</th>
                    <th>Comment</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var t = $("#spa_Reviews").DataTable({
            "searching": false,
            "ordering": false,
            "processing": false, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaReviews",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "SpaReviewId", "name": "SpaReviewId" },
                    { "data": "ServiceName", "name": "ServiceName", "autoWidth": true },
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "Reviews", "name": "Reviews", "autoWidth": true },
                        //render: function (Reviews) {
                        //    return '<input value="' + Reviews + '" type="number" class="rating" min=0 max=10 data-size="xs" step=0.1 data-stars="10" readonly="true">';

                        //},
                    //},
                    {
                        "data": "Comment", "name": "Comment", render: function (comment) {
                            return '<div class="td-allow-scroll">' + comment + '</div>';
                        }
                    }

            ],
        });

        t.on('draw.dt', function () {
            var PageInfo = $('#spa_Reviews').DataTable().page.info();
            t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + PageInfo.start;
            });
        });
    });
</script>
