﻿@model IEnumerable<ToOrdr.Core.Entities.SpaServiceDetailImages>
@{
    ViewBag.Title = "ManageSpaDetailsImages";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@Styles.Render("~/bundles/fooTable/css")

@section PageTitle{
    <h4 class="font-light m-b-xs">
        Spa Service Detail Images
    </h4>
    <small>List of Images</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageSpaServiceDetails", "HotelSpaService", new { spaServiceId = ViewBag.SpaServiceId, hotelServiceId = ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaDetailImages", "HotelSpaService", new { area = "Admin", spaDetId = ViewBag.SpaServiceDetailId }, new { @class = "btn btn-info btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="imageTable" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th class="col-md-1">Sr.No.</th>
                    <th class="col-md-6">Spa Detail Name</th>
                    <th class="col-md-2">Image</th>
                    <th class="col-md-1">IsPrimary</th>
                    <th class="col-md-1">IsActive</th>
                    <th class="col-md-1">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var spaDetImages in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(item => spaDetImages.SpaServiceDetail.Name)</td>

                            <td>
                                @{
                        var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                        var image = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.SpaServiceDetailImages, spaDetImages.Image, spaDetImages.SpaServiceDetailId, api_path);
                                }
                                <img src="@Url.Content(image)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                            </td>
                            <td>@Html.CheckBoxFor(item => spaDetImages.IsPrimary, new { @class = "checkSelected form-control", Name = spaDetImages.Id })</td>
                            <td>@Html.CheckBoxFor(item => spaDetImages.IsActive, new { @class = "checkSelectedIsActive form-control", Name = spaDetImages.Id })</td>
                            <td>
                                <a data-spa-det-image-id="@spaDetImages.Id" class="spa-det-image-delete fa fa-trash fa-2x"></a>
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#imageTable').footable();

    $("#imageTable .spa-det-image-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelSpaService/DeleteSpaDetailImage/" + btn.attr("data-spa-det-image-id"),
                        method: "POST",
                        success: function (result) {
                            if (result.IsPrimaryDeleted) {
                                swal("Deleted!", "Image has been deleted.", "success");
                                window.location.reload();
                            }
                            else {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Image has been deleted.", "success");
                            }

                        },
                    });

                } else {
                    swal("Cancelled", "Image is safe :)", "error");
                }
            });
    });

    $("#imageTable .checkSelected").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, update!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelSpaService/UpdateSpaDetailImagePrimary/" + btn.attr("name"),
                        method: "POST",
                        success: function (response) {
                            if (response.failure) {
                                btn.prop('checked', true);
                                swal("Cancelled!", response.error, "warning");
                            }
                            else {
                                if (btn.is(":checked")) {
                                    btn.prop('checked', true);
                                    $('input.checkSelected').not(btn).prop('checked', false);
                                }
                                swal("Update!", "Image has been updated.", "success");
                            }
                        },
                    });

                } else {
                    if (btn.is(":checked")) {
                        btn.prop('checked', false);
                    }
                    else if (btn.is(":not(:checked)")) {
                        btn.prop('checked', true);
                    }
                    swal("Cancelled", "Image is safe :)", "error");
                }
            });
    });

    $("#imageTable .checkSelectedIsActive").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, update!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelSpaService/UpdateSpaDetailImageActive/" + btn.attr("name"),
                        method: "POST",
                        success: function () {
                            swal("Update!", "Image has been updated.", "success");
                        },
                    });

                } else {
                    if (btn.is(":checked")) {
                        btn.prop('checked', false);
                    }
                    else if (btn.is(":not(:checked)")) {
                        btn.prop('checked', true);
                    }
                    swal("Cancelled", "Image is safe :)", "error");
                }
            });
    });
</script>

