﻿
@{
    ViewBag.Title = "ManageSpaServiceOffers";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Service Offer
    </h2>
    <small>List of hotel spa service offers</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Spa Service Offer
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaServiceOffer", "HotelSpaService", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageSpaServiceOffers" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Spa Service Name</th>
                    <th>Offer Description</th>
                    <th>Offer Percentage</th>
                    <th>Offer Image</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageSpaServiceOffers").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaServiceOffers",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "SpaServiceDetailsName", "name": "SpaServiceDetailsName", "autoWidth": true },
                    { "data": "OfferDescription", "name": "OfferDescription", "autoWidth": true },
                    { "data": "OfferPercentage", "name": "OfferPercentage", "autoWidth": true },
                    {
                        "data": "OfferImage",
                        render: function (data) {
                            return '<img src="' + data + '"  width="100" height="55" onerror="this.onerror = null; this.src =\'/Images/no_logo.png\';" />';
                        }
                    },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "SpaServiceOfferId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelSpaService/EditSpaServiceOffer/' + data + '"> </a> <a data-spa-service-offer-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a> ' } }
            ]

        });

        $("#manageSpaServiceOffers").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaServiceOffer/" + btn.attr("data-spa-service-offer-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Spa Service offer has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Spa Service offer is safe :)", "error");
                    }
                });
        });
    });
</script>