﻿
@{
    ViewBag.Title = "ManageSpaDetailsExtraTime";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        SpaService Detail ExtraTimes
    </h2>
    <small>List of spa service detail Extratimes</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageSpaServiceDetails", "HotelSpaService", new { spaServiceId = ViewBag.SpaServiceId, hotelServiceId = ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddEditSpaDetailExtratimes", "HotelSpaService", new { area = "Admin", spaServiceDetId = ViewBag.SpaServiceDetailId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="SpaServDetExtraTime" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#SpaServDetExtraTime").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaDetailsExtraTime/"+@ViewBag.SpaServiceDetailId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Duration", "name": "Duration", "render": function (value) {
                        return moment(value).format("HH:mm:ss");
                    }, "autoWidth": true},
                    { "data": "Price", "name": "Price", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "SpaDetailExtraTimeId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelSpaService/EditSpaDetailExtratime/' + data + '"> </a> <a data-spa-serv-det-extra-time-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a></a> ' } }
            ]

        });

        $("#SpaServDetExtraTime").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaDetailExtratime/" + btn.attr("data-spa-serv-det-extra-time-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Spa detail extratime has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Spa detail extratime is safe :)", "error");
                    }
                });
        });
    });
</script>

