﻿@{
    ViewBag.Title = "ManageSpaRoomDetails";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Room Details
    </h2>
    <small>List of Spa Room details</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageSpaRooms", "HotelSpaService", new { area = "Admin" }, new { @class = "fa fa-2x fa-arrow-circle-left" })<br />
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaRoomDetail", "HotelSpaService", new { area = "Admin", spaRoomId = @ViewBag.SpaRoomId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageSpaRoomDetails" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Spa Service Details</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageSpaRoomDetails").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaRoomDetails/"+@ViewBag.SpaRoomId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Number", "name": "Number", "autoWidth": true },
                    { "data": "SpaDetails", "name": "SpaDetails", "autoWidth": true },
                    { "data": "SpaRoomDetailId", "render": function (data, type, full) { return ' </a> <a data-spa-room-Det-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });

        $("#manageSpaRoomDetails").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaRoomDetail/" + btn.attr("data-spa-room-Det-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Spa room detail has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Spa room detail is safe :)", "error");
                    }
                });
        });
    });
</script>


