﻿
@{
    ViewBag.Title = "ManageSpaRooms";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Rooms
    </h2>
    <small>List of Spa Rooms</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Spa Rooms
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaRoom", "HotelSpaService", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageSpaRoom" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Description</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageSpaRoom").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaRooms",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Number", "name": "Number", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "SpaRoomId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelSpaService/EditSpaRoom/' + data + '"> </a> <a data-spa-room-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a> <a class="fa fa-2x fa-list-alt" title="SpaRoomDetails" href="/Admin/HotelSpaService/ManageSpaRoomDetails/' + data + '">'} }
            ]

        });

        $("#manageSpaRoom").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaRoom/" + btn.attr("data-spa-room-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Spa room has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Spa room is safe :)", "error");
                    }
                });
        });
    });
</script>


