﻿@{
    ViewBag.Title = "ManageSpaOrderTimeSlotCalendar";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Order Calendar
    </h2>
    <small>List of spa order time slots</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "SPAQueue", "HotelSpaService", new { @class = "fa fa-2x fa-arrow-circle-left", })
    </div>
    <div class="panel-body">
        <div id='calendar'></div>
    </div>
</div>
<script>

    $(document).ready(function () {


        /* initialize the external events
         -----------------------------------------------------------------*/

        //$('#external-events div.external-event').each(function () {

        //    // store data so the calendar knows to render an event upon drop
        //    $(this).data('event', {
        //        title: $.trim($(this).text()), // use the element's text as the event title
        //        stick: true // maintain when user navigates (see docs on the renderEvent method)
        //    });

        //    // make the event draggable using jQuery UI
        //    $(this).draggable({
        //        zIndex: 1111999,
        //        revert: true,      // will cause the event to go back to its
        //        revertDuration: 0  //  original position after the drag
        //    });

        //});


        /* initialize the calendar
         -----------------------------------------------------------------*/
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            timeFormat: 'h(:mm) a',
            events: '/Admin/HotelSpaService/LoadSpaOrderTimeSlotCalendar',
            //eventRender: function(event, element) {
            //    element.attr('title','masseur Name : '+ event.description);
            //}
        });
    });

</script>



