﻿
@{
    ViewBag.Title = "ManageSpaAdditionalGroup";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Additional Groups
    </h2>
    <small>List of Spa Additional Groups </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Spa Additional Groups
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaAdditionalGroup", "HotelSpaService", new {  area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageSpaAddGrp" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Group Description</th>
                    <th>Minimun Selected</th>
                    <th>Maximum Selected</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageSpaAddGrp").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaAddionalGroups",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "GroupName", "name": "GroupName", "autoWidth": true },
                    { "data": "GroupDescription", "name": "GroupDescription", "autoWidth": true },
                    { "data": "MinSelected", "name": "MinSelected", "autoWidth": true },
                    { "data": "MaxSelected", "name": "MaxSelected", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "SpaAddGroupId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelSpaService/EditSpaAdditionalGroup/' + data + '"> </a> <a data-spa-add-grp-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a> <a class="fa fa-2x fa-list-alt" title="spaAdditionalElement" href="/Admin/HotelSpaService/ManageSpaAdditionalElements/' + data + '"> </a>' } }

            ]

        });

        $("#manageSpaAddGrp").on("click", ".js-delete", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelSpaService/DeleteSpaAdditionalGroup/" + btn.attr("data-spa-add-grp-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Spa additional group has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Spa additional group is safe :)", "error");
                }
            });
    });
    });
</script>



