﻿@model IEnumerable<ToOrdr.Core.Entities.SpaService>

@{
    ViewBag.Title = "ManageSpa";
    if (Session["IsHotelReceptionist"] != null && Session["IsHotelReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelReceptionist.cshtml";
    }
    else if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@Styles.Render("~/bundles/fooTable/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Services
    </h2>
    <small>List of Spa Services.</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        Manage Spa Service
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add Spa", "AddSpaServices", "HotelSpaService", new { hotelServiceId = @ViewBag.HotelServiceId, area = "Admin" }, new { @class = "btn btn-info btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="spafilter" placeholder="Search in table">
        <table id="hotelSpaServices" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#spafilter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Image)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var SpaService in Model)
                    {
                        <tr class="rows">
                            <td>@cnt @Html.HiddenFor(modelItem => SpaService.Id)</td>
                            <td>@Html.DisplayFor(modelItem => SpaService.Name)</td>
                            <td>@Html.DisplayFor(modelItem => SpaService.Description)</td>
                            <td>
                                @{
                        var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                        var background_img = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.SpaService, SpaService.Image, SpaService.Id, api_path);
                                }
                                <img src="@Url.Content(background_img)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                            </td>

                            <td> @Html.CheckBoxFor(modelItem => SpaService.IsActive, new { @class = "checkSelected", Name = SpaService.Id })</td>
                            <td>@SpaService.CreationDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                @Html.ActionLink(" ", "EditSpaServices", "HotelSpaService", new { area = "Admin", id = SpaService.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                                <a data-spa-service-id="@SpaService.Id" class="js-delete fa fa-2x fa-trash"></a>
                                @Html.ActionLink(" ", "ManageSpaServiceDetails", "HotelSpaService", new { spaServiceId = SpaService.Id, hotelServiceId = @ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-list-alt" })
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>
    @Scripts.Render("~/bundles/fooTable/js")
    <script>
        $('#hotelSpaServices').footable();

        $("#hotelSpaServices .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaService/" + btn.attr("data-spa-service-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Hotel Spa Service has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Hotel Spa Service is safe :)", "error");
                    }
                });
        });
    </script>

