﻿
@{
    ViewBag.Title = "ManageSpaDetailsAdditional";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}


@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Detail Additionals
    </h2>
    <small>List of Spa detail additional</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageSpaServiceDetails", "HotelSpaService", new { spaServiceId = @ViewBag.SpaServiceId, hotelServiceId = @ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaDetailAdditional", "HotelSpaService", new { area = "Admin", spaServiceDetailId = @ViewBag.SpaServiceDetailId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageSpaDetAdd" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Spa detail Name</th>
                    <th>Additional Group Name</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageSpaDetAdd").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaDetailAdditional/"+@ViewBag.SpaServiceDetailId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "SpaDetailsName", "name": "SpaDetailsName", "autoWidth": true },
                    { "data": "SpaAddGrpName", "name": "SpaAddGrpName", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true,
                    "render": function(data,type,full)
                    {
                        return '<input type="checkbox" class = "checkSelected form-control"  name="'+full.SpaDetAddId+'" ' + ((data == true) ? 'checked' : '') + ' />';
                    }
                    },
                    { "data": "SpaDetAddId", "render": function (data, type, full) { return ' </a> <a data-spa-dtl-additional-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });

        $("#manageSpaDetAdd").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaDetAdd/" + btn.attr("data-spa-dtl-additional-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Spa detail additional group has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Spa detail additional group is safe :)", "error");
                    }
                });
        });

        $("#manageSpaDetAdd").on("click",".checkSelected", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/UpdateSpaDetAdditional/" + btn.attr("name"),
                            method: "POST",
                            success: function (response) {
                                if (response.failure) {
                                    btn.prop('checked', true);
                                    swal("Cancelled!", response.error, "warning");
                                }
                                else {
                                    if (btn.is(":checked")) {
                                        btn.prop('checked', true);
                                    }
                                    swal("Update!", "Spa detail additional group status has been updated.", "success");
                                }
                            },
                        });

                    } else {
                        if (btn.is(":checked")) {
                            btn.prop('checked', false);
                        }
                        else if (btn.is(":not(:checked)")) {
                            btn.prop('checked', true);
                        }
                        swal("Cancelled", "Spa detail additional group status is not updated :)", "error");
                    }
                });
        });
    });
</script>
