﻿@model IEnumerable<ToOrdr.Core.Entities.SpaServiceDetail>
@{
    ViewBag.Title = "ManageSpaServiceDetails";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}
@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Service Details
    </h2>
    <small>List of Spa services details</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        @Html.ActionLink(" ", "ManageSpa", "HotelSpaService", new { hotelServiceId = @ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left", })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaServiceDetail", "HotelSpaService", new { spaServiceId = @ViewBag.SpaServiceId, hotelServiceId = @ViewBag.HotelServiceId, area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="SpaDetailfilter" placeholder="Search in table">
        <table id="SpaServiceDetail" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#SpaDetailfilter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Duration)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>@Html.DisplayNameFor(model => model.Creation_Date)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var spaServiceDetail in Model)
                    {
                        <tr class="rows">
                            <td>@cnt @Html.HiddenFor(modelItem => spaServiceDetail.Id)</td>
                            <td>@Html.DisplayFor(modelItem => spaServiceDetail.Name)</td>
                            <td>@Html.DisplayFor(modelItem => spaServiceDetail.Description)</td>
                            <td>@Html.DisplayFor(modelItem => spaServiceDetail.Price)</td>

                            @*@{TimeSpan? time = spaServiceDetail.Duration;}
                                @time*@
                            <td>@Html.DisplayFor(modelItem => spaServiceDetail.Duration)</td>

                            <td> @Html.CheckBoxFor(modelItem => spaServiceDetail.IsActive, new { @class = "disabled" })</td>
                            <td>@spaServiceDetail.Creation_Date.ToString("dd/MM/yyyy")</td>
                            <td>
                                @Html.ActionLink(" ", "EditSpaServiceDetail", "HotelSpaService", new { area = "Admin", id = spaServiceDetail.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                                <a data-spa-service-detail-id="@spaServiceDetail.Id" class="js-delete fa fa-2x fa-trash"></a>
                                @Html.ActionLink(" ", "ManageSpaDetailsAdditional", "HotelSpaService", new { spaServiceDetId = spaServiceDetail.Id }, new { @class = "fa fa-2x fa-list-alt", title = "Spa details additional" })
                                @Html.ActionLink(" ", "ManageSpaDetailsImages", "HotelSpaService", new { spaServiceDetId = spaServiceDetail.Id }, new { @class = "fa fa-2x fa-list", title = "Spa details images" })
                                @Html.ActionLink(" ", "ManageSpaSuggestions", "HotelSpaService", new { id = spaServiceDetail.Id }, new { @class = "fa fa-2x fa-bars", title = "Spa Suggestions" })
                                @Html.ActionLink(" ", "ManageSpaServiceDetailIngredients", "HotelSpaService", new { id = spaServiceDetail.Id }, new { @class = "fa fa-2x fa-list-ul", title = "Spa Ingredients" })
                                @Html.ActionLink(" ", "ManageSpaDetailsExtraTime", "HotelSpaService", new { id = spaServiceDetail.Id }, new { @class = "fa fa-2x fa-bars", title = "SpaDetails ExtraTime" })
                                @Html.ActionLink(" ", "ManageSpaDetailsExtraProcedure", "HotelSpaService", new { id = spaServiceDetail.Id }, new { @class = "fa fa-2x fa-list-alt", title = "SpaDetails ExtraProcedure" })
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#SpaServiceDetail').footable();

    $("#SpaServiceDetail .js-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelSpaService/DeleteSpaServiceDetail/" + btn.attr("data-spa-service-detail-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Hotel SpaService Details has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Hotel SpaService Details is safe :)", "error");
                }
            });
    });
</script>
