﻿@{
    ViewBag.Title = "ManageSpaEmployee";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Employee
    </h2>
    <small>List of Spa Employee</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Spa Employee
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaEmployee", "HotelSpaService", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageSpaEmployee" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Education</th>
                    <th>Experience(years)</th>
                    <th>Skill</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageSpaEmployee").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaEmployee",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Age", "name": "Age", "autoWidth": true },
                    { "data": "Education", "name": "Education", "autoWidth": true },
                    { "data": "Experience", "name": "Experience", "autoWidth": true },
                    { "data": "Skill", "name": "Skill", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "SpaEmployeeId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelSpaService/EditSpaEmployee/' + data + '"> </a> <a class="fa fa-2x fa-list-alt" title="SpaEmployee timeslot" href="/Admin/HotelSpaService/ManageSpaEmployeeTimeSlot/' + data + '"></a></a> <a class="fa fa-2x fa-list-alt" title="Spa Employee Details" href="/Admin/HotelSpaService/ManageSpaEmployeeDetails/' + data + '"> </a> <a class="fa fa-2x fa-calendar" title="EmployeeTimeSlot" href="/Admin/HotelSpaService/ManageSpaEmpTimeSlotCalendar/' + data + '"></a><a data-spa-emp-id="' + data + '" class="js-delete fa fa-2x fa-trash">' } }
            ]

        });

        $("#manageSpaEmployee").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaEmployee/" + btn.attr("data-spa-emp-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Spa employee has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Spa employee is safe :)", "error");
                    }
                });
        });
    });
</script>


