﻿
@{
    ViewBag.Title = "ManageSpaSuggestions";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Service Detail Suggestion
    </h2>
    <small>List of spa service detail suggestion</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageSpaServiceDetails", "HotelSpaService", new { spaServiceId = ViewBag.SpaServiceId, hotelServiceId = ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaSuggestion", "HotelSpaService", new { area = "Admin", spaServiceDetId = ViewBag.SpaServiceDetailId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="SpaServDetSuggestion" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Spa Service Name</th>
                    <th>Spa Service Detail Name</th>
                    <th>Suggestion Name</th>
                    <th>Suggestion Description</th>
                    <th>Suggestion Price</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#SpaServDetSuggestion").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaSuggestions/"+@ViewBag.SpaServiceDetailId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "SpaServiceName", "name": "SpaServiceName", "autoWidth": true },
                    { "data": "SpaServiceDetName", "name": "SpaServiceDetName", "autoWidth": true },
                    { "data": "SpaSuggestionName", "name": "SpaSuggestionName", "autoWidth": true },
                    { "data": "SpaSuggestionDescription", "name": "SpaSuggestionDescription", "autoWidth": true },
                    { "data": "SpaSuggestionPrice", "name": "SpaSuggestionPrice", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "SpaSuggestionId", "render": function (data, type, full) { return '</a> <a data-spa-serv-det-sugg-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a></a> ' } }
            ]

        });

        $("#SpaServDetSuggestion").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaSuggestion/" + btn.attr("data-spa-serv-det-sugg-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Spa service detail suggestion has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Spa service detail suggestion is safe :)", "error");
                    }
                });
        });
    });
</script>