﻿@{
    ViewBag.Title = "ManageSpaEmployeeTimeSlot";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Employee Timeslots
    </h2>
    <small>List of  Employee Timeslots </small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
       @Html.ActionLink(" ", "ManageSpaEmployee", "HotelSpaService", new { @class = "fa fa-2x fa-arrow-circle-left", })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaEmployeeTimeSlot", "HotelSpaService", new { area = "Admin", spaEmployeeId = ViewBag.SpaEmployeeId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageEmployeeTimeSlot" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Start DateTime</th>
                    <th>End DateTime</th>
                    <th>Description</th>
                    <th>IsActive</th>
                    <th>CreationDate</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageEmployeeTimeSlot").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaEmployeeTimeSlot/"+@ViewBag.SpaEmployeeId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "StartDateTime", "name": "StartDateTime", "render": function (value) {
                        if (value === null) return "";
                        var pattern = /Date\(([^)]+)\)/;//date format from server side
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()+" "+ dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                    }, "autoWidth": true},

                    { "data": "EndDateTime", "name": "EndDateTime", "render": function (value) {
                        if (value === null) return "";
                        var pattern = /Date\(([^)]+)\)/;//date format from server side
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()+" "+ dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                    }, "autoWidth": true},

                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "CreationDate", "name": "CreationDate", "render": function (value) {
                        if (value === null) return "";
                        var pattern = /Date\(([^)]+)\)/;//date format from server side
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()+" "+ dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                    }, "autoWidth": true},
                    { "data": "EmployeeTimeSlotId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/HotelSpaService/EditSpaEmployeeTimeSlot/' + data + '"> </a> <a data-spa-employee_times_slot-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });

        $("#manageEmployeeTimeSlot").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaEmployeeTimeSlot/" + btn.attr("data-spa-employee_times_slot-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Spa employee timeslot has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Spa employee timeslot is safe :)", "error");
                    }
                });
        });
    });
</script>
