﻿﻿
@{
    ViewBag.Title = "ManageSpaServiceDetailIngredients";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Service Detail Ingredients
    </h2>
    <small>List of Spa service detail ingredients</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageSpaServiceDetails", "HotelSpaService", new { spaServiceId = ViewBag.SpaServiceId, hotelServiceId = ViewBag.HotelServiceId }, new { @class = "fa fa-2x fa-arrow-circle-left" })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddSpaServiceDetailIngredient", "HotelSpaService", new { area = "Admin", spaServDetailId = @ViewBag.SpaServiceDetailId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="spaSerDetIngredients" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Service Name</th>
                    <th>Ingredient Name</th>
                    <th>Ingredient Description</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#spaSerDetIngredients").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/HotelSpaService/LoadSpaServiceDetailIngredients/"+@ViewBag.SpaServiceDetailId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "SpaServiceDetailName", "name": "SpaServiceDetailName", "autoWidth": true },
                    { "data": "SpaIngredientName", "name": "SpaIngredientName", "autoWidth": true },
                    { "data": "SpaIngredientDesc", "name": "SpaIngredientDesc", "autoWidth": true },
                    { "data": "SpaServDetIngredientId", "render": function (data, type, full) { return ' <a data-spa-ser-det-ing-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });
        $("#spaSerDetIngredients").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/HotelSpaService/DeleteSpaServiceDetailIngredient/" + btn.attr("data-spa-ser-det-ing-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Spa service detail ingredient has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Spa service detail ingredient is safe :)", "error");
                    }
                });
        });

    });
</script>