﻿@model IEnumerable<ToOrdr.Core.Entities.SpaOrderItem>
@{
    ViewBag.Title = "SpaOrderDetails";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@Styles.Render("~/bundles/fooTable/css")
<style>
    a.itemDetails {
        color: blue;
        text-decoration: underline;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 8px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider,
    input[type="checkbox"]:checked + .slider {
        background-color: #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:focus + input[type="hidden"] + .slider,
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
    input[type="checkbox"]:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 25px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa Order Details
    </h2>
    <small>List of Spa Additional elements </small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "SPAQueue", "HotelSpaService", new { @class = "fa fa-2x fa-arrow-circle-left", }) Spa Order Details
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="spaOrderDetails" placeholder="Search in table">
        <table id="spaOrderItemDetails" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#spaOrderDetails>
            <thead>
                <tr>
                    <th class="col-md-1">Sr.No.</th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-3">Customer Comment</th>
                    <th class="col-md-1">Start DateTime</th>
                    <th class="col-md-1">End DateTime</th>
                    <th class="col-md-1">Qty</th>
                    <th class="col-md-1">ServeLevel</th>
                    <th class="col-md-1">Amount</th>
                    <th>Action</th>
                    <th data-hide="all"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var spaOrderItem in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(item => spaOrderItem.SpaServiceDetail.Name)</td>
                            <td>@Html.DisplayFor(item => spaOrderItem.Comment)</td>
                            <td>@Html.DisplayFor(item => spaOrderItem.StartDateTime)</td>
                            <td>@Html.DisplayFor(item => spaOrderItem.EndDateTime)</td>
                            <td>@Html.DisplayFor(item => spaOrderItem.Qty)</td>
                            <td>@Html.DisplayFor(item => spaOrderItem.ServeLevel)</td>
                            <td>@Html.DisplayFor(item => spaOrderItem.Total)</td>
                            <td>
                                <label class="switch">
                                    @Html.CheckBoxFor(modelItem => spaOrderItem.DeliveryStatus, new { @class = "checkSelectedToggle", Name = spaOrderItem.Id })
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td>
                                <div class="row">
                                    @if (spaOrderItem.SpaOrderItemsAdditionals.Count() > 0)
                                    {
                                        <div class="col-md-7">
                                            <table class=" table table-bordered">
                                                <th colspan="4"><center>Item Additional</center></th>
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Name</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                </tr>
                                                @{
                                        var counter = 1;
                                                    double? total_cost = 0;
                                                    foreach (var additional in spaOrderItem.SpaOrderItemsAdditionals)
                                                    {
                                                <tr>
                                                    <td>@counter</td>
                                                    <td>@additional.SpaAdditionalElement.Name</td>
                                                    <td>@additional.Qty</td>
                                                    <td>@additional.SpaAdditionalElement.Price</td>
                                                </tr>
                                                        total_cost += @additional.Total;
                                                        counter = counter + 1;

                                                    }
                                                }
                                                <tr>
                                                    <td colspan="3" class="text-right"><b>Net Order Total</b></td>
                                                    <td><b>@total_cost</b></td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                    <div class="col-md-7">

                                        <table class="table table-bordered">
                                            <th colspan="6"><center>Masseur </center></th>
                                            <tr>
                                                <th>Name</th>
                                                <th>Age</th>
                                                <th>Education</th>
                                                <th>Experience</th>
                                                <th>Skill</th>
                                            </tr>
                                            @{
                                                var employee = spaOrderItem.SpaEmployeeDetail.SpaEmployee;

                                            <tr>
                                                <td>@employee.Customer.FirstName  @employee.Customer.LastName</td>
                                                <td>@employee.Age</td>
                                                <td>@employee.Education</td>
                                                <td>@employee.Experience</td>
                                                <td>@employee.Skill</td>
                                            </tr>
                                            }
                                        </table>

                                    </div>
                                    @if (spaOrderItem.ExtraTimeId != null)
                                    {
                                        <div class="col-md-7">
                                            <table class="table table-bordered">
                                                <th colspan="6"><center>Extra Time </center></th>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Duration</th>
                                                    <th>Price</th>
                                                    <th>IsActive</th>
                                                </tr>
                                                @{
                                        var extraTime = spaOrderItem.ExtraTime;
                                                <tr>
                                                    <td>@extraTime.Name</td>
                                                    <td>@extraTime.Duration</td>
                                                    <td>@extraTime.Price</td>
                                                    <td>@extraTime.IsActive</td>
                                                </tr>
                                                }
                                            </table>
                                        </div>
                                    }
                                    @if (spaOrderItem.SpaOrderExtraProcedures.Count() > 0)
                                    {
                                        <div class="col-md-7">
                                            <table class=" table table-bordered">
                                                <th colspan="5"><center>Extra Procedure</center></th>
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Name</th>
                                                    <th>Duration</th>
                                                    <th>Price</th>
                                                    <th>IsActive</th>
                                                </tr>
                                                @{
                                        var counter1 = 1;
                                                    double? total_cost1 = 0;
                                                    foreach (var exProcedure in spaOrderItem.SpaOrderExtraProcedures)
                                                    {
                                                <tr>
                                                    <td>@counter1</td>
                                                    <td>@exProcedure.ExtraProcedure.Name</td>
                                                    <td>@exProcedure.ExtraProcedure.Duration</td>
                                                    <td>@exProcedure.ExtraProcedure.Price</td>
                                                    <td>@exProcedure.ExtraProcedure.IsActive</td>
                                                </tr>
                                                        total_cost1 += exProcedure.ExtraProcedure.Price;
                                                        counter1 = counter1 + 1;

                                                    }
                                                }
                                                <tr>
                                                    <td colspan="4" class="text-right"><b>ProcedureTotal</b></td>
                                                    <td><b>@total_cost1</b></td>
                                                </tr>
                                            </table>
                                        </div>
                                    }

                                </div>
                            </td>
                        </tr>
                                    cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#spaOrderItemDetails').footable();
    $(function () {
        $("#spaOrderItemDetails .checkSelectedToggle").change(function () {
            var btn = $(this);

            $.ajax({
                url: "/Admin/HotelSpaService/UpdateSpaOrderItemDeliverStatus/" + btn.attr("name"),
                method: "POST",
                success: function () {
                },
            });

        });
    });
</script>

