﻿@{
    ViewBag.Title = "SPAQueue";
    if (Session["IsHotelSpaManager"] != null && Session["IsHotelSpaManager"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaManager.cshtml";
    }
    else if (Session["IsHotelSpaEmployee"] != null && Session["IsHotelSpaEmployee"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelSpaEmployee.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}
@Styles.Render("~/bundles/toggleButton/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Spa orders (<span class="small">Calender view</span> @Html.ActionLink(" ", "ManageSpaOrderTimeSlotCalendar", "HotelSpaService", null, new { area = "Admin", @class = "fa fa-x fa-calendar" }) )
    </h2>
    <small>List of spa orders </small>
}
<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Spa Orders
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="spa_orders" class="footable table table-bordered table-striped toggle-arrow-tiny" data-filter=#filter>
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Booking Date</th>
                    <th>Amount</th>
                    <th>Payment Status</th>
                    <th>Order Status</th>
                    <th>Is Late Status</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"] + "signalr/hubs")"></script>
    <script>
        $(function () {
            // Create a proxy to signalr hub on web server. It reference the hub.

            $.connection.hub.url = '@System.Configuration.ConfigurationManager.AppSettings["LOCALAPIURL"]signalr/hubs"';
            var notificationFromHub = $.connection.orderHub;

            $.connection.hub.start().done(function () {
                FetchOrders();
            });

            // Notify to client with the recent updates
            notificationFromHub.client.updatedClients = function () {
                $('#spa_orders').DataTable().ajax.reload();
            };
        });

        function FetchOrders() {
            $("#spa_orders").DataTable({
                "searching": false,
                "ordering": false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Admin/HotelSpaService/LoadSpaOrders",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                { "data": "BookingDate", "name": "BookingDate", "autoWidth": true },
                { "data": "Amount", "name": "Amount", "autoWidth": true },
                { "data": "PaymentStatus", "name": "Status", "autoWidth": true },
                {
                    "data": "SpaOrderStatuses", "autoWidth": true, className: "status_ddl",
                    "render": function (data, type, row) {
                        var $select = $("<select></select>",
                        {
                            id: row.SpaOrderId,
                            name: row.SpaOrderId
                        });
                        $.each(data, function (k, v) {
                            var $option = $("<option></option>",
                            {
                                text: v.Name,
                                value: v.Id
                            });
                            if (row.OrderStatus == v.Name) {
                                $option.attr("selected", "selected")
                            }
                            $select.append($option);
                        });
                        return $select.prop("outerHTML");
                    }
                },
                        {
                            "data": "IsLateStatus", "name": "IsLateStatus", "autoWidth": true,
                            render: function (data, type, row) {

                                return '<label class="switch disabled">  <input type="checkbox" ' + ((data == 1) ? 'checked' : '') + ' name="' + row.SpaOrderId + '" class="checkSelectedToggle" /> <div class="slider round"></div></label>';
                            }
                        },
                { "data": "SpaOrderId", "render": function (data, type, full) { return '<a class="fa fa-2x fa-list-alt" title="Details" href="/Admin/HotelSpaService/SpaOrderDetails/' + data + '"></a>' } }
                ]

            });
        }

        $("#spa_orders").on("change", ".status_ddl", function () {
            var btn = $(this);
            var orderId = $(this).children('select').attr('id');
            var orderStatus = $('#' + orderId).val();
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, update!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/HotelSpaService/ModifySpaOrders",
                        method: "POST",
                        data: { orderId: orderId, orderStatus: orderStatus },
                        success: function (response) {
                            if (response.status) {
                                if (response.rowRemoveStatus) {
                                    btn.parents("tr").remove();
                                }
                                swal("Updated!", response.message, "success");
                                $('#spa_orders').DataTable().ajax.reload();
                            }
                            else {
                                swal("Cancelled!", response.message, "warning");
                                $('#spa_orders').DataTable().ajax.reload();
                            }
                        },
                    });

                } else {

                    swal("Cancelled", "Order status is not updated :)", "error");
                    $('#spa_orders').DataTable().ajax.reload();
                }
            });
        });
    </script>
}

