﻿
@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrdr.Core.Entities.CustomerHotelBooking>

@Styles.Render("~/bundles/fooTable/css")

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Bookings
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table data-limit-navigation="5" id="bookings" class="footable table table-bordered table-striped toggle-arrow-tiny" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Customer Name</th>
                    <th>Status</th>
                    <th>From</th>
                    <th>To</th>
                    <th data-hide="all"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var booking in Model)
                    {

                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => booking.Customer.FirstName) @Html.DisplayFor(modelItem => booking.Customer.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => booking.Status.Name)</td>
                            <td>@Html.DisplayFor(modelItem => booking.From)</td>
                            <td>@Html.DisplayFor(modelItem => booking.To)</td>
                            <td>
                                <div style="margin-left:100px;width:100%">
                                    <table class="table table-bordered">
                                        <th colspan="6"><center>Room Details</center></th>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Hotel Name</th>
                                            <th>Room Number</th>
                                            <th>Name</th>
                                            <th>Rate</th>
                                            <th>Description</th>
                                        </tr>
                                        @{
                        var counter = 1;
                        <tr>
                            <td>@counter</td>
                            <td>@booking.Room.Hotel.Name</td>
                            <td>@booking.Room.Number</td>
                            <td>@booking.Room.Name</td>
                            <td>@booking.Room.Rate</td>
                            <td>@booking.Room.Description</td>
                        </tr>
                                        }
                                    </table>
                                </div>
                            </td>

                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot class="disabled" style="display:none;">
                <tr>
                    <td colspan="7">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right ">
            @{
                @Html.PagedListPager(Model, page => Url.Action("GetHotelCurrentRoomBookings", new { page }))
            }
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")

<script>
    $('#bookings').footable();
</script>