﻿@model ToOrdr.Core.Entities.HotelServices
@{

    if (Model != null)
    {
        if (ViewBag.ServiceId == 1)
        {
            <li class="@Html.IsSelected(action: "ManageSpa")"><a href="@Url.Action("ManageSpa", "HotelSpaService", new { area = "admin", hotelServiceId = Model.Id })">Manage Spa</a></li>
        }
        else if (ViewBag.ServiceId == 2)
        {
            <li class="@Html.IsSelected(action: "ManageLaundry")"><a href="@Url.Action("ManageLaundry", "HotelLaundry", new { area = "admin", id = Model.Id })">Manage Laundry</a></li>
        }
    }

}

