﻿@model IEnumerable<ToOrdr.Core.Entities.HotelServices>


<li class="@Html.IsSelected(controller: "Hotel")">
    <a href="#"><span class="nav-label">Actions</span><span class="fa arrow"></span> </a>
    <ul class="nav nav-second-level">
        @foreach (var hotelService in Model)
        {
            if (hotelService.Services.Id == 1)
            {
                <li class="@Html.IsSelected(action: "SPAQueue")"><a href="@Url.Action("SPAQueue", "HotelSpaService", new { area = "admin" })">SPA Queue</a></li>
            }
            if (hotelService.Services.Id == 2)
            {
                <li class="@Html.IsSelected(action: "LaundryQueue")"><a href="@Url.Action("LaundryQueue", "HotelLaundry", new { area = "admin" })">Laundry Queue</a></li>
            }
            if (hotelService.Services.Id == 3)
            {
                <li class="@Html.IsSelected(action: "TripsQueue")"><a href="@Url.Action("TripsQueue", "HotelTrips", new { area = "admin" })">Trips Booking</a></li>
            }
            if (hotelService.Services.Id == 4)
            {
                <li class="@Html.IsSelected(action: "TaxiQueue")"><a href="@Url.Action("TaxiQueue", "HotelTaxiService", new { area = "admin" })">Taxi Booking</a></li>
            }
            if (hotelService.Services.Id == 6)//Id=6 On Server
            {
                <li class="@Html.IsSelected(action: "HousekeepingQueue")"><a href="@Url.Action("HousekeepingQueue", "HotelHousekeeping", new { area = "admin" })">Housekeeping</a></li>
            }
            if (hotelService.Services.Id == 7)//Id=6 On Server
            {
                <li class="@Html.IsSelected(action: "ExcursionOrdersQueue")"><a href="@Url.Action("ExcursionOrdersQueue", "HotelExcursion", new { area = "admin" })">Excursion Queue</a></li>
            }
        }
        @foreach (var hotelService in Model)
        {
            //reviews
            if (hotelService.Services.Id == 1)
            {
                <li class="@Html.IsSelected(action: "SpaReviews")"><a href="@Url.Action("SpaReviews", "HotelSpaService", new { area = "admin" })">Spa Reviews</a></li>
            }
            if (hotelService.Services.Id == 2)
            {
                <li class="@Html.IsSelected(action: "LaundryReviews")"><a href="@Url.Action("LaundryReviews", "HotelLaundry", new { area = "admin" })">Laundry Reviews</a></li>
            }
            if (hotelService.Services.Id == 3)
            {
                <li class="@Html.IsSelected(action: "TripsReviews")"><a href="@Url.Action("TripsReviews", "HotelTrips", new { area = "admin" })">Trips Reviews</a></li>
            }
            if (hotelService.Services.Id == 4)
            {
                <li class="@Html.IsSelected(action: "TaxiReviews")"><a href="@Url.Action("TaxiReviews", "HotelTaxiService", new { area = "admin" })">Taxi Reviews</a></li>
            }
            if (hotelService.Services.Id == 6)//Id=6 On Server
            {
                <li class="@Html.IsSelected(action: "HousekeepingReviews")"><a href="@Url.Action("HousekeepingReviews", "HotelHousekeeping", new { area = "admin" })">Housekeeping Reviews</a></li>
            }
        }
        <li class="@Html.IsSelected(action: "ManageHotelRoomCustomers")"><a href="@Url.Action("ManageHotelRoomCustomers", "Hotel", new { area = "admin" })">HotelRoom Customers</a></li>
    </ul>
</li>
<li class="@Html.IsSelected(controller: "Hotel")">
    <a href="#"><span class="nav-label">Administration</span><span class="fa arrow"></span> </a>
    <ul class="nav nav-second-level">
        <li class="@Html.IsSelected(action: "AddUpdateHouseKeepingInfo")"><a href="@Url.Action("AddUpdateHouseKeepingInfo", "Hotel", new { area = "admin" })">House Keeping Info</a></li>
        <li class="@Html.IsSelected(action: "GetHotelServices")"><a href="@Url.Action("GetHotelServices", "Hotel", new { area = "admin" })">Manage Services</a></li>
        <li class="@Html.IsSelected(action: "OrdersQueue") disabled"><a href="@Url.Action("OrdersQueue", "Restaurant", new { area = "admin" })">Orders Queue</a></li>
        <li class="@Html.IsSelected(action: "ManageRooms") "><a href="@Url.Action("ManageRooms", "Hotel", new { area = "admin" })">Manage Rooms</a></li>
        @*<li class="@Html.IsSelected(action: "ManageRoomCategories") disabled"><a href="@Url.Action("ManageRoomCategories", "Hotel", new { area = "admin" })">Room Categories</a></li>
        <li class="@Html.IsSelected(action: "ManageRoomCapacities") disabled"><a href="@Url.Action("ManageRoomCapacities", "Hotel", new { area = "admin" })">Room Capacities</a></li>
        <li class="@Html.IsSelected(action: "ManageAmenities") disabled"><a href="@Url.Action("ManageAmenities", "Hotel", new { area = "admin" })">Manage Amenities</a></li>*@
        <li class="@Html.IsSelected(action: "ManageGarments") "><a href="@Url.Action("ManageGarments", "Hotel", new { area = "admin" })">Manage Garments</a></li>
        <li class="@Html.IsSelected(action: "ManageOffers") disabled"><a href="@Url.Action("ManageOffers", "Restaurant", new { area = "admin" })">Manage Offers</a></li>
        <li class="@Html.IsSelected(action: "ManageConciergeGroup")"><a href="@Url.Action("ManageConciergeGroup", "Hotel", new { area = "admin" })">Manage Concierge Groups</a></li>
        <li class="@Html.IsSelected(action: "ManageHotelNearByPlaces")"><a href="@Url.Action("ManageHotelNearByPlaces", "Hotel", new { area = "admin" })">Hotel Near By Places</a></li>
        <li class="@Html.IsSelected(action: "ManageWakeUpCall")"><a href="@Url.Action("ManageWakeUpCall", "Hotel", new { area = "admin" })">Manage WakeUp Call</a></li>
        @foreach (var hotelService in Model)
        {
            if (hotelService.Services.Id == 1)
            {
                <li class="@Html.IsSelected(action: "ManageSpa")"><a href="@Url.Action("ManageSpa", "HotelSpaService", new { area = "admin", hotelServiceId = hotelService.Id })">Manage Spa</a></li>
                <li class="@Html.IsSelected(action: "ManageSpaAdditionalGroup")"><a href="@Url.Action("ManageSpaAdditionalGroup", "HotelSpaService", new { area = "admin" })">Spa Additional Group</a></li>
                <li class="@Html.IsSelected(action: "ManageSpaEmployee")"><a href="@Url.Action("ManageSpaEmployee", "HotelSpaService", new { area = "admin" })">Spa Employee</a></li>
                <li class="@Html.IsSelected(action: "ManageSpaRooms")"><a href="@Url.Action("ManageSpaRooms", "HotelSpaService", new { area = "admin" })">Spa Rooms</a></li>
                <li class="@Html.IsSelected(action: "ManageSpaServiceOffers")"><a href="@Url.Action("ManageSpaServiceOffers", "HotelSpaService", new { area = "admin" })">Spa Service Offers</a></li>
                <li class="@Html.IsSelected(action: "ManageSpaIngredientCategories")"><a href="@Url.Action("ManageSpaIngredientCategories", "HotelSpaService", new { area = "admin" })">Spa Ingredient Categories</a></li>
            }
            if (hotelService.Services.Id == 2)
            {
                <li class="@Html.IsSelected(action: "ManageLaundry")"><a href="@Url.Action("ManageLaundry", "HotelLaundry", new { area = "admin", id = hotelService.Id })">Manage Laundry</a></li>
                <li class="@Html.IsSelected(action: "ManageLaundryAdditionalGroup")"><a href="@Url.Action("ManageLaundryAdditionalGroup", "HotelLaundry", new { area = "admin" })">Laundry Additional Group</a></li>
            }
            if (hotelService.Services.Id == 3)
            {
                <li class="@Html.IsSelected(action: "ManageTrips")"><a href="@Url.Action("ManageTrips", "HotelTrips", new { area = "admin", id = hotelService.Id })">Manage Trips</a></li>
            }
            if (hotelService.Services.Id == 4)
            {
                <li class="@Html.IsSelected(action: "ManageTaxi")"><a href="@Url.Action("ManageTaxi", "HotelTaxiService", new { area = "admin", id = hotelService.Id })">Manage Taxi</a></li>
                <li class="@Html.IsSelected(action: "ManageTaxiDestinations")"><a href="@Url.Action("ManageTaxiDestinations", "HotelTaxiService", new { area = "admin"})">Taxi Destinations</a></li>
            }
            if (hotelService.Services.Id == 6)//Id=6 On Server
            {
                <li class="@Html.IsSelected(action: "ManageHousekeepingFacility")"><a href="@Url.Action("ManageHousekeepingFacility", "HotelHousekeeping", new { area = "admin", hotelServiceId = hotelService.Id })">Manage Housekeeping</a></li>
                <li class="@Html.IsSelected(action: "ManageHousekeepingAdditionalGroup")"><a href="@Url.Action("ManageHousekeepingAdditionalGroup", "HotelHousekeeping", new { area = "admin" })">Housekeeping Additional Group</a></li>
            }
            if (hotelService.Services.Id == 7)
            {
                <li class="@Html.IsSelected(action: "ManageExcursion")"><a href="@Url.Action("ManageExcursion", "HotelExcursion", new { area = "admin"})">Manage Excursion</a></li>
                <li class="@Html.IsSelected(action: "ManageHotelExcursion")"><a href="@Url.Action("ManageHotelExcursion", "HotelExcursion", new { area = "admin", id = hotelService.Id })">Manage Hotel Excursion</a></li>
                <li class="@Html.IsSelected(action: "ManageExcursionIngredientCategories")"><a href="@Url.Action("ManageExcursionIngredientCategories", "HotelExcursion", new { area = "admin"})">Excursion Ingredient Categories</a></li>
                <li class="@Html.IsSelected(action: "ManageExcursionOffers")"><a href="@Url.Action("ManageExcursionOffers", "HotelExcursion", new { area = "admin" })">Excursion Offers</a></li>
            }
        }
    </ul>
</li>