﻿@Scripts.Render("~/bundles/jquery/js")
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Today's room bookings
    </div>
    <div class="panel-body">
        <table id="todaysBooking" class="table table-striped table-bordered table-hover dataTable no-footer" data-page-length='5' role="grid">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Room Number</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#todaysBooking").DataTable({
            "searching": false,
            "ordering": false,
            "processing": false, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "lengthChange": false,
            //"lengthMenu": [[2, 4, 8, -1], [2, 4, 8, "All"]],
            //"pageLength": 4,
            "ajax": {
                "url": "/Admin/Hotel/LoadTodaysRoomBookings",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "RoomNumber", "name": "RoomNumber", "autoWidth": true},
                    { "data": "FromDate", "name": "FromDate", "autoWidth": true },
                    { "data": "ToDate", "name": "ToDate", "autoWidth": true },
                    { "data": "Amount", "name": "Amount", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true }
            ],
            "createdRow": function (row, data, dataIndex) {
                var ratingInput = $(row).find('.rating');
                $(ratingInput).rating({ showClear: false, showCaption: false });
            }

        });
    });
</script>
