﻿@Scripts.Render("~/bundles/jquery/js")
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Hotel Reviews
    </div>
    <div class="panel-body">
        <table id="hotel_Reviews" class="table table-striped table-bordered table-hover dataTable no-footer" data-page-length='5' role="grid">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Score</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
         $("#hotel_Reviews").DataTable({
            "searching": false,
            "ordering": false,
            "processing": false, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "lengthChange": false,
            "ajax": {
                "url": "/Admin/Hotel/LoadHotelReviews",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    { "data": "Score", "name": "Score", "autoWidth": true }, 
                    //render: function (Score) {
                    //        return '<input value="' + Score + '" type="number" class="rating" min=0 max=10 data-size="xs" step=0.1 data-stars="10" readonly="true">';
                    //    },
                    //},
                    {
                        "data": "Comment", "name": "Comment", render: function (Comment) {
                            return '<div class="td-allow-scroll">' + Comment + '</div>';
                        }},
                    { "data": "ReviewDate", "name": "ReviewDate", "autoWidth": true }
            ],
            "createdRow": function (row, data, dataIndex) {
                var ratingInput = $(row).find('.rating');
                $(ratingInput).rating({ showClear: false, showCaption: false });
            }

        });
    });
</script>


