﻿@model IEnumerable<ToOrdr.Core.Entities.HotelServicesReviews>


@Styles.Render("~/bundles/fooTable/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Service Reviews
    </h2>
    <small>List of Service Reviews</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Service Reviews
    </div>

    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filterR" placeholder="Search in table">
        <table id="hotelServiceReviews" class="footable table table-bordered table-striped toggle-arrow-tiny user_table" data-page-size="10" data-filter=#filterR>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Customer Name</th>
                    <th>Service Name</th>
                    <th>Score</th>
                    <th>Description</th>
                    <th>Creation Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var service in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => service.Customer.FirstName)  @Html.DisplayFor(modelItem => service.Customer.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => service.HotelServices.Services.ServiceName)</td>
                            <td>
                                @Html.DisplayFor(modelItem => service.Score)

                                @*@{
                                    var score = service.Score * 20;
                                    <div class="star-rating btn-lg rating-active">
                                        <div class="rating-container rating-gly-star" data-content="">
                                            <div class="rating-stars" data-content="" style="width: @score%"></div>
                                        </div>
                                    </div>
                                }*@
                            </td>
                            <td>@Html.DisplayFor(modelItem => service.Comment)</td>
                            <td>@Html.DisplayFor(modelItem => service.CreationDate)</td>

                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#hotelServiceReviews').footable();
</script>
