﻿@model ToOrdr.Core.Entities.Concierge
@using ToOrdr.Localization
@{
    ViewBag.Title = "AddEditConcierge";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Concierge
    </h2>
    <small>Add/Edit Concierge</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveConcierge", "Hotel", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ConciergeGroupId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "ManageConcierge", "Hotel", new { id = Model.ConciergeGroupId }, new { @class = "btn btn-primary", area = "Admin" })
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
