﻿@model ToOrdr.Core.Entities.RoomAmenities
@{
    ViewBag.Title = "AddRoomAmenities";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Room Amenities
    </h2>
    <small>Add room amenities</small>
}
<div class="hpanel">
    <div class="panel-body">

        @using (Html.BeginForm("SaveRoomAmenities", "Hotel", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.RoomId)
                <div class="form-group">
                    @Html.Label("Amenities", htmlAttributes: new { @class = "control-label  col-md-2 " })
                    <div class="col-md-5">
                        @Html.DropDownList("AmenitiesId", (MultiSelectList)ViewBag.Amenities, new { @class = "form-control", @multiple = "multiple" })
                        @Html.ValidationMessage("AmenitiesId", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "ManageRoomAmenities", "Hotel", new { area = "Admin", id = Model.RoomId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@*@Scripts.Render("~/bundles/jqueryValidation")*@
