﻿@model ToOrdr.Core.Entities.HotelHouseKeepingInfo
@using ToOrdr.Localization
@{
    ViewBag.Title = "AddUpdateHouseKeepingInfo";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Add/Update hotel house keeping info
    </h2>
    <small>Hotel house keeping info</small>
}
<div class="hpanel">

    <div class="panel-body">

        @using (Html.BeginForm("SaveHotelHouseKeepingInfo", "Hotel", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.HotelId)
                @Html.HiddenFor(model => model.Image)
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-1 control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.HouseKeepingContact, htmlAttributes: new { @class = "control-label col-md-1 control-label-left-align col-md-1 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.HouseKeepingContact, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HouseKeepingContact, "", new { @class = "text-danger" })
                    </div>
                </div>
                @{
                    var api_path = System.Configuration.ConfigurationManager.AppSettings["APIURL"];
                    var hotelHouseKeepingImg = ToOrdr.Core.Helpers.ImageHelper.GetPath(ToOrdr.Core.Helpers.ImagePathFor.HotelHouseKeepingInfoImage, Model.Image, Model.HotelId, api_path, Model.Id);
                }
                <div class="form-group row">
                    <label class="control-label control-label-left-align col-md-1 col-md-offset-1 text-left">Preview</label>
                    <div class="col-sm-1">
                        <img id="HotHouseKeepingInfo_img" class="image-preview-size" src="@Url.Content(hotelHouseKeepingImg)" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("House Keeping Image", htmlAttributes: new { @class = "control-label control-label-left-align col-md-1 col-md-offset-1" })
                    
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    <div class="col-sm-5">
                        <input type="file" name="uploadImage" id="uploadImage" class="form-control" onchange="showImage(this)" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Resources.Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@Scripts.Render("~/bundles/jqueryValidation")
<script>
    function showImage(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#HotHouseKeepingInfo_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>