﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Dashboard
    </h2>
}

<div class="row">
    <div class="col-md-6">
        @{
            Html.RenderPartial("_HotelTodaysRoomBookings");
        }
    </div>
    <div class="col-md-6">
        @{
            Html.RenderPartial("_HotelReviews");
        }
    </div>
</div>

