﻿@model IEnumerable<ToOrdr.Core.Entities.HotelReview>
@{
    ViewBag.Title = "GetHotelReviews";
    if (Session["IsHotelReceptionist"] != null && Session["IsHotelReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Reviews
    </h2>
    <small>List of reviews.</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Hotel Reviews
    </div>
    <div class="panel-body">
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="reviews" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Customer Name</th>
                    <th>Score</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var review in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => review.Customer.FirstName) @Html.DisplayFor(modelItem => review.Customer.LastName)</td>
                            <td class="col-lg-2">
                                @Html.DisplayFor(modelItem => review.Score)
                                @*@{
                                    var score = review.Score * 20;
                                    <div class="star-rating btn-lg rating-active">
                                        <div class="rating-container rating-gly-star" data-content="">
                                            <div class="rating-stars" data-content="" style="width: @score%"></div>
                                        </div>
                                    </div>
                                }*@
                            </td>

                            <td class="col-lg-5"><div class="td-allow-scroll">@Html.DisplayFor(modelItem => review.Comment)</div></td>
                            <td class="col-lg-2">@review.CreationDate.ToString("dd/MM/yyyy")</td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")

<script>
    $('#reviews').footable();
</script>

