﻿@model IEnumerable<ToOrdr.Core.Entities.HotelServices>

@{
    ViewBag.Title = "Services";
    if (Session["IsHotelReceptionist"] != null && Session["IsHotelReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@Styles.Render("~/bundles/fooTable/css")
@Styles.Render("~/bundles/sweetAlert/css")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Services
    </h2>
    <small>List of Services.</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Hotel Services
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddHotelServices", "Hotel", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="hotelServices" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th>IsActive</th>
                    <th>Opening Hours</th>
                    <th>Closing Hours</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var service in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => service.Services.ServiceName)</td>
                            <td class="col-lg-3">@Html.DisplayFor(modelItem => service.Services.ServiceDescription)</td>

                            <td class="col-lg-1"> @Html.CheckBoxFor(modelItem => service.IsActive, new { @class = "checkSelected", Name = service.Id })</td>
                            <td>@Html.DisplayFor(modelItem => service.OpeningHours)</td>
                            <td>@Html.DisplayFor(modelItem => service.ClosingHours)</td>
                            <td class="col-lg-1">@service.CreationDate.ToString("dd/MM/yyyy")</td>
                            <td class="col-lg-1">
                                <a data-hotelservice-id="@service.Id" class="js-delete glyphicon glyphicon-trash"></a>
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/fooTable/js")

<script>
    $('#hotelServices').footable();

    $("#hotelServices .js-delete").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Hotel/DeleteHotelService/" + btn.attr("data-hotelService-id"),
                        method: "POST",
                        success: function (response) {
                            if (response.status) {
                                btn.parents("tr").remove();
                                swal("Deleted!", "Hotel Service has been deleted.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    swal("Cancelled", "Hotel Service is safe :)", "error");
                }
            });
    });

    $("#hotelServices .checkSelected").on("click", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, update!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Hotel/UpdateHotelService/" + btn.attr("Name"),
                        method: "POST",
                        success: function (response) {
                            if (response.status) {
                                swal("Update!", "Hotel Service has been updated.", "success");
                            }
                            else {
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    if (btn.is(":checked")) {
                        btn.prop('checked', false);
                    }
                    else if (btn.is(":not(:checked)")) {
                        btn.prop('checked', true);
                    }
                    swal("Cancelled", "Hotel Service is safe :)", "error");
                }
            });
    });

</script>
