﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrdr.Core.Entities.CustomerHotelBooking>
@{
    ViewBag.Title = "HotelCurrentRoomBookings";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelReceptionist.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Current Room Booking 
    </h2>
    <small>List of hotel current room bookings</small>
}
<div class="hpanel">
    <div class="panel-body">
        <div id="hotelRoomBookings">
            @Html.Partial("_CurrentRoomBookings", Model);
        </div>
    </div>
</div>







