﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrdr.Core.Entities.CustomerHotelBooking>
@{
    ViewBag.Title = "HotelRoomBookings";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}


@section PageTitle{
    <h2 class="font-light m-b-xs">
        Room Bookings
    </h2>
    <small>List of Hotel Room Bookings</small>
}
<div class="hpanel">
    <div class="panel-body">
        <div id="hotelRoomBookings">
            @Html.Partial("_hotelRoomBookingPartial", Model);
        </div>
    </div>
</div>







