﻿@model IEnumerable<ToOrdr.Core.Entities.HotelServicesReviews>
@{
    ViewBag.Title = "HotelServicesReviews";
    if (Session["IsHotelReceptionist"] != null && Session["IsHotelReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}

@Styles.Render("~/bundles/fooTable/css")

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Service Reviews
    </h2>
    <small>List of Service Reviews</small>
}
<div class="hpanel">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Services</label>
                        <div class="col-md-9">
                            @Html.TextBox("serviceId", null, null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="divServiceReviews">
            @{
                Html.RenderPartial("_ListServiceReviews", Model);
            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/fooTable/js")
<script>
    $("#serviceId").autocomplete({

        source: function (request, response) {
            $.ajax({
                url: "/Admin/Hotel/HotelServiceAutoComplete",
                type: "POST",
                dataType: "json",
                data: { prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Name,
                            value: item.Name,
                            Id: item.Id
                        };
                    }))
                }
            })
        },
        messages: {
            noResults: "", results: ""
        },
        select: function (event, ui) {
            var id = ui.item.Id;
            $.ajax({
                url: "@(Url.Action("ListHotelServiceReviews", "Hotel", new { area = "Admin" }))",
                type: "POST",
                data: { id: id },
                success: function (result) {
                    $("#divServiceReviews").html(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve.');
                }
            });
        }
    });
</script>


