﻿@{
    ViewBag.Title = "ManageConcierge";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Concierge
    </h2>
    <small>List of Concierge</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Concierge
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddConcierge", "Hotel", new { area = "Admin", conciergeGroupId = ViewBag.ConciergeGroupId, }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="concierge" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>IsActive</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#concierge").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Hotel/LoadConcierge/" + @ViewBag.ConciergeGroupId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Question", "name": "Question", "autoWidth": true },
                    { "data": "Answer", "name": "Answer", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    {
                        "data": "CreationDate", "name": "CreationDate", "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;//date format from server side
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                        }, "autoWidth": true
                    },
                    { "data": "ConciergeId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Hotel/EditConcierge/' + data + '"> </a> <a data-concierge-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a></a>' } }
            ]

        });

        $("#concierge").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Hotel/DeleteConcierge/" + btn.attr("data-concierge-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "concierge has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "concierge is safe :)", "error");
                    }
                });
        });
    });
</script>

