﻿
@{
    ViewBag.Title = "ManageHotelNearByPlaces";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage Hotel Near By Places
    </h2>
    <small>List of hotel near by places</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Manage Hotel Near By Places
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddHotelNearByPlace", "Hotel", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="hotel_near_by_place" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Place Name</th>
                    <th>Distance</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#hotel_near_by_place").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Hotel/LoadHotelNearByPlaces",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Place", "name": "Place", "autoWidth": true },

                    { "data": "Distance", "name": "Distance", "autoWidth": true },
                    {
                        "data": "Image",
                        render: function (data) {
                            return '<img src="' + data + '"  width="100" height="55" onerror="this.onerror = null; this.src =\'/Images/no_logo.png\';" />';
                        }
                    },
                    { "data": "HotelNearByPlacesId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Hotel/EditHotelNearByPlace/' + data + '">  <a data-hotel-near-byplace-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });

        $("#hotel_near_by_place").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Hotel/DeleteHotelNearByPlace/" + btn.attr("data-hotel-near-byplace-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Hotel near by place has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Hotel near by place is safe :)", "error");
                    }
                });
        });
    });
</script>