﻿@{
    ViewBag.Title = "ManageWakeUpCall";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@Styles.Render("~/bundles/toggleButton/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage WakeUp call
    </h2>
    <small>List of WakeUp call</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Active WakeUp call
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="wakeUpcall" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Customer Name</th>
                    <th>Scheduled Date</th>
                    <th>Method</th>
                    <th>IsReapeated</th>
                    <th>Interval</th>
                    <th>Comment</th>
                    <th>IsCompleted</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#wakeUpcall").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Hotel/LoadWakeUpcall",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "RoomNumber", "name": "RoomNumber", "autoWidth": true },
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    {
                        "data": "ScheduledDate", "name": "ScheduledDate", "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;//date format from server side
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                        }, "autoWidth": true
                    },
                    { "data": "Method", "name": "Method", "autoWidth": true },
                    { "data": "IsReapeated", "name": "IsReapeated", "autoWidth": true },
                    {
                        "data": "Interval", "name": "Interval", "render": function (value) {
                            return value != null ? moment(value).format("HH:mm:ss") : "";
                        }, "autoWidth": true
                    },
                    { "data": "Comment", "name": "Comment", "autoWidth": true },
                    {
                        "data": "IsCompleted", "name": "IsCompleted", "autoWidth": true,
                        "render": function (data, type, full) {
                            return '<label class="switch"><input type="checkbox" class = "checkSelectedToggle"  name="' + full.WakeUpId + '" ' + ((data == true) ? 'checked' : '') + ' /><div class="slider round"></div></label>';
                        }
                    },
            ]

        });
    });

    $("#wakeUpcall").on("click", ".checkSelectedToggle", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, update!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Hotel/UpdateWakeUpCall/" + btn.attr("name"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                $('#wakeUpcall').DataTable().ajax.reload();
                                swal("Update!", "WakeUp call has been completed.", "success");
                            }
                            else {
                                btn.prop('checked', true);
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    if (btn.is(":checked")) {
                        btn.prop('checked', false);
                    }
                    else if (btn.is(":not(:checked)")) {
                        btn.prop('checked', true);
                    }
                    swal("Cancelled", "WakeUp call is not completed :)", "error");
                }
            });
    });
</script>
