﻿@{
    ViewBag.Title = "ManageHotelRoomCustomers";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}

<style>
    a.itemDetails {
        color: blue;
        text-decoration: underline;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 8px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider,
    input[type="checkbox"]:checked + .slider {
        background-color: #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:focus + input[type="hidden"] + .slider,
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
    input[type="checkbox"]:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 25px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

@section PageTitle{
    <h2 class="font-light m-b-xs">
        Room Active Customers
    </h2>
    <small>List of Customers</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Active Customers
    </div>
    <div class="panel-body">
        <table data-limit-navigation="5" id="hotelRoomCustomers" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Customer Name</th>
                    <th>IsActive</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#hotelRoomCustomers").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Hotel/LoadHotelRoomCustomers",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "RoomNumber", "name": "RoomNumber", "autoWidth": true },
                    { "data": "CustomerName", "name": "CustomerName", "autoWidth": true },
                    {
                        "data": "IsActive", "name": "IsActive", "autoWidth": true,
                        "render": function (data, type, full) {
                            return '<label class="switch"><input type="checkbox" class = "checkSelectedToggle"  name="' + full.CustomerHotelRoomId + '" ' + ((data == true) ? 'checked' : '') + ' /><div class="slider round"></div></label>';
                        }
                    },
            ]

        });
    });

    $("#hotelRoomCustomers").on("click", ".checkSelectedToggle", function () {
        var btn = $(this);
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, update!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Admin/Hotel/UpdateHotelRoomCustomers/" + btn.attr("name"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                $('#hotelRoomCustomers').DataTable().ajax.reload();
                                swal("Update!", "Customer has been updated.", "success");
                            }
                            else {
                                btn.prop('checked', true);
                                swal("Cancelled!", response.error, "warning");
                            }
                        },
                    });

                } else {
                    if (btn.is(":checked")) {
                        btn.prop('checked', false);
                    }
                    else if (btn.is(":not(:checked)")) {
                        btn.prop('checked', true);
                    }
                    swal("Cancelled", "Customer is not updated :)", "error");
                }
            });
    });
</script>
