﻿@model IEnumerable<ToOrdr.Core.Entities.Room>
@{
    ViewBag.Title = "ManageRooms";
    if (Session["IsHotelReceptionist"] != null && Session["IsHotelReceptionist"].ToString() == "true")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotelReceptionist.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
    }
}
@Styles.Render("~/bundles/sweetAlert/css")
@Styles.Render("~/bundles/fooTable/css")
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Manage Hotel Rooms
    </h2>
    <small>List of available rooms.</small>
}

<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

        </div>
        Manage Hotel Rooms
    </div>

    <div class="panel-body">
        @Html.ActionLink("Create New", "AddHotelRoom", "Hotel", null, new { @class = "btn btn-success btn-sm new-btn-position" })<br /><br />
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
        <table id="manageRoom" class="footable table table-bordered table-striped toggle-arrow-tiny" data-page-size="5" data-filter=#filter>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>@Html.DisplayNameFor(model => model.Number)</th>
                    <th>@Html.DisplayNameFor(model => model.QRCodeImage)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cnt = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@cnt</td>
                            <td>@Html.DisplayFor(modelItem => item.Number)</td>
                            <td>
                                <img src="@Url.Content(item.QRCodeImage)" alt="Image" width="100" height="55" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                            <td>
                                @Html.ActionLink(" ", "EditHotelRoom", "Hotel", new { id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x " })
                                <a data-trip-id="@item.Id" class="fa fa-2x fa-trash js-delete"></a>
                                @Html.ActionLink(" ", "ManageRoomImages", "Hotel", new { id = item.Id }, new { @class = "fa fa-2x fa-image, disabled" })
                                @Html.ActionLink(" ", "ManageRoomDetails", "Hotel", new { roomId = item.Id }, new { @class = "fa fa-2x fa-list-alt" })
                                @Html.ActionLink(" ", "ManageRoomAmenities", "Hotel", new { id = item.Id }, new { @class = "fa fa-2x fa-bars, disabled" })
                                @Html.ActionLink(" ", "DownloadRoomQRCode", "Hotel", new { imgPath = item.QRCodeImage, roomNo = item.Number }, new { @class = "fa fa-download fa-2x", area = "Admin" })
                            </td>
                        </tr>
                        cnt = cnt + 1;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="11">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/sweetAlert/js")
@Scripts.Render("~/bundles/fooTable/js")
<script>
    $('#manageRoom').footable();
    $(document).ready(function () {
        $("#manageRoom .js-delete").on("click", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Hotel/DeleteHotelRoom/" + btn.attr("data-trip-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.status) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Record has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }

                            },
                        });

                    } else {
                        swal("Cancelled", "Record is safe :)", "error");
                    }
                });
        });
    });
</script>

