﻿
@{
    ViewBag.Title = "ManageRoomAmenities";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
       Room Amenities
    </h2>
    <small>List of room amenities</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        @Html.ActionLink(" ", "ManageRooms", "Hotel", new { @class = "fa fa-2x fa-arrow-circle-left", })
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddRoomAmenities", "Hotel", new { area = "Admin", roomId = @ViewBag.RoomId }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageRoomAmenities" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Amenities Name</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageRoomAmenities").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Hotel/LoadRoomAmenities/"+@ViewBag.RoomId,
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "RoomNumber", "name": "RoomNumber", "autoWidth": true },
                    { "data": "AmenitiesName", "name": "AmenitiesName", "autoWidth": true },
                    { "data": "RoomAmenitiesId", "render": function (data, type, full) { return ' </a> <a data-spa-room-Amen-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>' } }
            ]

        });

        $("#manageRoomAmenities").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Hotel/DeleteRoomAmenities/" + btn.attr("data-spa-room-Amen-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Room amenities has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Room ameneties is safe :)", "error");
                    }
                });
        });
    });
</script>


