﻿
@{
    ViewBag.Title = "ManageRoomCapacities";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHotel.cshtml";
}
@section PageTitle{
    <h2 class="font-light m-b-xs">
        Room Capacities
    </h2>
    <small>List of room capacities</small>
}
<div class="hpanel">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Room Capacities
    </div>
    <div class="panel-body">
        @Html.ActionLink("Add", "AddRoomCapacity", "Hotel", new { area = "Admin" }, new { @class = "btn btn-success btn-sm new-btn-position" })<br />
        <table data-limit-navigation="5" id="manageRoomCapacity" class="table table-striped table-bordered table-hover dataTable no-footer" data-page-length="5" role="grid">
            <thead>
                <tr>
                    <th>Adults</th>
                    <th>Childrens</th>
                    <th>Description</th>
                    <th>IsActive</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#manageRoomCapacity").DataTable({
            "searching": false,
            "ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Admin/Hotel/LoadRoomCapacities",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "Adults", "name": "Adults", "autoWidth": true },
                    { "data": "Childrens", "name": "Childrens", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },
                    { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                    { "data": "RoomCapacityId", "render": function (data, type, full) { return '<a class="fa fa-pencil-square-o fa-2x" title="Details" href="/Admin/Hotel/EditRoomCapacity/' + data + '"> </a> <a data-spa-room-cap-id="' + data + '" class="js-delete fa fa-2x fa-trash"></a>'} }
            ]

        });

        $("#manageRoomCapacity").on("click", ".js-delete", function () {
            var btn = $(this);
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Admin/Hotel/DeleteRoomCapacity/" + btn.attr("data-spa-room-cap-id"),
                            method: "POST",
                            success: function (response) {
                                if (response.success) {
                                    btn.parents("tr").remove();
                                    swal("Deleted!", "Room capacity has been deleted.", "success");
                                }
                                else {
                                    swal("Cancelled!", response.error, "warning");
                                }
                            },
                        });

                    } else {
                        swal("Cancelled", "Room capacity is safe :)", "error");
                    }
                });
        });
    });
</script>


