﻿@model IList<ToOrdr.Core.Entities.RestaurantMenuItem>

@if (Model.Any())
{
    var groups = Model.GroupBy(i => i.RestaurantMenuGroup);

    <div class="col-md-12">

        @foreach (var menuGroup in groups)
        {
            <div>
                <h5><strong>@Html.DisplayFor(model => menuGroup.Key.GroupName)</strong></h5>
                <h5><small>@Html.DisplayFor(model => menuGroup.Key.GroupDescription)</small></h5>
            </div>

            <table class="table">
                @foreach (var items in menuGroup)
                {
                    <tr style="height:50px;">
                        <td class="col-sm-1">@Html.HiddenFor(modelItem => items.Id)</td>
                        <td class="col-sm-3"><strong> @Html.DisplayFor(modelItem => items.ItemName)</strong></td>
                        <td class="col-sm-7"><span style="color:gray">@Html.DisplayFor(modelItem => items.ItemDescription)</span></td>
                        <td class="col-sm-1">$@Html.DisplayFor(modelItem => items.Price)</td>
                    </tr>
                }
            </table>
        }
    </div>
}