﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
}

@section Scripts{
    <script>
        $(function () {

            $("#searchBtn").click(function () {
                startSearch();
            });

            $('#searchBox').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#searchBtn').click();
            });

            startSearch();
        });

        function startSearch() {

            keywords = $("#searchBox").val();
            restaurantId = $("#restaurantId").val();
            getRestaurantMenuItem();
        }

        function getRestaurantMenuItem() {
            lastRequest = $.ajax({
                type: "GET",
                url: "/RestaurantMenus/SearchMenuItem",
                data: { keywords: keywords, Id: restaurantId },
                cache: false,
                success: function (response) {
                    OnSuccess(response)
                },
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('Oops! something went wrong, error: ' + response);
                }
            });
        }

        function OnSuccess(data) {
            $("#SearchRestaurantMenuItems").html(data);
        }
    </script>

}

<div class="container">
    <div class="heading" style="padding-top:50px;">
        <div class="input-group" style="margin:0px 100px 30px 100px">
            <input type="text" id="searchBox" placeholder="Search item" class="form-control input-sm" />
            <span class="input-group-btn">
                <button type="button" id="searchBtn" value="Search" class="btn btn-default input-sm">Search</button>
            </span>
            <input type="text" id="restaurantId" class="hidden" value="@ViewBag.RestaurantId" />
        </div>
    </div>
</div>
<div class="text-center">
    @if (ViewBag.RestaurantName != null)
    {
        <h4 class="font-uppercase" style="font-family:'Bookman Old Style'">@ViewBag.RestaurantName</h4>
    }
</div>
<div class="container  table-bordered">
    <div id="SearchRestaurantMenuItems">

    </div>
</div>
